<ul id="breadcrumbs-one" class="nav navbar-nav navbar-left">
    <li><a href="{{ path('admin_index') }}">{{render(controller('SiteBackendBundle:Home:getCabinetName'))}}</a></li>
    {% set x = 0 %}
    {% for i,link in links %}
    {% set x = 1 + x %}
    <li><a href="{{i}}" {% if links|length == x %}class="current"{% endif %}>{{link|raw}}</a></li>
    {% endfor %}
    <li class="off-right right">
        <a href="javascript:;" data-toggle="dropdown">
            <img src="/admin_assets/img/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">
            <span class="hidden-xs ml10">{{ app.user.fio }}</span>
            <i class="ti-angle-down ti-caret hidden-xs"></i>
        </a>
        <ul class="dropdown-menu animated fadeInRight" style="background: none repeat scroll 0% 0% transparent; border: medium none;">
            <li style="width: 150px;" >
                <a style="width: 150px;" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </li>
        </ul>
    </li>
</ul>