{% for k,v in menu %}
    <li class="first-level">
        <a class="main-menu {% if v['sub']|length == 0 %}empty{% endif %}" href="{% if v['sub']|length != 0 %}javascript:void(0);{% else %}/admin/{{k}}{% endif %}">
        <span>{{v['title']}}</span>
        {% if v['sub']|length > 0 %}
        <i class="{% if level1 is defined and level1 == k %}glyphicon glyphicon-chevron-down{% else %}glyphicon glyphicon-chevron-right{% endif %}"></i>
        {% endif %}
        </a>
        <ul style="{% if level1 is defined and level1 == k %}display:block;{% else %}display:none;{% endif %}" class="ul-sub-menu">
            {% for x,y in v['sub'] %}
                <li class="second-level">
                <a class="sub-menu {% if level2 is defined and level2 == x %}current-item-upper{% endif %}{% if y['sub']|length == 0 %} empty{% endif %}" href="{% if y['sub']|length != 0 %}javascript:void(0);{% else %}/admin/{{x}}{% endif %}">
                  <span>{{y['title']}}</span>
                  {% if y['sub']|length > 0 %}
                    <i class="{% if level2 is defined and level2 == x %}glyphicon glyphicon-chevron-down{% else %}glyphicon glyphicon-chevron-right{% endif %}"></i>
                    {% endif %}
                </a>
                    <ul style="{% if level2 is defined and level2 == x %}display:block;{% else %}display:none;{% endif %}" class="ul-sub-sub-menu">
                        {% for i,j in y['sub'] %}
                            <li class="third-level">
                            <a class="sub-sub-menu empty{% if level3 is defined and level3 == i %} current-item{% endif %}" href="/admin/{{i}}">
                            <i class=""></i>
                            <span>{{j['title']}}</span>
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}