{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Slider:addslide{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Добавление блока</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.descr) }}</label>
                <div class="col-sm-10">{{ form_widget(form.descr) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.image) }}</label>
                <div class="col-sm-10">{{ form_widget(form.image) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Добавить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
