{% extends "::base.html.twig" %}

{% block title %}SiteBackendBundle:AutoBlocksController:delete{% endblock %}

{% block body %}
<h1>Welcome to the AutoBlocksController:delete page</h1>
{% endblock %}
