{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Blocks:index{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_cars_blocks_add', {id: car_id, block_type: block_type}) }}" class="btn btn-primary btn-sm">Добавить блок</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Блоки
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 100px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for block in blocks %}
                                    <tr>
                                        <td>{{ block.id }}</td>
                                        <td>{{ block.name }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_cars_blocks_edit', { id: car_id, block_type: block_type, blockid: block.id }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_cars_blocks_delete', { id: car_id, block_type: block_type, blockid: block.id }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <div style="margin:10px;" class="form-group">
                            <div class="col-sm-2"></div>
                            <a href="/admin/base-auto-cars" id="back" class="btn btn-default right">Назад</a>
                            </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
