{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

            })    


    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Form:delete{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Удаление формы</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-10 control-label">Вы уверенны что хотите удалить эту форму? {{form.name}} ?</label>
                
            </div>
            <div class="form-group col-sm-10 ">
                <div class="col-sm-12">
                <button href="javascript:void(0);" id="save" name="delete" class="btn btn-success left">Да</button>
                <button href="/admin/forms-contructor" id="back" name="cancel" class="btn btn-default left">Отмена</button>
                </div>
            </div>
          </form>



    </div>
</section>

{% endblock %}
