{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){


                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = '{{form.id}}';
                data['name'] = $('#form-name').val();
                data['alias'] = $('#form-alias').val();
                data['status'] = $('#form-status').val();
                data['success'] = $('#form-success').val();
                data['fail'] = $('#form-fail').val();

                var c = checkTrim(data);

                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#field-'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                var fields = $('.field');
                var options = {};
                $.each(fields,function(){
                   var ifchecked = $(this).is(':checked');
                   if( ifchecked == true ){
                    options[$(this).attr('id')] = $('#general-'+$(this).attr('id')).val();
                   }

                })
                data['options'] = options;
                console.log(data)
                $.ajax({
                      url: '{{ path('admin_formsconstructor_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                      
              }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Form:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование формы</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-5"><input id="form-name" class="form-control" type="text" value="{{form.name}}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ключ</label>
                <div class="col-sm-5"><input id="form-alias" class="form-control" type="text" value="{{form.alias}}" /></div>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">Активность</label>
                <select id="form-status" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1" {% if form.status == 1 %}selected{% endif %}>Да</option>
                <option value="0" {% if form.status == 0 %}selected{% endif %}>Нет</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Сообщение при успешной отправке</label>
                <div class="col-sm-5"><textarea id="form-success" class="form-control">{{form.success}}</textarea></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Сообщение при ошибке</label>
                <div class="col-sm-5"><textarea id="form-fail" class="form-control">{{form.fail}}</textarea></div>
            </div>
            <div class="form-group">
            <label class="col-sm-3 control-label">Включить поля</label>
              <div class="col-sm-5">
              {% for field in fields %}
                  <div class="checkbox">
                    <label>
                      <span class="left">{{field.name}}</span>
                    </label>
                    <input id="{{field.id}}" class="right field" type="checkbox" value="" {% if form.options[field.id] is defined %}checked{% endif %}/>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-5">Основной блок</label>
                      <select id="general-{{field.id}}" style="width:100px;margin-left:15px;" class="form-control col-sm-2">
                      <option value="1" {% if form.options[field.id] is defined and form.options[field.id] == 1 %}selected{% endif %}>Да</option>
                      <option value="0" {% if form.options[field.id] is defined and form.options[field.id] == 0 %}selected{% endif %}>Нет</option>
                      </select>
                  </div>
                  <hr>
              {% endfor %}
              </div>
            </div>

          </form>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/forms-constructor" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
