{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_formsconstructor_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>название</th>
                        <th>Статус</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr class="dealer-centre" data-region="{{form.id}}">
                        <td>{{ form.name }}</td>
                        <td>
                            {% if form.status == 1 %}<span class="text-success">Да</span>{% endif %}
                            {% if form.status == 0 %}<span class="text-warning">Нет</span>{% endif %}
                        </td>
                        <td>
                            <a title="редактировать" href="{{ path('admin_formsconstructor_view', { id: form.id }) }}" class="permission-view btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="{{ path('admin_formsconstructor_edit', { id: form.id }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_formsconstructor_delete', { id: form.id }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
