/* ----------------------------------- *\
			forms styles
\* ----------------------------------- */

.btn {
	display: inline-block;
	*display: inline;zoom:1;
	vertical-align: middle;
	height: 51px;
	padding: 0 30px;
	line-height: 47px;
	border: 2px solid #fff;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	height: 51px;
	border-radius: 2px;
	border: 1px solid #000;
	outline: none;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding: 0 20px;
}
textarea {
	resize: none;
	padding: 10px 20px;
	height: 100px;
}
[placeholder]::-webkit-input-placeholder {color: #000;}
[placeholder]:-moz-placeholder {color: #000;}
[placeholder]::-moz-placeholder {color: #000;}
[placeholder]:-ms-input-placeholder {color: #000;}
input[type="submit"], .button {
	display: inline-block;
	*display: inline;zoom:1;
	vertical-align: middle;
	height: 51px;
	padding: 0 60px;
	border-radius: 2px;
	background: #0051a1;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border: none;
}
.button {
	text-decoration: none;
	line-height: 51px;
}
body {
	.ui-dialog {
		background: #fff;
		box-shadow: 0 0 25px rgba(0,0,0,0.35);
		padding: 0;
		.ui-dialog-content {
			padding: 80px 0;
		}
		.ui-dialog-titlebar {
			padding: 0;
			margin: 0;
			height: 0;
			.ui-dialog-title {
				padding: 0;
				margin: 0;
				height: 0;
				min-height: 0;
			}
			.ui-dialog-titlebar-close {
				.i;.i-close;
				position: absolute;
				top: 20px;right: 20px;
				z-index: 99;
				padding: 0;
				margin: 0;
			}
		}
	}
}
.chk, .rd {
	position: relative;
	overflow: hidden;
	display: block;
	margin-bottom: 18px;
	input[type="checkbox"], input[type="radio"] {
		position: absolute;
		top:-1px;left:-9999px;
		&:checked+label {
			&:before {
				content: "";
				display: block;
				width: 10px;height: 10px;
				border-radius: 2px;
				background: #000;
				position: absolute;
				top: 5px;left: 5px;
			}
		}
	}
	label {
		display: block;
		padding-left: 30px;
		position: relative;
		min-height: 20px;
		&:after {
			content:"";
			display: block;
			width: 20px;height: 20px;
			border: 1px solid #000;
			border-radius: 2px;
			position: absolute;
			top: 0;left: 0;
		}
	}
}
body {
	.b-core-ui-select {
		display: block;
		height: 51px;
		border: 1px solid #000000;
		border-radius: 2px;
		padding: 0;
		width: 100%;
		display: block;
		.b-core-ui-select__value {
			line-height: 49px;
			padding: 0 40px 0 20px;
			font-size: 18px;
			font-weight: 300;
		}
		.b-core-ui-select__button {
			.i;.i-arr01;
			position: absolute;
			top: 17px;right: 21px;
			margin: 0;
			border: none;
		}
	}
}

.field_file {
	width: 455px;height: 51px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	.button {
		width: 180px;
		position: absolute;
		top: 0;right: 0;
		padding: 0;
	}
	.text {
		display: block;
		position: absolute;
		top: 0;left: 0;
		height: 51px;width: 265px;
		line-height: 49px;
		padding: 0 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border: 1px solid #000;
		border-radius: 2px;
	}
	input {
		display: block !important;
		width: 100% !important;
		height: 36px !important;
		opacity: 0 !important;
		filter: alpha(opacity=0);
		overflow: hidden !important;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
}