/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-arr01 {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 18px;
  height: 16px;
}
.i-close {
  background-image: url(../img/spr.png);
  background-position: 0px -282px;
  width: 35px;
  height: 35px;
}
.i-download {
  background-image: url(../img/spr.png);
  background-position: 0px -82px;
  width: 18px;
  height: 19px;
}
.i-plus {
  background-image: url(../img/spr.png);
  background-position: 0px -172px;
  width: 30px;
  height: 30px;
}
.i-print {
  background-image: url(../img/spr.png);
  background-position: 0px -126px;
  width: 25px;
  height: 21px;
}
.i-search {
  background-image: url(../img/spr.png);
  background-position: 0px -41px;
  width: 16px;
  height: 16px;
}
.i-view {
  background-image: url(../img/spr.png);
  background-position: 0px -227px;
  width: 30px;
  height: 30px;
}
