/* ----------------------------------- *\
			structura
\* ----------------------------------- */
.wrap {
	min-width: 960px;
	overflow: hidden;
	position: relative;
}
.inner_box, .page {
	width: 940px;
	margin: 0 auto;
	position: relative;
	&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
}
.overlay {
	background: red;
	position: fixed;
	top: 0;left: 0;
	width: 0;height: 0;
	&.active {
		width: auto;height: auto;
		right: 0;bottom: 0;
	}
}
.header {
	min-width: 960px;
	overflow: hidden;
	position: relative;
	background: #0051a1;
	.inner_box {
		height: 102px;
		line-height: 102px;
		overflow: hidden;
	}
	.welcome {
		float: left;
		white-space: nowrap;
		color: #fff;
		font-size: 16px;
	}
	.auth {
		float: right;
		white-space: nowrap;
		text-align: right;
		font-size: 16px;
		a {
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: middle;
			line-height: normal;
			margin-left: 35px;
		}
		.btn {
			line-height: 47px;
		}
	}

}