/* ----------------------------------- *\
			import
\* ----------------------------------- */
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
.i {
	display: inline-block;
	*display: inline;zoom:1;
	vertical-align: middle;
}
@import 'icons.less';
@import 'fonts.less';
@import 'forms.less';
@import 'structura.less';
@import 'common.less';


/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
	font-weight: 300;
	line-height: 1.6;
	font-size: 15px;
	color: #000000;
}
a {
	color: #60c0ec;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
p {
	margin-bottom: 20px;
}
h1, h2 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 40px;
	line-height: 36px;
}
h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
	line-height: normal;
}
.buttons_block {
	text-align: center;
	.button {
		padding: 0 25px;
	}
	a {
		margin: 0 20px;
	}
}
/* ----------------------------------- *\
			diller select
\* ----------------------------------- */
.diller_select {
	width: 940px;
	margin: 0 auto;
	position: relative;
	height: 74px;
	padding: 20px 0;
	line-height: 34px;
	clear: both;
	z-index: 2;
	.title {
		display: block;
		float: left;
		width: 160px;
	}
	.diller_block {
		width: 780px;height: 34px;
		border: 1px solid #000000;
		position: relative;
		float: right;
		padding: 0 135px;
	}
	.status {
		display: block;
		width: 115px;height: 32px;
		position: absolute;
		top: 0;left: 0;
		line-height: 32px;
		background: #ff3366;
		text-align: center;
		font-size: 11px;
		color: #fff;
	}
	.name {
		text-transform: uppercase;
		font-weight: bold;
	}
	.select_menu {
		display: block;
		position: absolute;
		top: 0;right: 0;
		.btn_menu {
			display: block;
			text-align: right;
			white-space: nowrap;
			line-height: 32px;
			padding-right: 32px;
		}
		ul {
			display: none;
			position: absolute;
			top: 100%;right: 0;
			border: 1px solid #000;
			padding: 15px;
			line-height: 20px;
			white-space: nowrap;
			text-align: right;
			background: #fff;
		}
		li {
			margin-bottom: 5px;
			a.active {
				color: #000;
				text-decoration: none;
			}
		}
	}
}
/* ----------------------------------- *\
			main title
\* ----------------------------------- */
.main_title {
	min-width: 960px;
	position: relative;
	clear: both;
	overflow: hidden;
	background: #f3f3f3;
	height: 75px;
	line-height: 75px;
	margin-bottom: 40px;
	.right_block {
		float: right;
	}
	.search {
		display: inline-block;
		*display: inline;zoom:1;
		vertical-align: middle;
		overflow: hidden;
		position: relative;
		margin-left: 20px;
		width: 45px;height: 51px;
		transition: width ease 0.5s;
		&.active {
			width: 385px;
			span.i.i-search {cursor: default;}
			input[type="text"],
			input[type="submit"] {
				display: block;
			}
		}
		span.i.i-search {
			position: absolute;
			top: 17px;left:20px;
			cursor: pointer;
		}
		input[type="text"] {
			display: none;
			width: 260px;
			float: left;
			background: none;
			padding: 0 10px 0 45px;
		}
		input[type="submit"] {
			display: none;
			width: 115px;
			float: right;
			padding: 0;
		}
	}
	h1, h2 {
		line-height: 75px;
		margin: 0;
		display: inline-block;
		*display: inline;zoom:1;
		margin-right: 25px;
	}
	.mail {
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		color: #000;
		margin: 0 25px;
		&:hover {
			text-decoration: underline;
		}
	}
	.btn_block {
		position: absolute;
		top: 0;right: 0;
		a {
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: middle;
		}
	}
	.btn_add, .btn_view, .button {
		white-space: nowrap;
		vertical-align: middle;
		display: inline-block;
		*display: inline;zoom:1;
		.i {margin-right: 10px;}
	}
	.button {
		padding: 0 30px;
	}
	.i-print, .i-download {
		margin-left: 15px;
	}
}
/* ----------------------------------- *\
			content
\* ----------------------------------- */
.cnt_menu {
	list-style-type: none;
	margin: 0;
	font-size: 15px;
	line-height: 23px;
	li {
		padding: 8px 18px;
		border-bottom: 1px solid #f0f0f0;
		&:last-child {border: none;}
	}
	.chk {
		margin-bottom: 0;
	}
}
.treatment_menu {
	margin-bottom: 40px;
	overflow: hidden;
	ul {
		float: left;
		width: 400px;
		margin: 0 80px 0 0;
		&+ul {margin-right: 0;}
	}
	li {
		a {
			display: block;
			position: relative;
			padding-right: 30px;
		}
	}
	.num {
		position: absolute;
		top: 0;right: -6px;
	}
}
.num {
	display: block;
	float: left;
	padding: 0 6px;
	height: 18px;
	line-height: 18px;
	background: #ffdb33;
	border-radius: 2px;
	font-size: 15px;
	position: absolute;
	color: #000;
	text-decoration: none;
}
.diller_info {
	overflow: hidden;
	margin-bottom: 20px;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		display: inline-block;
		*display: inline;zoom:1;
		vertical-align: top;
		width: 200px;
		margin: 0 16px 30px 16px;
		position: relative;
	}
	a {
		display: block;
		text-align: center;
		color: #000;
		text-decoration: none;
		font-size: 18px;
		line-height: 1.33;
		&:hover, &.selected {
			.pic {
				background: #fff;
				border-color: #0051a1;
			}
		}
	}
	.pic {
		display: block;
		overflow: hidden;
		border-radius: 100%;
		border: 3px solid #cccccc;
		background: #cccccc;
		width: 80px;height: 80px;
		margin: 0 auto 20px auto;
	}
	.num {
		position: absolute;
		top: 32px;left: 50%;
		margin-left: 25px;
	}
}
.manager_box {
	min-width: 960px;
	clear: both;
	margin-bottom: 30px;
	background: #0051a1;
	padding: 40px 0 35px 0;
}
.manager_block {
	position: relative;
	width: 780px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 190px;
	color: #fff;
	line-height: 1.2;
	.photo {
		display: block;
		float: left;
		width: 148px;height: 148px;
		border-radius: 100%;
		border: 3px solid #fff;
		overflow: hidden;
		margin-left: -190px;
	}
	.title {
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	.name {
		font-size: 28px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	.contacts {
		font-size: 18px;
		line-height: 26px;
	}
	.btn {
		position: absolute;
		top: 0;right: 0;
	}
}
.frm_message {
	width: 770px;
	margin: 0 auto;
	textarea {
		height: 190px;
		margin-bottom: 40px;
	}
	.row_submit {
		text-align: center;
	}
	.title {
		font-weight: 400;
		font-size: 28px;
		margin-bottom: 40px;
	}
}
.diller_contacts {
	overflow: hidden;
	font-size: 18px;
	margin-bottom: 40px;
	.col {
		width: 480px;
		float: left;
		&+.col {
			width: 450px;
		}
		p+h3 {
			margin-top: 35px;
		}
	}
	.edit {
		clear: both;
	}
}
.diller_text {
	overflow: hidden;
	margin-bottom: 40px;
	.col {
		width: 300px;
		float: left;
		margin-right: 20px;
		&+.col {
			&+.col {
				margin-right: 0;
			}
		}
	}
	h3 {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 15px;
		font-weight: 300;
	}
}
.diller_services {
	margin-bottom: 40px;
	.chk_box {
		margin-bottom: 25px;
	}
	.chk {
		label {
			width: 320px;
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: top;
		}
		.info {
			width: 500px;
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: top;
			color: #ff3333;
			a {
				margin-right: 30px;
			}
		}
	}
	.buttons {
		padding-top: 20px;
		text-align: center;
		a {
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: middle;
			margin: 0 20px;
		}
	}
	.buttons_block {
		padding-top: 20px;
	}
}
.action_item {
	margin-bottom: 40px;
	.action {
		background: #0051a1;
		overflow: hidden;
		padding-left: 440px;
		position: relative;
	}
	.pic {
		position: absolute;
		top: 0;bottom: 0;left: 0;
		line-height: 0;
		width: 400px;
		float: left;
		background: url(../img/blanc.png) center no-repeat;
	}
	.text {
		padding: 25px 15px 35px 0;
		color: #fff;
	}
	.data {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 20px;
		font-weight: 300;
	}
	p {
		margin: 0;
		font-size: 15px;
		line-height: 26px;
	}
	.buttons {
		overflow: hidden;
		padding: 0 20px;
		line-height: 50px;
		a {
			float: left;
			&+a {float: right;}
		}
	}
}
.diller_arx {
	margin-bottom: 40px;
	.cnt_menu {
		margin-bottom: 25px;
	}
	.button {
		margin-left: 19px;
	}
}
.frm_content {
	margin-bottom: 40px;
	.row {
		margin-bottom: 25px;
		&>label, .field>label {
			display: block;
			font-size: 18px;
			line-height: 24px;
			font-weight: bold;
			margin-bottom: 10px;
			span {
				font-size: 15px;
				font-style: italic;
				font-weight: 300;
				&.rq {
					color: #ff0000;
				}
			}
		}
	}
	.row_file {
		margin-bottom: 60px;
	}
	.row_pic {
		overflow: hidden;
		margin-bottom: 30px;
		.field {
			width: 460px;
			float: left;
			&+.field {
				float: right;
			}
		}
		.pic {
			display: block;
			height: 293px;
			overflow: hidden;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	.row_act {
		margin-bottom: 60px;
		&>label {
			font-weight: normal;
		}
		.field {
			&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
			.button {
				width: 145px;
				float: right;
				text-align: center;
				padding: 0;
			}
			.select {
				width: 785px;
				float: left;
			}
		}
	}
	.row_submit {
		input {
			padding: 0 30px;
			margin-right: 35px;
		}
		a {
			margin-right: 35px;
		}
	}
	textarea {
		height: 160px;
	}
}
.car_select {
	margin-bottom: 40px;
	table {
		width: 860px;
		margin-left: 80px;
		margin-bottom: 20px;
		table-layout: fixed;
		.col2 {width: 160px;}
		.col3 {width: 160px;}
		.col4 {width: 140px;}
		td {
			vertical-align: top;
			padding: 0;
			border: none;
			text-align: left;
		}
	}
	.info {
		font-style: italic;
		margin-bottom: 55px;
		text-align: center;
	}
	.buttons {
		text-align: center;
		a {margin: 0 20px;}
	}
}
.diller_instock {
	margin-bottom: 40px;
	.car_block {
		display: none;
	}
	.title {
		font-style: italic;
		margin-bottom: 20px;
	}
	.chk_box {
		margin-bottom: 40px;
		.chk_all {
			margin-bottom: 35px;
		}
	}
	.buttons {
		text-align: center;
		a {
			margin: 0 20px;
		}
	}
}
.tbl_car {
	table-layout: fixed;
	width: 100%;
	line-height: 20px;
	margin-bottom: 30px;
	td {
		vertical-align: top;
		border-bottom: 1px solid #f0f0f0;
		padding: 10px 20px;
	}
	tr:last-child td {
		border-bottom: none;
	}
	.name {
		font-weight: bold;
	}
	a {
		display: inline-block;
		*display: inline;zoom:1;
		padding-left: 20px;
		position: relative;
		white-space: nowrap;
		&.active {
			color: #000;
			text-decoration: none;
			font-weight: bold;
		}
		&.instock {
			&:after {
				content: "";
				display: block;
				width: 10px;height: 10px;
				border-radius: 100%;
				background: #3db6e9;
				position: absolute;
				top: 5px;left: 0;
			}
		}
	}
	.col2 {width: 160px;}
	.col3 {width: 160px;}
	.col4 {width: 160px;}
	.col5 {width: 240px;}
}
.tbl_chk {
	table-layout: fixed;
	width: 100%;
	line-height: 20px;
	margin-bottom: 65px;
	.col2, .col3, .col4, .col5, .col6 {width: 160px;}
	td {
		padding: 5px 0 15px 0;
		vertical-align: top;
		border-bottom: 1px solid #f0f0f0;
		text-align: center;
	}
	th {
		text-align: center;
		font-weight: normal;
		padding: 10px 0 5px 0;
		vertical-align: top;
	}
	td, th {
		&:first-child {
			text-align: left;
			padding-left: 20px;
		}
	}
	th:first-child {
		font-weight: bold;
	}
	tr:last-child td {
		border: none;
	}
	.chk {
		margin: 0;
		display: inline-block;
		*display: inline;zoom:1;
		vertical-align: top;
	}
}
.orders {
	.cnt_menu {
		margin-bottom: 40px;
		.order_num {
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: top;
			width: 300px;
		}
		.name {
			display: inline-block;
			*display: inline;zoom:1;
			vertical-align: top;
			width: 550px;
		}
	}
	h3 {
		margin-bottom: 40px;
	}
}
.order_info {
	.confirm {
		padding: 40px 0 0 0;
		margin-bottom: 60px;
	}
}
body {
	.ui-tabs {
		padding: 0;
		margin: 0;
		margin-bottom: 40px;
		.ui-tabs-nav {
			padding: 0;
			margin: 0 0 25px 0;
			overflow: hidden;
			li {
				float: left;
				margin: 0 10px 0 0;
				white-space: nowrap;
				height: 35px;
				line-height: 31px;
				&.filter {
					float: right;
					a {
						width: 210px;
						text-align: center;
						margin-left: 15px;
					}
					&.ui-tabs-active {
						a {
							border-color: #000;
						}
					}
				}
				a {
					display: inline-block;
					*display: inline;zoom:1;
					vertical-align: middle;
					border: 1px solid #000;
					border-radius: 2px;
					height: 33px;
					line-height: 31px;
					padding: 0 30px;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;
					color: #000;
					outline: none;
					float: none;
				}
				&.ui-tabs-active {
					a {
						border-color: #fff;
					}
				}
				.num {
					display: inline-block;
					*display: inline;zoom:1;
					vertical-align: middle;
					float: none;
					margin: 0;
					margin-left: 10px;
					position: static;
				}
			}
		}
	}
}