{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            $('.value-toggle').on('click',function(){
              $(this).parents('tr').find('#enabled').prop('checked',true);
            });
            $('.enabled').on('click',function(){
              var status = $(this).is(':checked');
              if ( status == true ){
                $(this).parents('tr').find('.firstvalue').removeClass('btn-default').addClass('btn-primary active');
              }
              else{
                $(this).parents('tr').find('.value-toggle').addClass('btn-default').removeClass('btn-primary active');
              }
            });
              $('.value-toggle').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.value-toggle').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('.status').on('click',function(){
                $(this).parents('span').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

             $('.content-groups #hide-all').on('click',function(){
              $(this).hide();
              $('.content-groups #show-all').show();
              $('.all-groups tr.notstable-tr').slideUp(100);
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-down');
             })

             $('.content-groups #show-all').on('click',function(){
              $(this).hide();
              $('.content-groups #hide-all').show();
              $('.all-groups tr.notstable-tr').slideDown(100);   
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
             })

            $('.trigger-toggle').on('click',function(){
            $(this).parents('tr').find('.trigger-toggle .glyphicon').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
            var id = $(this).parents('tr').attr('data-id');
            if ( $('tr[data-parent='+id+']').is(':visible') == true ){
                $('tr[data-parent='+id+']').slideUp(300);
            }
            else{
                $('tr[data-parent='+id+']').slideDown(300);
            }
            })

              $('#save').on('click',function(){
                saveData();
              })
             });

             function getData(){
                var features = $('tr.feature');
                var tosave = {};
                  tosave['id'] = '{{complectation.id}}';
                  tosave['name'] = $('#name').val();
                  tosave['type'] = '{{type}}';
                  tosave['code'] = $('#code').val();
                  tosave['status'] = $('.status.active').attr('data-code');
                $.each(features,function(k,v){
                  var status = $(this).find('#enabled').is(':checked');
                  var fid = $(this).attr('data-id');
                  tosave[fid] = {};
                  tosave[fid]['status'] = 0;
                  tosave[fid]['name'] = $(this).find('#feature-name').html();
                  var e = 0;
                  if ( status == true && $(this).find('.value-toggle.active').length > 0 ){
                    e++;
                    tosave[fid]['status'] = 1;
                    tosave[fid]['value-code'] = $(this).find('.value-toggle.active').attr('data-code');
                    tosave[fid]['value-name'] = $(this).find('.value-toggle.active').html();
                  }

                });
                return tosave;
             }
             function saveData(){
                errorsDestroy();
                enableCover();
                var data = getData();
                  $.ajax({
                      url: '{{ path('ajax_complectations_edit') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
             }

    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Complectation:add{% endblock %}

{% block content %}

<section class="panel">
    <header class="panel-heading">Редактирование комплектации</header>
    <div class="panel-body tool-button">
        <span class="content-groups text-info right"> 
            <a style="display:none;" href="javascript:void(0);" id="show-all">Развернуть все</a>
            <a href="javascript:void(0);" id="hide-all">Свернуть все</a>
        </span>
    </div>
</section>
<section class="panel">
    <div class="panel-body tool-button">
            <span class="left col-sm-12 form-group">Название комплектации</span><span class="left col-sm-12 form-group">
            <input id="name" type="text" value="{{complectation.name}}" class="form-control group"/></span>
            <span class="left col-sm-12 form-group">Код комплектации</span><span class="left col-sm-12 form-group">
            <input id="code" type="text" value="{{complectation.code}}" class="form-control group"/></span>
            <span class="left col-sm-12 form-group">Активность</span><span class="left col-sm-12 form-group">
             <button class="btn {% if complectation.status == 1 %}btn-primary active{% else %} btn-default{% endif %} status" data-code="1">Да</button>
            <button class="btn {% if complectation.status == 0 %}btn-primary active{% else %} btn-default{% endif %} status" data-code="0">Нет</button>
            </span>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive all-groups">

                <tbody>
                    {% for key, group in structure %}
                    <table class="table table-striped table-bordered responsive no-m">
                        <thead>
                            <tr data-id="{{key}}">
                                <th colspan=3 class="info">{{group.name}}
                                {% if group.features|length > 0 %}
                                <span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                {% endif %}</th>
                            </tr>
                        </thead>
                              {% if group.features|length > 0 %}
                            <tr data-parent="{{key}}" class="notstable-tr">
                                <th style="width:40%">характеристика</th>
                                <th style="width:10%">наличие</th>
                                <th>параметры</th>
                            </tr>
                              {% for k, feature in group.features %}
                                      <tr class="feature notstable-tr" data-id="{{feature.id}}" data-parent="{{key}}">
                                          <td>
                                              <span id="feature-name">{{feature.name}}</span>
                                          </td>
                                          <td>
                                              <input type="checkbox" class="enabled form-control" id="enabled" {% if cfeatures[feature.id] is defined and cfeatures[feature.id] is not null %}checked{% endif %}>
                                          </td>
                                          <td>
                                              {% if feature.type == 'multiple' %}
                                              <div class="btn-group left">
                                                {% set i = 1 %}
                                                {% for value in feature.values %}
                                                <button class="btn {% if cfeatures[feature.id] is defined and cfeatures[feature.id] is not null and cfeatures[feature.id] == value.id %}btn-primary active{% else %} btn-default{% endif %} value-toggle{% if i == 1 %} firstvalue{% endif %}" data-code="{{value.id}}">{{value.value}}</button>
                                                {% set i = i + 1 %}
                                                {% endfor %}
                                              </div>
                                              {% else %}
                                              <button class="btn {% if cfeatures[feature.id] is defined and cfeatures[feature.id] is not null and cfeatures[feature.id] == 1 %}btn-primary active{% else %} btn-default{% endif %} value-toggle firstvalue" data-code="1">Да</button>
                                              <button class="btn {% if cfeatures[feature.id] is defined and cfeatures[feature.id] is not null and cfeatures[feature.id] == 0 %}btn-primary active{% else %} btn-default{% endif %} value-toggle" data-code="0">Нет</button>
                                              {% endif %}
                                          </td>
                                      </tr>
                              {% endfor %}
                              {% endif %}
                        </tbody>
                    </table>
                    {% endfor %}

    </div>
        <div class="form-group">
        <div class="col-sm-12"></div>
          <div class="col-sm-12">
                  <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                  <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
          <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
          <a href="/admin/base-auto-complectations" id="back" class="btn btn-default right">Назад</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
