{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

             });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Complectation:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_complectations_add', { type:'dynamic', id:'new'}) }}" class="btn btn-primary btn-sm">Добавить динамическую комплектацию</a>
        <a href="{{ path('admin_complectations_add', { type:'static', id:'new'}) }}" class="btn btn-primary btn-sm">Добавить постоянную комплектацию</a>
    </div>
</section>
<section class="panel">
    <header class="panel-heading">Комплектации</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" >
        <tr>
        <th><span class="left col-sm-12"><div class="left">Название</div></span></th>
        <th><span class="left col-sm-12"><div class="left">Код</div></span></th>
        <th><span class="left col-sm-10"><div class="right">Операции</div></span></th>
        </tr>
        {% for complectation in complectations %}
        <tr>
        <td><span class="left col-sm-10"><div class="left">{{complectation.name}}</div></span></td>
        <td><span class="left col-sm-10"><div class="left">{{complectation.code}}</div></span></td>
        <td><span class="right col-sm-10"><div class="right">
         <span class="right">
          <a title="просмотр" href="{{ path('admin_complectations_view', {id: complectation.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
          <a title="редактировать" href="{{ path('admin_complectations_edit', {id: complectation.id }) }}" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
          <a title="удалить" href="{{ path('admin_complectations_delete', { id: complectation.id }) }}"class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div></span></td>
        </tr>
        {% endfor %}
        </table>
        </div>
    </div>
</section>
{% endblock %}
