{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            $('.value-toggle').on('click',function(){
              $(this).parents('tr').find('#enabled').prop('checked',true);
            });
            $('.enabled').on('click',function(){
              var status = $(this).is(':checked');
              if ( status == true ){
                $(this).parents('tr').find('.firstvalue').removeClass('btn-default').addClass('btn-primary active');
              }
              else{
                $(this).parents('tr').find('.value-toggle').addClass('btn-default').removeClass('btn-primary active');
              }
            });
              $('.value-toggle').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.value-toggle').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

             $('.content-groups #hide-all').on('click',function(){
              $(this).hide();
              $('.content-groups #show-all').show();
              $('.all-groups tr.notstable-tr').slideUp(100);
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-down');
             })

             $('.content-groups #show-all').on('click',function(){
              $(this).hide();
              $('.content-groups #hide-all').show();
              $('.all-groups tr.notstable-tr').slideDown(100);   
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
             })

            $('.trigger-toggle').on('click',function(){
            $(this).parents('tr').find('.trigger-toggle .glyphicon').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
            var id = $(this).parents('tr').attr('data-id');
            if ( $('tr[data-parent='+id+']').is(':visible') == true ){
                $('tr[data-parent='+id+']').slideUp(300);
            }
            else{
                $('tr[data-parent='+id+']').slideDown(300);
            }
            })

              $('#save').on('click',function(){
                getData();
              })
             });

             function getData(){
                var features = $('tr.feature');
                var tosave = {};
                  tosave['name'] = $('#name').val();
                  tosave['type'] = '{{type}}';
                  tosave['code'] = $('#code').val();
                $.each(features,function(k,v){
                  var status = $(this).find('#enabled').is(':checked');
                  var fid = $(this).attr('data-id');
                  tosave[fid] = {};
                  tosave[fid]['status'] = 0;
                  tosave[fid]['name'] = $(this).find('#feature-name').html();
                  var e = 0;
                  if ( status == true && $(this).find('.value-toggle.active').length > 0 ){
                    e++;
                    tosave[fid]['status'] = 1;
                    tosave[fid]['value-code'] = $(this).find('.value-toggle.active').attr('data-code');
                    tosave[fid]['value-name'] = $(this).find('.value-toggle.active').html();
                  }

                });
                return tosave;
             }
             function saveData(tosave){
                errorsDestroy();
                enableCover();
                var data = getData();
                  $.ajax({
                      url: '{{ path('ajax_complectations_add') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
             }

    </script>
    <style>
    .non-exists{
    opacity: 0.6;
    }
    </style>
{% endblock %}
{% block title %}SiteBackendBundle:Complectation:add{% endblock %}

{% block content %}

<section class="panel">
    <header class="panel-heading">Просмотр динамической комплектации</header>
    <div class="panel-body tool-button">
        <span class="content-groups text-info right"> 
            <a style="display:none;" href="javascript:void(0);" id="show-all">Развернуть все</a>
            <a href="javascript:void(0);" id="hide-all">Свернуть все</a>
        </span>
    </div>
</section>
<section class="panel">
    <div class="panel-body tool-button">
            <span class="left col-sm-12 form-group">Название комплектации</span>
            <span class="left text-primary col-sm-12 form-group">
            {{complectation.name}}
            </span>
            <span class="left col-sm-12 form-group">Код комплектации</span>
            <span class="left col-sm-12 text-primary form-group">
            {{complectation.code}}
            </span>
            <span class="left col-sm-12 form-group">Статус</span>
            <span class="left col-sm-12 text-primary form-group">
            {% if complectation.code == 1 %}Активный{% else %}Скрытый{% endif %}
            </span>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive all-groups">

                <tbody>
                    {% for key, group in structure %}
                    <table class="table table-striped table-bordered responsive no-m">
                        <thead>
                            <tr data-id="{{key}}">
                                <th colspan=3 class="info">{{group.name}}
                                {% if group.features|length > 0 %}
                                <span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                {% endif %}</th>
                            </tr>
                        </thead>
                          {% if group.features|length > 0 %}
                          {% for k, feature in group.features %}
                            <tr {% if cfeatures[feature.id] is not defined or cfeatures[feature.id] is null %}colspan=2 {% endif %}class="feature notstable-tr {% if cfeatures[feature.id] is defined and cfeatures[feature.id] is not null %} exists{% else %} non-exists{% endif %}" data-id="{{feature.id}}" data-parent="{{key}}">
                                <td style="width:60%;">
                                    <span id="feature-name">{{feature.name}}</span>
                                </td>
                                <td>
                                    {% if feature.type == 'multiple' %}
                                    {% if cfeatures[feature.id] is not defined or cfeatures[feature.id] is null %}
                                    не включена в комплектацию
                                    {% endif %}
                                    <div class="btn-group left">
                                      {% set i = 1 %}
                                      {% for value in feature.values %}
                                      {% if cfeatures[feature.id] is defined and cfeatures[feature.id] == value.id %}
                                      {{value.value}}
                                      {% endif %}
                                      {% set i = i + 1 %}
                                      {% endfor %}
                                    </div>
                                    {% else %}
                                    {% if cfeatures[feature.id] is defined and cfeatures[feature.id] == 1 %}
                                    Есть
                                    {% endif %}
                                    {% if cfeatures[feature.id] is defined and cfeatures[feature.id] == 0 and cfeatures[feature.id] is not null %}
                                    Нет
                                    {% endif %}
                                    {% if cfeatures[feature.id] is not defined or cfeatures[feature.id] is null %}
                                    не включена в комплектацию
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                          {% endfor %}
                          {% endif %}
                        </tbody>
                    </table>
                    {% endfor %}

    </div>
        <div class="form-group">
        <div class="col-sm-12"></div>
          <div class="col-sm-12">
                  <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                  <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
          <a href="javascript:void(0);" id="save" class="btn btn-info right">Копировать</a>
          <a href="/admin/base-auto-complectations" id="back" class="btn btn-default right">Назад</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
