{% extends "::admin.html.twig" %}

{% block title %}Изменение двигателя{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменение двигателя</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="centered-heading-1">Характеристики</div>
            {% for ifd in info_data %}                
                <div class="centered-heading-2">{{ ifd.label }}</div>
                {% for k, ifi in ifd.features %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ ifi.label }}</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="info[{{ k }}]">
                            <option value="0">Не выбрано</option>
                            {% for ifv in ifi.values %}
                            <option {% if cars_data[k].valueId is defined and cars_data[k].valueId == ifv.value %}selected{% endif %} value="{{ ifv.value }}">{{ ifv.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
