{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

              $('#all-cars').on('change',function(){
                var check = $(this).is(':checked');
                $('.cars').prop('checked',check);
              })

              activateImageLibrary('image');
              $('.status').on('click',function(){
                $('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('.add-mini.p-add').on('click',function(){
                var phone = $('#phone').val();
                if ( $.trim(phone) != '' ){
                    var newphone = $('<span/>').addClass('phones left col-sm-12')
                    .html($('<label/>').addClass('text-primary left phone').html(phone))
                    .append($('<span/>').addClass('close-mini left p-remove').bind('click',function(){
                        $(this).parents('.phones').remove();
                    }))
                    $(this).parents('td').append(newphone);
                    $('#phone').val('').focus();
                }
              })
              $('.add-mini.e-add').on('click',function(){
                var phone = $('#email').val();
                if ( $.trim(phone) != '' ){
                    var newemail = $('<span/>').addClass('emails left col-sm-12')
                    .html($('<label/>').addClass('text-info left email').html(phone))
                    .append($('<span/>').addClass('close-mini left p-remove').bind('click',function(){
                        $(this).parents('.emails').remove();
                    }))
                    $(this).parents('td').append(newemail);
                    $('#email').val('').focus();
                }
              })
              $('#save').on('click',function(){
                saveData();
              })

              $('#phone').mask('9 (999) 999-99-99', {placeholder: '_ (___) ___-__-__'});
});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['name'] = $('#name').val();
                data['alias'] = $('#alias').val();
                data['cw'] = $('#cw').val();
                data['ch'] = $('#ch').val();
                data['information'] = $('#information').val();
              /*
                data['information'] = $('#information').val();
                data['city'] = $('#city').val();
                data['contract'] = $('#contract').val();
                data['inn'] = $('#inn').val();
                data['legalAddress'] = $('#legalAddress').val();
                data['legalName'] = $('#legalName').val();
                data['bossName'] = $('#bossName').val();
                data['bossCode'] = $('#bossCode').val();
                data['bossPhone'] = $('#bossPhone').val();
                data['bossFax'] = $('#bossFax').val();
                data['bossMail'] = $('#bossMail').val();
                data['seo'] = $('#seo').val();
            */
                data['image'] = $('#image').val();
                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{

                    data['cars'] = {};
                    var cs = $('input.cars');
                    $.each(cs,function(k,v){ 
                    if( $(this).is(':checked') == true ) { 
                        var car = $(this).attr('data-car');
                        var type = $(this).attr('data-cartype');
                        if (data['cars'][car] == undefined ){ data['cars'][car] = {};}
                        data['cars'][car][type] = true;                       
                    } })  

                    data['status'] = $('.status.active').attr('data-code');
                    data['regionId'] = $('#regionId').val();
                    data['addContract'] = $('#addContract').val();
                    data['email'] = {};
                    data['phone'] = {};
                    var es = $('.emails .email');
                    var ps = $('.phones .phone');
                    $.each(es,function(k,v){ data['email'][k] = $(this).html(); })
                    $.each(ps,function(k,v){ data['phone'][k] = $(this).html(); })
                    
                    
                    data['city'] = $('#city').val();
                    data['contract'] = $('#contract').val();
                    data['inn'] = $('#inn').val();
                    data['legalAddress'] = $('#legalAddress').val();
                    data['legalName'] = $('#legalName').val();
                    data['bossName'] = $('#bossName').val();
                    data['bossCode'] = $('#bossCode').val();
                    data['bossPhone'] = $('#bossPhone').val();
                    data['bossFax'] = $('#bossFax').val();
                    data['bossMail'] = $('#bossMail').val();
                    data['seo'] = $('#seo').val();

                  $.ajax({
                      url: '{{ path('ajax_dillercentres_add') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:DillerCentre:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Создание диллерского центра</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация ДЦ</td></tr>
        <tr><th><span class="left">Название </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input id="name" type="text" class="form-control" value="" />
        </span></span></td></tr>
        <tr><th><span class="left">Картинка </span></th><td><span class="left col-sm-12 form-group"><span class="left custom-input-3">
        <input id="image" data-type="elfinder-input-field" type="text" value="" class="form-control" value="" />
        </span></span></td></tr>
        <tr><th><span class="left">Ключ </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input id="alias" class="form-control" type="text" value="" />
        </span></span></td></tr>
        <tr><th><span class="left">Регион </span></th><td><span class="left col-sm-12">
        <select id="regionId" style="width:250px;" class="form-control">
        {% for region in regions %}
        <option value="{{region.id}}">{{region.name}}</option></span>
        {% endfor %}
        </select>
        </span></td></tr>
        <tr><th><span class="left">Город </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input id="city" class="form-control" type="text" value="" />
        </span></span></td></tr>
        <tr><th><span class="left">Активность</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn btn-default status">Активный</button>
                  <button data-code="0" type="button" class="btn btn-primary active status">Ограниченные права</button>
                  <button data-code="-1" type="button" class="btn btn-default">Неактивный</button>
                </div>
        </span></td></tr>
        <tr><th><span class="left">E-Mails:</span></th><td>
        <span class="left col-sm-4"><div class="add-mini left e-add"></div><input class="form-control" style="width:80%;" id="email" type="text"/></span>
        </td></tr>
        <tr><th><span class="left">Телефоны:</span></th><td>
        <span class="left col-sm-4"><div class="add-mini left p-add"></div><input class="form-control" style="width:80%;" id="phone" type="text"/></span>
        </td></tr>
        <tr><th><span class="left">Координаты </span></th><td><span class="left col-sm-12 form-group">
        <span class="left"><b><input id="cw" type="text" placeholder="00.000000" value="" class="form-control" pattern="^[\+\-]?\d\d?(\.\d{0,6})?$" /><input placeholder="00.000000" id="ch" type="text" value="" class="form-control" pattern="^[\+\-]?\d\d?\d?(\.\d{0,6})?$" /></b></span></span></td></tr>

        <tr class="label-default"><td colspan=2>Информация о руководителе ДЦ</td></tr>
        <tr><th><span class="left">Ф.И.О </span></th><td><span class="left col-sm-12 form-group"><span class="left custom-input-3">
        <input type="text" class="form-control" id="bossName" value="" /></span></span></td></tr>
        <tr><th><span class="left">Код ( телефоны ) </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input type="text" class="form-control" id="bossCode" value="" /></span></span></td></tr>
        <tr><th><span class="left">Телефон </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input type="text" class="form-control" id="bossPhone" value="" /></span></span></td></tr>
        <tr><th><span class="left">Факс </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input type="text" class="form-control" id="bossFax" value="" /></span></span></td></tr>
        <tr><th><span class="left">e-mail </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input type="text" class="form-control" id="bossMail" value="" /></span></span></td></tr>

        <tr class="label-default"><td colspan=2>Юридическая информация</td></tr>
        <tr><th><span class="left inner-title">ИНН </span></th><td><span class="left col-sm-3 form-group"><span class="left">
        <input type="text" class="form-control" id="inn" value="" /></span></span>
        <span class="left inner-title">Договор </span>
        <span class="left col-sm-6 form-group">
            <span class="left"><input type="text" class="form-control" id="contract" value="" /></span>
            <span class="left"><input placeholder="доп.договор" type="text" class="form-control" id="addContract" value="" /></span>
        </span>
        </td></tr>
        <tr><th><span class="left inner-title">Наименование </span></th><td>
        <span class="left custom-input-3 form-group"><span class="left custom-input-3">
        <input type="text" class="form-control" id="legalName" value="" /></span></span>
        <span class="left inner-title">Адрес </span>
        <span class="left custom-input-4 form-group">
        <input type="text" class="form-control" id="legalAddress" value="" /></span>
        </td></tr>

        <tr class="label-default"><td colspan=2>Дополнительная информация</td></tr>
        <tr><th><span class="left">SEO </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input type="text" class="form-control" id="seo" value="" /></span></span></td></tr>
        <tr><th><span class="left">Информация </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="information" rows=3 class="form-control"></textarea>
        </span></td></tr>

        <tr><th><span class="left">Авто с минимальной комплектацией </span></th><td><span class="left col-sm-12 form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-cars"/><span class="left"><b>Все</b></span>
                </label>
              </div>

            {% for i,car in cars %}
                {% if car.details is defined %}
                  {% if car.details|length > 0 %}
                  {% for k,type in car.details %}
                    <div class="checkbox">
                      <label>
                        <input class="cars" data-car="{{i}}" data-cartype="{{k}}" type="checkbox" value=""/><span class="left">{{car.name}} {{k}}</span>
                      </label>
                    </div>
                  {% endfor %}
                  {% endif %}
                {% endif %}
            {% endfor %}
        </span></td></tr>
        
        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/base-dillercentres" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}