{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

                $('#filter-region').on('change',function(){
                    var region = $(this).val();
                    if ( region == 'all' ){
                        $('tr.dealer-centre').show();
                    }
                    else{
                        $('tr.dealer-centre').hide();
                        $('tr.dealer-centre[data-region='+region+']').show();
                    }
                })
            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:DillerCentre:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_dillercentres_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
        {% if filter.regions == 1 %}
        <span class="left col-sm-1">
        <label style="padding:10px;">Регион</label>
        </span>
        <span class="left col-sm-6">
        <select class="form-control" style="width:250px;" id="filter-region">
                <option value="all">все</option>
                {% for region in regs %}
                <option value="{{region.id}}">{{region.name}}</option>
                {% endfor %}
                </select>
        </span>
        {% endif %}
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>название</th>
                        <th>сайт</th>
                        <th>статус</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dc in dcs %}
                    <tr class="dealer-centre" data-region="{{dc.rid}}">
                        <td>{{ dc.id }}</td>
                        <td>{{ dc.dname }} ({{ dc.dalias }})<br/>
                            <a class="text-primary" href="http://{{ dc.ralias }}.reglada.ru/">{{dc.for}}</a></td>
                        <td><a class="text-info" href="http://{{ dc.ralias }}.reglada.ru/dillers/{{ dc.dalias }}">http://{{ dc.ralias }}.reglada.ru/dillers/{{ dc.dalias }}</a></td>
                        <td>
                        {% if dc.status == 1 %}<span class="text-success">Активный</span>{% endif %}
                        {% if dc.status == 0 %}<span class="text-warning">Ограниченные права</span>{% endif %}
                        {% if dc.status == -1 %}<span class="text-danger">Неактивный</span>{% endif %}
                        </td>
                        <td>
                            <a  href="{{ path('admin_dillercentres_view', { id: dc.id }) }}" title="просмотр" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="{{ path('admin_dillercentres_edit', { id: dc.id }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_dillercentres_delete', { id: dc.id }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
