{% extends "::admin.html.twig" %}

{% block title %}Галерея{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_auto_gallery_add', { bodyid: bodyid }) }}" class="btn btn-primary btn-sm">Добавить элемент</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Галерея
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Текст</th>
                                        <th>Позиция</th>
                                        <th>Тип</th>
                                        <th style="width: 160px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gall in gallery %}
                                    <tr>
                                        <td>{{ gall.id }}</td>
                                        <td>{{ gall.text }}</td>
                                        <td>{{ gall.pos }}</td>
                                        <td>
                                            {% if gall.type == 1 %}
                                                Изображение
                                            {% elseif gall.type == 2 %}
                                                Видео
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_auto_gallery_edit', { id: gall.id, bodyid: bodyid }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_auto_gallery_delete', { id: gall.id, bodyid: bodyid }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
