      {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
        $(document).ready(function(){
        	$('.show-cupon').on('click',function(e){
        		e.preventDefault();
        		$('body').addClass('modal-open').trigger('modal-open');
        		var text = $(this).parents('.action-block').find('.share-name').html();
        		$('.cupon').find('.mess').html('Купон на акцию "'+text+'"')
        		$('.cupon').addClass('show');
        	})
        	$('.cupon .close').on('click',function(){
        		$('.cupon').removeClass('show');
                $('body').removeClass('modal-open');
        	})
        })
        </script>
    <style>

    </style>
    {% endblock %}
    {% block title %}SiteFrontendBundle:Home:credit{% endblock %}

{% block content %}
{% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
    <section class="p-t50-b-10">
        <div class="container">
            <div class="col-sm-12 col-md-12">
                <h3>Акции &laquo;АВТОВАЗ&raquo;</h3>
                
                <div class="action-block">
                    <div class="action-block-inside">
                        <div class="action-thumb">
                            <img src="/front_assets/images/action-block-img-1.jpg" alt="">
                        </div>
                        <div class="extra-wrap">
                            <div class="action-date-range">15 сентября 2014 &mdash; 15 декабря 2014</div>
                            <h2 class="share-name">{{sharesTop[0].name}}</h2>
                            <div class="text-wrap">
                                {{sharesTop[0].teaser|raw}}
                            </div>
                            <div class="action-footer">
                                <a href="#" class="btn btn-type3 pull-left show-cupon">Получить купон</a>
                                <div class="action-soc-block pull-right">
                                    <a href="#" class="action-share"></a>
                                    <a href="#" class="action-like">123</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action-block-after pull-right">
                    <span class="action-after-label">Автомобили по акции:</span>
                    {% for car in cars %}
                        {% if car.id in sharesTop[0].cars %}
                        <a href="#" title="{{car.name}}" class="action-item-link"><img src="/front_assets/images/action-car-{{car.id}}.png" alt=""></a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if sharesTop|length > 1 %}
                <div class="action-block">
                    <div class="action-block-inside">
                        <div class="action-thumb">
                            <img src="/front_assets/img/action-block-img-2.jpg" alt="">
                        </div>
                        <div class="extra-wrap">
                            <div class="action-date-range">15 сентября 2014 &mdash; 15 декабря 2014</div>
                            <h2 class="share-name">{{sharesTop[1].name}}</h2>
                            <div class="text-wrap">
                                {{sharesTop[1].teaser|raw}}
                            </div>
                            <div class="action-footer">
                                <a href="#" class="btn btn-type3 pull-left show-cupon">Получить купон</a>
                                <div class="action-soc-block pull-right">
                                    <a href="#" class="action-share"></a>
                                    <a href="#" class="action-like">123</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action-block-after pull-right">
                    <span class="action-after-label">Автомобили по акции:</span>
                    {% for car in cars %}
                        {% if car.id in sharesTop[1].cars %}
                        <a href="#" title="{{car.name}}" class="action-item-link"><img src="/front_assets/images/action-car-{{car.id}}.png" alt=""></a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}                
            </div>
        </div>
    </section>
    
    <section class="p-t10-b-50 m-b40">
        <div class="container">
            <div class="col-sm-12 col-md-12">
                <h2>Акции дилеров</h2>
            </div>
        </div>
            
        <div class="dealer-actions">
            <div class="container equalheightWrap">
                {% for share in shares %}
                    <div class="col-sm-4">
                        <div class="actions-item equalheight"> 
                            <div class="dealer-actions-thumb"><img src="/{{share.picture}}" alt=""></div>
                            <div class="actions-item-inside">
                                <div class="dealer-action-date-range">15 сентября 2014 — 15 декабря 2014</div>
                                <h2>{{share.name}}</h2>
                                <div class="dealers-actions-text-wrap">
                                    {{share.teaser|raw}}
                                </div>
                                <div class="dealers-actions-footer">
                                    <a href="/dealers/{{share.dalias}}">{{share.dname}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            
    </section>

    <div class="modal modal-small cupon" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-backdrop fade in"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="mess">Купон на акцию &laquo;Выгодный кредит. Утилизация, количество сертификатов ограничено. очередей. &raquo;</p>
                
                
                <div class="modal-scroll">
                    <form action="#" class="clearfix form-coupon">
                        <div class="form-fields-wrap">
                            {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-cupon'})) }}
                        </div>
                        <div class="custom-checkbox">
                            <span>
                                <input type="checkbox">
                            </span>
                            <label>Я согласен с <a href="#">Правилами использования моих персональных данных</a></label>
                        </div>
    
                        <!-- INSERT MAP HERE -->
                        
                        <div class="material-input col-tn-12 text-center">
                            <div class="text-center">
                                <a class="btn btn-type1 search-but center-block" href="#">ОТПРАВИТЬ</a>
                            </div>
                        </div>
                    </form>
                    {{render(controller('SiteFrontendBundle:Home:map'))}}    
                    <div class="map-top-menu">
                        <h3 class="text-center">Выберите дилера</h3>
                        <div class="search-form-wrap">
                            <div class="input-wrap">
                                <div class="input-inner">
                                    <input type="text" placeholder="Название или адрес дилера"/>
                                    <a href="#" class="btn_geoposition"><!----></a>
                                    <a href="#" class="btn_all_dealers">Все</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-type3 search-but">Найти</a>
                        </div>
                    </div>
                                        
                    <div class="text-center get-coupon">
                        <a href="#" class="btn btn-type1 search-but">Получить купон</a>
                    </div>
                    
                    <div class="dealers-agreement text-left">
                        Настоящее Пользовательское соглашение (далее - «Соглашение») определяет условия и правила использова- ния Материалов и Сервисов Сайта Diletant.ru (далее – «Сайт»), а также устанавливает права и обязанности его Пользователей и Администрации Сайта.
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}