input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  *padding-left: 0 !important;
  *padding-right: 0 !important;
}
.chk input[type="checkbox"],
.rd input[type="radio"] {
  left: 0 !important;
  top: 0 !important;
}
.chk label:after,
.rd label:after {
  display: none !important;
}
