/* ----------------------------------- *\
			import
\* ----------------------------------- */

/* ----------------------------------- *\
			icons
\* ----------------------------------- */

.i {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/

.i-arr01 {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 18px;
  height: 16px;
}
.i-close {
  background-image: url(../img/spr.png);
  background-position: 0px -282px;
  width: 35px;
  height: 35px;
}
.i-download {
  background-image: url(../img/spr.png);
  background-position: 0px -82px;
  width: 18px;
  height: 19px;
}
.i-plus {
  background-image: url(../img/spr.png);
  background-position: 0px -172px;
  width: 30px;
  height: 30px;
}
.i-print {
  background-image: url(../img/spr.png);
  background-position: 0px -126px;
  width: 25px;
  height: 21px;
}
.i-search {
  background-image: url(../img/spr.png);
  background-position: 0px -41px;
  width: 16px;
  height: 16px;
}
.i-view {
  background-image: url(../img/spr.png);
  background-position: 0px -227px;
  width: 30px;
  height: 30px;
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */

/* ----------------------------------- *\
			forms styles
\* ----------------------------------- */

.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  height: 51px;
  padding: 0 30px;
  line-height: 47px;
  border: 2px solid white;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  height: 51px;
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  padding: 0 20px;
}
textarea {
  resize: none;
  padding: 10px 20px;
  height: 100px;
}
[placeholder]::-webkit-input-placeholder {
  color: black;
}
[placeholder]:-moz-placeholder {
  color: black;
}
[placeholder]::-moz-placeholder {
  color: black;
}
[placeholder]:-ms-input-placeholder {
  color: black;
}
input[type="submit"],
.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  height: 51px;
  padding: 0 60px;
  border-radius: 2px;
  background: #0051a1;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.button {
  text-decoration: none;
  line-height: 51px;
}
body .ui-dialog {
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  padding: 0;
}
body .ui-dialog .ui-dialog-content {
  padding: 80px 0;
}
body .ui-dialog .ui-dialog-titlebar {
  padding: 0;
  margin: 0;
  height: 0;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  padding: 0;
  margin: 0;
  height: 0;
  min-height: 0;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background-image: url(../img/spr.png);
  background-position: 0px -282px;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  padding: 0;
  margin: 0;
}
.chk,
.rd {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 18px;
}
.chk input[type="checkbox"],
.rd input[type="checkbox"],
.chk input[type="radio"],
.rd input[type="radio"] {
  position: absolute;
  top: -1px;
  left: -9999px;
}
.chk input[type="checkbox"]:checked + label:before,
.rd input[type="checkbox"]:checked + label:before,
.chk input[type="radio"]:checked + label:before,
.rd input[type="radio"]:checked + label:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: black;
  position: absolute;
  top: 5px;
  left: 5px;
}
.chk label,
.rd label {
  display: block;
  padding-left: 30px;
  position: relative;
  min-height: 20px;
}
.chk label:after,
.rd label:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
body .b-core-ui-select {
  display: block;
  height: 51px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0;
  width: 100%;
}
body .b-core-ui-select .b-core-ui-select__value {
  line-height: 49px;
  padding: 0 40px 0 20px;
  font-size: 18px;
  font-weight: 300;
}
body .b-core-ui-select .b-core-ui-select__button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 17px;
  right: 21px;
  margin: 0;
  border: none;
}
.field_file {
  width: 455px;
  height: 51px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.field_file .button {
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
.field_file .text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 51px;
  width: 265px;
  line-height: 49px;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 2px;
}
.field_file input {
  display: block !important;
  width: 100% !important;
  height: 36px !important;
  opacity: 0 !important;
  filter: alpha(opacity=0);
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */

.wrap {
  min-width: 960px;
  overflow: hidden;
  position: relative;
}
.inner_box,
.page {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.inner_box:after,
.page:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.overlay {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.overlay.active {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
}
.header {
  min-width: 960px;
  overflow: hidden;
  position: relative;
  background: #0051a1;
}
.header .inner_box {
  height: 102px;
  line-height: 102px;
  overflow: hidden;
}
.header .welcome {
  float: left;
  white-space: nowrap;
  color: white;
  font-size: 16px;
}
.header .auth {
  float: right;
  white-space: nowrap;
  text-align: right;
  font-size: 16px;
}
.header .auth a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  line-height: normal;
  margin-left: 35px;
}
.header .auth .btn {
  line-height: 47px;
}
/* ----------------------------------- *\
			common elements
\* ----------------------------------- */

/* ----------------------------------- *\
			main styles
\* ----------------------------------- */

body {
  font-weight: 300;
  line-height: 1.6;
  font-size: 15px;
  color: black;
}
a {
  color: #60c0ec;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 20px;
}
h1,
h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 36px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: normal;
}
.buttons_block {
  text-align: center;
}
.buttons_block .button {
  padding: 0 25px;
}
.buttons_block a {
  margin: 0 20px;
}
/* ----------------------------------- *\
			diller select
\* ----------------------------------- */

.diller_select {
  width: 940px;
  margin: 0 auto;
  position: relative;
  height: 74px;
  padding: 20px 0;
  line-height: 34px;
  clear: both;
  z-index: 2;
}
.diller_select .title {
  display: block;
  float: left;
  width: 160px;
}
.diller_select .diller_block {
  width: 780px;
  height: 34px;
  border: 1px solid black;
  position: relative;
  float: right;
  padding: 0 135px;
}
.diller_select .status {
  display: block;
  width: 115px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  background: #ff3366;
  text-align: center;
  font-size: 11px;
  color: white;
}
.diller_select .name {
  text-transform: uppercase;
  font-weight: bold;
}
.diller_select .select_menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.diller_select .select_menu .btn_menu {
  display: block;
  text-align: right;
  white-space: nowrap;
  line-height: 32px;
  padding-right: 32px;
}
.diller_select .select_menu ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid black;
  padding: 15px;
  line-height: 20px;
  white-space: nowrap;
  text-align: right;
  background: white;
}
.diller_select .select_menu li {
  margin-bottom: 5px;
}
.diller_select .select_menu li a.active {
  color: black;
  text-decoration: none;
}
/* ----------------------------------- *\
			main title
\* ----------------------------------- */

.main_title {
  min-width: 960px;
  position: relative;
  clear: both;
  overflow: hidden;
  background: #f3f3f3;
  height: 75px;
  line-height: 75px;
  margin-bottom: 40px;
}
.main_title .right_block {
  float: right;
}
.main_title .search {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  width: 45px;
  height: 51px;
  transition: width ease 0.5s;
}
.main_title .search.active {
  width: 385px;
}
.main_title .search.active span.i.i-search {
  cursor: default;
}
.main_title .search.active input[type="text"],
.main_title .search.active input[type="submit"] {
  display: block;
}
.main_title .search span.i.i-search {
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: pointer;
}
.main_title .search input[type="text"] {
  display: none;
  width: 260px;
  float: left;
  background: none;
  padding: 0 10px 0 45px;
}
.main_title .search input[type="submit"] {
  display: none;
  width: 115px;
  float: right;
  padding: 0;
}
.main_title h1,
.main_title h2 {
  line-height: 75px;
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 25px;
}
.main_title .mail {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0 25px;
}
.main_title .mail:hover {
  text-decoration: underline;
}
.main_title .btn_block {
  position: absolute;
  top: 0;
  right: 0;
}
.main_title .btn_block a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.main_title .btn_add,
.main_title .btn_view,
.main_title .button {
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.main_title .btn_add .i,
.main_title .btn_view .i,
.main_title .button .i {
  margin-right: 10px;
}
.main_title .button {
  padding: 0 30px;
}
.main_title .i-print,
.main_title .i-download {
  margin-left: 15px;
}
/* ----------------------------------- *\
			content
\* ----------------------------------- */

.cnt_menu {
  list-style-type: none;
  margin: 0;
  font-size: 15px;
  line-height: 23px;
}
.cnt_menu li {
  padding: 8px 18px;
  border-bottom: 1px solid #f0f0f0;
}
.cnt_menu li:last-child {
  border: none;
}
.cnt_menu .chk {
  margin-bottom: 0;
}
.treatment_menu {
  margin-bottom: 40px;
  overflow: hidden;
}
.treatment_menu ul {
  float: left;
  width: 400px;
  margin: 0 80px 0 0;
}
.treatment_menu ul + ul {
  margin-right: 0;
}
.treatment_menu li a {
  display: block;
  position: relative;
  padding-right: 30px;
}
.treatment_menu .num {
  position: absolute;
  top: 0;
  right: -6px;
}
.num {
  display: block;
  float: left;
  padding: 0 6px;
  height: 18px;
  line-height: 18px;
  background: #ffdb33;
  border-radius: 2px;
  font-size: 15px;
  position: absolute;
  color: black;
  text-decoration: none;
}
.diller_info {
  overflow: hidden;
  margin-bottom: 20px;
}
.diller_info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.diller_info li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 200px;
  margin: 0 16px 30px 16px;
  position: relative;
}
.diller_info a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
}
.diller_info a:hover .pic,
.diller_info a.selected .pic {
  background: white;
  border-color: #0051a1;
}
.diller_info .pic {
  display: block;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #cccccc;
  background: #cccccc;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
}
.diller_info .num {
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: 25px;
}
.manager_box {
  min-width: 960px;
  clear: both;
  margin-bottom: 30px;
  background: #0051a1;
  padding: 40px 0 35px 0;
}
.manager_block {
  position: relative;
  width: 780px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 190px;
  color: white;
  line-height: 1.2;
}
.manager_block .photo {
  display: block;
  float: left;
  width: 148px;
  height: 148px;
  border-radius: 100%;
  border: 3px solid white;
  overflow: hidden;
  margin-left: -190px;
}
.manager_block .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.manager_block .name {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}
.manager_block .contacts {
  font-size: 18px;
  line-height: 26px;
}
.manager_block .btn {
  position: absolute;
  top: 0;
  right: 0;
}
.frm_message {
  width: 770px;
  margin: 0 auto;
}
.frm_message textarea {
  height: 190px;
  margin-bottom: 40px;
}
.frm_message .row_submit {
  text-align: center;
}
.frm_message .title {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 40px;
}
.diller_contacts {
  overflow: hidden;
  font-size: 18px;
  margin-bottom: 40px;
}
.diller_contacts .col {
  width: 480px;
  float: left;
}
.diller_contacts .col + .col {
  width: 450px;
}
.diller_contacts .col p + h3 {
  margin-top: 35px;
}
.diller_contacts .edit {
  clear: both;
}
.diller_text {
  overflow: hidden;
  margin-bottom: 40px;
}
.diller_text .col {
  width: 300px;
  float: left;
  margin-right: 20px;
}
.diller_text .col + .col + .col {
  margin-right: 0;
}
.diller_text h3 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 15px;
  font-weight: 300;
}
.diller_services {
  margin-bottom: 40px;
}
.diller_services .chk_box {
  margin-bottom: 25px;
}
.diller_services .chk label {
  width: 320px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.diller_services .chk .info {
  width: 500px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #ff3333;
}
.diller_services .chk .info a {
  margin-right: 30px;
}
.diller_services .buttons {
  padding-top: 20px;
  text-align: center;
}
.diller_services .buttons a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin: 0 20px;
}
.diller_services .buttons_block {
  padding-top: 20px;
}
.action_item {
  margin-bottom: 40px;
}
.action_item .action {
  background: #0051a1;
  overflow: hidden;
  padding-left: 440px;
  position: relative;
}
.action_item .pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 0;
  width: 400px;
  float: left;
  background: url(../img/blanc.png) center no-repeat;
}
.action_item .text {
  padding: 25px 15px 35px 0;
  color: white;
}
.action_item .data {
  margin-bottom: 20px;
}
.action_item h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
  font-weight: 300;
}
.action_item p {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
}
.action_item .buttons {
  overflow: hidden;
  padding: 0 20px;
  line-height: 50px;
}
.action_item .buttons a {
  float: left;
}
.action_item .buttons a + a {
  float: right;
}
.diller_arx {
  margin-bottom: 40px;
}
.diller_arx .cnt_menu {
  margin-bottom: 25px;
}
.diller_arx .button {
  margin-left: 19px;
}
.frm_content {
  margin-bottom: 40px;
}
.frm_content .row {
  margin-bottom: 25px;
}
.frm_content .row > label,
.frm_content .row .field > label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.frm_content .row > label span,
.frm_content .row .field > label span {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
.frm_content .row > label span.rq,
.frm_content .row .field > label span.rq {
  color: red;
}
.frm_content .row_file {
  margin-bottom: 60px;
}
.frm_content .row_pic {
  overflow: hidden;
  margin-bottom: 30px;
}
.frm_content .row_pic .field {
  width: 460px;
  float: left;
}
.frm_content .row_pic .field + .field {
  float: right;
}
.frm_content .row_pic .pic {
  display: block;
  height: 293px;
  overflow: hidden;
  margin-bottom: 10px;
}
.frm_content .row_pic p {
  margin-bottom: 15px;
}
.frm_content .row_act {
  margin-bottom: 60px;
}
.frm_content .row_act > label {
  font-weight: normal;
}
.frm_content .row_act .field:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.frm_content .row_act .field .button {
  width: 145px;
  float: right;
  text-align: center;
  padding: 0;
}
.frm_content .row_act .field .select {
  width: 785px;
  float: left;
}
.frm_content .row_submit input {
  padding: 0 30px;
  margin-right: 35px;
}
.frm_content .row_submit a {
  margin-right: 35px;
}
.frm_content textarea {
  height: 160px;
}
.car_select {
  margin-bottom: 40px;
}
.car_select table {
  width: 860px;
  margin-left: 80px;
  margin-bottom: 20px;
  table-layout: fixed;
}
.car_select table .col2 {
  width: 160px;
}
.car_select table .col3 {
  width: 160px;
}
.car_select table .col4 {
  width: 140px;
}
.car_select table td {
  vertical-align: top;
  padding: 0;
  border: none;
  text-align: left;
}
.car_select .info {
  font-style: italic;
  margin-bottom: 55px;
  text-align: center;
}
.car_select .buttons {
  text-align: center;
}
.car_select .buttons a {
  margin: 0 20px;
}
.diller_instock {
  margin-bottom: 40px;
}
.diller_instock .car_block {
  display: none;
}
.diller_instock .title {
  font-style: italic;
  margin-bottom: 20px;
}
.diller_instock .chk_box {
  margin-bottom: 40px;
}
.diller_instock .chk_box .chk_all {
  margin-bottom: 35px;
}
.diller_instock .buttons {
  text-align: center;
}
.diller_instock .buttons a {
  margin: 0 20px;
}
.tbl_car {
  table-layout: fixed;
  width: 100%;
  line-height: 20px;
  margin-bottom: 30px;
}
.tbl_car td {
  vertical-align: top;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 20px;
}
.tbl_car tr:last-child td {
  border-bottom: none;
}
.tbl_car .name {
  font-weight: bold;
}
.tbl_car a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 20px;
  position: relative;
  white-space: nowrap;
}
.tbl_car a.active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.tbl_car a.instock:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #3db6e9;
  position: absolute;
  top: 5px;
  left: 0;
}
.tbl_car .col2 {
  width: 160px;
}
.tbl_car .col3 {
  width: 160px;
}
.tbl_car .col4 {
  width: 160px;
}
.tbl_car .col5 {
  width: 240px;
}
.tbl_chk {
  table-layout: fixed;
  width: 100%;
  line-height: 20px;
  margin-bottom: 65px;
}
.tbl_chk .col2,
.tbl_chk .col3,
.tbl_chk .col4,
.tbl_chk .col5,
.tbl_chk .col6 {
  width: 160px;
}
.tbl_chk td {
  padding: 5px 0 15px 0;
  vertical-align: top;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.tbl_chk th {
  text-align: center;
  font-weight: normal;
  padding: 10px 0 5px 0;
  vertical-align: top;
}
.tbl_chk td:first-child,
.tbl_chk th:first-child {
  text-align: left;
  padding-left: 20px;
}
.tbl_chk th:first-child {
  font-weight: bold;
}
.tbl_chk tr:last-child td {
  border: none;
}
.tbl_chk .chk {
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.orders .cnt_menu {
  margin-bottom: 40px;
}
.orders .cnt_menu .order_num {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 300px;
}
.orders .cnt_menu .name {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 550px;
}
.orders h3 {
  margin-bottom: 40px;
}
.order_info .confirm {
  padding: 40px 0 0 0;
  margin-bottom: 60px;
}
body .ui-tabs {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
body .ui-tabs .ui-tabs-nav {
  padding: 0;
  margin: 0 0 25px 0;
  overflow: hidden;
}
body .ui-tabs .ui-tabs-nav li {
  float: left;
  margin: 0 10px 0 0;
  white-space: nowrap;
  height: 35px;
  line-height: 31px;
}
body .ui-tabs .ui-tabs-nav li.filter {
  float: right;
}
body .ui-tabs .ui-tabs-nav li.filter a {
  width: 210px;
  text-align: center;
  margin-left: 15px;
}
body .ui-tabs .ui-tabs-nav li.filter.ui-tabs-active a {
  border-color: black;
}
body .ui-tabs .ui-tabs-nav li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 2px;
  height: 33px;
  line-height: 31px;
  padding: 0 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  outline: none;
  float: none;
}
body .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  border-color: white;
}
body .ui-tabs .ui-tabs-nav li .num {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  float: none;
  margin: 0;
  margin-left: 10px;
  position: static;
}


.toolbar_row:after {
  clear: both;
  width: 100%;
  content: "";
  display: block;
}
.field_clear {
  vertical-align: middle;
  margin-left: 7px;
}
.field_clear i {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url(../img/remove.png) 0 0 no-repeat;
  background-size: cover;
}
.toolbar_row {
  width: 950px;
}
.toolbar_row > div {
  float: left;
}
.toolbar_row > div.part_count {
  margin-right: 38px;
}
.toolbar_row .service_icons {
  float: right;
  padding-top: 13px;
}
.toolbar_row .service_icons li {
  display: inline-block;
  vertical-align: middle;
}
.toolbar_row .service_icons li + li {
  margin-left: 21px;
}
.toolbar_row > div label {
  margin-right: 17px;
  display: inline-block;
  padding-top: 7px;
  vertical-align: top;
}
.toolbar_row > div input[type='text'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  vertical-align: top;
}
.toolbar_row .part_count input[type='text'] {
  width: 73px;
}
.toolbar_row .part_period,
.toolbar_row .part_count {
  padding-top: 9px;
}
.toolbar_row .part_period input[type='text'] {
  width: 223px;
}
.toolbar_row .part_search {
  margin-left: 30px;
}
.toolbar_row .part_search .button {
  padding: 0 29px;
}
table#orders tr td {
  padding-bottom: 10px;
}
table#orders tr td:first-child {
  width: 160px;
}
table#orders tr td:first-child + td {
  width: 560px;
  padding-right: 95px;
}
table#orders tr + tr td {
  padding-top: 7px;
  padding-bottom: 10px;
  border-top: 1px solid #f0f0f0;
}
table#orders tr td .order-author {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
table#orders tr td .order-info {
  display: block;
  padding-top: 7px;
}
table#orders tr td .order-email {
  margin-left: 13px;
}
table#orders tr td .order-desc {
  display: block;
  padding-top: 5px;
  line-height: 20px;
  font-style: italic;
}
table#orders tr td .ordered-car {
  display: block;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}
table#orders tr td .ordered-tech {
  margin-bottom: 4px;
  display: block;
}
.toolbar_row {
  margin-bottom: 43px;
}
#paginator {
  padding: 41px 0;
}
#paginator .pages {
  text-align: center;
}
#paginator .pages li {
  font-size: 24px;
  line-height: 40px;
  margin: 0 1px;
  display: inline-block;
}
#paginator .pages li a {
  display: inline-block;
  width: 44px;
  border: 2px solid #0051a1;
  border-radius: 25px;
  height: 44px;
  color: #0051a1;
  text-decoration: none;
}
#paginator .pages li a.current {
  background: #0051a1;
  color: #fff;
}