{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
    var offs = [];
    var lW = [];
    var lH = [];
    var autolist = [];
    var listkeys = [];
    {% if offices is defined %}
        {% for centre in offices %}
        autolist[{{centre.id}}] = '{{centre.name}}';
        listkeys['{{centre.name}}'] = {{centre.id}};
        {% set ll = centre.coordinates|split('::') %}
                        var of = {
                            latLng: [{{ll[0]}}, {{ll[1]}}],
                             title: '{{centre.name}}',
                            button: 'msc'+{{centre.id}},
                            key: {{centre.id}},
                        }
        offs.push(of);
        lW.push({{ll[0]}});
        lH.push({{ll[1]}});
        {% endfor %}
        var e = 0;var i = 0;
        $.each(lW,function(k,v){
            e = e+v;
        })
        $.each(lH,function(k,v){
            i = i+v;
        })
        var generalL = e/lW.length;
        var generalW = i/lH.length;
    {% endif %}

    $(document).ready(function(){
        var list = [];
        $.each(autolist,function(k,v){
        if ( v != undefined ){
            list.push(v);
        }
        })
        $( "#dealer-centre-name" ).autocomplete({
            source: list,
            minlength: 0
        });

        $('.cattype').on('click',function(e){
        e.preventDefault();
        var cid = $(this).attr('data-car');
        var bname = $(this).attr('data-type');
        location.href = '/buy/cardetails?cid='+cid+'&bid='+bname+'&dcid='+{{dcid}};
        /*
            getRequestCar(cid, bname)
            */
        })
        $('.this-carrequest .close').on('click',function(){
            $('.this-carrequest').addClass('hidden');
            $('#request-car').html('');
        })

        {% if params != false %}
            getRequestCar({{params.cid}}, '{{params.bid}}', '{{params.color}}', '{{params.type}}', '{{params.eq}}');
            $('html, body').animate({
                scrollTop: $("#request-car").offset().top
            }, 1000);
        {% endif %}
    })
        {% if params != false %}
        function collectData(){
            var fs = $('.car-personal');
            data = {};
            e = 0;
            $.each(fs,function(){
              var id = $(this).attr('id');
              var value = $.trim($(this).val());
              if ( value == '' ){
                e++;
                console.log(id)
              }
              else{
                data[id] = value;
              }
            });
            console.log(data)
            if ( e == 0 ){
                data['car'] = '{{params.cid}}';
                data['typecar'] = '{{params.bid}}';
                data['type'] = 'car-request';
                data['equipments'] = $('#equipments').val();
                data['dc'] = '{{dcid}}';
                if($('#rules-agree-styler').hasClass('checked') != true ){
                    showSuccessCST('Вы не подтвердили правила использования');
                }
                else{
                    if( $('.customcolor.active').length == 0 ){
                        showSuccessCST('Выберите цвет авто');
                    }
                    else{
                        saveDataRequest(data, 'carrequest');
                    }
                }
            }
            else{
                showSuccessCST('Не все обязательные поля заполнены');
            }
        }
        {% endif %}
        function getRequestCar(cid, bname, color, type, eq)
        {
            if( eq == false && type == false )
                var data = {'carId':cid,'type':bname,'dcid':'{{dcid}}'};
            else
                var data = {'carId':cid,'type':bname,'dcid':'{{dcid}}','eq':eq,'cartype':type,'color':color};
            $.ajax({
                url: '{{ path('ajax_get_cdc') }}',
                dataType: 'html',
                data: data,
                type: 'post',
                success: function(response)
                {
                    $('#request-car').html(response);
                    App.Custom_elements();
                    $('#typecar-styler li').on('click',function(){
                      $('.eqs').addClass('hidden')
                    $('#eq-'+$('#typecar').val()).removeClass('hidden')

                    })

                    $('#cars-styler li').on('click',function(){
                        var dd = $('#cars').val();
                        var dd = dd.split(':');
                        getRequestCar(dd[0], dd[1], false, false, false)

                    })
                    setColors()
                    $('.send-car-request').on('click',function(e){
                        e.preventDefault();
                        collectData();
                    })
                    $('.customcolor').on('click',function(){
                      $('.customcolor.active').removeClass('active');
                      $(this).addClass('active');
                      
                    })
                }})
        }

        function setColors(){
            var colors = $('.customcolor');
            $.each(colors,function(){
                var code = $(this).attr('data-content');
                var id = $(this).attr('id');
                console.log(code)
                $(this).append('<style>.customcolor#'+id+':before{background:none repeat scroll 0 0 '+code+' !important;}</style>');
            })
        }
    </script>
    <style>
    .customcolor:before{
        background: 'none repeat scroll 0 0 ' attr(data-content);
    }
    </style>
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %}
    <div class="modal show modal-small hidden infomsg this-carrequest" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="mess"> <span></span>Заявка успешно отправлена дилеру.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="dealer-head" style="background-image: url('/{{dc.image}}')">
        <div class="container">
            <div class="promo-title">{{dc.dname}}</div>
            <p class="promo-desc">г. {{dc.information}} <br/>
                Телефон: {{ dc.phone|join(', ') }}<br/>
                Время работы: {{dc.worktime}}</p>
            <div class="but-wrap">
                <a href="#" class="btn btn-type1">Обратный звонок</a>
                <a href="#" class="btn btn-type1">Сообщение</a>
            </div>
        </div>
    </section>

    <section class="p-t50-b-10">
        <div class="container">
            <div class="col-md-4">
                <h3>{% if dc.textBlocks.block_title_1 is defined %}{{ dc.textBlocks.block_title_1 }}{% endif %}</h3>
                <p>{% if dc.textBlocks.block_body_1 is defined %}{{ dc.textBlocks.block_body_1 }}{% endif %}</p>
            </div>
            <div class="col-md-4">
                <h3>{% if dc.textBlocks.block_title_2 is defined %}{{ dc.textBlocks.block_title_2 }}{% endif %}</h3>
                <p>{% if dc.textBlocks.block_body_3 is defined %}{{ dc.textBlocks.block_body_2 }}{% endif %}</p>
            </div>
            <div class="col-md-4">
                <h3>{% if dc.textBlocks.block_title_3 is defined %}{{ dc.textBlocks.block_title_3 }}{% endif %}</h3>
                <p>{% if dc.textBlocks.block_body_3 is defined %}{{ dc.textBlocks.block_body_3 }}{% endif %}</p>
            </div>
        </div>
    </section>

    <section class="news-slider m-t40-b-40">
        <div class="container clearfix">
            <div class="col-xs-12">
            <div class="slider-all-wrap">
                    {% for s,share in shares %}
                    {% if s < 2 %}
                    
                    {% endif %}
                    {% endfor %}
                    
                    <div class="action-block">
                        <div class="action-block-inside">
                            <div class="action-thumb">
                                <img src="/front_assets/images/action-block-img-1.jpg" alt="">
                            </div>
                            <div class="extra-wrap">
                                <div class="action-date-range">15 сентября 2014 &mdash; 15 декабря 2014</div>
                                <h2>АВТОВАЗ выпустил 200-тысячный автомобиль на платформе В0</h2>
                                <div class="text-wrap">
                                    Когда все автомобили похожи один на другой... Когда глаз тоскует по ори­гинальному стилю... Когда приходит понимание, что <a href="#">доступ- ная и практичная машина</a> может быть по-настоящему красивой... Когда хочется нового... Наступает время лифтбека LADA Granta!
                                </div>
                                <div class="action-footer">
                                    <a href="#" class="btn btn-type3 pull-left">Получить купон</a>
                                    <div class="action-soc-block pull-right">
                                        <a href="#" class="action-share"></a>
                                        <a href="#" class="action-like">123</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-block">
                        <div class="action-block-inside">
                            <div class="action-thumb">
                                <img src="/front_assets/images/action-block-img-2.jpg" alt="">
                            </div>
                            <div class="extra-wrap">
                                <div class="action-date-range">15 сентября 2014 &mdash; 15 декабря 2014</div>
                                <h2>АВТОВАЗ выпустил 200-тысячный автомобиль на платформе В0</h2>
                                <div class="text-wrap">
                                    Когда все автомобили похожи один на другой... Когда глаз тоскует по ори­гинальному стилю... Когда приходит понимание, что <a href="#">доступ- ная и практичная машина</a> может быть по-настоящему красивой... Когда хочется нового... Наступает время лифтбека LADA Granta!
                                </div>
                                <div class="action-footer">
                                    <a href="#" class="btn btn-type3 pull-left">Получить купон</a>
                                    <div class="action-soc-block pull-right">
                                        <a href="#" class="action-share"></a>
                                        <a href="#" class="action-like">123</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>
    {% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
    <section class="m-b40">
        <div class="container">
            <h3>Автомобили в продаже</h3>
            <p>Чтобы посмотреть комплектации в наличии и заказать автомобиль — выберите тип кузова под автомобилем.</p>
            <div class="auto-block clearfix">
                {% for i,car in dc.cars %}
                <div class="col-20 pull-left">
                    <img src="/front_assets/img/menu-car-{{carsimgs[i-1]}}.png" alt="" class="margin-center img-responsive"/>
                    <div class="m-t20-b-20 text-center">{{cars[i]}}</div>
                    <div class="buttons-wrap">
                        {% for t,types in car %}
                        <a data-car="{{i}}" data-type="{{t}}" class="btn cattype" href="#">{{t}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p>Не нашли нужной комплектации? <a href="#">Оформите заявку дилеру</a></p>
        </div>
    </section>

    <section id="request-car" class="p-t10-b-50">
    </section>

    <section>
        <div class="container">
            <div class="services-wrap">
                {% if 'testdrive' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/buy/testdrive?dc={{dcid}}" class="type">Тест-драйв</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Выгодная цена при сдаче автомобиля</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>

                            <a class="btn btn-type1" href="/buy/testdrive?dc={{dcid}}">Запись на тест-драйв</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'autocredit' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/buy/credit" class="type">Автокредит</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                            </ul>

                            <a class="btn btn-type1" href="/buy/credit">Заявка на кредит</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'save' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/owners/insurance?dc={{dcid}}" class="type">Страхование</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>

                            <a class="btn btn-type1" href="/owners/insurance?dc={{dcid}}">Заявка на страховку</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'tradein' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/owners/tradeinquery?dc={{dcid}}" class="type">Trade -in</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>

                            <a class="btn btn-type1" href="/owners/tradeinquery?dc={{dcid}}">Заявка на обмен</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'corpprod' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/buy/corporate?dc={{dcid}}" class="type">Корпоративные продажи</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Выгодная цена при сдаче автомобиля</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'autoservice' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/owners/service?dc={{dcid}}" class="type">Автосервис</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Выгодная цена при сдаче автомобиля</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>

                            <a class="btn btn-type1" href="/owners/service?dc={{dcid}}">Заявка на сервис</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'autoparts' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="/owners/catalog?dc={{dcid}}" class="type">Автозапчасти</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Выгодная цена при сдаче автомобиля</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>
                            {% if dc.pricelist != '' %}
                            <a class="btn btn-type1" href="/diller_pricelist/{{ dc.pricelist }}">Прайс-лист</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if 'usedauto' in dc.services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item">
                        <div class="type-wrap">
                            <a href="#" class="type">Авто с пробегом и комиссия</a>
                        </div>
                        <img src="/front_assets/images/granta-3.png" alt="" class="margin-center img-responsive">
                        <div class="block">
                            <ul>
                                <li>Проверка комиссионных автомобилей</li>
                                <li>Выгодная цена при сдаче автомобиля</li>
                                <li>Покупка автомобилей с пробегом в кредит</li>
                            </ul>

                            <a class="btn btn-type1" href="#">Заявка на обмен</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>

{% endblock %}