{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('#field-type').on('change',function(){
                var val = $(this).val();
                if ( val == 'select' || val == 'radio' ){
                  $('.option-form').removeClass('hidden');
                }
                else{
                  $('.option-form').addClass('hidden');
                }
              })

              $('.add-mini.e-add').on('click',function(){
                    var option = $('<input/>').addClass('option left col-sm-2 form-control');
                    var rm = $('<span/>').addClass('close-mini right p-remove').bind('click',function(){
                        $(this).prev().remove();
                        $(this).remove();
                    })
                    option.insertBefore($('.e-add'));
                    rm.insertBefore($('.e-add'));
              })
              $('.p-remove').on('click',function(){
                        $(this).prev().remove();
                        $(this).remove();
              })
                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = '{{field.id}}';
                data['name'] = $('#field-name').val();
                data['alias'] = $('#field-alias').val();
                data['type'] = $('#field-type').val();
                data['required'] = $('#field-required').val();
                data['personal'] = $('#field-personal').val();


                var c = checkTrim(data);

                if( data['type'] == 'select' || data['type'] == 'radio' ){
                  var ee = 0;
                  data['options'] = {};
                  var opts = $('.option');
                  $.each(opts,function(k,v){
                    console.log($(this).val())
                    var field = $.trim($(this).val());
                    if( field != '' ){
                      data['options'][k] = field;
                      ee++;
                    }
                  })
                }
                else{
                  data['options'] = null;
                }
                if ( Object.keys(c).length > 0 || ee == 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#field-'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }

                data['num'] = $('#num').is(':checked');
                data['alpha'] = $('#alpha').is(':checked');
                data['numAlpha'] = $('#numAlpha').is(':checked');
                data['email'] = $('#email').is(':checked');
                data['phone'] = $('#phone').is(':checked');
                console.log(data)
                $.ajax({
                      url: '{{ path('admin_formsfields_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                      
              }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Color:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Добавление поля формы</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-5"><input id="field-name" class="form-control" type="text" value="{{field.name}}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ключ</label>
                <div class="col-sm-5"><input id="field-alias" class="form-control" type="text" value="{{field.alias}}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Тип</label>
                <select id="field-type" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="input" {% if field.type == 'input' %}selected{% endif %}>Обычное поле (input)</option>
                <option value="textarea" {% if field.type == 'textarea' %}selected{% endif %}>Текстовое поле (textarea)</option>
                <option value="select" {% if field.type == 'select' %}selected{% endif %}>Выбор (select)</option>
                <option value="checkbox" {% if field.type == 'checkbox' %}selected{% endif %}>Одиночный Вкл / Выкл (checkbox)</option>
                <option value="radio" {% if field.type == 'radio' %}selected{% endif %}>Выбор (radio)</option>
                <option value="calendar" {% if field.type == 'calendar' %}selected{% endif %}>Календарь (calendar)</option>
                <option value="calendar-time" {% if field.type == 'calendar-time' %}selected{% endif %}>Календарь+Время суток (calendar-time)</option>
                </select>
            </div>
            <div class="form-group option-form{% if field.type != 'select' %} hidden{% endif %}">
                <label class="col-sm-3 control-label">Варианты</label>
                <div class="col-sm-5">
                {% for option in field.options %}
                  <input type="text" id="option" value="{{option}}" class="form-control option"/>
                  {% if loop.index > 1 %}<span class="close-mini right p-remove"></span>{% endif %}
                {% endfor %}
                <div class="add-mini left e-add"></div></div>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">Обязательное</label>
                <select id="field-required" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1" {% if field.required == 1 %}selected{% endif %}>Да</option>
                <option value="0" {% if field.required == 0 %}selected{% endif %}>Нет</option>
                </select>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">Личная информация</label>
                <select id="field-personal" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1" {% if field.personal == 1 %}selected{% endif %}>Да</option>
                <option value="0" {% if field.personal == 0 %}selected{% endif %}>Нет</option>
                </select>
            </div>
            <div class="form-group">
            <label class="col-sm-3 control-label">Проверка</label>
              <div class="col-sm-5">
                <div class="checkbox" >
                  <label>
                    <span class="left">Только цифры</span>
                  </label>
                  <input class="right" type="checkbox" value="" {% if field.num == 1 %}checked{% endif %}/>
                </div>
                <div class="checkbox" >
                  <label>
                    <span class="left">Только буквы</span>
                  </label>
                  <input class="right" type="checkbox" value="" {% if field.alpha == 1 %}checked{% endif %}/>
                </div>
                <div class="checkbox" >
                  <label>
                    <span class="left">Только цифры и буквы</span>
                  </label>
                  <input class="right" type="checkbox" value="" {% if field.numAlpha == 1 %}checked{% endif %}/>
                </div>
                <div class="checkbox" >
                  <label>
                    <span class="left">Проверка на email</span>
                  </label>
                  <input class="right" type="checkbox" value="" {% if field.email == 1 %}checked{% endif %}/>
                </div>
                <div class="checkbox" >
                  <label>
                    <span class="left">Проверка на номер телефона</span>
                  </label>
                  <input class="right" type="checkbox" value="" {% if field.phone == 1 %}checked{% endif %}/>
                </div>
              </div>
            </div>

          </form>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/forms-all" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
