{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
        enableReMove()
    });

function enableReMove(){
      $(".table tr").draggable({
          appendTo:".trash",
          helper:"clone",
          opacity: "0.5",
          cursor: "move",
          handle: ".drag-drop-button"
      });
      $(".table tr").droppable({
          hoverClass:"custom-drop-opacity",
          drop:function (event, ui) {
           
            row = ui.draggable;

                $(row).insertAfter($(event.target).next());
                $(event.target).next().insertAfter($(row));

                var data = {};
                var fields = $('.fields-all .field');
                $.each(fields,function(k,v){
                    data[$(this).attr('data-id')] = k;
                })
                      $.ajax({
                        url: '/ajax/admin/forms-all/pos',
                        data: data,
                        dataType : 'json',
                        type: 'post',
                        success: function (data, textStatus) {

                        },
                        error: function(e){
                            console.log(e.message);
                        }
                    });
                  
                $(row).blink(400, 2);


          }

      });
    }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_formsfields_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table no-m fields-all" data-sortable>
                <thead>
                    <tr>
                        <th></th><th>название</th>
                        <th>персональная информация</th>
                        <th>тип</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in fields %}
                    <tr data-id="{{field.id}}" class="field" data-region="{{field.id}}">
                        <td><div class="drag-point drag-drop-button"></div></td>
                        <td>{{ field.name }}</td>
                        <td>
                            {% if field.personal == 1 %}<span class="text-success">Да</span>{% endif %}
                            {% if field.personal == 0 %}<span class="text-warning">Нет</span>{% endif %}
                        </td>
                        <td>
                            {% if field.type == 'input' %}<span class="text-info">Обычное поле (input) </span>{% endif %}
                            {% if field.type == 'textarea' %}<span class="text-info">Текстовое поле (textarea)</span>{% endif %}
                            {% if field.type == 'select' %}<span class="text-info">Выбор (select) </span>{% endif %}
                            {% if field.type == 'checkbox' %}<span class="text-info">Список (checkbox) </span>{% endif %}
                            {% if field.type == 'radio' %}<span class="text-info">Выбор (radio) </span>{% endif %}
                            {% if field.type == 'calendar' %}<span class="text-info">Календарь (calendar) </span>{% endif %}
                            {% if field.type == 'calendar-time' %}<span class="text-info">Календарь + Время суток(calendar-time) </span>{% endif %}

                        </td>
                        <td>
                            <a title="редактировать" href="{{ path('admin_formsfields_edit', { id: field.id }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_formsfields_delete', { id: field.id }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="trash hidden">
    </div>
</section>
{% endblock %}
