{% extends "::admin.html.twig" %}

{% block title %}Изменить кузов{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменить кузов</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.nameAdmin) }}</label>
                <div class="col-sm-10">{{ form_widget(form.nameAdmin) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.banner) }}</label>
                <div class="col-sm-10">{{ form_widget(form.banner) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.carId) }}</label>
                <div class="col-sm-10">{{ form_widget(form.carId) }}</div>
            </div>
            <div class="centered-heading-1">Цвета</div>
            {% for color in colors %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="color[{{ color.id }}]" value="1"{% if colors_data_assigned[color.id] is defined %} checked{% endif %} /> <span class="color-preview" style="background: {{ color.code }};"></span> {{ color.name }}
                        </label>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
