{% extends "::admin.html.twig" %}

{% block title %}Кузова для автомобилей{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_auto_body_types_add', { autoid: autoid }) }}" class="btn btn-primary btn-sm">Добавить</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Кузова для автомобилей
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th>Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for body in bodies %}
                                    <tr>
                                        <td>{{ body.id }}</td>
                                        <td>{{ body.nameAdmin }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_auto_body_types_edit', { autoid: autoid, id: body.id }) }}" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_auto_body_types_delete', { autoid: autoid, id: body.id }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                            <a title="Модели" href="{{ path('admin_models_view', { bodyid: body.id, type: 'model' }) }}" class="btn btn-success">Модели</a>
                                            <a title="Верхний слайдер" href="{{ path('admin_cars_slider', { id: body.id, slider: 1 }) }}" class="btn btn-success">Верхний слайдер</a>
                                            <a title="Нижний слайдер" href="{{ path('admin_cars_slider', { id: body.id, slider: 2 }) }}" class="btn btn-success">Нижний слайдер</a>
                                            <a title="Горизонтальные блоки" href="{{ path('admin_cars_blocks', { id: body.id, block_type: 1 }) }}" class="btn btn-success">Горизонтальные блоки</a>
                                            <a title="Вертикальные блоки" href="{{ path('admin_cars_blocks', { id: body.id, block_type: 2 }) }}" class="btn btn-success">Вертикальные блоки</a>
                                            <a title="Конкуренты" href="{{ path('admin_competitors_view', { bodyid: body.id }) }}" class="btn btn-success">Конкуренты</a>
                                            <a title="Галерея" href="{{ path('admin_auto_gallery_index', { bodyid: body.id }) }}" class="btn btn-success">Галерея</a>
                                            <a title="Документы" href="{{ path('admin_documents', { bodyid: body.id }) }}" class="btn btn-success">Документы</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
