{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

              $('#fix-switcher').on('click',function(){
                var el = $(this);
                var txs = $(this).parents('.block-tax').find('.thistax');
                $.each(txs,function(){
                  if( el.is(':checked')){
                    $(this).find('#period').attr({'placeholder':''});
                    $(this).find('#periodRange').parent().addClass('hidden');
                  }
                  else{
                    $(this).find('#period').attr({'placeholder':'min'});
                    $(this).find('#periodRange').parent().removeClass('hidden');
                  }
                })
              })

              $('.c-add').on('click',function(){
                var clone = $('.block-tax.first').clone();
                clone.removeClass('first');
                clone.find('input').val('');
                clone.find('.c-remove').removeClass('hidden');

                var bs = $('.block-tax');
                bs = bs.length-1;
                var n = bs + 2;
                var ni = bs+1;
                clone.attr({'id':'conditions-'+ni})
                clone.find('.title').html('вариант #'+n);
                clone.find('.c-remove').bind('click',function(){
                  $(this).parent().remove();
                  var blks = $('.block-tax');
                  $.each(blks,function(k,v){
                    var ki = k+1;
                    $(this).attr({'id':'conditions-'+k}).find('.title').html('вариант #'+ki)
                  })
                })
                clone.insertAfter($('#conditions-'+bs));
                var f = bs +1;
                $('#conditions-'+f).find('.add-tax').bind('click',function(){
                    console.log('fff');
                    var clone = $(this).parents('.block-tax').find('.thistax.first').clone();
                    clone.removeClass('first');
                    clone.find('input').val('');
                    clone.find('.remove-tax').removeClass('hidden');
                    var tbs = $(this).parents('.block-tax').find('.thistax');
                    tbs = tbs.length - 1;
                    var i = tbs + 1;
                    clone.attr({'id':'taxes-'+i});
                    clone.find('.remove-tax').bind('click',function(){
                      $(this).parents('.thistax').remove();
                      var blks = $(this).parents('.block-tax').find('.thistax');
                      $.each(blks,function(k,v){
                        $(this).attr({'id':'taxes-'+k});
                      })
                    })
                    clone.insertAfter($(this).parents('.block-tax').find('#taxes-'+tbs));
                    })

                    clone.find('#fix-switcher').bind('click',function(){
                      var el = $(this);
                      var txs = $(this).parents('.block-tax').find('.thistax');
                      $.each(txs,function(){
                        if( el.is(':checked')){
                          $(this).find('#period').attr({'placeholder':''});
                          $(this).find('#periodRange').parent().addClass('hidden');
                        }
                        else{
                          $(this).find('#period').attr({'placeholder':'min'});
                          $(this).find('#periodRange').parent().removeClass('hidden');
                        }
                      })
                    })
              })

              $('.remove-tax').bind('click',function(){
                  $(this).parents('.thistax').remove();
                  var blks = $(this).parents('.block-tax').find('.thistax');
                  $.each(blks,function(k,v){
                    $(this).attr({'id':'taxes-'+k});
                  })
                })

              $('.add-tax').on('click',function(){
                var clone = $(this).parents('.block-tax').find('.thistax.first').clone();
                clone.removeClass('first');
                clone.find('input').val('');
                clone.find('.remove-tax').removeClass('hidden');
                var tbs = $(this).parents('.block-tax').find('.thistax');
                tbs = tbs.length - 1;
                var i = tbs + 1;
                clone.attr({'id':'taxes-'+i});
                clone.find('.remove-tax').bind('click',function(){
                  $(this).parent().remove();
                  var blks = $(this).parents('.block-tax').find('.thistax');
                  $.each(blks,function(k,v){
                    $(this).attr({'id':'taxes-'+k});
                  })
                })
                clone.insertAfter($(this).parents('.block-tax').find('#taxes-'+tbs));

              })

              $('.c-remove').bind('click',function(){
                $(this).parent().remove();
                var blks = $('.block-tax');
                $.each(blks,function(k,v){
                  var ki = k+1;
                  $(this).attr({'id':'conditions-'+k}).find('.title').html('вариант #'+ki)
                })
              })

              $('#save').on('click',function(){
                saveData();
              })
              $('.status').on('click',function(){
                $('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('#all-cars').on('change',function(){
                var check = $(this).is(':checked');
                $('.cars').prop('checked',check);
              })
});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = '{{offer.id}}';
                data['bank'] = $('#bank').val();
                data['nameCredit'] = $('#nameCredit').val();
                data['typeCredit'] = $('#typeCredit').val();
                data['insurance'] = $('#insurance').val();
                data['documents'] = $('#documents').val();
                data['requirements'] = $('#requirements').val();

                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                    data['active'] = $('.status.active').attr('data-code');
                    data['cars'] = {};
                    var cs = $('input.cars');
                    $.each(cs,function(k,v){ 
                    if( $(this).is(':checked') == true ) { 
                        var car = $(this).attr('data-car');
                        var type = $(this).attr('data-cartype');
                        if (data['cars'][car] == undefined ){ data['cars'][car] = {};}
                        data['cars'][car][type] = true;                       
                    } })  
                    var tax = {};
                    var taxes = $('.block-tax');

                    $.each(taxes,function(k,v){
                      var trigger = $(this).find('#fix-switcher').is(':checked');
                      var taxfix = 0;
                      if( trigger == true ){ taxfix = 1; }
                      var taxValues = $(this).find('.thistax');
                      var ttax = {};
                      $.each(taxValues,function(i,j){
                        ttax[i] = {};
                        ttax[i]['tvalue'] = $(this).find('#tax').val();
                        ttax[i]['perMin'] = $(this).find('#period').val();
                        ttax[i]['perMax'] = $(this).find('#periodRange').val();
                        if( trigger == true ){
                          ttax[i]['perMax'] = ttax[i]['perMin'];
                        }
                      })
                      taxBank = {};
                      taxBank['min'] = $(this).find('#taxFictionMin').val();
                      taxBank['max'] = $(this).find('#taxFictionMax').val();

                      var commision = $(this).find('#commision').val();
                      var firstPay = {};
                      firstPay['min'] = $(this).find('#firstPayMin').val();
                      firstPay['max'] = $(this).find('#firstPayMax').val();
                      
                      

                      if( firstPay != undefined && $.trim(firstPay) != '' ){
                          tax[k] = {};
                          tax[k]['values'] = ttax;
                          tax[k]['firstpay'] = firstPay;
                          tax[k]['commision'] = commision;
                          tax[k]['taxfiction'] = taxBank;
                          tax[k]['taxfix'] = taxfix;
                      }
                    })    
                    data['tax'] = tax;
                  $.ajax({
                      url: '{{ path('ajax_creditoffers_edit') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование кредитного предложения</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация предложения</td></tr>
        <tr><th><span class="left">Название Банка</span></th><td><span class="left col-sm-12 form-group"><span class="left custom-input-3">
        <input id="bank" type="text" class="form-control" value="{{offer.bank}}" />
        </span></span></td></tr>
        <tr><th><span class="left">Название программы </span></th><td><span class="left col-sm-12 form-group"><span class="left custom-input-3">
        <input id="nameCredit" type="text" value="{{offer.nameCredit}}" class="form-control" value="" />
        </span></span></td></tr>
        <tr><th><span class="left">Тип программы </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input id="typeCredit" class="form-control" type="text" value="{{offer.typeCredit}}" />
        </span></span></td></tr>
        <tr><th><span class="left">Активность программы</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn {% if offer.active == 1 %}btn-primary active{% else %}default{% endif %} status">Активно</button>
                  <button data-code="0" type="button" class="btn {% if offer.active == 0 %}btn-primary active{% else %}default{% endif %} status">Скрыто</button>
                </div>
        </span></td></tr>
        <tr><th><span class="left">Страховой полис </span></th><td><span class="left col-sm-12 form-group"><span class="left">
        <input id="insurance" class="form-control" type="text" value="{{offer.insurance}}" />
        </span></span></td></tr>

        <tr class="label-default"><td colspan=2>Ставки банка</td></tr>

        <tr><td colspan=2>
        {% for b,block in offer.tax %}
        <span id="conditions-{{b}}" class="left col-sm-12 form-group block-tax{% if b == 0 %} first{% endif %}">
          <span class="title text-primary">вариант #{{b+1}}</span><span class="close-mini right c-remove {% if b == 0 %}hidden{% endif %}"></span>
          <table class="table table-bordered table-striped">
          <tr>
            <th>Первый взнос</th>
            <th>Ставка банка</th>
            <th>Комиссия</th>
            <th>Ставка Lada Finance и срок платежа (месяцы)</th>
          </tr>
          <tr>
          <td style="width:100px;">
            <span class="left custom-input-1">
              <div class="percent-icon"></div><input type="text" placeholder="min" style="position: relative; top: -30px;" class="form-control" id="firstPayMin" value="{{block.firstpay.min}}" />
              </span><span class="left custom-input-1">
              <div class="percent-icon"></div><input type="text" placeholder="max" style="position: relative; top: -30px;" class="form-control" id="firstPayMax" value="{{block.firstpay.max}}" />
            </span>
          </td>

          <td style="width:100px;">
              <span class="left custom-input-1">
                <div class="percent-icon"></div><input type="text" placeholder="min" style="position: relative; top: -30px;" class="form-control" id="taxFictionMin" value="{{block.taxfiction.min}}" />
              </span>
              <span class="left custom-input-1">
                <div class="percent-icon"></div><input type="text" placeholder="max" style="position: relative; top: -30px;"class="form-control" id="taxFictionMax" value="{{block.taxfiction.max}}" />
              </span>
          </td>
          <td style="width:100px;">
              <span class="left custom-input-1">
                <div class="percent-icon"></div><input type="text" style="position: relative; top: -30px;" class="form-control" id="commision" value="{{block.commision}}" />
              </span>
          </td>
          <td>  
          <span class="right">
            <span class="input-group-addon">
            <span class="text-primary">фиксированные сроки</span>  
              <input id="fix-switcher" type="checkbox" {% if block.taxfix == 1 %}checked{% endif %}>
            </span>
          </span>
          {% for t,tax in block.values %}
              <span class="thistax {% if t == 0 %}first {% endif %}col-sm-10" id="taxes-{{t}}">
                <span class="left custom-input-1">
                  <div class="percent-icon"></div><input type="text" style="position: relative; top: -30px;"class="form-control" id="tax" value="{{tax.tvalue}}" />
                </span>        
                 <span style="margin-left: 20px;" class="left custom-input-1">
                  <div class="monthly-icon"></div><input style="position: relative; top: -30px;" type="text" class="form-control" id="period" value="{{tax.perMin}}" placeholder="{% if block.taxfix == 0 %}min{% endif %}"/>
                </span>
                <span style="margin-left: 20px;" class="left custom-input-1{% if block.taxfix == 1 %} hidden{% endif %}">
                  <div class="monthly-icon"></div><input style="position: relative; top: -30px;" type="text" class="form-control" id="periodRange" value="{{tax.perMax}}" placeholder="max"/>
                </span>
                <button class="btn btn-danger {% if t == 0 %}hidden {% endif %}remove-tax"><i class="glyphicon glyphicon-minus"></i></button>
              </span>
          {% endfor %}
              <button class="btn btn-primary add-tax right">добавить ставку</button>
          </td>
          </tr>
          </table>
        </span>
        {% endfor  %}
        <div class="add-mini right c-add"></div>
                </td></tr>

         <tr class="label-default"><td colspan=2>Другая информация</td></tr>
        <tr><th><span class="left">Необходимые документы </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="documents" rows=3 class="form-control">{{offer.documents}}</textarea>
        </span></td></tr>
        <tr><th><span class="left">Условия банка</span></th><td><span class="left col-sm-12 form-group">
        <textarea id="requirements" rows=3 class="form-control">{{offer.requirements}}</textarea>
        </span></td></tr>

         <tr class="label-default"><td colspan=2>Предложение доступно для следующих авто</td></tr>
        <tr><th><span class="left">Авто с минимальной комплектацией </span></th><td><span class="left col-sm-12 form-group">
              <div class="checkbox">
                <label>
                {% set all = 'checked' %}
                
                {% for i,car in cars %}
                {% if car.details is defined and car.details|length > 0 %}
                    {% for k,type in car.details %}
                      {% if offer.auto[i][k] is not defined %}
                        {% set all = '' %}
                      {% endif %}
                    {% endfor %}
                    {% endif %}
                {% endfor %}
                
                  <input type="checkbox" id="all-cars" {{all}}/><span class="left"><b>Все</b></span>
                </label>
              </div>

            {% for i,car in cars %}
                {% if car.details is defined and car.details|length > 0 %}
                {% for k,type in car.details %}
                {% set thiscar = '' %}
                {% if offer.auto[i][k] is defined and offer.auto[i][k] == true %}
                {% set thiscar = 'checked' %}
                {% endif %}
                  <div class="checkbox">
                    <label>
                      <input class="cars" data-car="{{i}}" data-cartype="{{k}}" type="checkbox" value=""/ {{thiscar}}><span class="left">{{car.name}} {{k}}</span>
                    </label>
                  </div>
                {% endfor %}
                {% endif %}
            {% endfor %}
        </span></td></tr>
        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/content-creditoffers" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}