{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

                $('#filter-region').on('change',function(){
                    var region = $(this).val();
                    if ( region == 'all' ){
                        $('tr.dealer-centre').show();
                    }
                    else{
                        $('tr.dealer-centre').hide();
                        $('tr.dealer-centre[data-region='+region+']').show();
                    }
                })
            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_creditoffers_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>банк</th>
                        <th>программа</th>
                        <th>тип программы</th>
                        <th>статус</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offer in offers %}
                    <tr class="dealer-centre" data-region="{{offer.id}}">
                        <td>{{ offer['bank'] }}</td>
                        <td>{{ offer['nameCredit'] }}</td>
                        <td>{{ offer['typeCredit'] }}</td>
                        <td>
                        {% if offer['active'] == 1 %}<span class="text-success">Активная</span>{% endif %}
                        {% if offer['active'] == 0 %}<span class="text-warning">Скрытая</span>{% endif %}
                        </td>
                        <td>
                            <a  href="{{ path('admin_creditoffers_view', { id: offer['id'] }) }}" title="просмотр" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="{{ path('admin_creditoffers_edit', { id: offer['id'] }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_creditoffers_delete', { id: offer['id'] }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
