{% extends "::admin.html.twig" %}

{% block title %}Изменить отзыв{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменение отзыва</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.description) }}</label>
                <div class="col-sm-10">{{ form_widget(form.description) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.authorName) }}</label>
                <div class="col-sm-10">{{ form_widget(form.authorName) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.authorStatus) }}</label>
                <div class="col-sm-10">{{ form_widget(form.authorStatus) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.isActive) }}</label>
                <div class="col-sm-10">{{ form_widget(form.isActive) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.inHome) }}</label>
                <div class="col-sm-10">{{ form_widget(form.inHome) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Кузова</label>
                <div class="col-sm-10">
                    {% for k, model in cars_data %}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label><input type="checkbox" {% if ass_reviews[k] is defined %}checked{% endif %} name="car[{{ k }}]" />{{ model }}</label>
                                </div>
                            </div>
                        </div>   
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
