    <section class="p-t10-b-50">
        <div class="container">

            <div class="col-sm-6">
            <div class="sidebar bluepad">

                <div class="block">                
                    <h3>КАСКО</h3>
                    <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                    <div class="text-center">                    
                        <a class="btn btn-type3 search-but" id="kasko" href="#">ЗАПИСАТЬСЯ</a>
                    </div>

                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="sidebar bluepad">
                <div class="block">                
                    <h3>ОСАГО</h3>
                    <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                    <div class="text-center">                    
                        <a class="btn btn-type3 search-but" id="osago" href="#">ЗАПИСАТЬСЯ</a>
                    </div>

                </div>
            </div>
            </div>

            
            <div class="col-sm-6">
            <div class="sidebar bluepad">

                <div class="block">                
                    <h3>ДОСАГО</h3>
                    <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                    <div class="text-center">                    
                        <a class="btn btn-type3 search-but" id="dosago" href="#">ЗАПИСАТЬСЯ</a>
                    </div>

                </div>
            </div>
            </div>
                        
            <div class="col-sm-6">
            <div class="sidebar bluepad">
                <div class="block">                
                    <h3>ЗЕЛЕНАЯ КАРТА</h3>
                    <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                    <div class="text-center">                    
                        <a class="btn btn-type3 search-but" id="greencard" href="#">ЗАПИСАТЬСЯ</a>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </section>

    <section class="p-t10-b-50 insurance">
        <div data-type="insurance" class="container guest-info">
            <h3>Заявка на страхование</h3>
            <form action="#" class="clearfix form-insurance">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix inputs">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-insurance'})) }}
                </div>

                <div class="col-sm-6 col-lg-5 clearfix comment">
                    {{ render(controller('SiteFrontendBundle:Home:getRightForm',{'alias':'form-insurance'})) }}
                </div>

				<div class="custom-checkbox col-tn-12 agree">
					<span>
						<input id="rules-agree" type="checkbox">
					</span>
					<label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
				</div>
            </form>
            <p class="col-sm-12 col-lg-11"> <a href="/owners/insurance/1" class="flright fsz16">Возникли вопросы?</a></p>
        </div>
        {#{% set info = render(controller('SiteFrontendBundle:Home:getFieldsAttributes',{'type':'insurance'})) %}
        {{dump(info)}}#}
    </section>
    <script type="text/javascript">
		$('.insurance').hide();
		$('.custom-radio input[type="radio"]').styler({wrapper: '.tab-pane'});
		$('.jq-radio').click(function() {$('.jq-radio.checked').not(this).removeClass('checked');});
		$('#osago, #kasko, #dosago, #greencard').click(function(e) {
			e.preventDefault();
			$('.insurance').slideDown(300);
			$('html, body').animate({scrollTop: ($('.insurance').offset().top)}, 300);
			var elems = {
				'osago' : 0,
				'kasko' : 1,
				'dosago' : 2,
				'greencard' :3
			};
			$('.custom-radio p').find('.checked').removeClass('checked').end().eq(elems[this.id]).find('.jq-radio').addClass('checked');
			$('.inputs .material-input:eq(0) input').get(0).focus();
		});

        $(document).ready(function(){
            $('.sendinfo').on('click',function(){
                getFeilds('insurance');
            })

        })
	</script>