    <section class="p-t10-b-50">
        <div class="container">

            <div class="blocks-3-wrap">
                <div class="col-sm-4">
                    <div class="serv">
                        <img src="/front_assets/img/img_serv1.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <h3>Гарантийное обслуживание</h3>
                            <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                            <div class="bottom_button">
								<div class="text-center">
									<a class="btn btn-type3 search-but smooth_scroll" href="#">ЗАПИСАТЬСЯ</a>
								</div>
							</div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="serv">
                        <img src="/front_assets/img/img_serv2.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <h3>Техническое обслуживание</h3>
                            <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                            <div class="text-center bottom_button">
                                <a class="btn btn-type3 search-but smooth_scroll" href="#">ЗАПИСАТЬСЯ</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="serv">
                        <img src="/front_assets/img/img_serv3.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <h3>Ремонтные <br>работы</h3>
                            <p>Плановое, техническое обслуживание автомобилей (ТО) - это перечень контрольных, профилактических, диагностических и регулировочных работы, необходимых для поддержания автомобиля в соответствии с требованиями безопасности, надежности и долговечности.</p>
                            <div class="text-center bottom_button">
                                <a class="btn btn-type3 search-but smooth_scroll" href="#">ЗАПИСАТЬСЯ</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="p-t10-b-50 service_form">
        <div class="container guest-info">
            <h3>Заявка на гарантийное обслуживание</h3>
            <form action="#" class="clearfix form-service">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-service'})) }}
                </div>

                <div class="col-sm-6 col-lg-5 clearfix">

                    {{ render(controller('SiteFrontendBundle:Home:getRightForm',{'alias':'form-service'})) }}
                </div>
                 <div class="custom-checkbox col-tn-12 clear110left">
					<span>
						<input id="rules-agree" type="checkbox">
					</span>
					<label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
				</div>
            </form>
            <p class="col-sm-12 col-lg-11"> <a href="/owners/service/1"  class="flright">Возникли вопросы?</a></p>
        </div>
</section>
<script>
$(document).ready(function(){
    $('.sendinfo').on('click',function(){
        getFeilds('service');
    })

})


$('.service_form').hide();
$('.smooth_scroll').click(function(e) {
	e.preventDefault();
	$('.service_form').slideDown(300);
    var name = $(this).parents('.block').find('h3').html();
    name = name.replace('<br>','');
    $('.service_form').find('h3').html('Заявка на '+name.toLowerCase());
    $('.service_form').attr('data-type',name.toLowerCase());
	$('html, body').animate({scrollTop: ($('.service_form').offset().top)}, 300);
	$('.service_form form > .col-lg-5:eq(1) input:eq(0)').get(0).focus();
});
</script>