    <section class="grad1">
        <div class="container">
            <div class="col-xs-4 vcenter">
                <img src="/front_assets/img/_old-new.jpg" alt="" class="img-responsive"/>
            </div><!--

            --><div class="col-xs-8 col-md-7 col-md-offset-1 col-lg-6 col-lg-offset-1 vcenter">
                <p>Trade-In - это система включения стоимости подержанного автомобиля, в счет стоимости нового (как за наличный расчет, так и в кредит). Вы сможете уехать на новом автомобиле в день обращения. Данная услуга поможет Вам быстро и с комфортом обменять свой автомобиль на любой представленный автосалоном "Иж-Лада" и тем самым избавить Вас от хлопот по самостоятельной продаже Вашего автомобиля, а значит сэкономить время.</p>
                <p>
                    <a href="/owners/tradein/1" class="questions">Возникли вопросы?</a>
                </p>
            </div>
        </div>
    </section>

    <section class="p-t40-b-80">
        <div class="text-center">
            <a href="/owners/tradeinquery" class="btn btn-type1">Заявка на Trade-in</a>
        </div>
    </section>