
    <section class="p-t10-b-50">
        <div class="container">

            <div class="col-sm-7 col-md-6 col-lg-offset-1">
                <h3>Продажа LADA trade-in</h3>
                <p>Trade-In - это система включения стоимости подержанного автомобиля, в счет стоимости нового (как за наличный расчет, так и в кредит). Вы сможете уехать на новом автомобиле в день обращения. Данная услуга поможет Вам быстро и с комфортом обменять свой автомобиль на любой представленный автосалоном "Иж-Лада" и тем самым избавить Вас от хлопот по самостоятельной продаже Вашего автомобиля, а значит сэкономить время.</p>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-4 col-md-offset-1 sidebar">
                <h3>Что потребуется</h3>
                <ul>
                    <li>Паспорт</li>
                    <li>ПТС</li>
                </ul>
                <p>Автомобиль может быть сдан только собственникам ТС, при предъявлении паспорта, либо по доверенности, заверенной нотариусом, от собственника ТС.</p>
            </div>

        </div>
    </section>

    <section class="p-t10-b-50">
        <div class="container guest-info">
            <h2 class="col-xs-12">Заявка на продажу автомобиля через trade-in</h2>

            <form action="#" class="clearfix form-tradeinquery">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-tradeinquery'})) }}
                    <div class="custom-checkbox col-tn-12">
                        <span>
                            <input id="rules-agree" type="checkbox">
                        </span>
                        <label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getRightForm',{'alias':'form-tradeinquery'})) }}
                </div>
            </form>
        </div>
    </section>
    <script type="text/javascript">
        $('.insurance').hide();
        $('.custom-radio input[type="radio"]').styler({wrapper: '.tab-pane'});
        $('.jq-radio').click(function() {$('.jq-radio.checked').not(this).removeClass('checked');});
        $('#osago, #kasko, #dosago, #greencard').click(function(e) {
            e.preventDefault();
            $('.insurance').slideDown(300);
            $('html, body').animate({scrollTop: ($('.insurance').offset().top)}, 300);
            var elems = {
                'osago' : 0,
                'kasko' : 1,
                'dosago' : 2,
                'greencard' :3
            };
            $('.custom-radio p').find('.checked').removeClass('checked').end().eq(elems[this.id]).find('.jq-radio').addClass('checked');
            $('.inputs .material-input:eq(0) input').get(0).focus();
        });

        $(document).ready(function(){
            $('.sendinfo').on('click',function(){
                getFeilds('tradeinquery');
            })

        })
    </script>