    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
    {% if switchdc is defined %}
        switchdc = {{switchdc}};
    {% endif %}
    $(document).ready(function(){
    $('.questions').on('click',function(){
        if( $('#myModal2').hasClass('show') == false )
            $('#myModal2').addClass('show');
        else
            $('#myModal2').removeClass('show');
    })
    $('#myModal2 .close').on('click',function(){
        $('#myModal2').removeClass('show');
    })

    })
    </script>
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %}
    <section class="sub-menu">
        <div class="container">
            <a href="/owners/insurance" {% if active == 'insurance' %}class="active"{% endif %}>
                <span>Страхование</span>
            </a>
            <a href="/owners/service" {% if active == 'service' %}class="active"{% endif %}>
                <span>Обслуживание LADA</span>
            </a>
            <a href="/owners/tradein" {% if active == 'tradein' or active == 'tradeinquery' %}class="active"{% endif %}>
                <span>Продажа Trade-in</span>
            </a>
            <a href="/owners/catalog" {% if active == 'catalog' %}class="active"{% endif %}>
                <span>Каталог запасных частей</span>
            </a>
        </div>
    </section>
{{ render(controller('SiteFrontendBundle:Home:getInfoMessage',{'type':null})) }}
{{ render(controller('SiteFrontendBundle:Home:getPageSection',{})) }}



{{content|raw}}

{% if show_question == true %}
    {{ render(controller('SiteFrontendBundle:Home:getQuestionForm')) }}

    <script>
        $(function(){
            $('body').addClass('modal-open').trigger('modal-open');

            /**
             * Следим за состоянием модального окна.
             * Как только закрыто переходим на рабочую страницу.
             */
            if( $('.question').addClass('show') ){
                var quest_interval = window.setInterval(function(){
                    if( !$('.question').hasClass('show') ){
                        window.clearInterval(quest_interval);
                        window.location.href = '/owners/{{ active }}/0';
                    }
                }, 500);
            }
        });
    </script>
{% endif %}
{% endblock %}

