<section class="car-info p-t10-b-50 bottom-up" id="car-review">
        {% for block in blocks2 %}
        <div class="container">
            <div class="col-tn-12 col-sm-6 car-review-img">
                <div class="img-wrap">
                  <img src="/{{ block.image }}" alt="" class="img-responsive"/>
                </div>
            </div>
            <div class="col-tn-12 col-sm-6">
                <h4>{{ block.name }}</h4>
                <p>{{ block.descr }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="p-t10-b-50">
        <div class="container"> 
            <div class="blocks-3-wrap equalheightWrap">
                {% for block in blocks1 %}
                <div class="col-sm-6 col-md-4">
                    <div class="serv equalheight">
                        <img src="/{{ block.image }}"/>
                        <div class="block">
                            <h3>{{ block.name }}</h3>
                            <p>{{ block.descr }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="p-t40-b-80" id="car-docs">
        <div class="container">
            {% for document in documents %}
            <div class="col-tn-12 col-xs-4 text-center">
                <h4 class="-color_blue">{{ document.name }}</h4>
                <p class="-color_gray -small-margin">{{ document.filesize }}</p>
                <a href="/{{ document.file }}" class="btn btn-type1">Скачать</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="slider-car-details m-b40">
        <ul class="slider-main">
            {% for slide in slider2 %}
            <li>
                <img src="/{{ slide.image }}" alt="" class="margin-center img-responsive"/>
            </li>
            {% endfor %}
        </ul>
        <div class="control-prev-slide"><!----></div>
        <div class="control-next-slide"><!----></div>
    </section>
    <section class="block-gallery" id="car-gallery">
        <div class="container clearfix">
            <div class="column-gallery-wide">
                {% if gallery[0].type is defined %}
                    {% if gallery[0].type == 1 %}
                    <a href="/{{ gallery[0].file }}" data-options="thumbnail: '/{{ gallery[0].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[0].file }}')"></span>
                        <span class="text">{{ gallery[0].text }}</span>
                    </a>
                    {% elseif gallery[0].type == 2 %}
                    <a href="{{ gallery[0].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[0].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[0].file }}')"></span>
                        <span class="text">{{ gallery[0].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[1].type is defined %}
                    {% if gallery[1].type == 1 %}
                    <a href="/{{ gallery[1].file }}" data-options="thumbnail: '/{{ gallery[1].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[1].file }}')"></span>
                        <span class="text">{{ gallery[1].text }}</span>
                    </a>
                    {% elseif gallery[1].type == 2 %}
                    <a href="{{ gallery[1].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[1].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[1].file }}')"></span>
                        <span class="text">{{ gallery[1].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="column-gallery">
                {% if gallery[2].type is defined %}
                    {% if gallery[2].type == 1 %}
                    <a href="/{{ gallery[2].file }}" data-options="thumbnail: '/{{ gallery[2].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[2].file }}')"></span>
                        <span class="text">{{ gallery[2].text }}</span>
                    </a>
                    {% elseif gallery[2].type == 2 %}
                    <a href="{{ gallery[2].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[2].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[2].file }}')"></span>
                        <span class="text">{{ gallery[2].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[3].type is defined %}
                    {% if gallery[3].type == 1 %}
                    <a href="/{{ gallery[3].file }}" data-options="thumbnail: '/{{ gallery[3].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[3].file }}')"></span>
                        <span class="text">{{ gallery[3].text }}</span>
                    </a>
                    {% elseif gallery[3].type == 2 %}
                    <a href="{{ gallery[3].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[3].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[3].file }}')"></span>
                        <span class="text">{{ gallery[3].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[4].type is defined %}
                    {% if gallery[4].type == 1 %}
                    <a href="/{{ gallery[4].file }}" data-options="thumbnail: '/{{ gallery[4].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[4].file }}')"></span>
                        <span class="text">{{ gallery[4].text }}</span>
                    </a>
                    {% elseif gallery[4].type == 2 %}
                    <a href="{{ gallery[4].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[4].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[4].file }}')"></span>
                        <span class="text">{{ gallery[4].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="column-gallery-wide">
                {% if gallery[5].type is defined %}
                    {% if gallery[5].type == 1 %}
                    <a href="/{{ gallery[5].file }}" data-options="thumbnail: '/{{ gallery[5].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[5].file }}')"></span>
                        <span class="text">{{ gallery[5].text }}</span>
                    </a>
                    {% elseif gallery[5].type == 2 %}
                    <a href="{{ gallery[5].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[5].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[5].file }}')"></span>
                        <span class="text">{{ gallery[5].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[6].type is defined %}
                    {% if gallery[6].type == 1 %}
                    <a href="/{{ gallery[6].file }}" data-options="thumbnail: '/{{ gallery[6].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[6].file }}')"></span>
                        <span class="text">{{ gallery[6].text }}</span>
                    </a>
                    {% elseif gallery[6].type == 2 %}
                    <a href="{{ gallery[6].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[6].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[6].file }}')"></span>
                        <span class="text">{{ gallery[6].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
        <section class="m-t40-b-40 block-comparison" id="car-compare">
        <div class="container">

                <h3>Сравнение с другими бюджетными иномарками</h3>
                <div class="comparison-table col-tn-6 col-xs-3">
                    <div class="cars-column">
                        <div class="lada-car">
                            {#{{ render(controller('SiteFrontendBundle:Home:getCars')) }}#}
                        </div>
                        {#{{dump(competitors[1].details)}}#}

                        <div class="other-car" style="position: relative; top: 160px;">
                        <ul class="slider-competitors">
                        {% for key,car in competitors %}
                            {% for x,y in car.details %}
                            <li style="list-style:none !important;">
                                 {% for r,k in y.competitors %}
                                    <div data-code="" class="competitor text-center">
                                        <div class="img-wrap">
                                            <img src="/{{k.image}}" alt="" class="img-responsive"/>
                                        </div>
                                        <span>{{k.name}}</span>
                                    </div>
                                {% endfor %}
                            </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                            <!--<div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-solaris.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Hyundai Solaris</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-lifan.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Lifan Smily</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-sandero.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Renault Sandero</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="features-block col-tn-6 col-xs-9">
                    <div class="features-block-inner">
                        <div class="help-width">
                            <ul class="slider-features-car">
{% set z = 0 %}
{% for key,car in competitors %}
        {% set i = 0 %}
        {% for x,y in car.details %}
                        <li>
                            <table style="opacity:0" class="table competitors-cst">
                                <tbody>
                                <tr>
                                    <td>106</td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_7"></div>
                                        </div>
                                    </td>
                                    <td>{{y.price[1]|round}}</td>
                                </tr>

                                <tr class="feature-info">
                                    {% for label in labels %}
                                    <td>{{label.iname}}</td>
                                    {% endfor %}
                                </tr>
                     {% for r,k in y.competitors %}

                                <tr>

                                    <td>
                                      {#{{x}}--  {{k.name}}{% if k.info[0] is defined %}{{k.info[0].value}}{% endif %}</td>#}
                                        {% if k.info[0] is defined %}
                                            {% set diff = (k.info[0].value/(labels[0].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    <td>
                                        {% if k.info[1] is defined %}
                                            {% set diff = (k.info[1].value/(labels[1].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}                           
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if k.info[2] is defined %}
                                            {% set diff = (k.info[2].value/(labels[2].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}                           
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        
                                        {% if k.info[3] is defined %}
                                            {% set diff = (k.info[3].value/(labels[3].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}             
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>{% if k.info[4] is defined %}{{k.info[4].value}}{% endif %}</td>
                                </tr>

                    {% endfor %}
                            </tbody>
                        </table>
                    </li>
                {% set i = i + 1 %}
        {% endfor %}
        {% set z = z+1 %}
{% endfor %}
                    </ul>
                        </div>
                    </div>
                </div>

            <h3 id="car-groupinfo">Технические характеристики и комплектации</h3>
            <div role="tabpanel" class="clearfix">
                <ul class="nav nav-tabs nav-tabs-custom-1" role="tablist">
                    <li role="presentation" class="active"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">Комплектации и цены</a></li>
                    <li role="presentation"><a href="#price_and" aria-controls="price_and" role="tab" data-toggle="tab">Технические характеристики</a></li>
                </ul>
                <div class="tab-content tab-content-custom-1">
                    <div role="tabpanel" class="tab-pane fade in active" id="tech">
                        {% if car_body.banner != '' %}
                        <div style="margin: 20px 0;"><img src="/{{car_body.banner}}" alt="" /></div>
                        {% endif %}
                        <div style="overflow: auto;" class="scrolled_info topinfo" onscroll="OnScrollDiv(this);">
                            <table class="table table-hover table-fixed">
                                <tbody>
                                {% for tpinf in topinfo %}
                                <tr>
                                    <td>{{ tpinf.label }}</td>
                                    {% for tpv in tpinf.values %}
                                    <td>{{ tpv }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                            {% for kb, ibody in carsinfo %}
                            <div>
                            {% for k, igroup in ibody.groups %}
                            <div class="panel panel-default">
                                <div class="panel-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}-1">
                                    <h4 class="panel-title">
                                        <a class="{% if loop.first == false %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ k }}-{{ kb }}-1" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}-1">
                                            {{ igroup.label }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ k }}-{{ kb }}-1" class="panel-collapse collapse {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-1">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="price_and">
                        <div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                        {% for kb, ibody in carsinfo3 %}
                            <div style="padding-left: 70px;">
                            {% for k, igroup in ibody.groups %}
                                <div id="collapse{{ k }}-{{ kb }}-2" class="panel-collapse {% if loop.first %}opened{% endif %} collapse-custom {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-2">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            {% endfor %}
                            </div>
                            {% endfor %}  
                            {% for kb, ibody in carsinfo2 %}
                            <div>
                            {% for k, igroup in ibody.groups %}
                            <div class="panel panel-default">
                                <div class="panel-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}-2">
                                    <h4 class="panel-title">
                                        <a class="{% if loop.first == false %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ k }}-{{ kb }}-2" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}-2">
                                            {{ igroup.label }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ k }}-{{ kb }}-2" class="panel-collapse collapse {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-2">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                {% for kb, ibody in carsinfo %}
                <div>
                {% for k, igroup in ibody.groups %}
                <div class="panel panel-default">
                    <div class="panel-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}">
                        <h4 class="panel-title">
                            <a class="{% if loop.first == false %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ k }}-{{ kb }}" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}">
                                {{ igroup.label }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ k }}-{{ kb }}" class="panel-collapse collapse {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}">
                        <div style="overflow: auto;"><div class="panel-body">
                            <table class="table table-hover table-fixed">
                                <tbody>
                                {% for iinfo in igroup.features %}
                                <tr>
                                    <td>{{ iinfo.label }}</td>
                                    {% for ival in iinfo.values %}
                                        {% if iinfo.seltype == 'yesno' %}
                                            {% if ival == 1 %}
                                                <td class="round"></td>
                                            {% elseif ival == 2 %}
                                                <td class="round-full"></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% else %}
                                            <td>{{ ival }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div></div>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% endfor %}
            </div-->
        </div>
    </section>
    <section class="block-configurator" id="car-configurator">

    </section>
    <section class="block-review" id="car-reviews">
        <div class="container">
            {% for review in reviews %}
            <div class="col-xs-12 col-sm-4 review">
                <img src="/{{ review.file }}" alt="" class="m-b40 img-responsive"/>
                <div class="review-inner">
                    <div class="info">
                        {{ review.description }}
                    </div>
                    <div class="author">
                        {{ review.authorName }}<br />
                        <i>{{ review.authorStatus }}</i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>