    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    
    
    <script>
    var gallery_reset = true;
    var allowload = false;
        var car_id = {{ car.id }};
        var body_width;
        
        $(document).ready(function() {
            $('.scrolled_info').each(function(){
                if( $(this).find('.clonedtab').length == 0 ) {
                    var tdwidth = $(this).find('table tr td:first-child').width();
                    var cloned = $(this).find('table').clone();
                        cloned.addClass('clonedtab');
                        $(this).append(cloned);
                        $(this).find('.clonedtab').wrap('<div class="cloned-wrap"></div>').parent().css({
                            'width': tdwidth+80,
                            'overflow' : 'hidden'
                        });
                        setTdHeight($(this).find('.cloned-wrap table'), $(this).find('table:not(.clonedtab)'));
                }
            });
            
            var c = location.href
            var cc = c.split('/');
            
            body_width = $('body').width();
            $('#carcblock'+cc[2]).addClass('active');
            
            $('.slider-car-details .slider-main li').click(function(){
                
                $(this).toggleClass('showCallouts');
                return false;
            });
            
            $(window).resize(function(){
                calloutsResize();
            });

            var slider_bodies_jq = $('#slider_bodies');
            var slider_bodies = $('#slider_bodies').bxSlider({
                        controls: false,
                        pager: false,
                        autoHover: true,
                        adaptiveHeight: true,
                        infiniteLoop: true,
                        mode: 'horizontal',
                        touchEnabled: false,
                        onSlideBefore: function (currentSlideNumber, totalSlideQty, currentSlideHtmlObject) {
                            $('.active-slide').removeClass('active-slide');
                            slider_bodies_jq.find('li').eq(currentSlideHtmlObject + 2).addClass('active-slide');
                        },
                        onSliderLoad: function () {
                            slider_bodies_jq.find('li').eq(1).addClass('active-slide');
                        },
                    });

            $(".car-page-scroll").click(function(e) {
                e.preventDefault();
                
                var toid = '#'+$(this).attr('data-id');
                $('html, body').animate({
                    scrollTop: ($(toid).offset().top-150)
                }, 1000);
            });

            $('.panel-collapse.collapse').on('shown.bs.collapse', function(){
                setTdHeight($(this).find('.cloned-wrap table'), $(this).find('table:not(.clonedtab)'));
            });
            
            var bodyid = $('#cartypes-car ul li').eq(0).attr('data-id');
            setConfigurator(car_id, bodyid)
        });
        
        function calloutsResize() {
            
            var new_body_width = $('body').width(),
                diff_perc = new_body_width / body_width;
            
            $('.slide-callout').each(function(){
            
                if( !$(this).attr('data-width') ) {
                    $(this).attr('data-width', $(this).width());
                }
                
                $(this).css('width', $(this).attr('data-width') * diff_perc);
            });
        }
        
         function setTdHeight(cloned, clonable) {
            cloned.find('td').removeAttr('style');
            clonable.find('td').removeAttr('style');
            
            clonable.find('tr td:first-child').each(function(){
                var rownum = $(this).parent().index(),
                    itemHeight = $(this).outerHeight(),
                    cloneHeight = cloned.find('tr').eq(rownum).find('td:first-child').outerHeight(),
                    maxHeight = Math.max(itemHeight, cloneHeight);
                $(this).next().height(maxHeight).attr('data-height', maxHeight);
                cloned.find('tr').eq(rownum).find('td:first-child').height(maxHeight).attr('data-height', maxHeight);
            });
        }
        
        
                        
        function OnScrollDiv (div) {
            var elem = div;
            $('.scrolled_info').each(function()
            {   
                
                $(this).scrollLeft(elem.scrollLeft);
                
                if($(this).find('.clonedtab').length > 0) {
                    $(this).find('.cloned-wrap').css('marginLeft', elem.scrollLeft);
                }
            });
        }
        
        function setConfigurator(car_id, bodyid)
        {
            var datas = {};
            datas['carId'] = car_id;
            datas['bodyId'] = bodyid;
                    
            $.ajax({
                  url: '{{ path('front_configurator_details') }}',
                  data: datas,
                  dataType : 'html',
                  type: 'post',
                  success: function (response) {
                    $('#car-compare .container').append(response);

                    var slider_competitors = $('.slider-competitors').bxSlider({
                        controls: false,
                        pager: false,
                        autoHover: true,
                        adaptiveHeight: false,
                        mode: 'fade',
                        touchEnabled: false
                    });
                    $('.competitors-cst').css('opacity',1);
                    $('.competitors-cst').parent().css('list-style','none');
                  },
                  error: function(e){

                  }});
        }
        
        function SetCarBodyData()
        {
            var bodyid = $('.active-slide').attr('data-id');
            $.ajax({
                url: "/car/body/"+car_id+"/"+bodyid,
                processData: false,
                dataType: 'json',
                success: function(data)
                {
                    $('#car-top-slider').html(data.tpl1);
                    $('#car-bottom-info').html(data.tpl2);
                    App.Gallary();
                    App.Tabs();
                    App.ProgressBar();
                    App.MainSlider();
                    App.Comparison(true);
                    
                    $('body').trigger('car-ajax-response');                   
                    setConfigurator(car_id, bodyid)
                }
            });
        }


    </script>
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %}
    <div id="car-top-slider">
    <section class="slider-main-page">
        <ul class="slider-main">
            {% for slide in slider1 %}
            <li style="background-image: url('/{{ slide.image }}')" data-tipped-options="target: 'mouse'" >
                <div class="container-wrap" style="background-image: url('/{{ slide.image2 }}')">
                    <div class="container">
                        <div class="promo-title_block">
                            <div class="promo-title">
                                <a href="#">{{ slide.textTitle }}</a>
                            </div>
                            <div class="promo-subtitle">{{ slide.textSubtitle }}</div>
                            <p class="promo-desc">{{ slide.shortDescription }}</p>
                        </div>
                        <div class="promo-price-block">
                            <div class="promo-price">{{ slide.textMonth }}</div>
                            <div class="promo-price_desc">в месяц с LADA Finance</div>
                            <div class="but-wrap">
                                <a href="/credit/{{car.id}}/{{bid}}" title="Переход на страницу Кредитного Калькулятора" class="fortooltip btn btn-type1">Кредитный калькулятор</a>
                                <a href="/testdrive/{{car.id}}/{{bid}}" title="Переход на страницу Тест-драйва Демо" class="fortooltip btn btn-type4">Тест драйв</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    </div>
    <menu>
		<div class="floating-block">
		<div class="inner-float">
			<div class="lada-car">
            <div id="cartypes-car" class="slider-comparison-car-wrap">
            <ul data-id="car" class="slider-comparison-car">
            {% for x,y in car_bodies %}
            <li class="item-slide" data-id="{{y.id}}">
                <span>{{car.name}}</span>
                <div class="img-wrap">
                    <img src="/{{y.file}}" alt="" class="img-responsive"/>
                </div>
                <div class="type-wrap">
                    <span data-type="{{y.name}}" class="btn-comparison-type have-tooltip" title="Выберите тип кузова">{{y.name}}</span>
                </div>
            </li>
            {% endfor %}
            </ul>
                <a class="control-prev-slide-a" href="/car/{{ acar }}/{{ prevBId }}"></a>
                <a class="control-next-slide-a" href="/car/{{ acar }}/{{ nextBId }}"></a>
            </div>
			</div>
            <div class="ask-link">
                {{ render(controller('SiteFrontendBundle:Home:getQuestionForm')) }}
                <a href="#" class="show-question">Возникли вопросы?</a>
            </div>
			<div class="icons-container">
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-review" title="Обзор"><img src="/front_assets/menu/1.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-docs" title="Документация по автомобилю"><img src="/front_assets/menu/2.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-features" title="Особенности и преимущества"><img src="/front_assets/menu/3.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-gallery" title="Фото и видео галерея"><img src="/front_assets/menu/4.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-compare" title="Сравнение с другими бюджетными иномарками"><img src="/front_assets/menu/5.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-groupinfo" title="Технические характеристики и комплектации"><img src="/front_assets/menu/6.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-configurator" title="Конфигуратор"><img src="/front_assets/menu/7.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-reviews" title="Мнения об автомобиле"><img src="/front_assets/menu/8.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="car-promo" title="Акции"><img src="/front_assets/menu/9.svg" alt=""></a></div>
				<div class="icon"><a href="#" class="car-page-scroll have-tooltip" data-id="map" title="Дилеры региона"><img src="/front_assets/menu/10.svg" alt=""></a></div>
			</div>
		</div>
		</div>
	</menu>
    <div id="car-bottom-info">
    <section class="car-info p-t10-b-50" id="car-review">
        {% for block in blocks2 %}
        <div class="container">
            <div class="col-tn-12 col-sm-6 car-review-img">
                <div class="img-wrap">
                  <img src="/{{ block.image }}" alt="" class="img-responsive"/>
                </div>
            </div>
            <div class="col-tn-12 col-sm-6">
                <h4>{{ block.name }}</h4>
                <p>{{ block.descr }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="p-t10-b-50">
        <div class="container">
            <div class="blocks-3-wrap equalheightWrap">
                {% for block in blocks1 %}
                <div class="col-sm-4">
                    <div class="serv equalheight">
                        <img src="/{{ block.image }}"/>
                        <div class="block">
                            <h3>{{ block.name }}</h3>
                            <p>{{ block.descr }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="p-t40-b-80" id="car-docs">
        <div class="container">
            {% for document in documents %}
            <div class="col-tn-12 col-xs-4 text-center">
                <h4 class="-color_blue">{{ document.name }}</h4>
                <p class="-color_gray -small-margin">{{ document.filesize }}</p>
                <a href="/{{ document.file }}" class="btn btn-type1">Скачать</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="car-features" class="slider-car-details m-b40">
        <ul class="slider-main">
            {% for slide in slider2 %}
            <li>
                <span class="slide-callout callout-top">
                    <span class="callout-title">Безопасность</span>
                    <span class="callout-desc">Дневные ходовые огни</span>
                </span>
                
                <span class="slide-callout callout-top" style="left: 35.6%;">
                    <span class="callout-title">Комфорт</span>
                    <span class="callout-desc">Гидроусилитель рулевого<br>управления</span>
                </span>
                
                <span class="slide-callout callout-top" style="left: 75.6%;">
                    <span class="callout-title">Комфорт</span>
                    <span class="callout-desc">Атермальные стекла</span>
                </span>
                
                <span class="slide-callout left callout-bottom" style="left: 10.6%;">
                    <span class="callout-title">Конструктив</span>
                    <span class="callout-desc">Динамический виброгаситель (снижает микротолчки от мотора)</span>
                </span>
                
                <span class="slide-callout callout-bottom left" style="left: 45.6%;">
                    <span class="callout-title">Конструктив</span>
                    <span class="callout-desc">ШРУС вместо карданных валов (снижают шумы и вибрации шасси)</span>
                </span>
                <img src="/{{ slide.image }}" alt="" class="margin-center img-responsive"/>
            </li>
            {% endfor %}
        </ul>
        <a class="control-prev-slide-a" href="/car/{{ acar }}/{{ prevBId }}"></a>
        <a class="control-next-slide-a" href="/car/{{ acar }}/{{ nextBId }}"></a>
    </section>
    <section class="block-gallery" id="car-gallery">
        <div class="container clearfix">
            <div class="column-gallery-wide">
                {% if gallery[0].type is defined %}
                    {% if gallery[0].type == 1 %}
                    <a href="/{{ gallery[0].file }}" data-options="thumbnail: '/{{ gallery[0].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[0].file }}')"></span>
                        <span class="text">{{ gallery[0].text }}</span>
                    </a>
                    {% elseif gallery[0].type == 2 %}
                    <a href="{{ gallery[0].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[0].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[0].file }}')"></span>
                        <span class="text">{{ gallery[0].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[1].type is defined %}
                    {% if gallery[1].type == 1 %}
                    <a href="/{{ gallery[1].file }}" data-options="thumbnail: '/{{ gallery[1].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[1].file }}')"></span>
                        <span class="text">{{ gallery[1].text }}</span>
                    </a>
                    {% elseif gallery[1].type == 2 %}
                    <a href="{{ gallery[1].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[1].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[1].file }}')"></span>
                        <span class="text">{{ gallery[1].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="column-gallery">
                {% if gallery[2].type is defined %}
                    {% if gallery[2].type == 1 %}
                    <a href="/{{ gallery[2].file }}" data-options="thumbnail: '/{{ gallery[2].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[2].file }}')"></span>
                        <span class="text">{{ gallery[2].text }}</span>
                    </a>
                    {% elseif gallery[2].type == 2 %}
                    <a href="{{ gallery[2].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[2].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[2].file }}')"></span>
                        <span class="text">{{ gallery[2].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[3].type is defined %}
                    {% if gallery[3].type == 1 %}
                    <a href="/{{ gallery[3].file }}" data-options="thumbnail: '/{{ gallery[3].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[3].file }}')"></span>
                        <span class="text">{{ gallery[3].text }}</span>
                    </a>
                    {% elseif gallery[3].type == 2 %}
                    <a href="{{ gallery[3].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[3].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[3].file }}')"></span>
                        <span class="text">{{ gallery[3].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[4].type is defined %}
                    {% if gallery[4].type == 1 %}
                    <a href="/{{ gallery[4].file }}" data-options="thumbnail: '/{{ gallery[4].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[4].file }}')"></span>
                        <span class="text">{{ gallery[4].text }}</span>
                    </a>
                    {% elseif gallery[4].type == 2 %}
                    <a href="{{ gallery[4].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[4].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[4].file }}')"></span>
                        <span class="text">{{ gallery[4].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="column-gallery-wide">
                {% if gallery[5].type is defined %}
                    {% if gallery[5].type == 1 %}
                    <a href="/{{ gallery[5].file }}" data-options="thumbnail: '/{{ gallery[5].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[5].file }}')"></span>
                        <span class="text">{{ gallery[5].text }}</span>
                    </a>
                    {% elseif gallery[5].type == 2 %}
                    <a href="{{ gallery[5].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[5].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[5].file }}')"></span>
                        <span class="text">{{ gallery[5].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if gallery[6].type is defined %}
                    {% if gallery[6].type == 1 %}
                    <a href="/{{ gallery[6].file }}" data-options="thumbnail: '/{{ gallery[6].file }}'" class="item">
                        <span class="img-wrap" style="background-image: url('/{{ gallery[6].file }}')"></span>
                        <span class="text">{{ gallery[6].text }}</span>
                    </a>
                    {% elseif gallery[6].type == 2 %}
                    <a href="{{ gallery[6].video }}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: '{{ gallery[6].file }}',smartRecognition: true, width: 800, height: 600" class="item -video">
                        <span class="img-wrap" style="background-image: url('{{ gallery[6].file }}')"></span>
                        <span class="text">{{ gallery[6].text }}</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
        <section class="m-t40-b-40 block-comparison" id="car-compare">
        <div class="container">
        
            <h3>Сравнение с другими бюджетными иномарками</h3>

            <div class="comparison-wrap clearfix">
                <div class="comparison-table col-tn-6 col-xs-3">
                    <div class="cars-column">
                        <div class="lada-car">
                            {#{{ render(controller('SiteFrontendBundle:Home:getCars')) }}#}
                            <img src="http://reglada.ru/uploads/Lada/grantaliftback.png" alt="">
                        </div>

                        <div class="other-car" style="position: relative; top: 160px;">
                        <ul class="slider-competitors">
                        {% for key,car in competitors %}
                            {% for x,y in car.details %}
                            <li>
                                 {% for r,k in y.competitors %}
                                    <div data-code="" class="competitor text-center">
                                        <div class="img-wrap">
                                            <img src="/{{k.image}}" alt="" class="img-responsive"/>
                                        </div>
                                        <span>{{k.name}}</span>
                                    </div>
                                {% endfor %}
                            </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                            <!--<div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-solaris.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Hyundai Solaris</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-lifan.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Lifan Smily</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-sandero.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Renault Sandero</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="features-block col-tn-6 col-xs-9">
                    <div class="features-block-inner">
                        <div class="help-width">
                            <ul class="slider-features-car">
{% set z = 0 %}
{% for key,car in competitors %}
        {% set i = 0 %}
        {% for x,y in car.details %}
                        <li>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>{{y.price[1]|round}}</td>
                                </tr>

                                <tr class="feature-info">
                                    {% for label in labels %}
                                    <td>{{label.iname}}</td>
                                    {% endfor %}
                                </tr>
                     {% for r,k in y.competitors %}

                                <tr>

                                    <td>
                                      {#{{x}}--  {{k.name}}{% if k.info[0] is defined %}{{k.info[0].value}}{% endif %}</td>#}
                                        {% if k.info[0] is defined %}
                                            {% set diff = (k.info[0].value/(labels[0].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    <td>
                                        {% if k.info[1] is defined %}
                                            {% set diff = (k.info[1].value/(labels[1].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}                           
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if k.info[2] is defined %}
                                            {% set diff = (k.info[2].value/(labels[2].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}                           
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        
                                        {% if k.info[3] is defined %}
                                            {% set diff = (k.info[3].value/(labels[3].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}             
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>{% if k.info[4] is defined %}{{k.info[4].value}}{% endif %}</td>
                                </tr>

                    {% endfor %}
                            </tbody>
                        </table>
                    </li>
                {% set i = i + 1 %}
        {% endfor %}
        {% set z = z+1 %}
{% endfor %}
                    </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h3 id="car-groupinfo">Технические характеристики и комплектации</h3>
            <div role="tabpanel" class="clearfix">
                <ul class="nav nav-tabs nav-tabs-custom-1" role="tablist">
                    <li role="presentation" class="active"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">Комплектации и цены</a></li>
                    <li role="presentation"><a href="#price_and" aria-controls="price_and" role="tab" data-toggle="tab">Технические характеристики</a></li>
                </ul>
                <div class="tab-content tab-content-custom-1">
                    <div role="tabpanel" class="tab-pane fade in active" id="tech">
                        {% if car_body.banner != '' %}
                        <div style="margin: 20px 0;"><img src="/{{car_body.banner}}" alt="" /></div>
                        {% endif %}
                        <div style="overflow: auto;" class="scrolled_info topinfo" onscroll="OnScrollDiv(this);">
                            <table class="table table-hover table-fixed">
                                <tbody>
                                {% for tpinf in topinfo %}
                                <tr>
                                    <td>{{ tpinf.label }}</td>
                                    {% for tpv in tpinf.values %}
                                    <td>{{ tpv }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                            {% for kb, ibody in carsinfo %}
                            <div>
                            {% for k, igroup in ibody.groups %}
                            <div class="panel panel-default">
                                <div class="panel-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}-1">
                                    <h4 class="panel-title">
                                        <a class="{% if loop.first == false %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ k }}-{{ kb }}-1" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}-1">
                                            {{ igroup.label }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ k }}-{{ kb }}-1" class="panel-collapse collapse {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-1">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="price_and">
                        <div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                        {% for kb, ibody in carsinfo3 %}
                            <div style="padding-left: 70px;">
                            {% for k, igroup in ibody.groups %}
                                <div id="collapse{{ k }}-{{ kb }}-2" class="panel-collapse {% if loop.first %}opened{% endif %} collapse-custom {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-2">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            {% endfor %}
                            </div>
                            {% endfor %}                        
                            {% for kb, ibody in carsinfo2 %}
                            <div>
                            {% for k, igroup in ibody.groups %}
                            <div class="panel panel-default">
                                <div class="panel-heading collapse-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}-2">
                                    <h4 class="panel-title">
                                        <a class="{% if loop.first == false %}collapsed{% endif %}" href="#collapse{{ k }}-{{ kb }}-2" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}-2">
                                            {{ igroup.label }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ k }}-{{ kb }}-2" class="panel-collapse {% if loop.first %}opened{% endif %} collapse-custom {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}-2">
                                    <div style="overflow: auto;" class="scrolled_info" onscroll="OnScrollDiv(this);"><div class="panel-body">
                                        <table class="table table-hover table-fixed">
                                            <tbody>
                                            {% for iinfo in igroup.features %}
                                            <tr>
                                                <td>{{ iinfo.label }}</td>
                                                {% for ival in iinfo.values %}
                                                    {% if iinfo.seltype == 'yesno' %}
                                                        {% if ival == 1 %}
                                                            <td class="round"></td>
                                                        {% elseif ival == 2 %}
                                                            <td class="round-full"></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>{{ ival }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div></div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="panel-group" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
                {% for kb, ibody in carsinfo %}
                <div>
                {% for k, igroup in ibody.groups %}
                <div class="panel panel-default">
                    <div class="panel-heading {% if loop.first %}active{% endif %}" role="tab" id="heading{{ k }}-{{ kb }}">
                        <h4 class="panel-title">
                            <a class="{% if loop.first == false %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ k }}-{{ kb }}" aria-expanded="true" aria-controls="collapse{{ k }}-{{ kb }}">
                                {{ igroup.label }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ k }}-{{ kb }}" class="panel-collapse collapse {% if loop.first != false %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ k }}-{{ kb }}">
                        <div style="overflow: auto;"><div class="panel-body">
                            <table class="table table-hover table-fixed">
                                <tbody>
                                {% for iinfo in igroup.features %}
                                <tr>
                                    <td>{{ iinfo.label }}</td>
                                    {% for ival in iinfo.values %}
                                        {% if iinfo.seltype == 'yesno' %}
                                            {% if ival == 1 %}
                                                <td class="round"></td>
                                            {% elseif ival == 2 %}
                                                <td class="round-full"></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% else %}
                                            <td>{{ ival }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div></div>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% endfor %}
            </div-->
        </div>
    </section>
    <section class="block-configurator" id="car-configurator">

    </section>
    <section class="block-review" id="car-reviews">
        <div class="container">
            {% for review in reviews %}
            <div class="col-xs-12 col-sm-4 review">
                <img src="/{{ review.file }}" alt="" class="img-responsive"/>
                <div class="review-inner">
                    <div class="name m-t30">{{ review.name }}</div>
                    <div class="info">
                        {{ review.description }}
                    </div>
                    <div class="author">
                        {{ review.authorName }}<br />
                        <i>{{ review.authorStatus }}</i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    </div>
    {% endblock %}