    <div class="container">
            <h3>Заявка на автомобиль</h3>
            <form action="#" class="clearfix">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    <div class="material-input col-tn-12">
                        <input class="car-personal" id="gname" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Имя</label>
                    </div>
                    <div class="material-input col-tn-12">
                        <input class="car-personal" id="gsurname" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Фамилия</label>
                    </div>
                    <div class="material-input col-tn-12">
                        <input class="car-personal" id="gsname" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Отчество</label>
                    </div>
                    <div class="material-input col-tn-12">
                        <input class="car-personal" id="gphone" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Телефон</label>
                    </div>
                    <div class="material-input col-tn-12">
                        <input class="car-personal" id="gemail" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 clearfix">
                    <div class="custom-select form-group col-tn-12">
                        <label for="cars" class="col-tn-5 control-label -required">Автомобиль</label>
                        <div class="col-tn-7 text-right">
                            <select name="" id="cars" class="width-auto" data-placeholder="Выберите">
                            {% for i,car in dc.cars %}
                                {% for t,types in car %}
                                 <option value="{{i}}:{{t}}" {% if activecar == i~'0'~t %}selected{% endif %}>{{cars[i]}} {{t}}</option>
                                {% endfor %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="custom-select form-group col-tn-12">
                        <label for="typecar" class="col-tn-5 control-label -required">Исполнение</label>
                        <div class="col-tn-7 text-right">
                            <select name="" id="typecar" class="width-auto" data-placeholder="Выберите">
                            {% for k,c in cdc %}
                                <option value="{{k}}" {% if activetype != false and activetype == k %}selected{% endif %}>{{c.name}}</option>
                            {% endfor%}
                            </select>
                        </div>
                    </div>
                    {% set i = 0 %}
                    {% for k,c in cdc %}
                    <div id="eq-{{k}}" class="custom-select eqs form-group col-tn-12 {% if activetype != false %}
                    {% if activetype != k %}
                    hidden
                    {% endif %}
                    {% else %}
                    {% if i != 0 %}hidden{% endif %}
                    {% endif %}">
                        <label for="equipments" class="col-tn-5 control-label">Комплектация</label>
                        <div class="col-tn-7 text-right">
                            <select name="" id="equipments" class="width-auto" data-placeholder="Выберите">
                            {% for e,equipment in c.value %}
                                <option value="{{equipment.engine}}" {% if activeeq != false and activeeq == e %}selected{% endif %}>{{equipment.engine}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <div class="col-tn-12 text-right">
                        <div class="col-tn-12 m-b10">
                            <a href="#">Все комплектации</a>
                        </div>
                    </div>
                    <div class="material-input col-tn-12">
                        <div class="col-sm-12 text-right">
                            <textarea class="car-personal" id="gcomment" name="message" rows="4" required></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Коментарий</label>
                        </div>
                    </div>
                </div>
                <div class="col-tn-12 col-lg-offset-1 m-b10">
                    <label class="-required">Цвет</label>
                    <div class="color-wrap">
                        {% for ci,color in colors %}
                                <div>
                                    <input type="radio" name="color" id="color{{loop.index}}" />
                                    <label data-name="{{color.name}}" data-content="{{color.code}}" id="clr{{ci}}" for="color{{loop.index}}" class="customcolor {% if activecolor != false and activecolor == 'clr'~ci %}active{% endif %}">{{color.name}}</label>
                                </div>                               
                        {% endfor %}
                    </div>
                </div>
                <div class="custom-checkbox col-lg-offset-1 col-tn-12">
                        <span>
                            <input id="rules-agree" type="checkbox">
                        </span>
                    <label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
                </div>

                <div class="col-tn-12 col-lg-offset-1 m-t40">
                    <a class="btn btn-type1 send-car-request" href="#">Отправить</a>
                </div>
            </form>
        </div>
    <script>
    $(document).ready(function(){
        {% if activecolor != false %}
            $('#{{activecolor}}').trigger('click')
        {% endif %}
    })
    </script>

