{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">

    $(document).ready(function(){
        $('.sendinfo').on('click',function(){
            getFeilds('testdrive');
        })
        var c = location.href
        var cc = c.split('.ru/');
        if ( cc[1] == 'buy/testdrive')
          $('#testdrivecblock').addClass('active');
    })
    </script>

    {% endblock %}
{% block title %}Тест-драйв{% endblock %}

{% block content %}

{% if general == true %}

{% endif %}
    <section class="block-comparison">
        <div style="padding-bottom:110px;" class="container">
            <div class="col-xs-4 bottom-up pos-rel alltypes">
                {% if bid != false %}
                    <div class="slider-comparison-car-wrap">
                        <ul class="slider-comparison-car">
                            {% for x,y in cars %}
                                <li class="item-slide" data-id="{{y.id}}">
                                    <span>{{car.name}}</span>
                                    <div class="img-wrap">
                                        <img src="/{{y.file}}" alt="" class="img-responsive"/>
                                    </div>
                                    <div class="type-wrap">
                                        <span data-type="{{y.name}}" class="btn-comparison-type have-tooltip" title="Выберите тип кузова">{{y.name}}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="control-prev-slide"><!----></div>
                        <div class="control-next-slide"><!----></div>
                    </div>
                {% else %}
                    {{ render(controller('SiteFrontendBundle:Home:getCars')) }}
                {% endif %}

            </div>
<style>
/* Костыль, чтобы селект с выбором времени суток не обрезался родительским блоком */
.block-comparison {overflow: visible; z-index: 2;}
.block-comparison .comparison-table {overflow: hidden;}
</style>

                <div class="col-tn-6 col-xs-9">
                </div>
            </div>
        </div>
    </section>


    <section class="p-t10-b-50">
        <div data-type="testdrive" class="container guest-info">

            <form action="#" class="clearfix form-testdrive">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-testdrive'})) }}
                    <div class="custom-checkbox col-tn-12">
                        <span>
                            <input id="rules-agree" type="checkbox">
                        </span>
                        <label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getRightForm',{'alias':'form-testdrive'})) }}
                </div>
            </form>
        </div>

    </section>
{% endblock %}