<section class="slider-main-page" id="car-top-slider">
    <ul class="slider-main">
        {% for slide in slider1 %}
        <li style="background-image: url('/{{ slide.image }}')" data-tipped-options="target: 'mouse'" >
            <div class="container-wrap" style="background-image: url('/{{ slide.image2 }}')">
                <div class="container">
                    <div class="promo-title_block">
                        <div class="promo-title">
                            <a href="#">{{ slide.textTitle }}</a>
                        </div>
                        <div class="promo-subtitle">{{ slide.textSubtitle }}</div>
                        <p class="promo-desc">{{ slide.shortDescription }}</p>
                    </div>
                    <div class="promo-price-block">
                        <div class="promo-price">{{ slide.textMonth }}</div>
                        <div class="promo-price_desc">в месяц с LADA Finance</div>
                        <div class="but-wrap">
                            <a href="/credit" class="btn btn-type1">Кредитный калькулятор</a>
                            <a href="/testdrive" class="btn btn-type4">Тест драйв</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>