{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
        $(document).ready(function(){
            $('#carcblocknewcar').addClass('active');
        })
        </script>
    {% endblock %}
    {% block title %}X-Ray Lada{% endblock %}

{% block content %}
    <section class="slider-main-page">
        <ul class="slider-main">
            <li style="background-image: url('/front_assets/images/x-ray-slider.jpg')" class="have-tooltip" data-tipped-options="target: 'mouse'" title="Название слайда">
                <div class="container-wrap">
                    <div class="container">
                        <div class="promo-title_block">
                            <div class="promo-title">
                                <a href="#">LADA X-RAY</a>
                            </div>
                            <div class="promo-subtitle">Современный. Надежный. Безопасный.</div>
                            <p class="promo-desc">Стремительный стиль и багажник солидного объема — такого сочетания в LADA еще не было! </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="control-prev-slide"><!----></div>
        <div class="control-next-slide"><!----></div>
    </section>

    <section class="car-info p-t10-b-50 bottom-up">
        <div class="container">
            <div class="col-tn-12 col-sm-6">
                <img src="/front_assets/img/x-ray-big.png" alt="" class="img-responsive"/>
            </div>
            <div class="col-tn-12 col-sm-6">
                <h4>Lada XRAY — концепт-кар компании АвтоВАЗ, представленный в августе 2012 года на Московском автосалоне.</h4>
                <p>Над концептом работала команда под руководством нового шеф-дизайнера Стива Маттина. За экстерьер отвечал Евгений Ткачев, за интерьер - Николай Суслов.<br/>
                    В названии содержится английское название X-Ray — рентгеновское излучение, а также XRAY — это аббревиатура, состоящая из X — обозначение пересечения, англ. crossover (тип кузова — кроссовер), Recreation — «отдых», Activity — «активность», Your — «твой», или Young — «молодой».</p>
                <p>Концепт-кар Lada XRAY создан для демонстрации планов АвтоВАЗа по развитию модельного ряда Lada — в том числе и в сегментах внедорожников, кроссоверов и SUV. Дизайн Lada XRAY унаследуют перспективные автомобили BM-Hatch, B-Cross и LADA В, которые начнут производиться в 2015-2016 годы, эти проекты уже реализуются.</p>


            </div>
        </div>
    </section>

    <section class="p-t10-b-50">
        <div class="container">
            <div class="blocks-3-wrap">
                <div class="col-sm-6 col-md-4">
                    <div class="serv -gray">
                        <img src="/front_assets/images/x-ray-3.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <p>«Москва — город контрастов»... Видимо, от эффекта первого — самого очевидного и самого сильного впечатления — никуда ни деться. Вот и Стив Маттин твердит: «Контрасты — главное впечатление от России». Поэтому матовая краска, черный лаковый пластик, хром.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="serv -gray">
                        <img src="/front_assets/images/x-ray.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <p>В салоне тоже «город контрастов». Но есть и вторая «философская» идея — многослойность: «бутерброд» из отдельных пластов передней панели. На всю салонную фурнитуру нанесена декоративная маркировка, но в том, как выглядят вращающиеся ручки, кнопочки и подрулевые переключатели, нет ничего концептуального — запомним их вид</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv -gray">
                        <img src="/front_assets/images/x-ray-2.jpg" alt="" class="margin-center img-responsive"/>
                        <div class="block">
                            <p>Первые наброски нового «лица» Стив стал делать еще прошлым летом, уже после встречи на Женевском автосалоне с президентом АвтоВАЗа Игорем Комаровым, за несколько месяцев до переезда в Тольятти. Так что в том, что передок — согласитесь! — оказался самым гармоничным, самым проработанным элементом облика, нет ничего удивительного.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block-gallery">
        <div class="container clearfix">
            <div class="column-gallery-wide">
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="/front_assets/images/gallery2.jpg" data-options="thumbnail: '/front_assets/images/gallery2.jpg'" class="item -video">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery2.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
            </div>
            <div class="column-gallery">
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item -video">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
            </div>
            <div class="column-gallery-wide">
                <a href="/front_assets/images/gallery2.jpg" data-options="thumbnail: '/front_assets/images/gallery2.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery2.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="http://www.youtube.com/embed/jLsqPj8yTjg?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: 'http://img.youtube.com/vi/jLsqPj8yTjg/hqdefault.jpg',smartRecognition: true, width: 800, height: 600" class="item -video">
                    <span class="img-wrap" style="background-image: url('http://img.youtube.com/vi/jLsqPj8yTjg/hqdefault.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
            </div>
        </div>
    </section>
    <section class="news-block">
        <div class="container">

            <div class="news">
                <div class="news-item clearfix">
                    <div class="col-sm-4 col-md-5">
                        <img src="/front_assets/images/car_news.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                        <div class="news-date">18 августа 2014</div>
                        <h3 class="news-title">
                            <a href="#" class="no-underline">Глава «АвтоВАЗа» назвал стоимость Lada XRay</a>
                        </h3>
                        <div class="news-info">
                            <p>Приблизительная стоимость новой модели «АвтоВАЗа» – Lada XRay – составит 500 тысяч рублей. Об этом в эфире программы «Свободное время» телеканала РЕН-ТВ сообщил глава волжского автозавода Бу Андрессон.</p>
                            <a class="btn btn-type1 search-but" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news-item clearfix">
                    <div class="col-sm-4 col-md-5">
                        <img src="/front_assets/images/car_news.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                        <div class="news-date">18 августа 2014</div>
                        <h3 class="news-title">
                            <a href="#" class="no-underline">Преемника «Приоры» сфотографировали без камуфляжа</a>
                        </h3>
                        <div class="news-info">
                            <p>В распоряжении сайта Autopareri оказались шпионские фотографии прототипа седана Lada Vesta – его серийный вариант осенью следующего года придет на смену «Приоре». Публичный дебют концепт-кара состоится в конце текущего месяца на Московском автосалоне.</p>
                            <a class="btn btn-type1 search-but" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}