{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
        enableReMove()
        resizeHB();

        $(window).on('resize',function(){
            resizeHB();
        })

        $('.editit').on('click',function(){
          $(this).addClass('hidden');
          $(this).parents('.feature').find('.cancelit').removeClass('hidden');
          $(this).parents('.feature').find('.saveit').removeClass('hidden');
          var identifier = $(this).parents('.feature').find('.identifier-feature-show').html();
          $(this).parents('.feature').find('.identifier-feature').val(identifier);
          $(this).parents('.feature').find('.t-edit').show();
          $(this).parents('.feature').find('.t-read').hide();
        })

        $('.cancelit').on('click',function(){
          $(this).addClass('hidden');
          $(this).parents('.feature').find('.editit').removeClass('hidden');
          $(this).parents('.feature').find('.saveit').addClass('hidden');
          $(this).parents('.feature').find('.t-read').show();
          $(this).parents('.feature').find('.t-edit').hide();
        })

        $('.saveit').on('click',function(){
          $(this).addClass('hidden');
          $(this).parents('.feature').find('.editit').removeClass('hidden');
          $(this).parents('.feature').find('.cancelit').addClass('hidden');
          $(this).parents('.feature').find('.t-read').show();
          $(this).parents('.feature').find('.t-edit').hide();
          var identifier = $(this).parents('.feature').find('.identifier-feature').val();
          $(this).parents('.feature').find('.identifier-feature-show').html(identifier);

          var triggers = $(this).parents('.feature').find('.pages-trigger');
          var pages = {};
          $.each(triggers,function(k,v){
            if ( $(this).is(':checked') == true ){
                $(this).next().removeClass('text-danger').removeClass('glyphicon-remove');
                $(this).next().addClass('text-info').addClass('glyphicon-ok');
                var key = k + 1;
                pages[key] = 1;
                console.log(key);

            }
            else{
                $(this).next().removeClass('text-info').removeClass('glyphicon-ok');
                $(this).next().addClass('text-danger').addClass('glyphicon-remove');
                var key = k + 1;
                pages[key] = 0;
            }
          })
          var data = {};
          data['id'] = $(this).parents('.feature').attr('data-id');
          data['identifier'] = identifier;
          data['pages'] = pages;
          changeValue(data);
          $(this).parents('.feature').blink(300,2);
        })
    });

function resizeHB(){
    var widthbody = $('.notfixed-body').width();
    $('.fixed-head').css({'width':widthbody});
}
function enableReMove(){
      $(".table tr.feature").draggable({
          appendTo:".trash",
          helper:"clone",
          opacity: "0.5",
          cursor: "move",
          handle: ".drag-drop-button"
      });
      $(".table tr.feature").droppable({
          hoverClass:"custom-drop-opacity",
          drop:function (event, ui) {
           
            row = ui.draggable;

                $(row).insertAfter($(event.target).next());
                $(event.target).next().insertAfter($(row));
                var groupDrag = $(row).attr('data-group');
                var groupDrop = $(event.target).attr('data-group');

                console.log(groupDrag,groupDrop)
                var fdata = {};
                fdata['id'] = $(row).attr('data-id');
                fdata['groupId'] = groupDrop;
                if( groupDrag != groupDrop ){
                      $.ajax({
                        url: '/ajax/base-auto-fcontrols/changegroup',
                        data: fdata,
                        dataType : 'json',
                        type: 'post',
                        success: function (rdata, textStatus) {

                        },
                        error: function(e){
                            console.log(e.message);
                        }
                    });
                }
                var data = {};
                data['pos'] = {};
                var fields = $('.features-all .feature');
                $.each(fields,function(k,v){
                    data['pos'][$(this).attr('data-id')] = k;
                })
                      $.ajax({
                        url: '/ajax/base-auto-fcontrols/changepos',
                        data: data,
                        dataType : 'json',
                        type: 'post',
                        success: function (data, textStatus) {

                        },
                        error: function(e){
                            console.log(e.message);
                        }
                    });
                  
                $(row).blink(400, 2);


          }

      });
    }

    function changeValue(data){
          $.ajax({
            url: '/ajax/base-auto-fcontrols/changevalue',
            data: data,
            dataType : 'json',
            type: 'post',
            success: function (data, textStatus) {

            },
            error: function(e){
                console.log(e.message);
            }
        });
    }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Fcontrols:index{% endblock %}

{% block content %}
{#
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_formsfields_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
    </div>
</section>
#}
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table no-m features-all table-cst" data-sortable>
                <thead class="fixed-head">
                    <tr>
                        <th style="width: 10%;">                            
                            <i class="glyphicon glyphicon-chevron-down"></i>{#<input type="checkbox" data-id="" id="all-checks" />#}
                        <th style="width: 45%;">название</th>
                        <th style="width: 10%;">ID связи</th>
                        <th style="width: 6%;">авто</th>
                        <th style="width: 6%;">авто дц</th>
                        <th style="width: 6%;">конф</th>
                        <th style="width: 6%;">мини конф</th>
                        <th style="width: 11%;">операции</th>
                    </tr>
                </thead>

                <tbody class="notfixed-body">
                    {% for g,group in featuress %}
                    <tr data-id="{{g}}" class="group text-info">
                    <td colspan=8>{% if group.name != '' %}{{group.name}}{% else %}Главные параметры{% endif %}</td>
                    </tr>
                    {% for feature in group.features %}
                    <tr data-group="{{g}}" data-id="{{feature.id}}" class="feature" data-region="{{feature.id}}">
                        <td style="width: 10%;">
                            {#<input type="checkbox" data-id="" class="ifcheck" />#}
                            <div class="drag-point drag-drop-button"></div>
                        </td>
                        <td class="td-name" style="width: 45%;">{{ feature.name }}</td>
                        <td style="width: 10%;">
                            <input class="identifier-feature t-edit" type="number" value="{{feature.identifier}}"/>
                            <p class="identifier-feature-show t-read text-info">{{feature.identifier}}</p>
                        </td>
                        {% for n in 1..4 %}
                        <td style="width: 6%;">
                            <input class="t-edit pages-trigger" type="checkbox" data-id="" data-vid="" {% if feature.pages[n] == 1 %}checked{% endif %}/>
                            {% if feature.pages[n] == 1 %}
                                <i class="glyphicon glyphicon-ok t-read text-info"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-remove t-read text-danger"></i>
                            {% endif %}
                        </td>
                        {% endfor %}
                        <td style="width: 11%;">
                            <a title="редактировать" href="javascript:void(0)" class="permission-edit btn btn-success editit"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="отмена" href="javascript:void(0)"class="btn btn-default hidden cancelit"><i class="glyphicon glyphicon-remove"></i></a>
                            <a title="сохранить" href="javascript:void(0)"class="btn btn-primary hidden saveit"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>

           </table>
        </div>
    </div>
    <div class="trash hidden">
    </div>
</section>
<style>
.mini-control{
   font-size:9px;
}
.identifier-feature{
    width: 50px;
}
.fixed-head{
    background-color: #424242;
    border: 2px solid #6E6E6E;
    position: fixed;
    width: 1096px;
    z-index: 9999;
    top: 70px !important;
    color: #BDBDBD;
    font-size: 11px;
}
.fixed-head tr th{
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid #eee;
}
.notfixed-body{
     width: 970px;   
}
.notfixed-body tr td{
     text-align: center;
     vertical-align: middle !important;
     border: 1px solid #eee;
}
.drag-point{
    display: inline-flex;
}
.td-name{
    text-align: left !important;
}
.table-cst{
   position: relative;
    top: 60px !important;
}
.t-edit{
    display: none;
}
</style>
{% endblock %}
