<section class="sub-menu">
        {% set activecar = 1 %}
        {% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
        <div class="container current-base-auto">
        {% for key,car in cars %}
            {% if car.details is defined %}
            <div class="car-pointer"></div>
            <a data-id="{{key}}" class="{% if key == activecar and active is not defined %}active{% else %}{% if key == active %}active{% endif %}{% endif %}" href="/car/{{key}}">
                <img class="img-responsive" alt="" src="/front_assets/img/menu-car-{{carsimgs[key-1]}}.png">
                <span>{{car.name}}</span>
            </a>
            {% endif %}
        {% endfor %}
            <a href="/newcar" {% if active is defined and active == 'new' %}class="active"{% endif %}>
                <img src="/front_assets/img/menu-new-car.png" alt="" class="img-responsive"/>
                <span>LADA X-Ray</span>
            </a>
        </div>
</section>