{% for key,car in cars %}
    <li data-id="{{key}}">
        <span>{{car.name}}</span>
        <div class="img-wrap">
            <img src="/front_assets/img/menu-car-{{carsimgs[key-1]}}.png" alt="" class="img-responsive"/>
        </div>
        {% set i = 0 %}
        {% for x,y in car.details %}
            {% set class = 'active' %}
            {% if i != 0 %}
            {% set class = 'hidden' %}
            {% endif %}
            <div class="other-car {{class}}">
                    {% i,k in y %}
                        <div class="text-center">
                            <div class="img-wrap">
                                <img src="/front_assets/img/comparison-solaris.png" alt="" class="img-responsive"/>
                            </div>
                            <span>{{k.name}}</span>
                        </div>
                    {% endfor %}
                {% set i = i + 1 %}
            </div>
        {% endfor %}
    </li>
{% endfor %}