    <footer>
        <div class="container">
            <div class="footer-links clearfix">
                <div class="wrap-links col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="footer-link col-xs-6">
                            <h3>Автомобили</h3>
                            <ul>
                            {% for key,car in cars %}
                                {% if car.details is defined %}
                                <li><a id="carcblock{{key}}" href="/car/{{key}}">{{car.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li><a id="carcblocknewcar" href="/newcar">LADA X-Ray</a></li>
                            </ul>
                        </div>
                        <div class="footer-link col-xs-6">
                            <h3>Покупка</h3>
                            <ul>
                                <li><a href="/buy/newlada" {% if active == 'newlada' %}class="active"{% endif %}>Выбрать свою LADA</a></li>
                                <li><a href="/buy/calculator" {% if active == 'calculator' %}class="active"{% endif %}>Кредитный калькулятор</a></li>
                                <li><a href="/buy/autocredit" {% if active == 'autocredit' %}class="active"{% endif %}>Программа LADA Finance</a></li>
                                <li><a id="testdrivecblock" href="/buy/testdrive"  {% if active == 'testdrive' %}class="active"{% endif %}>Тест-драйв</a></li>
                                <li><a href="/buy/corporate"  {% if active == 'corporate' %}class="active"{% endif %}>Корпоративные продажи</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wrap-links col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="footer-link col-xs-6">
                            <h3>Владельцам</h3>
                            <ul>
                                <li><a href="/owners/insurance" {% if active == 'insurance' %}class="active"{% endif %}>Страхование</a></li>
                                <li><a href="/owners/service"{% if active == 'service' %}class="active"{% endif %}>Обслуживание LADA</a></li>
                                <li><a href="/owners/tradein"{% if active == 'tradein' %}class="active"{% endif %}>Продажи Trade-In</a></li>
                            </ul>
                        </div>

                        <div class="footer-link col-xs-6">
                            <div class="additional-menu-wrap clearfix">
                                <ul class="additional-menu">
                                    <li><a href="/share"{% if percent_menu is defined %} style="background-position:0 100%"{% endif %} class="have-tooltip -credit" title="Акции"></a></li>
                                    <li><a href="/configurator"{% if car_menu is defined %} style="background-position:0 100%"{% endif %} class="have-tooltip -testdrive" title="Конфигуратор"></a></li>
                                    <li><a href="/dealers" class="have-tooltip -dealers" title="Дилеры"  {% if pin_menu is defined %} style="background-position:0 100%"{% endif %}></a></li>
                                    <li><a href="/news" class="have-tooltip -calendar" title="Новости"></a></li>
                                </ul>
                            </div>
                            <div class="footer-search-form">
                                <label for="subscribe_email">Подписаться на обновления</label>
                                <div class="search-wrap">
                                    <input type="email" name="subscribe_email" id="subscribe_email" value="" placeholder="Email">
                                    <button class="subscrube_button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright col-xs-12">
                <p>Данные предложения носят информационный характер и не являются публичной офертой (ст. 437 ГК РФ)<br>
                   Разработка и поддержка <a href="#">Smart Links</a></p>
                <div class="footer-logo"><img src="/front_assets/img/logo_footer.png" alt=""></div>
            </div>
        </div>
    </footer>