{% for field in fields %}

    {% if field.type == 'input' %}
    	<div class="material-input col-tn-12">
		    <input class="personal" type="text" id="g{{field.alias}}" {% if field.required == 1 %}required{% endif %}>
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>{{field.name}}</label>
	    </div>
    {% endif %}
    {% if field.type == 'textarea' %}
    	<div class="material-input col-tn-12">
		    <textarea class="personal" id="g{{field.alias}}" name="message" rows="4" {% if field.required == 1 %}required{% endif %}></textarea>
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>{{field.name}}</label>
	    </div>
    {% endif %}
    {% if field.type == 'select' %}
        <div class="custom-select form-group col-tn-12">
            <label for="select1" class="col-sm-6 control-label">{{field.name}} </label>
            <div class="col-sm-6 text-right">
                <select name="" id="g{{field.alias}}" class="width-auto" data-placeholder="Выберите">
                	{% for option in field.options %}
                    <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>   
    {% endif %}
    {% if field.type == 'radio' %}
            <div class="custom-radio col-tn-12 insurtype">
                <label class="col-sm-4 control-label">{{field.name}}<span class="red-star">*</span></label>
                <div class="col-sm-8 custom-radio">
                    {% for option in field.options %}
                    <p><input id="g{{field.alias}}" type="radio" value="{{option}}" name="g{{field.alias}}">{{option}}</p>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
    {% if field.type == 'checkbox' %}
            <div class="custom-checkbox col-tn-12">
                <span>
                    <input id="g{{field.alias}}" type="checkbox">
                </span>
                <label>{{field.name}}</label>
            </div>
    {% endif %}        
    {% if field.type == 'calendar-time' %} 
            <div class="line_calendar-wrap">
                <div class="line_calendar">
                    <div class="calendar_month-year"></div>
                    <div class="cell arrow lar disabled">&laquo;</div>
                    <div class="calendar_slider-wrap"><div class="calendar_slider"></div></div>
                    <div class="cell arrow rar">&raquo;</div>
                    
                    <div class="daypart custom-select form-group">
                        <select onchange="line_calendar.setDaypart(this.value)" id="select1">
                            <option value="1">Утром</option>
                            <option value="2">Днём</option>
                            <option value="3">Вечером</option>
                        </select>
                    </div>
                </div>
            </div>
            <script src="/front_assets/js/test-drive.js"></script>
    {% endif %}  
    {% if field.type == 'calendar' %} 
            <div class="line_calendar-wrap">
                <div class="line_calendar">
                    <div class="calendar_month-year"></div>
                    <div class="cell arrow lar disabled">&laquo;</div>
                    <div class="calendar_slider-wrap"><div class="calendar_slider"></div></div>
                    <div class="cell arrow rar">&raquo;</div>
                </div>
            </div>
            <script src="/front_assets/js/test-drive.js"></script>
    {% endif %}  
{% endfor %}

<script>
var checks = {};
var form_errors = 0;
$(document).ready(function(){
setTimeout(function(){

})

})


function getFeilds(type){
    form_errors = 0;
    if( type == null ){
            type = '{{formtype}}';
    }
    {% for field in allFields %}
        checks['g{{field.alias}}'] = {};
        checks['g{{field.alias}}']['name'] = '{{field.name}}';
        {% if field.type == 'input' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('#g{{field.alias}}').val();
        {% endif %}
        {% if field.type == 'textarea' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('#g{{field.alias}}').val();
        {% endif %}
        {% if field.type == 'radio' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('#g{{field.alias}}-styler.checked').find('#g{{field.alias}}').val();
        {% endif %}
        {% if field.type == 'select' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('#g{{field.alias}}-styler').find('.jq-selectbox__select-text').html();
        {% endif %}
        {% if field.type == 'checkbox' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('#g{{field.alias}}-styler').hasClass('checked');
        {% endif %}
        {% if field.type == 'calendar' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('.line_calendar .calendar_month-year').html()+' '+$('.cell.day.active').html()
        {% endif %}
        {% if field.type == 'calendar-time' %}
            checks['g{{field.alias}}']['value'] = $('.form-'+type).find('.line_calendar .calendar_month-year').html()+' '+$('.cell.day.active').html()+' '+$('.daypart').find('.jq-selectbox__select-text').html();
        {% endif %}
        {% if field.required == 1 %}
            if( $.trim(checks['g{{field.alias}}']['value']) == '' ){
                showSuccessCST('Не все обязательные поля заполнены');
                form_errors++;
            }
        {% endif %}
    {% endfor %}
    checks['type'] = type;
    if( $('.form-'+type).find('.rules-agree-styler').length > 0 ){
        if($('#rules-agree-styler').hasClass('checked') != true ){
            form_errors++;
            showSuccessCST('Вы не подтвердили правила использования');
        }
    }
    else{
        if( $('.infobox:visible').length == 0 ){
            form_errors++;
            showSuccessCST('Выберите дилерский центр');
        }
        else{
            var dcid = $('.infobox:visible').attr('id');
            dcid = dcid.replace('msc','');
            checks['dc'] = dcid;
        }
        if( $('.service_form').attr('data-type') != undefined )
            checks['type-service'] = $('.service_form').attr('data-type');
        if( form_errors == 0 ){
            saveDataRequest(checks, type);
        }
        console.log(checks);
    }
}
</script>