{% extends "::base.html.twig" %}

{% block title %}SiteFrontendBundle:Home:index{% endblock %}

{% block content %}

    {{ render(controller('SiteFrontendBundle:Home:slider', { })) }}
    <section class="block-action-news">
        <div class="container">
            <div class="col-sm-6 col-md-4 action-news">
                <div class="action-news-inner">
                    <div><a href="/share" class="type">Акции</a></div>
                    <div class="img-wrap" style="background-image: url('/{{share.picture}}')"></div>
                    <div class="text-wrap">
						<div class="date">{{ share.startdate|date("d.m.Y") }} &ndash; {{ share.enddate|date("d.m.Y") }}</div>
                        <div class="title">{{ share.name }}</div>
                        <div class="desc">{{ share.teaser|raw }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 action-news">
                <div class="action-news-inner">
                    <div><a href="/news" class="type">Новости</a></div>
                    <div class="img-wrap" style="background-image: url('{{news.picture}}')"></div>
                    <div class="text-wrap">
                        <div class="date">{{ news.date|date("d.m.Y") }}</div>
                        <div class="title">{{ news.name }}</div>
                        <div class="desc">{{ news.teaser|raw }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 banner" data-tipped-options="target: 'mouse'">
                <div class="banner-inner clearfix">
                    <div class="img-wrap">
                        <img src="/front_assets/images/car3.png" alt="" class="img-responsive" />
                    </div>
                    <div class="text-wrap">
                        <p>Обменяйте свою старую машину на новую LADA по прогрмме утилизации</p>
                        <div class="text-center">
                            <a href="/newcar" class="btn btn-type1">Узнать подробности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block-360">
            <div class="grid-load">

            </div>
        <div class="container">
            <div class="car360 have-tooltip" data-tipped-options="target: 'mouse'" title="Кликните и потяните курсором в нужном вам направлении">
                <img class="rollerblade-img img-responsive" src="/uploads/3d/209/1.jpg" alt=""/>
            </div>
            <div class="icon360"><img src="/front_assets/img/icon-360.png" alt=""/><span class="hidden-xs">Кликните и потяните</span></div>
        </div>
    </section>
    <script type="text/javascript">
        function setBlockHeight() {
            var tdheight = $('.slider-features-car table td').outerHeight();
            $('.competitor.text-center').css('minHeight', tdheight);
        } 
              
    </script>
    <section class="block-comparison">
        <div class="container">
            <div class="comparison-wrap clearfix">
                <a href="javascript:void(0)" id="car-details" class="btn btn-type2 see-but">Обзор и характеристики</a>
                <div class="comparison-table col-tn-6 col-sm-3">
                    <div class="cars-column">
                        <div class="lada-car">
                            {{ render(controller('SiteFrontendBundle:Home:getCars')) }}
                        </div>
                        <div class="other-car">
                        <ul class="slider-competitors">
                        {% for key,car in competitors %}
                            {% for x,y in car.details %}
                            <li>
                                 {% for r,k in y.competitors %}
                                    <div data-code="" class="competitor text-center">
                                        <div class="img-wrap">
                                            <img src="/{{k.image}}" alt="" class="img-responsive"/>
                                        </div>
                                        <span>{{k.name}}</span>
                                    </div>
                                {% endfor %}
                            </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                            <!--<div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-solaris.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Hyundai Solaris</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-lifan.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Lifan Smily</span>
                            </div>
                            <div class="text-center">
                                <div class="img-wrap">
                                    <img src="/front_assets/img/comparison-sandero.png" alt="" class="img-responsive"/>
                                </div>
                                <span>Renault Sandero</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="features-block col-tn-6 col-sm-9">
                    <div class="features-block-inner">
                        <div class="help-width">
                            <ul class="slider-features-car">
{% set z = 0 %}
{% for key,car in competitors %}
        {% set i = 0 %}
        {% for x,y in car.details %}
                        <li>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_4"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_5"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-diag -stars">
                                            <div class="icon-diag-fill points_7"></div>
                                        </div>
                                    </td>
                                    <td>{{y.price[1]|round}}</td>
                                </tr>

                                <tr class="feature-info">
                                    {% for label in labels %}
                                    <td>{{label.iname}}</td>
                                    {% endfor %}
                                </tr>
                     {% for r,k in y.competitors %}

                                <tr>

                                    <td>
                                      {#{{x}}--  {{k.name}}{% if k.info[0] is defined %}{{k.info[0].value}}{% endif %}</td>#}
                                        {% if k.info[0] is defined %}
                                            {% set diff = (k.info[0].value/(labels[0].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    <td>
                                        {% if k.info[1] is defined %}
                                            {% set diff = (k.info[1].value/(labels[1].ivalue/100))|round %}
                                            {% if diff > 100 %}{% set diff = 100 %}{% endif %}                           
                                        <div class="icon-diag -stars">
                                            <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if k.info[2] is defined %}
                                        {% set diff = (k.info[2].value/(labels[2].ivalue/100))|round %}
                                        {% if diff > 100 %}{% set diff = 100 %}{% endif %}       
                                            <div class="icon-diag -stars">
                                                <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        {% if k.info[3] is defined %}
                                        {% set diff = (k.info[3].value/(labels[3].ivalue/100))|round %}
                                        {% if diff > 100 %}{% set diff = 100 %}{% endif %}
                                            <div class="icon-diag -stars">
                                                <div style="width:{{diff}}px;" class="icon-diag-fill points_6"></div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{% if k.info[4] is defined %}{{k.info[4].value}}{% endif %}</td>
                                </tr>

                    {% endfor %}
                            </tbody>
                        </table>
                    </li>
                {% set i = i + 1 %}
        {% endfor %}
        {% set z = z+1 %}
{% endfor %}
                    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block-gallery">
        <div class="container clearfix">
            <div class="column-gallery-wide">
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="/front_assets/images/gallery2.jpg" data-options="thumbnail: 'images/gallery2.jpg'" class="item -video">
                    <span class="img-wrap" style="background-image: url('images/gallery2.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
            </div>
            <div class="column-gallery">
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: '/front_assets/images/gallery1.jpg'" class="item -video">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: 'images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
                <a href="/front_assets/images/gallery1.jpg" data-options="thumbnail: 'images/gallery1.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery1.jpg')"></span>
                    <span class="text">Lada Granta</span>
                </a>
            </div>
            <div class="column-gallery-wide">
                <a href="/front_assets/images/gallery2.jpg" data-options="thumbnail: '/front_assets/images/gallery2.jpg'" class="item">
                    <span class="img-wrap" style="background-image: url('/front_assets/images/gallery2.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
                <a href="http://www.youtube.com/embed/jLsqPj8yTjg?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&suggestedQuality=large" data-options="thumbnail: 'http://img.youtube.com/vi/jLsqPj8yTjg/hqdefault.jpg',smartRecognition: true, width: 800, height: 600" class="item -video">
                    <span class="img-wrap" style="background-image: url('http://img.youtube.com/vi/jLsqPj8yTjg/hqdefault.jpg')"></span>
                    <span class="text">4x4</span>
                </a>
            </div>
        </div>
    </section>
    <section class="block-review">
        <div class="container">
            {% for review in reviews %}
            <div class="col-xs-12 col-sm-4 review">
                <img src="/{{ review.file }}" alt="" class="img-responsive"/>
                <div class="review-inner">
                    <div class="name">{{ review.name }}</div>
                    <div class="info">
                        {{ review.description }}
                    </div>
                    <div class="author">
                        {{ review.authorName }}<br/>
                        <i>{{ review.authorStatus|raw }}</i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <script>
    var gallery_reset = true;
    threedmodel = 1025;
    $(document).ready(function(){
    $('#car-details').on('click',function(){
        var code = $('.active-slide').attr('data-code');
        var id = $('.active-slide').attr('data-id');
        location.href = '/car/'+id+'/'+code;
    })

    })

        function SetCarBodyData()
        {
            var bodyid = $('.active-slide').attr('data-code');
            var car_id = $('.active-slide').attr('data-id');
            console.log(car_id);
            newThreeDModel(car_id+'0'+bodyid);
            $.ajax({
                url: "/car/body/"+car_id+"/"+bodyid,
                processData: false,
                dataType: 'json',
                success: function(data)
                {
                    var dss = $(data.tpl2)
                        $('body').append($('<div/>').addClass('temp'));
                        $('.temp').html($(data.tpl2));
                        var div = $('.temp').find('#car-gallery');
                        $('.temp').remove();
                        $('.block-gallery').replaceWith(div);
                    App.Gallary();
                    /*
                    App.Tabs();
                    App.ProgressBar();
                    App.MainSlider();

                    var datas = {};
                    datas['carId'] = car_id;
                    datas['bodyId'] = bodyid;
                    console.log(data);
                    $.ajax({
                          url: '{{ path('front_configurator_details') }}',
                          data: datas,
                          dataType : 'html',
                          type: 'post',
                          success: function (response) {
                            $('#car-configurator').html(response);
                          },
                          error: function(e){

                          }});
                          */
                }
            });



        }
    </script>
{% endblock %}