{% extends "::base.html.twig" %}

{% block content %}
<style>
.window-login{
    border: 10px solid #0051a1;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    width: 40%;
}
.pagetitle{
    background-color: #0051a1;
    color: #fff;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 30px;
    width: 40%;
}
.logo{
    display: inline;
    float: left;
    position: relative;
}
.auth{
    display: inline;
    float: right;
    position: relative;
}
</style>
    <section class="login" id="sec_login">
        <h2 class="pagetitle">
                        <a href="/" class="logo">
                    <img src="/front_assets/img/logo.png" alt="" class="img-responsive"/>
                </a>
            <span class="auth">Авторизация</span>
        </h2>
        <div class="window-login container">
            
            {% if error %}
                <div>{{ error|trans }}</div>
            {% endif %}
            <div class="user-form">
                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Логин:</label>
                        <div class="col-sm-9"><input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Пароль:</label>
                        <div class="col-sm-9"><input type="password" id="password" name="_password" class="form-control" required="required" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Запомнить меня
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="Войти" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="butt blue" href="{{ path('register') }}">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}