{% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
<div class="slider-comparison-car-wrap">
    <ul class="slider-comparison-car">
    {% set z = 0 %}
    {% for key,car in cars %}
      {% for x,y in car.details %}
        <li data-code="{{y.id}}" class="item-slide" data-id="{{key}}">
            <span>{{car.name}}</span>
            <div class="img-wrap">
                <img src="/{{y.image}}" alt="" class="img-responsive"/>
            </div>
            <div class="type-wrap">
                <span data-type="{{x}}" class="btn-comparison-type">{{x}}</span>
            </div>
        </li>
        {%  set z = z + 1 %}
        {% endfor %}
    {% endfor %}
    </ul>
    <div class="control-prev-slide"><!----></div>
    <div class="control-next-slide"><!----></div>
</div>
<script>
var competitors = true;
$(document).ready(function(){

})
</script>