
    <section id="map" class="map">
        <div class="infobox-wrapper">
        {% for k,dc in offices %}
            <div class="infobox" id="msc{{dc.id}}">
                <div class="modal-map">
                    <div class="info">
                        <div class="name">{{dc.name}}</div>
                        <div class="address">{{dc.information}}</div>
                        <div class="more-info-block">
                            <dl class="dl-horizontal minimargin">
                                <dt>Телефон</dt>
                                {% for phone in dc.phone %}
                                <dd>{{phone}}</dd>
                                {% endfor %}
                                <dt>e-mails</dt>
                                {% for email in dc.email %}
                                <dd>{{email}}</dd>
                                {% endfor %}
                                <dt>Услуги</dt>
                                <dd></dd>
                            </dl>
                        </div>
                        <div class="mapicons">
                            {% if 'autocredit' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-autocredit.svg" alt="" /></div>
                            {% endif %}
                            {% if 'autoparts' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-autoparts.svg" alt="" /></div>
                            {% endif %}
                            {% if 'usedauto' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-auto_s_probegom.svg" alt="" /></div>
                            {% endif %}
                            {% if 'corpprod' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-corporate.svg" alt="" /></div>
                            {% endif %}
                            {% if 'save' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-insurace.svg" alt="" /></div>
                            {% endif %}
                            {% if 'autoservice' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-service.svg" alt="" /></div>
                            {% endif %}
                            {% if 'testdrive' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-test-drive.svg" alt="" /></div>
                            {% endif %}
                            {% if 'tradein' in dc.services %}
							<div class="mapicon"><img src="/front_assets/img/mapicon-trade-in.svg" alt="" /></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hrefs clearfix">
                        <a href="#" class="phone"></a>
                        <a href="#" class="mail"></a>
                        <a href="/dealers/{{dc.alias}}" class="page">Страница дилера</a>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div id="infobox">
                <div class="modal-map">
                    <div class="info">
                        <div class="name">Василеостровский Автоцентр</div>
                        <div class="address">Васильевский Остров, Малый проспект, д. 62, корп.1</div>
                        <div class="more-info-block">
                            <dl class="dl-horizontal">
                                <dt>Телефон</dt>
                                <dd>+7 (812) 448 05 00</dd>
                                <dt>Время работы</dt>
                                <dd>ПН-ВС 10:00—19:00</dd>
                                <dt>Услуги</dt>
                                <dd></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="hrefs clearfix">
                        <a href="#" class="phone"></a>
                        <a href="#" class="mail"></a>
                        <a href="#" class="page">Страница дилера</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="map-top-menu">
            <div class="container">
                <h3>Карта дилеров LADA для {{region.for}}</h3>
                <div class="search-form-wrap">
                    <div class="input-wrap">
                        <div class="input-inner ui-widget">
                            <input id="dealer-centre-name" type="text" placeholder="Название или адрес дилера"/>
                            <a href="javascript:void(0)" class="btn_geoposition"><!----></a>
                            <a href="javascript:void(0)" id="dealers-all" class="btn_all_dealers">Все</a>
                        <ul style="width:100%" class="dropdown-menu pull-right dealers-list">
                        {% for centre in offices %}
                        <li class="dealer-centre"><a data-id="{{centre.id}}" href="javascript:void(0)">{{centre.name}}</a></li>
                        {% endfor %}
                        <!--<li class="divider"></li>
                        <li><a href="#">Отделенный пункт</a></li>-->
                        </ul>
                        </div>
                    </div>
                    <a href="javascript:void(0)" id="dealers-single" class="btn btn-type3 search-but">Найти</a>
                </div>
            </div>
        </div>
        <div id="map-offices"></div>
            <div id="offering" class="hidden">
        <div id="cover">
        </div>
        <div id="cover-content">
            <div id="question">
                <div class="inner">
                    <div class="info">
                    <div class="col-md-12">
                        <h5>Ближайший к вам Дилерский Центр <p class="insert" id="dc"></p> находится в пределах <p class="insert" id="forregion"></p>. </h5>
                        <a class="btn btn-primary"  id="goto">Перейти на сайт</a>
                        <a href="javascript:void(0)" class="btn btn-default" id="cancel">Остаться та этом сайте</a>
                    </div>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <script type="text/javascript">
        var offs = [];
        var lW = [];
        var lH = [];
        var autolist = [];
        var listkeys = [];
        {% if offices is defined %}
            {% for centre in offices %}
            autolist[{{centre.id}}] = '{{centre.name}}';
            listkeys['{{centre.name}}'] = {{centre.id}};
            {% set ll = centre.coordinates|split('::') %}
                var of = {
                    latLng: [{{ll[0]}}, {{ll[1]}}],
                     title: '{{centre.name}}',
                    button: 'msc'+{{centre.id}},
                    key: {{centre.id}},
                }
            offs.push(of);
            lW.push({{ll[0]}});
            lH.push({{ll[1]}});
            {% endfor %}
            var e = 0;var i = 0;
            $.each(lW,function(k,v){
                e = e+v;
            })
            $.each(lH,function(k,v){
                i = i+v;
            })
            var generalL = e/lW.length;
            var generalW = i/lH.length;
        {% endif %}
        $(document).ready(function(){
            var list = [];
            $.each(autolist,function(k,v){
            if ( v != undefined ){
                list.push(v);
            }
            })
            $( "#dealer-centre-name" ).autocomplete({
                source: list,
                minlength: 0
            });



        })
    </script>
    <style>
    .c-map-labels{
    background-image: url('/front_assets/img/placemark.png');
    width: 30px;
    height: 48px;
    overflow: visible !important;
    background-size: cover;
    }
    </style>