<div class="modal show modal-small hidden infomsg this-{{thistype}}" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="mess"> <span></span>{{success}}</p>
            </div>
        </div>
    </div>
</div>