<section class="check-action hidden">
    <div class="container">
        <div class="col-tn-4 vcenter text-center">
            <img src="img/check-action.png" alt="" class="img-responsive"/>
        </div><!--
        --><div class="col-tn-8 vcenter">
            <div class="text">
                Ваша заявка успешно отправлена. <br/>
                Мы ждем вас в автосалоне.
            </div>
        </div>
    </div>
</section>

{% if options['right-block-title'] is defined and options['right-block-title'] != 'false' and options['left-block-title'] is defined and options['left-block-title'] != 'false' %}
<section class="p-t10-b-50">
    <div class="container">
        {% if options['right-block-title'] is defined and options['right-block-title'] != 'false' %}
            {% set classname = 'col-sm-7 col-md-6' %}
        {% else %}
            {% set classname = 'p-t10-b-50' %}
        {% endif %}
        <div class="{{classname}} col-lg-offset-1">
            <h3>{{options['left-block-title']|raw}}</h3>
            <p>{{options['left-block-content']|raw}}</p>
        </div>
        {% if options['right-block-title'] is defined and options['right-block-title'] != 'false' %}
        <div class="col-sm-5 col-md-5 col-lg-4 col-md-offset-1 sidebar">
            <h3>{{options['right-block-title']|raw}}</h3>
            <p>{{options['right-block-content']|raw}}</p>
            {% if options['right-block-button-name'] is defined and options['right-block-button-name'] != 'false' %}
                <div class="text-center">
                    <a href="{{options['right-block-button-href']}}" class="btn btn-type3 search-but">{{options['right-block-button-name']}}</a>
                </div>
            {% endif %}
        </div>
        {% endif %}

    </div>
</section>
{% endif %}
{% if options['pdf-block'] is defined and options['pdf-block'] != 'false' %}
    <div>
        <object data="/{{options['pdf-block']}}" type="application/pdf" width="100%" height="800">
        alt : <a href="/{{options['pdf-block']}}">catalog.pdf</a>
        </object>
    </div> 
{% endif %}