<script type="text/javascript">
    $(document).ready(function(){
        $('.show-question').on('click',function(e){
            e.preventDefault();
            $('body').addClass('modal-open').trigger('modal-open');
            $('.question').addClass('show');
        })
        $('.question .close').on('click',function(){
            $('.question').removeClass('show');
            $('body').removeClass('modal-open');
        })
    })
</script>

<div class="modal modal-small question" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="mess">Задать вопрос</p>


                <div class="modal-scroll">
                    <form action="#" class="clearfix form-callback">
                        <div class="form-fields-wrap">
                            {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-callback'})) }}
                        </div>
                    </form>

                    {{render(controller('SiteFrontendBundle:Home:map'))}}

                    <div title="выберите дилерский центр" data-toggle="tooltip"  class="have-tooltip text-center ttp m-t40-b-40">
                        <div class="btn btn-type1 sendinfo disabled">Отправить вопрос</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.sendinfo').unbind( "click");
        $('.sendinfo').on('click',function(){
            getFeilds('callback');
        });
    });
</script>