<h1 id="pagetitle">Регистрация</h1>
<div class="user-form">
<form action="{{ path('register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="formrow">
        <div class="name"><label for="username">E-mail:</label></div>
        <div class="value">{{form_widget(form.email)}}</div>
    </div>
    <div class="formrow">
        <div class="name"><label for="username">Имя пользователя:</label></div>
        <div class="value">{{form_widget(form.username)}}</div>
    </div>
    <div class="formrow">
        <div class="name"><label for="username">Пароль:</label></div>
        <div class="value">{{form_widget(form.plainPassword.first)}}</div>
    </div>
    <div class="formrow">
        <div class="name"><label for="username">Пароль повтор:</label></div>
        <div class="value">{{form_widget(form.plainPassword.second)}}</div>
    </div>
    <div class="formrow">
        <div class="name"><label for="username">Ф.И.О.:</label></div>
        <div class="value">{{form_widget(form.fio)}}</div>
    </div>
    {{ form_rest(form) }}
    <div class="formrow">
        <div class="name"></div>
        <div class="value"><input type="submit" id="_submit" name="_submit" class="butt" value="Зарегистрироваться" /></div>
    </div>
</form>
</div>