<section class="slider-main-page">
    <ul class="slider-main">
        {% for slide in slides %}
        <li data-tipped-options="target: 'mouse'">
            <div class="slide-bg" style="background-image: url('{{ slide.image }}')"></div>
            <div class="container-wrap" style="background-image: url('{{ slide.image2 }}')">
                <div class="container">
                    <div class="promo-title_block">
                        <div class="promo-title">
                            <a href="#">{{ slide.textTitle }}</a>
                        </div>
                        <div class="promo-subtitle">{{ slide.textSubtitle }}</div>
                        <p class="promo-desc">{{ slide.shortDescription }}</p>
                    </div>
                    <div class="promo-price-block">
                        <div class="promo-price">{{ slide.textMonth }}</div>
                        <div class="promo-price_desc">в месяц с LADA Finance</div>
                        <div class="but-wrap">
                            <a href="/credit/{{ slide.linkButton }}" class="btn btn-type1">Кредитный калькулятор</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="control-prev-slide main-slider"><!----></div>
    <div class="control-next-slide main-slider"><!----></div>
</section>