{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.destroy').on('click',function(){
                var code = $(this).attr('data-code');
                $(this).parents('tr').attr('data-code',code);
                $(this).parents('.btn-group').find('.destroy').hide();
                $(this).parents('tr').addClass('danger');
                $(this).parents('tr').find('.recover').attr('disabled',false).show();
              })

              $('.recover').on('click',function(){
                $(this).hide();
                $(this).parents('tr').removeAttr('data-code');
                $(this).parents('tr').removeClass('danger');
                $(this).parents('.btn-group').find('.destroy').show();
                $(this).parents('tr').find('.destroy').attr('disabled',false).show();
              })
              $('#save').on('click',function(){
                saveData();
              })
});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['type'] = 'group';
                var groups = $('.list-groups').find('.new-group.danger');
                $.each(groups,function(k,v){
                    data[k] = {};
                    data[k]['id'] = $(this).attr('data-id');
                    data[k]['code'] = $(this).attr('data-code');
                })
                if ( groups.length == 0 ){
                    admin.errors.groups_delete = 'ни одна группа не помечена к удалению';
                    ajaxResponseHandler(1);
                }
                else{                                     
                  $.ajax({
                      url: '{{ path('ajax_afeatures_delete') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      $('.list-groups').find('.new-group.danger').remove();

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:MFC:delete{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Удаление групп</header>
    <div class="panel-body">
        <table class="table table list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        {% for key,group in structure %}
        <tr data-id="{{key}}" class="new-group" id="for-clone">
        <td><span class="left col-sm-6 form-group"><b>{{group.name}}</b> ( характеристик: <span class="text-info">{{group.features|length}}</span> )</span></th>
        <td><span class="right col-sm-6">
                <div class="btn-group right">
                      <a data-code="0" title="удалить только группу" href="#" class="btn btn-warning destroy"><i class="glyphicon glyphicon-remove"></i></a>
                      {% if group.features|length > 0 %}
                      <a data-code="1" title="удалить группу и ее характеристики" href="#" class="btn btn-danger destroy"><i class="glyphicon glyphicon-remove"></i></a>
                      {% endif %}
                      <a style="display:none;" title="отменить" href="#" class="btn btn-default recover"><i class="glyphicon glyphicon-repeat"></i></a>
                </div>
        </span></td></tr>
        {% endfor %}
        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Группы удалены.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Группы не удалены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/base-auto-afeatures" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}
