{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.status').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('#save').on('click',function(){
                saveData();
              })
});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                var groups = $('.list-groups').find('.new-group');
                var e = 0;
                data['type'] = 'group';
                $.each(groups,function(){
                    var id = $(this).find('input.group').attr('data-id');
                    var name = $(this).find('input.group').val();
                    var status = $(this).find('.status.active').attr('data-code');
                    data[id] = {};
                    data[id]['name'] = name;
                    data[id]['status'] = status;
                    if($.trim(name) == ''){
                        e++;
                        $(this).find('input.group').parents('.form-group').addClass('has-error');
                        admin.errors.dc_add = 'заполните пустые поля';

                    }

                })
                if ( e > 0 ){
                    ajaxResponseHandler(1);
                }
                else{                                 
                  $.ajax({
                      url: '{{ path('ajax_afeatures_edit') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      setTimeout(function() { location.href = '/admin/base-auto-afeatures'}, 2000)

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:MFC:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование группы</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr><th><span class="left col-sm-6"><div class="left">Название</div></span></th>
            <th>
            <span class="left col-sm-6">
            <div class="left">Видимость</div></span>
            </th>
        </tr>
        {% for group in groups %}
        <tr class="new-group" id="for-clone">
        <td><span class="left col-sm-6 form-group"><input data-id="{{group.id}}" type="text" value="{{group.name}}" class="form-control group"/></span></th>
        <td><span class="left col-sm-6">
                <div class="btn-group left">
                  <button data-code="0" type="button" class="btn btn-default status">Нет</button>
                  <button data-code="1" type="button" class="btn btn-primary active status">Да</button>
                </div>
        </span></td></tr>
        {% endfor %}
        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/base-auto-afeatures" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}
