{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.status').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('.type').on('click',function(){
                if ( $(this).attr('data-code') == 'switcher' ){
                  $('.warning-feature').removeClass('hidden');
                  $('.switcher-warning').removeClass('hidden');
                  $('.multiple-warning').addClass('hidden');
                  $('.no-values-warning').addClass('hidden');
                  $('.one-value').removeClass('label-default').addClass('label-danger');
                  $('.one-value').addClass('removethis');
                }
                else{
                  $('.one-value').removeClass('removethis');
                  $('.warning-feature').addClass('hidden');
                  $('.multiple-warning').removeClass('hidden');
                  $('.switcher-warning').addClass('hidden');
                  $('.one-value').addClass('label-default').removeClass('label-danger');
                  var vv = $('.one-value').length;
                  if ( vv == 0 )
                    $('.no-values-warning').removeClass('hidden');
                }
                $(this).parents('td').find('.active.btn-primary.type').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
                $('.v-remove').on('click',function(){
                          $(this).parents('.one-value').remove();
                          var vv = $('.one-value').length;
                          if ( vv == 0 )
                            $('.no-values-warning').removeClass('hidden');
                })
                $('.add-mini.v-add').on('click',function(){
                  var label = $('<span>').addClass('left col-sm-10 label-default form-group one-value').css('padding','10px');
                  label.html('<input type="text" style="width:300px;" value="" class="value form-control">');
                  label.append('<input type="text" style="width:300px;" value="" placeholder="описание" class="description">');
                  var rm = $('<span/>').addClass('btn-sm btn-danger v-remove right').html('<i class="glyphicon glyphicon-remove"></i>')
                  .bind('click',function(){
                          $(this).parents('.one-value').remove();
                          var vv = $('.one-value').length;
                          if ( vv == 0 )
                            $('.no-values-warning').removeClass('hidden');
                      })
                  label.append(rm);
                  label.insertBefore($(this).parent());
                  $('.no-values-warning').addClass('hidden');
                })
              $('#save').on('click',function(){
                saveData();
              })
            });

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = {{feature.id}};
                data['type'] = 'feature';
                data['groupId'] = $('#groupId').val();
                data['name'] = $('#name').val();
                data['ftype'] = $('.active.type').attr('data-code');
                data['status'] = $('.active.status').attr('data-code');
                var e = 0;
                if( $.trim(data['name']) == ''){
                  console.log('dddd');
                  $('#name').parents('.form-group').addClass('has-error');
                  e++;
                }

                if ( data['ftype'] == 'multiple' ){
                var values = $('.one-value');
                data['values'] = {};
                  $.each(values,function(k,v){
                    if ( $(this).hasClass('removethis') == false ){
                      data['values'][k] = {};
                      data['values'][k]['value'] = $(this).find('.value').val();
                      data['values'][k]['description'] = $(this).find('.description').val();
                      
                      if( $.trim($(this).find('.value').val()) == '' ){
                          $(this).addClass('has-error');
                          console.log($(this));
                          e++;
                      }
                    }
                    
                  });
                }
                if ( e > 0 ){
                admin.errors.dc_add = 'заполните пустые поля или удалите лишние';
                ajaxResponseHandler(1);
                }
                else{
                  $.ajax({
                      url: '{{ path('ajax_afeatures_edit') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      setTimeout(function() { location.href = '/admin/base-auto-afeatures'}, 2000)
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                }
            }

    </script>
{% endblock %}
{% block title %}SiteBackendBundle:MFC:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование характеристики / значений</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr>
            <th><span class="left col-sm-10"><div class="left">Название</div></span></th>
            <td width="80%"><span class="left col-sm-12 form-group"><input id="name" width="100%" type="text" value="{{feature.name}}" class="form-control"/></span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Группа</div></span></th>
            <td width="80%"><span class="left col-sm-12 form-group">
            <select id="groupId"  class="form-control">
            {% for g in groups %}
            <option value="{{g.id}}"{% if feature.groupId == g.id %} selected{% endif %}>{{g.name}}</option>
            {% endfor %}
            </select>
            </span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Тип множественная</div></span></th>
            <td><span class="left col-sm-12" form-group">
                <div class="btn-group left">
                  <button data-code="switcher" type="button" class="btn {% if feature.type == 'switcher' %}btn-primary active{% else %}btn-default{% endif %} type">Нет</button>
                  <button data-code="multiple" type="button" class="btn {% if feature.type == 'multiple' %}btn-primary active{% else %}btn-default{% endif %} type">Да</button>
                </div>
                <span class="warning-feature hidden text-danger right"><b>switcher</b> удалит все множественные значения</span>
            </span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Видимость</div></span></th>
            <td>
            <span class="left col-sm-12 form-group">
                <div class="btn-group left">
                  <button data-code="0" type="button" class="btn {% if feature.status == 0 %}btn-primary active{% else %}btn-default{% endif %} status">Нет</button>
                  <button data-code="1" type="button" class="btn {% if feature.status == 1 %}btn-primary active{% else %}btn-default{% endif %} status">Да</button>
                </div>
            </td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Значения</div></span></th>
            <td><span class="values left col-sm-12 form-group">
            {% if values is empty %}
            {% if feature.type == 'switcher' %}
            <span class='switcher-warning text-danger'>тип характеристики <b>switcher</b> не предусматривает множественные значения</span>
            <span class='text-danger hidden col-sm-12 no-values-warning' style="padding-bottom:10px;">нет значений</span>
            {% else %}
            <span class="hidden switcher-warning text-danger">тип характеристики <b>switcher</b> не предусматривает множественные значения</span>
            <span class="text-danger col-sm-12 no-values-warning" style="padding-bottom:10px;">нет значений</span>
            {% endif %}
            {% else %}
                {% for value in values %}
                    <span class="one-value left col-sm-10 label-default form-group" style="padding:10px;">
                    <input class="value form-control" type="text" style="width:300px;" value="{{value.value}}"/>
                    <input class="description" style="width:300px;" type="text" placeholder="описание" value="{{value.description}}"/>
                    <a title="удалить" href="javascript:void(0)" class="v-remove right btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                {% endfor %}
            {% endif %}

            <span class="col-sm-12"><div class="{% if feature.type == 'switcher' %}hidden {% endif %}add-mini left v-add multiple-warning"></div></span>
            </span></td>
        </tr>
        <tr class="hidden">
            <th><span class="left col-sm-10"><div class="left">Наличие в комплектациях</div></span></th>
            <td><span class="left col-sm-12 form-group"></span></td>
        </tr>
        <tr class="hidden">
            <th><span class="left col-sm-10"><div class="left">Наличие в моделях</div></span></th>
            <td><span class="left col-sm-12 form-group"></span></td>
        </tr>
        </table>
        <div class="form-group">
        <div class="col-sm-12">
          <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
          <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
          <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
          <a href="/admin/base-auto-afeatures" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>
{% endblock %}
