{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
             $('.content-groups #hide-all').on('click',function(){
              $(this).hide();
              $('.content-groups #show-all').show();
              $('.all-groups tr.notstable-tr').slideUp(100);
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-down');
             })

             $('.content-groups #show-all').on('click',function(){
              $(this).hide();
              $('.content-groups #hide-all').show();
              $('.all-groups tr.notstable-tr').slideDown(100);   
              $('.all-groups .trigger-toggle .glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
             })

            $('.trigger-toggle').on('click',function(){
            $(this).parents('tr').find('.trigger-toggle .glyphicon').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
            var id = $(this).parents('tr').attr('data-id');
            if ( $('tr[data-parent='+id+']').is(':visible') == true ){
                $('tr[data-parent='+id+']').slideUp(300);
            }
            else{
                $('tr[data-parent='+id+']').slideDown(300);
            }
            })
             });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:MFC:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_afeatures_add', { type:'group'}) }}" class="btn btn-primary btn-sm">Добавить группы</a>
        <a href="{{ path('admin_afeatures_add', { type:'feature'}) }}" class="btn btn-primary btn-sm">Добавить характеристики</a>
        <a href="{{ path('admin_afeatures_edit', { type:'group', id: 'all' }) }}" class="btn btn-success btn-sm">Редактировать группы</a>
        <a href="{{ path('admin_afeatures_delete', { type:'group', id: 'all' }) }}" class="btn btn-danger btn-sm">Удалить группы</a>

        <span class="content-groups text-info right"> 
            <a style="display:none;" href="javascript:void(0);" id="show-all">Развернуть все</a>
            <a href="javascript:void(0);" id="hide-all">Свернуть все</a>
        </span>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive all-groups">

                <tbody>
                    {% for key, group in structure %}
                    <table class="table table-striped table-bordered responsive no-m">
                        <thead>
                            <tr data-id="{{key}}">
                                <th colspan=2>{{group.name}}
                                {% if group.features|length > 0 %}
                                <span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                {% endif %}</th>
                            </tr>
                        </thead>
                                    {% for k, feature in group.features %}
                                            <tr data-parent="{{key}}" class="notstable-tr">
                                                <td>
                                                    {{feature.name}}
                                                </td>
                                                   <td style="width:15%">
                                                   <span class="right">
                                                    <a title="просмотр" href="{{ path('admin_afeatures_view', { type:'feature', id: feature.id }) }}" class="btn-sm btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                    <a title="редактировать" href="{{ path('admin_afeatures_edit', { type:'feature', id: feature.id }) }}" class="btn-sm btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                                                    <a title="удалить" href="{{ path('admin_afeatures_delete', { type:'feature', id: feature.id }) }}"class="btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
