{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

});



    </script>
{% endblock %}
{% block title %}SiteBackendBundle:MFC:view{% endblock %}

{% block content %}
{% if block == 'feature' %}
<section class="panel">
    <header class="panel-heading">Просмотр характеристики</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr>
            <th><span class="left col-sm-10"><div class="left">Название</div></span></th>
            <td><span class="left col-sm-12 form-group">{{feature.name}}</span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Тип</div></span></th>
            <td><span class="left col-sm-12" form-group">{{feature.type}}</span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Видимость</div></span></th>
            <td>
            <span class="left col-sm-12 form-group">
            {% if feature.status == 1 %}<span class="text-success">Разрешена к просмотру</span>{% else %}<span class="text-warning">Скрыта</span>{% endif %}
            </span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Значения</div></span></th>
            <td><span class="left col-sm-12 form-group">
            {% if feature.type == 'switcher' %}
                Характеристика типа <b>{{feature.type}}</b> возвращает одно из двух значений типа да/нет
            {% else %}
            {% if values is empty %}
            <span class='text-danger'>нет значений</span>
            {% else %}
                {% for value in values %}
                    <span class="left col-sm-12 label-default form-group">
                    {{value.value}}
                    {% if value.description == '' or value.description == null %}
                    ( описание отсутствует )
                    {% else %}
                    ( {{value.description}} )
                    {% endif  %}
                    </span>
                {% endfor %}
            {% endif %}
            {% endif %}
            </span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Наличие в комплектациях</div></span></th>
            <td><span class="left col-sm-12 form-group"></span></td>
        </tr>
        <tr>
            <th><span class="left col-sm-10"><div class="left">Наличие в моделях</div></span></th>
            <td><span class="left col-sm-12 form-group"></span></td>
        </tr>
        </table>
        <div class="form-group">
        <div class="col-sm-12">
        <a href="/admin/base-auto-afeatures" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>
{% endif %}
{% endblock %}
