{% extends "::admin.html.twig" %}

{% block title %}Добавить документ{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Добавление документа</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.dillerId) }}</label>
                <div class="col-sm-10">{{ form_widget(form.dillerId) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.type) }}</label>
                <div class="col-sm-10">{{ form_widget(form.type) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.descr) }}</label>
                <div class="col-sm-10">{{ form_widget(form.descr) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.link) }}</label>
                <div class="col-sm-10">{{ form_widget(form.link) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.dateAdd) }}</label>
                <div class="col-sm-10">{{ form_widget(form.dateAdd) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Добавить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
