{% extends "::admin.html.twig" %}

{% block title %}Проверка документов{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_dillerdocs_add') }}" class="btn btn-primary btn-sm">Добавить документ</a>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">Дата</header>
            <div class="panel-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">От</label>
                        <div class="col-sm-10"><input type="date" class="form-control" name="date_from" value="{{ date_from }}" onchange="console.log($(this).val());" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">До</label>
                        <div class="col-sm-10"><input type="date" class="form-control" name="date_to" value="{{ date_to }}" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Применить</button></div>
                    </div>
                </form>
            </div>
        </section>
        <section class="panel no-b">
            <header class="panel-heading">
                Проверка документов
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m" data-sortable>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                {% for k, dt in dates %}
                                <th colspan="3">{{ k }}</th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>ID дилера</th>
                                <th>Название дилера</th>
                                {% for k, dt in dates %}
                                <th>Счет</th>
                                <th>Закрывающие</th>
                                <th>Отчет</th>
                                {% endfor %}
                                <th>Регион</th>
                                <th>Менеджер</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                            <tr>
                                <td>{{ document.diller_id }}</td>
                                <td>{{ document.diller_name }}</td>
                                {% for k, dt in dates %}
                                <td style="width: 130px; background: {% if 'bill' in document.dates[k] %}#13D101{% else %}#FF0000{% endif %};"></td>
                                <td style="width: 130px; background: {% if 'close' in document.dates[k] %}#13D101{% else %}#FF0000{% endif %};"></td>
                                <td style="width: 130px; background: {% if 'report' in document.dates[k] %}#13D101{% else %}#FF0000{% endif %};"></td>
                                {% endfor %}
                                <td>{{ document.region_name }}</td>
                                <td>{{ document.diller_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}