{% extends "::base.html.twig" %}

{% block title %}SiteBackendBundle:DillerCentreDocuments:delete{% endblock %}

{% block body %}
<h1>Welcome to the DillerCentreDocuments:delete page</h1>
{% endblock %}
