{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Slider:addslide{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Добавление слайда</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.title) }}</label>
                <div class="col-sm-10">{{ form_widget(form.title) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.image) }}</label>
                <div class="col-sm-10">{{ form_widget(form.image) }}</div>
            </div>
            {% if slider != 2 %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.image2) }}</label>
                <div class="col-sm-10">{{ form_widget(form.image2) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.textTitle) }}</label>
                <div class="col-sm-10">{{ form_widget(form.textTitle) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.textSubtitle) }}</label>
                <div class="col-sm-10">{{ form_widget(form.textSubtitle) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.shortDescription) }}</label>
                <div class="col-sm-10">{{ form_widget(form.shortDescription) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.textMonth) }}</label>
                <div class="col-sm-10">{{ form_widget(form.textMonth) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.linkButton) }}</label>
                <div class="col-sm-10">{{ form_widget(form.linkButton) }}</div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Добавить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
