{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
                    
                })
            })    
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Roles:view{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Недостаточно прав</header>
    <div class="panel-body">
   
    <div class="alert alert-error"> <img class="left" width=30px height=30px src="/admin_assets/imgs/alert.png"/>
    <span class="col-xs-7 left">Вы не можете просматривать эту страницу так как ваша учетная запись не привязана ни к одному региону.</span></div>
    </div>
</section>

{% endblock %}
