{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:autoTestDrive{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<script>
    $('document').ready(function()
    {
        $('.kpp-input').click(function()
        {
            var id = $(this).attr('data-id');
            var parent = $(this).parent().parent().parent();
            if($(this).attr('checked'))
            {
                $('#car'+id).attr('checked', 'checked');
            }
            else if(!parent.find('.kpp-mt').attr('checked') &&
                    !parent.find('.kpp-at').attr('checked') &&
                    !parent.find('.kpp-rb').attr('checked'))
            {
                $('#car'+id).removeAttr('checked');
            }
        })
        
        $('.car-kpp').click(function()
        {
            var parent = $(this).parent().parent().parent();
            if($(this).attr('checked'))
            {
                parent.find('.kpp-input').attr('checked', 'checked');
            }
            else
            {
                parent.find('.kpp-input').removeAttr('checked');
            }
        })
    })
</script>
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Автомобили для тест-драйва в ДЦ</h1>
        <div class="btn_block">
            <a href="" class="i i-print"></a>
            <a href="" class="i i-download"></a>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- test drive select -->
<div class="inner_box car_select">
    <form method="post" name="test_drive_form">
    <table>
        <col class="col1">
            <col class="col2">
                <col class="col3">
                    <col class="col4">
                        {% for car in bodies %}
                        <tr>
                            <td>
                                <div class="chk">
                                    <input class="car-kpp" type="checkbox" value="1" name="car[{{ car.body_id }}]" id="car{{ car.body_id }}"{% if exists[car.body_id] is defined %} checked{% endif %}>
                                    <label for="car{{ car.body_id }}"><b>{{ car.name }} {{ car.body_name }}</b></label>
                                </div>
                            </td>
                            {% if car.kpp[11] is defined %}
                            <td>
                                <div class="rd">
                                    <input class="kpp-input kpp-mt" data-id="{{ car.body_id }}" type="checkbox" name="mt[{{ car.body_id }}]" value="mt" id="mt{{ car.body_id }}"{% if exists[car.body_id] is defined and exists[car.body_id].mt == 1 %} checked{% endif %}>
                                    <label for="mt{{ car.body_id }}">{{ car.kpp[11] }}</label>
                                </div>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if car.kpp[110] is defined %}
                            <td>
                                <div class="rd">
                                    <input class="kpp-input kpp-at" data-id="{{ car.body_id }}" type="checkbox" name="at[{{ car.body_id }}]" value="at" id="at{{ car.body_id }}"{% if exists[car.body_id] is defined and exists[car.body_id].at == 1 %} checked{% endif %}>
                                    <label for="at{{ car.body_id }}">{{ car.kpp[110] }}</label>
                                </div>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if car.kpp[386] is defined %}
                            <td>
                                <div class="rd">
                                    <input class="kpp-input kpp-rb" data-id="{{ car.body_id }}" type="checkbox" name="rb[{{ car.body_id }}]" value="rb" id="rb{{ car.body_id }}"{% if exists[car.body_id] is defined and exists[car.body_id].rb == 1 %} checked{% endif %}>
                                    <label for="rb{{ car.body_id }}">{{ car.kpp[386] }}</label>
                                </div>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
    </table>
    <div class="info">Отметьте коробку передач и автомобиль выберется автоматически</div>
    <div class="buttons_block">
        <a href="#" onclick="document.test_drive_form.submit(); return false;" class="button">Сохранить</a>
        <a href="">Отмена</a>
    </div>
    </form>
</div>
<!-- /test drive select -->
{% endblock %}
