{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:bid{% endblock %}

{% block content %}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Заявки для рекламных площадок</h1>
        <div class="right_block">
            <div class="search">
                <span class="i i-search"></span>
                <input type="text">
                <input type="submit" value="Найти">
            </div>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- orders -->
<section class="orders inner_box">
    <header>
        <h3>Заявки на подтверждение</h3>
    </header>
    <nav class="cnt_menu">
        <ul>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
        </ul>
    </nav>
    <header>
        <h3>Ваши заявки</h3>
    </header>
    <nav class="cnt_menu">
        <ul>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
            <li>
                <div class="order_num"><a href="">Заявка №00123 от 10.01.2014</a>
                </div>
                <div class="name">Название рекламной площадки</div>
            </li>
        </ul>
    </nav>
</section>
<!-- /orders -->
{% endblock %}
