{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:index{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Автомобили для тест-драйва в ДЦ</h1>
        <div class="btn_block">
            <a href="" class="i i-print"></a>
            <a href="" class="i i-download"></a>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- in stock -->
<div class="diller_instock inner_box">
    <div class="title">Выберите автомобиль</div>
    <table class="tbl_car">
        <col class="col1">
            <col class="col2">
                <col class="col3">
                    <col class="col4">
                        <col class="col5">
                            <tbody>
                                {% for k_body, body in bodies %}
                                <tr>
                                    <td><div class="name">{{ body.name }}</div></td>
                                    {% for k_val, val in body.values %}
                                    <td><a href="" data-car="{{ k_val }}" class="instock">{{ val.name }}</a></td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
    </table>
    <form method="post" name="send_form">
    {% for k_body, body in bodies %}
    {% for k_val, val in body.values %}
    <!-- car 01   -->
    <div class="car_block" id="car{{ k_val }}">
        <div class="title">Выберите цвета, которые есть в наличии</div>
        <div class="chk_box">
            <div class="chk chk_all">
                <input type="checkbox" id="car01color01">
                <label for="car01color01">Все</label>
            </div>
            {% for k, v in colors %}
            {% if k_body == v.body %}
            <div class="chk">
                <input type="checkbox" id="color{{ k_val }}-{{ k }}" name="color[{{ k_val }}][{{ k }}]" value="1"{% if color_data[k_val][k] is defined %} checked{% endif %} />
                <label for="color{{ k_val }}-{{ k }}">{{ v.name }}</label>
            </div>
            {% endif %}
            {% endfor %}
            <p><a href="">Очистить</a></p>
        </div>
        <div class="title">Отметьте комплектации, которые есть в наличии.
            <br>Если ни одна коплектация у исполнения не выбрана - считается, что его сейчас нет в наличии.
            <br>Если не выбран ни один вариант в таблице - считается, что автомобиля с таким типом кузова сейчас нет в наличии.</div>
        <table class="tbl_chk">
            <col class="col1">
                <col class="col2">
                    <col class="col3">
                        <col class="col4">
                            <col class="col5">
                                <col class="col6">
                                    <tbody>
                                        {% for k_isp, v_isp in val.complectations %}
                                        <tr>
                                            <th>{{ v_isp.name }}</th>
                                            {% for k_comp, v_comp in v_isp.values %}
                                            <th>{{ v_comp }}</th>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="chk">
                                                    <input type="checkbox" id="car{{ k_body }}-{{ k_isp }}" />
                                                    <label for="car{{ k_body }}-{{ k_isp }}">Все</label>
                                                </div>
                                            </td>
                                            {% for k_comp, v_comp in v_isp.values %}
                                            <td>
                                                <div class="chk">
                                                    <input type="checkbox" id="car{{ k_body }}-{{ k_isp }}-{{ k_comp }}" name="compl[{{ k_val }}][{{ k_isp }}][{{ k_comp }}]" value="1"{% if compl_data[k_val][k_isp][k_comp] is defined %} checked{% endif %} />
                                                    <label for="car{{ k_body }}-{{ k_isp }}-{{ k_comp }}"></label>
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
        </table>
    </div>
    <!-- /car01 -->
    {% endfor %}
    {% endfor %}
    </form>
    <div class="buttons_block">
        <a href="javascript: document.send_form.submit();" class="button">Сохранить</a>
        <a href="">Отмена</a>
    </div>
</div>
<!-- /in stock -->
{% endblock %}