<!-- diller select -->
<div class="diller_select">
    <div class="title">Диллерский центр:</div>
    <div class="diller_block">
        <div class="status">{% if all_dealers[app.request.get('dealerid')].status == -1 %}Неактивный{% elseif all_dealers[app.request.get('dealerid')].status == 0 %}Ограниченные права{% elseif all_dealers[app.request.get('dealerid')].status == 1 %}Активный{%endif%}</div>
        {% if all_dealers[app.request.get('dealerid')] is defined %}
        <div class="name">{{ all_dealers[app.request.get('dealerid')].name }}</div>
        {% endif %}
        <div class="select_menu">
            <a href="" class="btn_menu">Все</a>
            <ul>
                {% for dealer in all_dealers %}
                <li><a href="{{ path('cabinet_dealer_index', { dealerid: dealer.id }) }}"{% if dealer.id == app.request.get('dealerid') %} class="active"{% endif %}>{{ dealer.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- /diller select -->