{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:documents{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Документы для вас</h1>
        <div class="right_block">
            <a href="" class="i i-download"></a>
            <div class="search">
                <span class="i i-search"></span>
                <input type="text">
                <input type="submit" value="Найти">
            </div>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- documents -->
<div class="documents inner_box">
    <div class="tabs_filter">
        <ul>
            <li><a href="#tab1">Отчеты <span class="num">{{ report_count }}</span></a>
            </li>
            <li><a href="#tab2">Счета <span class="num">{{ bill_count }}</span></a>
            </li>
            <li><a href="#tab3">Закрывающие <span class="num">{{ close_count }}</span></a>
            </li>
            <li class="filter">Период <a href="#tab4">Все</a>
            </li>
        </ul>
        <div id="tab1">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                        {% if document.type == 'report' %}
                            <li><a href="/dillerdocs/{{ document.link }}">Документ №{{ document.id }} от {{ document.dateAdd.format('d.m.Y') }} {{ document.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="tab2">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                        {% if document.type == 'bill' %}
                            <li><a href="/dillerdocs/{{ document.link }}">Документ №{{ document.id }} от {{ document.dateAdd.format('d.m.Y') }} {{ document.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="tab3">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                        {% if document.type == 'close' %}
                            <li><a href="/dillerdocs/{{ document.link }}">Документ №{{ document.id }} от {{ document.dateAdd.format('d.m.Y') }} {{ document.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="tab4">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                    <li><a href="/dillerdocs/{{ document.link }}">Документ №{{ document.id }} от {{ document.dateAdd.format('d.m.Y') }} {{ document.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /documents -->
{% endblock %}
