{% extends "::cabinet.html.twig" %}

{% block title %}Информация о дилере{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Документы для вас</h1>
        <div class="right_block">
            <a href="" class="i i-download"></a>
            <div class="search">
                <span class="i i-search"></span>
                <input type="text">
                <input type="submit" value="Найти">
            </div>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- documents -->
<div class="documents inner_box">
    <div class="tabs">
        <ul>
            <li><a href="#tab1">Документы</a>
            </li>
            <li><a href="#tab2">Карточки</a>
            </li>
        </ul>
        <div id="tab1">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                        {% if document.type == 'template' %}
                            <li><a href="/dillerdocs/{{ document.link }}">{{ document.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="tab2">
            <div class="cnt_menu">
                <ul>
                    {% for document in documents %}
                        {% if document.type == 'template_card' %}
                            <li><a href="/dillerdocs/{{ document.link }}">{{ document.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /documents -->
{% endblock %}
