{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:addSpecial{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Редактирование акции</h1>
    </div>
</div>
<!-- /title box -->
<!-- diller new action -->
<form class="diller_new_action frm_content inner_box" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <label>{{ form_label(form.title) }} <span>(до 60 знаков, включая пробелы)</span>  <span class="rq">*</span></label>
        {{ form_widget(form.title) }}
    </div>
    <div class="row">
        <label>{{ form_label(form.dateExpire) }} <span>(до 35 знаков, включая пробелы)</span></label>
        {{ form_widget(form.dateExpire) }}
    </div>
    <div class="row">
        <label>{{ form_label(form.descr) }} <span>(до 600 знаков, включая пробелы)</span>  <span class="rq">*</span></label>
        {{ form_widget(form.descr) }}
    </div>
    <div class="row row_file">
        <label>{{ form_label(form.image) }}
            <br><span>До 1 Мб, форматы gpj, png, pdf, gif без анимации</span>
            <br><span>Если у вас нет подходящей картинки - ее поставит менеджер.</span>
        </label>
        <div class="field_file">
            <span class="button">Выберите файл</span>
            <span class="text"></span>
            {{ form_widget(form.image) }}
        </div>
    </div>
    <div class="row row_pic">
        <div class="field">
            <label>Акции
                <br><span>Выравняйте изображения для страницы Акции</span>
            </label>
            <div class="pic">
                <img src="/dillerspecial/{{ special.image }}" alt="">
            </div>
            <p><a href="">Предосмотр</a>
            </p>
            <div class="chk">
                {{ form_widget(form.isInPage) }}
                {{ form_label(form.isInPage) }}
            </div>
        </div>
        <div class="field">
            <label>Страница ДЦ
                <br><span>Выравняйте изображения для страницы Акции</span>
            </label>
            <div class="pic">
                <img src="/dillerspecial/{{ special.image }}" alt="">
            </div>
            <p><a href="">Предосмотр</a>
            </p>
            <div class="chk">
                {{ form_widget(form.isFirst) }}
                {{ form_label(form.isFirst) }}
            </div>
        </div>
    </div>
    {% if count_sp >= 3 and special.isArchive == 1 %}
    <div class="row row_act">
        <label>На вашей странице может быть не больше 3-х акций. Какую текущую акцию вы хотите заменить?</label>
        <div class="field">
            <div class="select">
                <select name="special_replace">
                    {% for spec in specials %}
                    <option value="{{ spec.id }}">{{ spec.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <a href="" class="button">Заменить</a>
        </div>
    </div>
    {% endif %}
    <div class="row row_submit">
        <input type="submit" value="Сохранить">
        <a href="">Снять с сайта</a>
        <a href="">Отмена</a>
    </div>
</form>
<!-- /diller new action -->
{% endblock %}
