{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:index{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <div class="diller_mail">
            Почта для обращения с сайта
            <a href="mailto:a.ivanova@lada-cupchino.ru" class="mail">a.ivanova@lada-cupchino.ru</a>
            <a href="" class="edit">Изменить</a>
        </div>
        <div class="btn_block">
            <a href="" class="btn_add"><span class="i i-plus"></span>Добавить</a>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- treatment -->
<section class="inner_box">
    <header>
        <h2>Обращения с сайта</h2>
    </header>
    <nav class="treatment_menu">
        <ul class="cnt_menu">
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'callback' }) }}">Заказы на обратные звонки {% if count_requests.callback > 0 %}<span class="num">{{ count_requests.callback }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'mail' }) }}">Сообщения с сайта {% if count_requests.mail > 0 %}<span class="num">{{ count_requests.mail }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'car-buy-request' }) }}">Заказы на покупку автомобилей {% if count_requests['car-buy-request'] > 0 %}<span class="num">{{ count_requests['car-buy-request'] }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'car-request' }) }}">Заявки на автомобили {% if count_requests['car-request'] > 0 %}<span class="num">{{ count_requests['car-request'] }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'testdrive' }) }}">Заявки на тест-драйв {% if count_requests.testdrive > 0 %}<span class="num">{{ count_requests.testdrive }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'tradeinquery' }) }}">Заявки на trade-in {% if count_requests.tradeinquery > 0 %}<span class="num">{{ count_requests.tradeinquery }}</span>{% endif %}</a>
            </li>
        </ul>
        <ul class="cnt_menu">
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'insurance' }) }}">Заявки на страхование {% if count_requests.insurance > 0 %}<span class="num">{{ count_requests.insurance }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'service' }) }}">Заявки на обсулживание {% if count_requests.service > 0 %}<span class="num">{{ count_requests.service }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'credit' }) }}">Заявки на кредит {% if count_requests.credit > 0 %}<span class="num">{{ count_requests.credit }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'cupon' }) }}">Купоны на акции {% if count_requests.cupon > 0 %}<span class="num">{{ count_requests.cupon }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealer.id, type: 'contactbase' }) }}">Контактная база {% if count_requests.contactbase > 0 %}<span class="num">{{ count_requests.contactbase }}</span>{% endif %}</a>
            </li>
        </ul>
    </nav>
</section>
<!-- /treatment -->
<!-- diller info -->
<div class="inner_box diller_info">
    <ul>
        <li><a href="{{ path('cabinet_dealer_info', { dealerid: dealer.id }) }}"><span class="pic"></span>Информация о ДЦ <br> для сайта</a>
        </li>
        <li><a href="{{ path('cabinet_dealer_special', { dealerid: dealer.id }) }}"><span class="pic"></span>Ваши акции</a>
        </li>
        <li><a href="{{ path('cabinet_dealer_auto_test_drive', { dealerid: dealer.id }) }}"><span class="pic"></span>Автомобили для <br> тест-драйва</a>
        </li>
        <li><a href="{{ path('cabinet_dealer_complectations', { dealerid: dealer.id }) }}"><span class="pic"></span>Комплектации <br> в наличии</a>
        </li>
        <li><a href="{{ path('cabinet_dealer_documents', { dealerid: dealer.id }) }}"><span class="pic"></span>Документы для вас</a><span class="num">10</span>
        </li>
        <li><a href="{{ path('cabinet_dealer_documents_templates', { dealerid: dealer.id }) }}"><span class="pic"></span>Шаблоны документов <br> и карточек</a>
        </li>
        <li><a href="{{ path('cabinet_dealer_bid', { dealerid: dealer.id }) }}"><span class="pic"></span>Заявки для рекламных <br> площадок</a>
        </li>
        <li><a href="http://clients.smart-links.ru/signin" target="_blank"><span class="pic"></span>Статистика медийной <br> рекламы</a>
        </li>
    </ul>
</div>
<!-- /diller info -->
<!-- manager block -->
<div class="manager_box">
    <div class="inner_box">
        <div class="manager_block">
            <div class="photo">
                <img src="/cabinet_assets/img/m01.jpg" alt="">
            </div>
            <div class="title">Ваш менеджер</div>
            <div class="name">Екатерина Стародубова</div>
            <div class="contacts">
                <div class="tel">+ 7 495 644 01 33 * 118, +7 915 205 80 86</div>
                <div class="mail"><a href="">starodubova@smart-links.ru</a>
                </div>
            </div>
            <a href="" class="btn btn_message">Сообщение</a>
        </div>
    </div>
</div>
<!-- /manager block -->
<!-- popup message -->
<div id="popup_message">
    <form class="frm_message">
        <div class="title">Ваше сообщение для Екатерина</div>
        <textarea placeholder="Пример текста"></textarea>
        <div class="row_submit">
            <input type="submit" value="Отправить">
        </div>
    </form>
</div>
<!-- /popup message -->
{% endblock %}
