{% extends "::cabinet.html.twig" %}

{% block title %}Информация о дилере{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}

<script>
    $(document).ready(function()
    {
        $('.tab-dealer-change').click(function(e)
        {
            e.preventDefault();
            
            var datafor = $(this).attr('data-for');
            
            if($('#'+datafor+'-text').css('display') == 'none')
            {
                $('#'+datafor+'-text').show();
                $('#'+datafor+'-inputs').hide();
            }
            else
            {
                $('#'+datafor+'-text').hide();
                $('#'+datafor+'-inputs').show();
            }
        })
    });
</script>
<style>
    .hided { display: none; }
</style>

<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Данные о ДЦ на странице</h1>
        <a href="/dealers/{{dealer.alias}}">Посмотреть на сайте</a>
        <div class="btn_block">
            <a href="" class="btn_view"><span class="i i-view"></span>Предосмотр</a>
        </div>
    </div>
</div>
<!-- /title box -->
<form class="form-horizontal" method="post" {{ form_enctype(form) }} name="dform">
<!-- diller contacts -->
<div class="inner_box diller_contacts">
    <div id="dealer-binfo-text" class="showed">
        <div class="col">
            <h3>Название</h3>
            <p>{{ dealer.name }}</p>
            <h3>Адрес</h3>
            <p>{{ dealer.legalAddress }}</p>
        </div>
        <div class="col">
            <h3>Телефон</h3>
            <p>{{ dealer.phone|jsonDecodeImplode(', ') }}</p>
            <h3>Время работы:</h3>
            <p>{{ dealer.worktime }}</p>
        </div>
    </div>
    <div id="dealer-binfo-inputs" class="hided">
        <div class="col">
            <h3>{{ form_label(form.name) }}</h3>
            <p>{{ form_widget(form.name) }}</p>
            <h3>{{ form_label(form.legalAddress) }}</h3>
            <p>{{ form_widget(form.legalAddress) }}</p>
        </div>
        <div class="col">
            <h3>{{ form_label(form.phone) }}</h3>
            <p>{{ form_widget(form.phone) }}</p>
            <h3>{{ form_label(form.worktime) }}</h3>
            <p>{{ form_widget(form.worktime) }}</p>
        </div>
    </div>
    <p class="edit"><a href="#" class="tab-dealer-change" data-for="dealer-binfo">Изменить</a>
    </p>
</div>
<!-- /diller contacts -->
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h2>Текс о ДЦ на странице</h2>
    </div>
</div>
<!-- /title box -->
<!-- diller text -->
<div class="inner_box diller_text">
    <div class="col">
        <div class="showed" id="dealer-btext1-text">
            <h3>{% if text_blocks.block_title_1 is defined %}{{ text_blocks.block_title_1 }}{% endif %}</h3>
            <p>{% if text_blocks.block_body_1 is defined %}{{ text_blocks.block_body_1 }}{% endif %}</p>
        </div>
        <div class="hided" id="dealer-btext1-inputs">
            <h3>{{ form_label(form.block_title_1) }}</h3>
            <p>{{ form_widget(form.block_title_1) }}</p>
            <h3>{{ form_label(form.block_body_1) }}</h3>
            <p>{{ form_widget(form.block_body_1) }}</p>
        </div>
        <p><a href="#" class="tab-dealer-change" data-for="dealer-btext1">Изменить</a>
        </p>
    </div>
    <div class="col">
        <div class="showed" id="dealer-btext2-text">
            <h3>{% if text_blocks.block_title_2 is defined %}{{ text_blocks.block_title_2 }}{% endif %}</h3>
            <p>{% if text_blocks.block_body_2 is defined %}{{ text_blocks.block_body_2 }}{% endif %}</p>
        </div>
        <div class="hided" id="dealer-btext2-inputs">
            <h3>{{ form_label(form.block_title_2) }}</h3>
            <p>{{ form_widget(form.block_title_2) }}</p>
            <h3>{{ form_label(form.block_body_2) }}</h3>
            <p>{{ form_widget(form.block_body_2) }}</p>
        </div>
        <p><a href="#" class="tab-dealer-change" data-for="dealer-btext2">Изменить</a>
        </p>
    </div>
    <div class="col">
        <div class="showed" id="dealer-btext3-text">
            <h3>{% if text_blocks.block_title_3 is defined %}{{ text_blocks.block_title_3 }}{% endif %}</h3>
            <p>{% if text_blocks.block_body_3 is defined %}{{ text_blocks.block_body_3 }}{% endif %}</p>
        </div>
        <div class="hided" id="dealer-btext3-inputs">
            <h3>{{ form_label(form.block_title_3) }}</h3>
            <p>{{ form_widget(form.block_title_3) }}</p>
            <h3>{{ form_label(form.block_body_3) }}</h3>
            <p>{{ form_widget(form.block_body_3) }}</p>
        </div>
        <p><a href="#" class="tab-dealer-change" data-for="dealer-btext3">Изменить</a>
        </p>
    </div>
</div>
<!-- /diller text -->
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h2>Услуги ДЦ</h2>
    </div>
</div>
<!-- /title box -->
<!-- diller services -->
<div class="inner_box diller_services">
    <div class="chk_box">
        <div class="chk">
            <input type="checkbox" name="services[testdrive]" id="chk01"{% if 'testdrive' in services %} checked{%endif%} />
            <label for="chk01">Тест-драйв</label>
            <div class="info">Выберите автомобиль для тест-драйва</div>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[autocredit]" id="chk02"{% if 'autocredit' in services %} checked{%endif%} />
            <label for="chk02">Автокредит LADA</label>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[save]" id="chk03"{% if 'save' in services %} checked{%endif%} />
            <label for="chk03">Страхование</label>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[tradein]" id="chk04"{% if 'tradein' in services %} checked{%endif%} />
            <label for="chk04">Trade-in</label>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[corpprod]" id="chk05"{% if 'corpprod' in services %} checked{%endif%} />
            <label for="chk05">Корпоративные продажи</label>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[autoservice]" id="chk06"{% if 'autoservice' in services %} checked{%endif%} />
            <label for="chk06">Автосервис LADA</label>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[autoparts]" id="chk07"{% if 'autoparts' in services %} checked{%endif%} />
            <label for="chk07">Автозапчасти LADA</label>
            <div class="info">{% if dealer.pricelist != '' %}<a href="/diller_pricelist/{{ dealer.pricelist }}">{{ dealer.pricelist }}</a>{% endif %}  <a href="#" onclick="$('#price_list_inp input').click(); return false;">Изменить</a>
            <div style="display: none;" id="price_list_inp">{{ form_widget(form.pricelist) }}</div>
            </div>
        </div>
        <div class="chk">
            <input type="checkbox" name="services[usedauto]" id="chk08" />
            <label for="chk08">Авто с пробегом</label>
        </div>
    </div>
    <p><i>Если вы хотите услугу на своей странице, которой нет в списке - обратитесь к менеджеру.</i>
    </p>
    <div class="buttons_block">
        <a href="#" class="button" onclick="document.dform.submit(); return false;">Сохранить</a>
        <a href="">Отмена</a>
    </div>
</div>
</form>
<!-- /diller services -->
{% endblock %}
