{% extends "::cabinet.html.twig" %}

{% block title %}SiteBackendBundle:CabinetDealer:index{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h2>Обращения с сайта</h2>
    </div>
</div>
<!-- /title box -->
<!-- treatment -->
<section class="inner_box">
    <header>
    </header>
    <nav class="treatment_menu">
        <ul class="cnt_menu">
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'callback' }) }}">Заказы на обратные звонки {% if count_requests.callback > 0 %}<span class="num">{{ count_requests.callback }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'mail' }) }}">Сообщения с сайта {% if count_requests.mail > 0 %}<span class="num">{{ count_requests.mail }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'car-buy-request' }) }}">Заказы на покупку автомобилей {% if count_requests['car-buy-request'] > 0 %}<span class="num">{{ count_requests['car-buy-request'] }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'car-request' }) }}">Заявки на автомобили {% if count_requests['car-request'] > 0 %}<span class="num">{{ count_requests['car-request'] }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'testdrive' }) }}">Заявки на тест-драйв {% if count_requests.testdrive > 0 %}<span class="num">{{ count_requests.testdrive }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'tradeinquery' }) }}">Заявки на trade-in {% if count_requests.tradeinquery > 0 %}<span class="num">{{ count_requests.tradeinquery }}</span>{% endif %}</a>
            </li>
        </ul>
        <ul class="cnt_menu">
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'insurance' }) }}">Заявки на страхование {% if count_requests.insurance > 0 %}<span class="num">{{ count_requests.insurance }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'service' }) }}">Заявки на обсулживание {% if count_requests.service > 0 %}<span class="num">{{ count_requests.service }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'credit' }) }}">Заявки на кредит {% if count_requests.credit > 0 %}<span class="num">{{ count_requests.credit }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'cupon' }) }}">Купоны на акции {% if count_requests.cupon > 0 %}<span class="num">{{ count_requests.cupon }}</span>{% endif %}</a>
            </li>
            <li><a href="{{ path('cabinet_dealer_requests', { dealerid: dealerid, type: 'contactbase' }) }}">Контактная база {% if count_requests.contactbase > 0 %}<span class="num">{{ count_requests.contactbase }}</span>{% endif %}</a>
            </li>
        </ul>
    </nav>
</section>
<!-- /treatment -->

<section class="toolbar_row inner_box">
    <ul class="service_icons">
        <li><a href="#" class="i i-search"></a></li>
        <li><a href="#" class="i i-print"></a></li>
        <li><a href="#" class="i i-download"></a></li>
    </ul>
    
    <div class="part_count">
        <label for="items_count">Выводить по</label>
        <input type="text" id="items_count" name="items_count">
    </div>
    
    <div class="part_period">
        <label for="display_period">Период</label>
        <input type="text" id="display_period" name="display_period">
        <a href="#" class="field_clear"><i></i></a>
    </div>
    <div class="part_search">
        <a href="#" class="button">Найти</a>
    </div>                
</section>

<section class="inner_box">
    <table id="orders">
        {% for item in items %}
        <tr>
            <td>
                <a href="#" class="order-date">{{ item.date_add|date("d.m.Y H:i") }}</a>
            </td>
            <td>
                <a href="#" class="order-author">{{ item.data.gname.value }}</a>
                <span class="order-info">
                    <span class="order-phone">{{ item.data.gphone.value }}</span>
                    <span class="order-email"><a href="mailto:{{ item.data.gemail.value }}">{{ item.data.gemail.value }}</a></span>
                </span>
                <span class="order-desc">
                    {{ item.data.gcomment.value }}
                </span>
            </td>
            <td>
                <span class="ordered-car">LADA Granta лифтбек</span>
                <span class="ordered-tech">Стандарт, 21911-40-710</span>
                <div class="ordered-color">Магма</div>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<section id="paginator">
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#" class="current">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
    </ul>
</section>
{% endblock %}
