{% extends "::cabinet.html.twig" %}

{% block title %}Информация о дилере{% endblock %}

{% block content %}
{{ render(controller('SiteBackendBundle:CabinetDealer:deallersList', { dealerid: dealerid })) }}
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h1>Акции ДЦ на сайте</h1>
        <div class="btn_block">
            <a href="{{ path('cabinet_dealer_add_special', { dealerid: dealerid }) }}" class="button">Добавить акцию</a>
        </div>
    </div>
</div>
<!-- /title box -->
<!-- diller actions -->
<section class="inner_box">
    <header>
        <h2>Текущие акции на сайте</h2>
    </header>
    {% for special in specials %}
    {% if special.isArchive == 0 %}
    <!-- item -->
    <div class="action_item">
        <div class="action">
            <div class="pic">
                {% if special.image != '' %}
                <img style="max-width: 100%;" src="/dillerspecial/{{ special.image }}" alt="">
                {% endif %}
            </div>
            <div class="text">
                <div class="data">{{ special.dateExpire }}</div>
                <h3>{{ special.title }}</h3>
                <p>{{ special.descr }}</p>
            </div>
        </div>
        <div class="buttons">
            <a href="{{ path('cabinet_dealer_edit_special', { dealerid: dealerid, id: special.id }) }}">Изменить</a>
            <a href="{{ path('cabinet_dealer_to_archive_special', { dealerid: dealerid, id: special.id }) }}">В архив</a>
        </div>
    </div>
    <!-- /item -->
    {% endif %}
    {% endfor %}
</section>
<!-- /diller actions -->
<!-- title box -->
<div class="main_title">
    <div class="inner_box">
        <h2>Архив акций ДЦ</h2>
    </div>
</div>
<!-- /title box -->
<!-- diller arx -->
<form method="post" name="del_special_form">
<div class="diller_arx inner_box">
    <ul class="cnt_menu">
        {% for special in specials %}
            {% if special.isArchive == 1 %}
            <li>
                <div class="chk">
                    <input type="checkbox" id="sp-{{ special.id }}" name="special[]" value="{{ special.id }}" />
                    <label for="sp-{{ special.id }}">
                        <a href="{{ path('cabinet_dealer_edit_special', { dealerid: dealerid, id: special.id }) }}">{{ special.title }}</a>
                    </label>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="#" onclick="document.del_special_form.submit(); return false;" class="button">Удалить</a>
</div>
<input type="hidden" name="spec_delete" value="1" />
</form>
<!-- /diller arx -->
{% endblock %}