            {#{{dump(minvalues)}}#}
            {#{{dump(details)}}#}
            {#{{dump(equipments)}}#}

            <div class="col-xs-12">
                <div class="block-360-wrap text-center">
                    <div class="car360">
                        <img class="rollerblade-img img-responsive" src="/uploads/3d/{{code}}/1.png" alt=""/>
                    </div>
                    <div class="icon360"><img src="/front_assets/img/icon-360.png" alt=""><span class="hidden-xs">Кликните и потяните</span></div>
                </div>
            </div>

            <div class="col-tn-12">
                <div class="row">
                    <div class="col-sm-8" style="margin-bottom: 100px;">
                        <div role="tabpanel" class="clearfix">
                            <ul style="text-align:left;" class="nav nav-tabs nav-tabs-custom-1 text-left" role="tablist">
                                <li role="presentation" class="active"><a href="#all" aria-controls="color" role="tab" data-toggle="tab">Цвет</a></li>
                                {% if (korob|length > 0) %}<li role="presentation"><a href="#all" aria-controls="korob" role="tab" data-toggle="tab">Коробка передач</a></li>{% endif %}
                                {% if (dvig|length > 0) %}<li role="presentation"><a href="#all" aria-controls="dvig" role="tab" data-toggle="tab">Двигатель</a></li>{% endif %}
                                {% if (safe|length > 0) %}<li role="presentation"><a href="#all" aria-controls="safe" role="tab" data-toggle="tab">Безопасность</a></li>{% endif %}
                                {% if (komfort|length > 0) %}<li role="presentation"><a href="#all" aria-controls="komfort" role="tab" data-toggle="tab">Комфорт</a></li>{% endif %}
                                {% if (ext|length > 0) %}<li role="presentation"><a href="#all" aria-controls="ext" role="tab" data-toggle="tab">Экстерьер</a></li>{% endif %}
                                {% if (int|length > 0) %}<li role="presentation"><a href="#all" aria-controls="int" role="tab" data-toggle="tab">Интерьер</a></li>{% endif %}
                            </ul>

                            <div class="tab-content tab-content-custom-1">
                            <div id="all">
                                <div role="tabpanel" class="tab-pane fade active in" id="color">
									<span style="width: 90%;" class="title-block">Цвет</span>
									<div class="color-wrap">
									{% for ci,color in colors %}
										<div>
											<input type="radio" name="color" id="color{{loop.index}}" />
											<label data-name="{{color.name}}" data-content="{{color.code}}" id="clr{{ci}}" for="color{{loop.index}}" class="customcolor">{{color.name}}</label>
										</div>                               
									{% endfor %}
									</div>
								</div> 

							{% for iterat in [korob, dvig] %}
							{% if iterat|length > 0 %}
								<div role="tabpanel" class="tab-pane fade in active hidden" id="{{ iterat[0].textname }}">
								<span style="width: 90%;" class="title-block">Коробка передач</span>
									<div class="col-tn-13">
									{% for key, hv in iterat %}
										<div class="col-tn-13 option-wrap">
											<div class="option">
											{% if hv.image|length > 0 %}
												<div class="typeimage"><img src="/{{ hv.image }}" alt=""></div>
											{% endif %}
											<div class="typename">{{ hv.name }}</div>
											{% if hv.description|length > 0 %}<div class="typedescr">{{ hv.description }}</div>{% endif %}
											{% for kind, kval in hv.values %}
											<div class="custom-radio">
												<label>
												<span><input type="radio" name="{{ iterat[0].textname }}{{ key }}" data-group="{{ hv.group }}" data-name="{{ hv.name }}" value="{{ kval }}" {% if minvalues[hv.name] == kval %}checked{% endif %}{% if hv.values|length == 1 %} disabled{% endif %}></span>
												{{ kval }}
												</label>
												<hr>
											</div>
											{% endfor %}
											</div>
										</div>
									{% endfor %}
									</div>
								</div>
							{% endif %}
							{% endfor %}

							{% for iterat in [safe, komfort, ext, int] %}
							{% if iterat|length > 0 %}
								<div role="tabpanel" class="tab-pane fade in active hidden" id="{{ iterat[0].textname }}">
								<span style="width: 90%;" class="title-block">Безопасность</span>
								{% for key, hv in iterat %}
									<div class="col-tn-13 option-wrap">
										<div class="option">
										{% if hv.image|length > 0 %}
											<div class="typeimage"><img src="/{{ hv.image }}" alt=""></div>
										{% endif %}
										{% if hv.description|length > 0 %}<div class="typedescr">{{ hv.description }}</div>{% endif %}
										 <div class="custom-{% if hv.intercept is defined %}radio{% else %}checkbox{% endif %}">
												<label>
												<span><input type="{% if hv.intercept is defined %}radio{% else %}checkbox{% endif %}" name="{% if hv.intercept is defined %}intercept{{ hv.intercept }}{% else %}{{ iterat[0].textname }}{{ key }}{% endif %}"{% if hv.intercept is defined %} data-intercept="{{ hv.intercept }}"{% endif %} data-group="{{ hv.group }}" data-name="{{ hv.name }}" {% if minvalues[hv.name] == 'да' %}checked{% endif %}{% if hv.values|length == 1 %} disabled{% endif %}></span>
												{{ hv.name }}
												</label>
												<hr>
											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							{% endif %}
							{% endfor %}	
								
							</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 config-right" style="top: 45px; margin-bottom: 160px;">
                        <h3 id="general-title">LADA Granta хэтчбек</h3>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Цвет</td>
                                    <td id="colorValue">не выбран</td>
                                </tr>
                                <tr>
                                    <td>Коробка передач</td>
                                    <td id="equipmentValue">{{ minvalues.KPP }}</td>
                                </tr>
                                <tr>
                                    <td>Двигатель</td>
                                    <td id="engine-transmission">{{ minvalues.engine }}</td>
                                </tr>
                                <tr>
                                    <td>Комплектация</td>
                                    <td id="engine-transmission">{{ minvalues.complect }}</td>
                                </tr>
                            </tbody>
                        </table>

						<div><div id="configurator-toggler">Комплектация</div></div>
						<div class="configurator-infotable off"><table class="table"></table></div>

                        <div role="tabpanel" class="clearfix">
                            <ul class="nav nav-tabs nav-tabs-custom-2 text-left" role="tablist">
                                <li role="presentation" class="active"><a href="#kredit" aria-controls="kredit" role="tab" data-toggle="tab">В кредит</a></li>
                                <li role="presentation"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Стоимость</a></li>
                            </ul>

                            <div class="tab-content tab-content-custom-2 clearfix">
                                <div role="tabpanel" class="tab-pane fade in active" id="kredit">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>В кредит от, руб./мес.</td>
                                                <td class="big"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-type1 calc">Рассчитать</a>
                                    </div>
                                    <div class="text-center m-t30">
                                        <div class="after-news-block">
                                            <a href="#" class="-print"><!----></a>
                                            <a href="#" class="-mail"><!----></a>
                                            <a href="#" class="-favorite"><!----></a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="price">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Стоимость, руб</td>
                                                <td class="big">{{ minvalues.value }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-type1 order">Оформить</a>
                                    </div>
                                    <div class="text-center m-t30">
                                        <div class="after-news-block">
                                            <a href="#" class="-print"><!----></a>
                                            <a href="#" class="-mail"><!----></a>
                                           <!-- <a href="#" class="-favorite"><!----></a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            $('table.features tbody').css({'float':'left'})
            $('.custom-checkbox input[type="checkbox"], .custom-select select').styler();
            $('.custom-radio input[type="radio"]').styler({wrapper: '.tab-pane'})
             $('.table-checkbox .custom-checkbox input[type="checkbox"]').change(function () {
                 $(this).closest('tr').toggleClass("selected");
             });

            //$('.group-name').css({'cursor':'pointer','color':'#0174DF'});
            setTimeout(function(){
            $('.add-options .jq-radio').on('click',function(){
                var price = $(this).find('input').attr('data-price');
                var eq = $(this).parents('.add-options').find('#eqiup-name').html();
                $('#equipmentValue').html(eq);
                $('#priceValue').html(price);
            })

            $('a[aria-controls="type"]').on('click',function(){
                var key = $('input[name=engine]:checked').val()
                var cells = $('#type-'+key).find('input');
                var min = false;
                var el = false;
                $.each(cells,function(){
                     current = $(this).attr('data-price');
                     if( min == false || min > current ){
                        min = current;
                        el = $(this);
                     }
                })
                el.trigger('click');
            });
            $('.customcolor').on('click',function(){
               
                $('#colorValue').html($(this).attr('data-name'));
                $(this).parent().find('input').prop('checked', true);

            })
            $('input[name=engine]').parents('.jq-radio').on('click',function(){
                var key = $(this).find('input').val();
                $('.typecar').addClass('hidden');
                $('#type-'+key).removeClass('hidden');
                var all = $('#type-'+key).find('li');
                $.each(all,function(k,v){
                    if(k == 0 ){ $(this).trigger('click')}
                })

                var cells = $('#type-'+key).find('.jq-radio');
                var min = false;
                var el = false;
                $.each(cells,function(){
                     current = $(this).find('input').attr('data-price');
                     if( min == false || min > current ){
                        min = current;
                        el = $(this);
                     }
                })
                toBlock('type');
                //el.trigger('click');

                $('.cst-active-tab').removeClass('cst-active-tab').removeClass('active').addClass('cst-tab');
                $(this).removeClass('cst-tab').addClass('cst-active-tab').addClass('active');
                var code = el.find('input').attr('data-code');
                var price = el.find('input').attr('data-price');

                $('#priceValue').html(price);

                $('.info-details').hide();

                $('.option-details').hide();
                $('#info-'+code).show();
                $('.option-details[data-code='+code+']').show();
                setTimeout(function(){
                    var el2 = $('#info-'+code).find('.group-name:first');
                    $('.active-group').removeClass('active-group');
                    el2.addClass('active-group');
                    var code = el2.attr('data-code');
                    $('.info-features').hide();
                    $('#features-'+code).show();
                },100)

                
            })
            $('.typecar .jq-radio').on('click',function(){

                $('.cst-active-tab').removeClass('cst-active-tab').removeClass('active').addClass('cst-tab');
                $(this).removeClass('cst-tab').addClass('cst-active-tab').addClass('active');
                var code = $(this).find('input').attr('data-code');
                var price = $(this).find('input').attr('data-price');

                $('#priceValue').html(price);

                $('.info-details').hide();

                $('.option-details').hide();
                $('#info-'+code).show();
                $('.option-details[data-code='+code+']').show();
                setTimeout(function(){
                    $('#info-'+code).find('.group-name:first').trigger('click');
                    toBlock('clearens');
                },100)
                


            })
            $('.group-name').on('click',function(){
                $('.active-group').removeClass('active-group');
                $(this).addClass('active-group');
                var code = $(this).attr('data-code');
                $('.info-features').hide();
                $('#features-'+code).show();
            })


            },1000);

            $('.calc').on('click',function(e){
                e.preventDefault();
                var price = parseInt($('#priceValue').html());
                var least = price - (Math.round(price/100))*30;
                var diff = Math.round((least + (least/100)*15)/12);
                $('#kredit .big').html(diff);

            })
            $('.calc').trigger('click');
            $('.order').on('click', function() {
				location.href = 'http://reglada.ru/buy/cardetails?cid=4&bid=29&byid=1';
			});
            $('.nav-tabs-custom-1 li a').on('click',function(){

              var code = $(this).attr('aria-controls');
              toBlock(code);

            })

            setColors();

			$('#configurator-toggler').on('click', function() {
				var ct = $('.configurator-infotable');
				if (ct.hasClass('off'))
				{
					ct.slideDown();
					ct.removeClass('off');
					$(this).addClass('unrolled');
				}
				else
				{
					ct.slideUp();
					ct.addClass('off');
					$(this).removeClass('unrolled');
				}
			});
        })

        function toBlock(code){
        setTimeout(function(){
            $('#'+code).removeClass('hidden');
            var tp = $('#'+code+' .title-block').offset().top
                $('html, body').animate({scrollTop:tp}, 'slow');
              },100)

        }

        function setColors(){
            var colors = $('.customcolor');
            $.each(colors,function(){
                var code = $(this).attr('data-content');
                var id = $(this).attr('id');
                $(this).append('<style>.customcolor#'+id+':before{background:none repeat scroll 0 0 '+code+' !important;}</style>');
            })
        }

        global_displayed_complect = {{ current_complect }};
        global_charlist = eval({{ jseq|raw }});
        </script>