{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
        gallery_reset = true;
        $(document).ready(function(){

            $('.custom-checkbox input[type="checkbox"], .custom-select select').styler();
            $('.custom-radio input[type="radio"]').styler({wrapper: '.tab-pane'})
             $('.table-checkbox .custom-checkbox input[type="checkbox"]').change(function () {
                 $(this).closest('tr').toggleClass("selected");
             });
             
            $('.current-base-auto a').on('click',function(){
                $('.current-base-auto .active').removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('data-id');
                $('.slider-comparison-car-wrap').addClass('hidden');
                $('#cartypes-'+id).removeClass('hidden');

                var car = $('.current-base-auto .active span').html();
                var carId = $('.current-base-auto .active').attr('data-id');
                var type = $('#cartypes-'+carId+' .active-slide').find('.btn-comparison-type').attr('data-type');
                $('#general-title').html(car+' '+type);
            })
            var slidersCarTypes = {};
            var blocks = $('.alltypes').find('.slider-comparison-car');

            setTimeout(function(){
                //$('.current-base-auto .active').trigger('click');
                $('.alltypes').removeClass('hidethis');
            });
        })

        function dataGeneral() {
            var data = {};
            data['carId'] = $('.active-slide').attr('data-id');
            data['bodyId'] = $('.active-slide').attr('data-code');
            return data;
        }

		function SetCarBodyData() {
			var data = dataGeneral();

			$('#general-title').html($('.active-slide span').html()+' '+data['type'])
			$.ajax({
				url: '{{ path('front_configurator_details') }}',
				data: data,
				dataType : 'html',
				type: 'post',
				success: function (response) {
					$('#details').html(response);
					//App.Car360(data['carId']+'0'+data['bodyId']);
					newThreeDModel(data['carId']+'0'+data['bodyId']);
					$('#general-title').html($('.active-slide span').html()+' '+$('.active-slide .btn-comparison-type').attr('data-type'))
					$('.grid-load').hide();

					//Группировка взаимоисключающих значений
					confy.interceptProcecssing();
					//Формирование списка справа
					confy.fillOverallList();

				},
				error: function(e){}
			});
		}
        </script>
    <style>
    .hidethis{
        left: 100%;
    }
    .title-block{
        /*border: 1px solid #222;*/
        border-radius: 2px;
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        height: 32px;
        line-height: 32px;
        margin-bottom: 5px;
        padding: 0 28px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .customcolor:before{
        background: 'none repeat scroll 0 0 ' attr(data-content);
    }
	.grid-load {
		/*background: url("/front_assets/img/ajax-loader_circle_zoom.gif") no-repeat scroll 100% 50% / cover rgba(0, 0, 0, 0);*/
		float: right;
		height: 600px;
		position: relative;
		width: 100%;
	}
	#all .option {padding-left: 20px; overflow: hidden; min-height: 0;}
	#all .option .custom-checkbox, #all .option .custom-radio {position: static;}
	#all .typedescr + .custom-checkbox, #all .typedescr + .custom-radio {margin-top: 15px;}
	#all hr, #all hr {margin: 15px 0;}
	#all .custom-checkbox:last-child hr, #all .custom-radio:last-child hr {display: none;}
	#all .typename {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
	}
	#all .typedescr {font-size: 13px;}
	#all .typeimage {float: right; margin-left: 20px;}
	#all .typeimage  img {max-width: 280px;}
	.nav-tabs-custom-1 li a, .nav-tabs-custom-1 li a:focus {
		font-size: 12px;
		padding: 10px 14px;
	}
    </style>
    {% endblock %}
    {% block title %}SiteFrontendBundle:Home:credit{% endblock %}

{% block content %}
    <section class="configurator">
        {% set activecar = 1 %}
        {% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
        <div class="container">
            <h3>Конфигуратор</h3>
            <div class="hidethis col-xs-4 col-xs-offset-4 bottom-up pos-rel alltypes">
                {{ render(controller('SiteFrontendBundle:Home:getCars')) }}
            </div>
            <div class="grid-load"></div>
            <div id="details"></div>
    </section>
{% endblock %}