{% extends "::admin.html.twig" %}

{% block title %}Изменить автомобиль{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменение автомобиля</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-1" style="margin:10px;"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
                <div class="col-sm-1" style="margin:10px;"><a href="/admin/base-auto-cars" id="back" class="btn btn-default">Назад</a></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
