{% extends "::admin.html.twig" %}

{% block title %}Автомобили{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_cars_add') }}" class="btn btn-primary btn-sm">Добавить</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Автомобили
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 350px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for auto in autos %}
                                    <tr>
                                        <td>{{ auto.id }}</td>
                                        <td>{{ auto.name }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_cars_edit', { id: auto.id }) }}" class="btn btn-success">Редактировать</a>
                                            <a title="Список кузовов" href="{{ path('admin_auto_body_types_index', { autoid: auto.id }) }}" class="btn btn-success">Список кузовов</a>
                                            <a title="Удалить" href="{{ path('admin_cars_delete', { id: auto.id }) }}" class="btn btn-danger">Удалить</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
