{% extends "::admin.html.twig" %}

{% block title %}Изменить документ{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменить документ</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.fileSize) }}</label>
                <div class="col-sm-10">{{ form_widget(form.fileSize) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.isCatalog) }}</label>
                <div class="col-sm-10">{{ form_widget(form.isCatalog) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.status) }}</label>
                <div class="col-sm-10">{{ form_widget(form.status) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
