{% extends "::admin.html.twig" %}

{% block title %}Документы{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_documents_add', { bodyid: bodyid }) }}" class="btn btn-primary btn-sm">Добавить документ</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Документы
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 160px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in documents %}
                                    <tr>
                                        <td>{{ document.id }}</td>
                                        <td>{{ document.name }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_documents_edit', { id: document.id, bodyid: bodyid }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_documents_delete', { id: document.id, bodyid: bodyid }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
