{% extends "::admin.html.twig" %}

{% block title %}Изменение конкурента{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменение конкурента</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="centered-heading-1">Характеристики</div>
            {% for ifd in info_values %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ ifd.name }}</label>
                <div class="col-sm-10"><input type="number" class="form-control" name="info[{{ ifd.id }}]" value="{% if info_auto[ifd.id] is defined %}{{info_auto[ifd.id].value}}{% endif %}" /></div>
            </div>              
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
