{% extends "::admin.html.twig" %}

{% block title %}Конкуренты{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Конкуренты
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 230px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for competitor in competitors %}
                                    <tr>
                                        <td>{{ competitor.id }}</td>
                                        <td>{{ competitor.name }}</td>
                                        <td>
                                            {% if competitors_auto[competitor.id] is defined %}
                                            <a title="Убрать" href="{{ path('admin_competitors_assign', { competitorid: competitor.id, bodyid: bodyid }) }}" class="btn btn-primary">Убрать</a>
                                            {% else %}
                                            <a title="Назначить" href="{{ path('admin_competitors_assign', { competitorid: competitor.id, bodyid: bodyid }) }}" class="btn btn-success">Назначить</a>
                                            {% endif %}
                                            {% if competitors_auto[competitor.id] is defined and competitors_auto[competitor.id].isMain == 1 %}
                                            <a title="Не основной" href="{{ path('admin_competitors_tomain', { competitorid: competitor.id, bodyid: bodyid }) }}" class="btn btn-primary">Не основной</a>
                                            {% else %}
                                            <a title="Как основной" href="{{ path('admin_competitors_tomain', { competitorid: competitor.id, bodyid: bodyid }) }}" class="btn btn-success">Как основной</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}