.infobox .modal-map {
  width: 380px;
  background: #FFF;
  color: #000;
  font-size: 13px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 5px rgba(0; 0; 0; 0.35);
  -moz-box-shadow: 0 5px 5px rgba(0; 0; 0; 0.35);
  box-shadow: 0 5px 5px rgba(0; 0; 0; 0.35);
}
@media (max-width: 480px) {
  .infobox .modal-map {
    width: 300px;
  }
}
.infobox .modal-map > div {
  padding: 18px 30px;
}
@media (max-width: 480px) {
  .infobox .modal-map > div {
    padding: 5px 10px;
  }
}
.infobox .modal-map .info .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.infobox .modal-map .info .more-info-block {
  padding: 15px 30px 0px 30px;
}
@media (max-width: 480px) {
  .infobox .modal-map .info .more-info-block {
    padding: 5px 10px 0px 10px;
  }
}
@media (min-width: 768px) {
  .infobox .modal-map .info dl dt {
    font-weight: normal;
    text-align: left;
    width: 100px;
    margin-bottom: 5px;
  }
  .infobox .modal-map .info dl dd {
    margin-left: 100px;
    text-align: right;
  }
}
@media (max-width: 480px) {
  .infobox .modal-map .info dl {
    margin-bottom: 5px;
  }
}
.infobox .modal-map .hrefs {
  background: #0051a1;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
}
.infobox .modal-map .hrefs a {
  color: inherit;
  text-decoration: underline;
}
.infobox .modal-map .hrefs a.phone {
  display: block;
  float: left;
  background: url("../img/modal-phonepng.png") 50% no-repeat;
  width: 27px;
  height: 25px;
  margin-right: 15px;
}
.infobox .modal-map .hrefs a.mail {
  display: block;
  float: left;
  background: url("../img/modal-email.png") 50% no-repeat;
  width: 27px;
  height: 25px;
}
.infobox .modal-map .hrefs a.page {
  display: block;
  float: right;
  background: url("../img/modal-arrow.png") 100% 50% no-repeat;
  padding-right: 15px;
}
.infobox .modal-map .hrefs a:hover {
  text-decoration: none;
}
tr.current-offer td{
  color: #fff;
  background: none repeat scroll 0 0 #0051a1 !important;
  font-size: 16px;
  font-weight: bold;  
}
.current-base-auto a{
    padding: 10px;
}
.current-base-auto .active{
    font-weight: bold;
}

.car-pointer {
  display: block;
  float: right;
  background: url("../img/pointer.png") 100% 50% no-repeat;
  height: 40px;
  width: 15px;
  display:none;
  background-size: cover;
}
.option {
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 20px;
    min-height: 85px;
    padding: 20px 20px 10px 75px;
    position: relative;
}

@media (max-width: 481px) {
  .option {
    padding: 20px 20px 10px 25px;
  }
}
/*input[type="radio"] {
   display: none;
}
input[type="radio"] + div {
   height: 20px;
   width: 20px;
   display: inline-block;
   cursor: pointer;
   vertical-align: middle;
   background: #FFF;
   border: 1px solid #d2d2d2;
   border-radius: 100%;
} 
  
    input[type="radio"] + div:hover {
      border-color: #c2c2c2;
    }
    input[type="radio"]:checked + div {
      background:#0174DF;
      border: 1px solid #0174DF;
    }
.custom-radio{
    border: 1px solid #eee;
    margin: 10px;
    padding: 10px;
}*/
.cst-ul{
  margin: 10px;
  padding: 10px;
}
.cst-active-tab{
  border-top: 1px solid rgb(0; 0; 0); border-left: 1px solid rgb(0; 0; 0); border-right: 1px solid rgb(0; 0; 0); border-bottom: 1px solid rgb(255; 255; 255);
}
.cst-tab{
  border-top: 1px solid rgb(255; 255; 255); border-left: 1px solid rgb(255; 255; 255); border-right: 1px solid rgb(255; 255; 255); border-bottom: 1px solid rgb(0; 0; 0);
}
.cst-active-tab > a;.cst-tab > a{
  text-decoration: none;
}
.bordered-pane{
  border: 1px solid #000;
  border-radius: 3px;
}
.group-name{
  color: #0174DF;
  cursor: pointer;
  margin-left: -20px;
}
.group-name:hover{
  cursor: pointer;
}
.info-features div{
  text-align: left;
}
.active-group{
  background-color: #eee;
  width: 110%;
}
.car-disabled{
  opacity: 0.2;
}
.c-map-labels .map-labels-inner {
  color:#000;
  font-weight:bold;
  left:35px;
  position:relative;
  font-size:14px;
  width:180px;
  display: block;
}
.c-map-labels:hover .map-labels-inner {color:#AFA;}
.fortooltip[title]:hover:after{
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.modal-map .info{
  cursor: pointer;
}
.control-prev-slide-2{
 background: url("../img/slider-car-prev.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    left: 0;
    top: 102px;
    width: 30px;
}
.control-next-slide-2{
  background: url("../img/slider-car-next.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 102px;
    width: 30px;
}
#cover{
    background-color: #fff;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8888;
}
#cover-content{
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8888;
}
#question{
    background-color: #fff;
    border: 2px solid #58bae9;
    border-radius: 3px;
    height: 180px;
    margin: 20% auto auto;
    opacity: 1 !important;
    width: 600px;
    padding: 20px;
}
.insert{
    display:inline;
}
.grid-load {
    background: url("/front_assets/img/preloader.GIF") center center no-repeat;
    position: relative;
    height: 600px;
    width: 100%;
}
