/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*### Form material ###*/
.material-input {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
}
.material-input input,
.material-input textarea {
  padding: 5px 10px 5px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}
.material-input input:focus,
.material-input textarea:focus,
.material-input input.used,
.material-input textarea.used {
  outline: none;
}
.material-input input:focus ~ label,
.material-input textarea:focus ~ label,
.material-input input.used ~ label,
.material-input textarea.used ~ label {
  top: -20px;
  left: 15px;
  color: #0051a1;
}
.material-input input:focus ~ .highlight,
.material-input textarea:focus ~ .highlight,
.material-input input.used ~ .highlight,
.material-input textarea.used ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.material-input input:focus ~ .bar::before,
.material-input textarea:focus ~ .bar::before,
.material-input input.used ~ .bar::before,
.material-input textarea.used ~ .bar::before,
.material-input input:focus ~ .bar::after,
.material-input textarea:focus ~ .bar::after,
.material-input input.used ~ .bar::after,
.material-input textarea.used ~ .bar::after {
  width: 50%;
}
.material-input input:required ~ label::after,
.material-input textarea:required ~ label::after {
  content: " *";
  color: #cc3333;
}
.material-input textarea {
  border: 1px solid #000;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.material-input label {
  color: #000;
  font-weight: 300;
  margin: 0;
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 6px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.material-input .bar::before,
.material-input .bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0051a1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input .bar::before {
  left: 50%;
}
.material-input .bar::after {
  right: 50%;
}
.material-input .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  display: none;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*### Form material END ###*/
.custom-checkbox span {
  float: left;
}
.custom-checkbox label {
  display: block;
}
.custom-select label {
  line-height: 34px;
}
