    .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
.c-map-labels{
	background-image: url('/front_assets/img/placemark.png');
	width: 30px;
	height: 48px;
	overflow: visible !important;
	background-size: cover;
}
header ul.main-menu li a.hover {
    font-weight: 700;
    text-decoration: none;
}
section.sub-menu a.hover span {
    font-weight: 500;
    text-decoration: none;
}
section.sub-menu a.hover {text-decoration: none;}

@media screen and (max-width: 1049px) and (min-width: 549px) {
    #car-docs .text-center h4 {
        min-height: 48px;
    }
}
@media screen and (max-width: 549px) and (min-width: 480px) {
    #car-docs .text-center h4 {
        min-height: 72px;
    }
}