menu {
	padding: 0;
	width: 100%;
	height: 150px;
}
menu .floating-block {
	left: 0;
	top: 0;
	width: 100%;
	height: 150px;
	z-index: 3;
	background-color: #FFF;
	overflow: hidden;
}
menu .inner-float {max-width: 1200px; width: 100%; margin: 0 auto;}
menu .inner-float:after {
	clear: both;
	width: 100%;
	content: "";
	display: block;
}

menu .lada-car {float: left; width: 280px; margin-right: 68px;}
menu .icons-container, menu .ask-link {overflow: hidden; height: auto; margin-top: 48px;}
menu .icons-container {
	margin-top: 0;
	padding-top: 48px;
}
menu .icons-container .icon {
	float: left;
	margin-right: 36px;
	padding-top: 1px;
}
menu .icons-container .icon img {height: 30px;}
menu .ask-link {
	float: right;
	line-height: 30px;
	margin-right: 15px;
}

menu .slider-comparison-car-wrap {height: 150px;}
menu .slider-comparison-car-wrap ul.slider-comparison-car li .type-wrap {padding-bottom: 0;}


@media only screen and (max-width: 1023px) {
	menu .icons-container {
		text-align: center;
	}
	menu .icons-container .icon {
		margin-right: 16px;
		float: none;
		display: inline-block;
	}
}
@media only screen and (max-width: 768px) {
	menu .lada-car {
		height: auto;	
		margin-right: 25px;
	}
	menu .icons-container {
		padding-top: 0;
	}
	menu .slider-comparison-car-wrap {
		height: auto;
	}
	menu .ask-link {
		clear: both;
		float: left;
		padding-left: 25px;
		margin-top: 0;
	}
	.slider-comparison-car-wrap ul.slider-comparison-car li .type-wrap .btn-comparison-type {
		margin-bottom: 0;
	}
	menu,
	menu .floating-block {
		height: 160px;
	}
}
@media only screen and (max-width: 480px) {
	menu .lada-car {
		width: 200px;
	}
	menu .icons-container .icon {
		margin-bottom: 5px;
	}
	menu .icons-container .icon img {height: auto; width: 25px;}
	.custom-checkbox.clear110left {
		padding-left: 25px;
		padding-top: 25px;
		margin-left: 0;
	}

} 