/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media (min-width: 481px) and (max-width: 991px) {
  section.block-action-news .banner .banner-inner {
    height: auto;
  }
  section.block-action-news .banner p {
    font-size: 18px;
    padding: 7%;
    margin: 0;
  }
  section.block-action-news .banner .img-wrap {
    float: left;
    width: 50%;
  }
  section.block-action-news .banner .text-wrap {
    float: left;
    width: 50%;
  }
  section.block-action-news .banner a.btn {
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
