.catalog-block .catalog {
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
}
.catalog-block .catalog-item {
  padding: 20px ;
  float: left;
  list-style-type: none;
  max-width: 50%;
  cursor: pointer;
  min-height: 180px;
}
@media only screen and (max-width: 360px) {
	.catalog-block li.catalog-item {padding: 10px;}
}
@media only screen and (max-width: 320px) {
	.catalog-block li.catalog-item {padding-left: 0;}
}
.catalog-item > img {
  margin: auto;
  display: block;
  width: 100%;
}
.catalog-item > a {
  display: block;
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
}
.catalog-block .catalog:first-child > li {z-index: 5;}
.catalog-block .catalog:nth-child(2) > li {z-index: 4;}
.catalog-block .catalog:nth-child(3) > li {z-index: 3;}
.catalog-block .catalog:nth-child(4) > li {z-index: 2;}
.catalog-block .catalog:last-child > li {z-index: 1;}

.catalog-item-title {
  font-size: 15px;
  margin-top: -18px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
.catalog-item-price {
  background-color: #FFDC00;
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.catalog-item-table > li {
  height: 39px;
  line-height: 39px;
  border-top: 1px solid #E9E9E9;
  padding: 0 8px 0 26px;
  margin: 0 10px;
  list-style: none;
  clear: both;
}
.catalog-item-table > li:first-child {
  border: none;
}
.catalog-item-table > li.item-active .val {
  background: #ffdb00;
  font-weight: bold;
  line-height: 28px;
  margin-top: 6px;
}
.catalog-item-table > li .val {
  padding: 0 8px;
  float: right;
}
.catalog-item-over {
  width: 100%;
  height: 100%;
  padding: 10px 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  background: #fff;
  display: none;
}
.catalog-item-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -119px;
  width: 124px;
}
.catalog-item-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -5px;
  width: 124px;
  background-color: transparent;
  color: #0051A1;
}
.catalog-item:hover .catalog-item-over {
  display: block;
  z-index: 8;
}
.catalog-item:hover > a,
.catalog-item:hover .catalog-item-title {
  z-index: 9;
}
.jq-selectbox li {
  text-align: left;
}
.text-right > div * {
  text-align: center;
}
.comparison-table.text-center .cars-column {
  width: 60%;
  margin: auto;
}
.flright {
  float: right;
}
.fsz16 {
  font-size: 16px;
  line-height: 28px;
}
.modal-small .modal-header {
  padding: 10px 80px 10px;
}
.modal-small .modal-lg .modal-body {
  padding: 0 80px 20px;
}
.modal-small .modal-lg .modal-body p {
  text-align: center;
}
.modal-small .modal-lg .modal-body p.mail {
  min-height: 120px;
  line-height: 120px;
  font-size: 28px;
  color: #192634;
}
.modal-small .modal-lg .modal-body p.mail span {
  background: url(../img/icon-letter.png) no-repeat center left;
  height: 120px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.modal-small .modal-lg .modal-body p.mess {
  min-height: 120px;
  line-height: 1.3;
  font-size: 28px;
  color: #192634;
  padding-top: 25px;
  text-align: left;
}
.modal-small .modal-lg .modal-body p.mess span {
  background: url(../img/icon-mess.png) no-repeat center left;
  height: 120px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  float: left;
  margin-top: -25px;
}
.modal-alert {
  min-height: 120px;
  line-height: 1.3;
  font-size: 28px;
  color: #192634;
  padding-top: 25px;
  text-align: left;
  margin: 1.2em 0;
}
.custom-radio p {
  margin: 0;
}
.custom-checkbox span.red-star {
  float: none;
}
.blocks-3-wrap {
  overflow: hidden;
}
@media (max-width: 767px) {
  .blocks-3-wrap > div {
    display: block;
    height: auto;
  }
}
@media (max-width: 991px) {
  .blocks-3-wrap > div:last-child {
    float: left;
  }
}
.blocks-3-wrap .serv {
  position: relative;
  float: none;
  height: 100%;
  background: #0051A1;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: 740px;
  box-sizing: border-box;

}
@media (max-width: 767px) {
  .blocks-3-wrap .serv {
    height: auto;
  }
}
.blocks-3-wrap .serv.-blue {
  background: #0051A1;
  color: #FFF;
}
.blocks-3-wrap .serv.-gray {
  background: #e8e8e8;
  color: #000;
}
.blocks-3-wrap .serv img {
  width: 100%;
}
.blocks-3-wrap .serv .block {
  margin: 10px 0;
  padding: 30px 30px 20px 30px;
}
.description {
  font-size: 13px;
  padding-left: 16px;
  display: block;
}
.width-full {
  width: 100%;
}
.modal .map-top-menu {
  background: #0051A1;
  padding: 20px;
  color: #fff;
  margin-top: 20px;
}
.modal .map-top-menu h3 {
  margin-top: 0;
}

.clear110left {clear: left; margin-left: 110px;}
h3.nobold {font-weight: normal;}

/* Всплывающее окошко */
.finance_popup-wrapper {
	height: 315px;
	border: 1px solid #999;
	overflow: hidden;
	background: #FFF;
	max-width: 1200px;
	font-weight: 100;
}
.finance_popup-wrapper header {margin-bottom: 20px; font-size: 2em;}
.finance_popup-wrapper h4, .finance_popup-wrapper p {margin: 0;}
.finance_popup-wrapper h4 {font-weight: 100; font-size: 18px; line-height: 1.7em;}
.finance_popup-wrapper p {font-size: 15px; line-height: 1.7em;}
.finance_popup-wrapper .text-wrapper {
	padding: 50px 400px 0 100px;
}
.finance_popup-wrapper .img {
	float: right;
	background: 0 0 url('../img/finance_keys.jpg') no-repeat;
	width: 330px;
	height: 100%;
}

/* ------------------------------ */
.credbanner {margin-bottom: 25px;}
.credbanner .bg {
	width: 100%;
}
.credbanner img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1230px)
{
 .credbanner .bg {background-size: 100%;}
}
menu .lada-car {width: 300px;}
/* -----Таблица с банками----- */
.tariffs {margin-bottom: 0;}
.tariffs .panel {margin: 0;}
.tariffs table, .finance_title table {border-collapse: collapse; width: 100%;}
.tariffs tbody tr td, .finance_title tbody tr td {width: 14%; font-size: 15px; font-weight: 100; min-width: 116px;}
.finance_title tbody tr td:nth-child(4), .tariffs tbody tr td:nth-child(4) {width: 19%;}
.tariffs tbody tr td:nth-child(even), .finance_title tbody tr td:nth-child(even) {background: #F0F0F0;}
.tariffs tbody tr td:nth-child(odd), .finance_title tbody tr td:nth-child(odd) {background: #FFF;}
.tariffs td:first-child, .finance_title td:first-child {width: 25%; text-transform: uppercase; padding-left: 0; text-align: left !important;}
.tariffs .panel-heading {padding-left: 0;}

@media only screen and (max-width: 480px) {
  .panel-group.tariffs .panel .panel-heading .panel-title{
    font-size: 16px;
  }
}

.finance_title table {font-weight: bold;}
.finance_title table {margin-bottom: 0;}
.finance_title tbody tr td {
	text-align: center !important;
	text-transform: uppercase !important;
	background-color: white !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	font-weight: bold;
}

.tariffs .panel-title {
	background: 0 0 url('../img/collapse_toggle.svg') no-repeat;
	height: 49px;
	line-height: 49px;
	text-transform: uppercase;
	cursor: pointer;
}
.tariffs .bank_notice {margin: 30px 0; display: none;}
.tariffs table {display: none;}

.tariffs.expanded .panel-title  {background-position: 0 -49px;}
.tariffs.expanded table {display: table;}
.tariffs.expanded .bank_notice {display: block;}

.tariffs table {margin-top: 20px;}

.models_list {color: #999; text-transform: none; font-size: 13px;}
.addinfo {margin-top: 60px;}
.addinfo p {text-align: justify;}
.submit_button {margin: 15px 0 100px;}

/* Таблица с характеристиками, которая разворачивается. Выравняем её по заголовку */
.panel-body table td:first-child {padding-left: 5px;}

/* Страница конфигуратора */
.option-wrap {overflow: hidden;}
.add-options .custom-radio {position: static;}
.add-options .custom-radio > span {float: left;}
.add-options #eqiup-name {font-weight: bold;}
.add-options .options-list {margin: 2px 0 0; font-size:14px; text-align:left;}
.add-options .option > div:last-child {margin-leftreglafa.ru:0; margin-top: 7px; font-size:12px; text-align:left; color:#610B0B;}

/* Страница выбора лады */
.hover-true:hover {
	cursor: pointer;
	box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.83);
}
.catalog-item.in-disabled {opacity: 0.4; cursor: default;}

.line {text-align: center;}
.line > div {margin: 0 10px;}

.line .custom-select {min-width: 20%; display: inline-block;}
@media only screen and (max-width: 1023px) {
	.line .custom-select {width: 85%; display: block; margin: 0 auto 10px;}
	.line .custom-select:last-child {margin-bottom: 0;}
}

section.compare {width: 100%;}
section.compare ul.underline {
	overflow: hidden;
	border-bottom: 5px solid #0051a1;
}
section.compare ul.underline li:first-child {padding: 10px 0; vertical-align: middle;}
section.compare ul {width: 100%; white-space: nowrap;}
section.compare ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	vertical-align: bottom;
}
section.compare ul li:first-child {padding-left: 85px; width: 25%; min-width: 205px;}
section.compare ul li:last-child {width: 78%;}
section.compare .machines td {position: relative; vertical-align: bottom;}
section.compare .machines td .remove_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background: 0 0 url('../img/close_icon.svg') no-repeat;
	background-size: 100%;
}
section.compare .machines img {width: 100%; margin-bottom: -10%;}
section.compare .machines td, section.compare .machines_names td {padding: 0 20px; box-sizing: border-box;}
section.compare .machines_names td {font-weight: bold; white-space: normal;}
section.compare .scroller li:last-child {overflow-x: auto;}

section.compare li:last-child .table {max-width: none;}
section.compare li:last-child td {text-align: right;}
section.compare .machines_names td {vertical-align: top;}

section.compare .secondary_tables {display: none;}
section.compare .secondary_tables td {white-space: pre-wrap;}
section.compare li:first-child td {padding-right: 0;}
section.compare .secondary_tables li:first-child td:first-child {padding-left: 0;}
section.compare .secondary_tables li {vertical-align: top;}

section.compare .table tbody tr td:nth-child(odd) {background: white;}
section.compare .table tbody tr td:nth-child(even) {background: #F0F0F0;}

section.compare .toggle_title {position: relative; overflow: hidden; display: none; margin-bottom: 15px;}
section.compare .toggle_title .ttitle {font-size: 28px; cursor: pointer; padding-left: 85px; line-height: 49px;}
section.compare .toggle_title .ttitle:before {content: ""; position: absolute; left: 15px; top: 0; background: 0 0 url('../img/collapse_toggle.png') no-repeat; width: 49px; height: 49px;}
section.compare .toggle_title.on .ttitle:before {background-position: left bottom;}
section.compare .toggle_title:hover .ttitle {color: #0051A1;}
@media only screen and (max-width:669px) {
	section.compare .secondary_tables td {font-size: 12px;}
	section.compare .toggle_title .ttitle {font-size: 14px;}
}
@media only screen and (max-width:750px) {
	section.compare .btn {font-size: 10px; line-height: 30px;}
	section.compare ul li:first-child {width: 20%; min-width: 200px;}
	section.compare .secondary_tables td {font-size: 13px;}
}
@media only screen and (max-width:768px) {
	section.compare ul li:first-child {width: 12%; min-width: 90px; padding-left: 0;}
	section.compare	#compareBTN {padding: 0 10px;}
}

/* Кликабельные характеристики для фильтра */
.mainchars_values td span {color: #00A8E6; cursor: pointer;}
.mainchars_values td span:hover {text-decoration: underline;}
.mainchars_values td span.active {color: #000; cursor: auto;}
.mainchars_values td span.active:hover {text-decoration: none;}

/* Сводная таблица в конфигураторе */
#configurator-toggler:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	background: 0 0 url('../img/collapse_toggle.svg') no-repeat;
	background-size: 30px;
}
#configurator-toggler {
	display: inlinne-block;
	margin-bottom: 20px;
	vertical-align: middle;
	cursor: pointer;
}
#configurator-toggler.unrolled:before {background-position: 0 -30px;}
.configurator-infotable {display: none; margin: 20px 0;}
.configurator-infotable td:before {content: "+ ";}
.configurator-infotable tr.caption td {
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	font-weight: bold;
}
.configurator-infotable tr.caption + tr td {border-top: none;}
.configurator-infotable tr.caption td:before {content: "";}
#all .custom-checkbox.disabled label, #all .custom-radio.disabled label {color: #777;}