/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*### Form material ###*/
.material-input {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
}
.material-input input,
.material-input textarea {
  padding: 5px 10px 5px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background-color: white;
  border-radius: 0;
}
.material-input input:focus,
.material-input textarea:focus,
.material-input input.used,
.material-input textarea.used {
  outline: none;
}
.material-input input:focus ~ label,
.material-input textarea:focus ~ label,
.material-input input.used ~ label,
.material-input textarea.used ~ label {
  top: -20px;
  left: 15px;
  color: #0051a1;
}
.material-input input:focus ~ .highlight,
.material-input textarea:focus ~ .highlight,
.material-input input.used ~ .highlight,
.material-input textarea.used ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.material-input input:focus ~ .bar::before,
.material-input textarea:focus ~ .bar::before,
.material-input input.used ~ .bar::before,
.material-input textarea.used ~ .bar::before,
.material-input input:focus ~ .bar::after,
.material-input textarea:focus ~ .bar::after,
.material-input input.used ~ .bar::after,
.material-input textarea.used ~ .bar::after {
  width: 50%;
}
.material-input input:required ~ label::after,
.material-input textarea:required ~ label::after {
  content: "*";
  color: #cc3333;
}
.material-input textarea {
  border: 1px solid #000;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.material-input label {
  color: #000;
  font-weight: 300;
  margin: 0;
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 6px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.material-input .bar::before,
.material-input .bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0051a1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input .bar::before {
  left: 50%;
}
.material-input .bar::after {
  right: 50%;
}
.material-input .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  display: none;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #0051a1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*### Form material END ###*/
.custom-checkbox span {
  float: left;
}
.custom-checkbox label {
  display: block;
}
.custom-select label {
  line-height: 34px;
}
.autocomplete-suggestions {
  background: #FFF;
  overflow: auto;
}
.autocomplete-suggestion {
  background-image: url('../img/pin_small.png');
  background-position: 25px 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  padding: 12px 10px 12px 55px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background-color: #f4f4f4;
}
.autocomplete-suggestions strong {
  font-weight: 700;
  color: #0051a1;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
.container {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1279px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
h2,
h3 {
  font-size: 28px;
  font-weight: 300;
}
@media (max-width: 480px) {
  h2,
  h3 {
    font-size: 22px;
  }
}
h4 {
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 480px) {
  h4 {
    font-size: 18px;
  }
}
.-color_blue {
  color: #0051a1;
}
.-color_gray {
  color: #999999;
}
a {
  color: #00a8e6;
  text-decoration: underline;
}
a:hover {
  color: #0051a1;
  text-decoration: none;
}
b {
  font-weight: 500;
}
p {
  margin: 1.6em 0;
  line-height: 1.7;
}
p.-small-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}
ul,
ol {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 1.7;
  list-style: disc inside;
}
label.-required::after {
  content: " *";
  color: #cc3333;
}
.btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 46px;
  padding: 0 30px;
  border: 2px solid #0051a1;
}
@media (max-width: 480px) {
  .btn {
    font-size: 9px;
    line-height: 25px;
    padding: 0 10px;
  }
}
.btn:hover {
  text-decoration: none;
}
.btn + .btn {
  margin-left: 10px;
}
.btn.btn-type1 {
  background: #0051a1;
  color: #FFF;
}
.btn.btn-type1:hover {
  background: #00a8e6;
  border: 2px solid #00a8e6;
}
.btn.btn-type2 {
  background: #FFF;
  color: #0051a1;
}
.btn.btn-type2:hover {
  background: #0051a1;
  color: #FFF;
}
.btn.btn-type3 {
  border-color: #FFF;
  color: #FFF;
}
.btn.btn-type3:hover {
  background: #FFF;
  color: #0051a1;
}
.btn.btn-type4 {
  border-color: #ea2425;
  background: #ea2425;
  color: #FFF;
}
.btn.btn-type4:hover {
  background: #ff3f40;
  border: 2px solid #ff3f40;
}
.margin-center {
  margin: 0 auto;
}
section.bottom-up {
  margin-bottom: -50px;
}
header .container,
footer,
section {
  overflow: hidden;
  position: relative;
}
header {
  position: relative;
  background: #0051a1;
  z-index: 999;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  header > .container {
    max-height: 150px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    padding-bottom: 8px;
    padding-top: 35px;
  }
}
header .region-menu-top {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-size: 13px;
  color: #FFF;
  text-align: center;
  width: 100%;
  line-height: 25px;
  height: 25px;
  background: #192634;
  z-index: 2;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -o-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
@media (max-width: 480px) {
  header .region-menu-top {
    font-size: 10px;
  }
}
header .region-menu-top:hover .arrow-wrap {
  bottom: -30px;
}
header .region-menu-top:hover .arrow-wrap .arrow {
  opacity: 1;
}
header .region-menu-top.active .arrow-wrap {
  bottom: -30px;
  background: #f2f2f2;
}
header .region-menu-top.active .arrow-wrap .arrow {
  opacity: 1;
  background: url("../img/region-arrow.png") 0 100% no-repeat;
}
header .region-menu-top.active .arrow-wrap:hover {
  background: #d9d9d9;
}
header .region-menu-top:active .arrow-wrap {
  bottom: -25px;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -o-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
header .region-menu-top .dealer-name {
  cursor: pointer;
  position: relative;
  background: #192634;
  z-index: 2;
}
header .region-menu-top .arrow-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #192634;
  cursor: pointer;
  z-index: 23;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
header .region-menu-top .arrow-wrap .arrow {
  display: block;
  position: absolute;
  height: 13px;
  width: 37px;
  top: 8px;
  left: 50%;
  margin-left: -18.5px;
  opacity: 0;
  background: url("../img/region-arrow.png") 0 0 no-repeat;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
header .region-menu-top .dealer-list-wrap {
  height: 0;
  overflow: hidden;
  background: #FFF;
  color: #000;
  z-index: 22;
  opacity: 0.999;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
header .region-menu-top .dealer-list-wrap .container .ul-regions-wrap {
  padding: 20px;
}
header .region-menu-top .dealer-list-wrap .container .ul-regions-inner {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
@media (max-width: 991px) {
  header .region-menu-top .dealer-list-wrap .container .ul-regions-inner {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 767px) {
  header .region-menu-top .dealer-list-wrap .container .ul-regions-inner {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  header .region-menu-top .dealer-list-wrap .container .ul-regions-inner {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
header .region-menu-top .dealer-list-wrap .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
header .region-menu-top .dealer-list-wrap .container ul li a {
  color: inherit;
  display: block;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #FFF;
  padding: 0 0 0 10px;
  margin-bottom: 2px;
}
header .region-menu-top .dealer-list-wrap .container ul li a:hover {
  border: 1px solid #CCC;
  text-decoration: none;
}
header .region-menu-top .dealer-list-wrap .container ul li a.active {
  font-weight: 500;
}
header .region-menu-top .dealer-list-wrap .container ul li a.active:hover {
  border: 1px solid #FFF;
}
header > .container {
  padding-top: 50px;
  padding-bottom: 22px;
}
header .header-inner {
  position: relative;
}
header .logo {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
  display: block;
}
@media (max-width: 767px) {
  header .logo {
    position: relative;
    margin: 7px 0;
    float: left;
  }
}
@media (max-width: 480px) {
  header .logo {
    margin: 3px 0;
    width: 130px;
  }
}
header .menu_but {
  display: none;
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
  height: 27px;
  background: url("../img/but_menu_hamburger.svg") 50% 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  header .menu_but {
    display: block;
  }
}
@media (max-width: 480px) {
  header .menu_but {
    width: 20px;
    height: 13px;
  }
}
header ul.main-menu {
  width: 100%;
  padding: 12px 210px 12px 200px;
  margin: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}
@media (max-width: 767px) {
  header ul.main-menu {
    padding: 20px 0px 0px 0px;
    clear: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    display: none;
    text-align: justify;
  }
}
header ul.main-menu li {
  
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
  font-size: 17px;
  color: #FFF;
  text-align: center;
  line-height: 32px;
  /*BERSERK*/
  min-width: 110px;
  display: inline-block;
  /*BERSERK*/
}
@media (max-width: 1279px) {
  header ul.main-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 600px)
{
	header ul.main-menu li {min-width: 80px;}
}
@media (max-width: 480px) {
  header ul.main-menu li {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 15px;
    min-width: 50px;
  }
}
header ul.main-menu li a {
  color: inherit;
}
header ul.main-menu li a.active {
  font-weight: 700;
}
header ul.main-menu li.helper {
  width: 100%;
  height: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  header ul.main-menu li:first-child {
    margin-left: 5px;
  }
}
@media (max-width: 767px) {
  header ul.main-menu li.last-child {
    margin-right: 5px;
  }
}
header ul.additional-menu {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0;
  margin-top: -25px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
@media (max-width: 767px) {
  header ul.additional-menu {
    position: relative;
    margin: 0;
    float: right;
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }
}
header ul.additional-menu li {
  display: inline-block;
}
header ul.additional-menu li:first-child a {
  margin-left: 0;
}
header ul.additional-menu li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  margin-right: 12px;
}
@media (max-width: 767px) {
  header ul.additional-menu li a {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  header ul.additional-menu li a {
    background-size: cover !important;
    width: 30px;
    height: 30px;
  }
}
header ul.additional-menu li a.-percent {
  background: url("../img/additional-menu-percent.svg") 0 0 no-repeat;
}
header ul.additional-menu li a.-car {
  background: url("../img/additional-menu-car.svg") 0 0 no-repeat;
  background-size: cover;
}
header ul.additional-menu li a.-pin {
  background: url("../img/additional-menu-pin.svg") 0 0 no-repeat;
}
header ul.additional-menu li a.-menu {
  display: none;
  background: url("../img/but_menu.svg") 0 0 no-repeat;
}
@media (max-width: 767px) {
  header ul.additional-menu li a.-menu {
    display: inline-block;
  }
}
header ul.additional-menu li a:hover {
  background-position: 0 100%;
}
@media (max-width: 767px) {
  header.-opened .menu_but {
    display: none;
  }
  header.-opened ul.main-menu {
    display: block;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    opacity: 1;
    visibility: visible;
  }
  header.-opened ul.additional-menu {
    display: block;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }
  header.-opened > .container {
    max-height: 250px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }
}
section.sub-menu .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.sub-menu a {
  display: block;
  float: left;
  width: 16%;
  padding: 0 1%;
  text-decoration: none;
}
section.sub-menu a:hover {
  text-decoration: underline;
}
section.sub-menu a img {
  margin: 0 auto 20px auto;
}
section.sub-menu a span {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  line-height: 1;
}
@media (max-width: 480px) {
  section.sub-menu a span {
    font-size: 8px;
  }
}
section.sub-menu a.active span {
  font-weight: 500;
}
section.slider-main-page {
  position: relative;
}
section.slider-main-page a {
  text-decoration: none;
}
section.slider-main-page .slider-main::after,
section.slider-main-page .bx-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, rgba(255, 255, 255, 0)));
  background: -ms-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(center bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0)', endColorstr='#ffffff', GradientType=0);
  z-index: 2;
}
section.slider-main-page ul.slider-main {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  height: 600px;
}
/*section.slider-main-page ul.slider-main:hover > li {
	-webkit-filter: blur(3px);
	-ms-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22/%3E%3C/filter%3E%3C/svg%3E#blur");
}*/
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main {
    height: 500px;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main {
    height: 300px;
  }
}
section.slider-main-page ul.slider-main li,
section.slider-main-page ul.slider-main .container-wrap {
  position: relative;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
section.slider-main-page ul.slider-main li .slide-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
section.slider-main-page ul.slider-main li:hover  .slide-bg {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
section.slider-main-page ul.slider-main .container-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
}
section.slider-main-page ul.slider-main .container-wrap .container {
  position: relative;
  height: 100%;
}
section.slider-main-page ul.slider-main img {
  margin: 0 auto;
}
section.slider-main-page ul.slider-main .promo-title_block {
  position: absolute;
  top: 60px;
  left: 40px;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-title_block {
    top: 15px;
    left: 30px;
  }
}
section.slider-main-page ul.slider-main .promo-title_block .promo-title {
  font-size: 70px;
  line-height: 85px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  font-weight: 500;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-title {
    font-size: 62px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-title {
    font-size: 30px;
  }
}
section.slider-main-page ul.slider-main .promo-title_block .promo-title a {
  color: inherit;
}
section.slider-main-page ul.slider-main .promo-title_block .promo-title a:hover {
  text-decoration: none;
}
section.slider-main-page ul.slider-main .promo-title_block .promo-subtitle {
  font-size: 40px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-subtitle {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-subtitle {
    font-size: 14px;
  }
}
section.slider-main-page ul.slider-main .promo-title_block .promo-desc {
  font-size: 28px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  font-weight: 300;
  width: 45%;
  line-height: 1.2;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    width: 85%;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-title_block .promo-desc {
    font-size: 8px;
    line-height: 12px;
  }
}
section.slider-main-page ul.slider-main .promo-price-block {
  position: absolute;
  bottom: 100px;
  right: 40px;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-price-block {
    bottom: 80px;
    right: 30px;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-price-block {
    bottom: 90px;
  }
}
section.slider-main-page ul.slider-main .promo-price-block .promo-price {
  font-size: 90px;
  line-height: 1;
  font-weight: 500;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  text-align: right;
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-price-block .promo-price {
    font-size: 45px;
  }
}
section.slider-main-page ul.slider-main .promo-price-block .promo-price_desc {
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  text-align: right;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-price-block .promo-price_desc {
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  section.slider-main-page ul.slider-main .promo-price-block .promo-price_desc {
    font-size: 12px;
  }
}
section.slider-main-page ul.slider-main .promo-price-block .but-wrap {
  text-align: right;
  margin-top: 30px;
}
@media (max-width: 767px) {
  section.slider-main-page ul.slider-main .promo-price-block .but-wrap {
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  section.slider-main-page .bx-wrapper .bx-pager,
  section.slider-main-page .bx-wrapper .bx-controls-auto {
    bottom: 60px;
    text-align: left;
    padding-left: 10px;
  }
  section.slider-main-page .bx-wrapper .bx-pager.bx-default-pager a {
    width: 10px;
    height: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
section.slider-main-page .control-next-slide,
section.slider-car-details .control-next-slide,
section.slider-car-details .control-next-slide-a,
section.news-slider .control-next-slide,
section.slider-main-page .control-prev-slide,
section.slider-car-details .control-prev-slide,
section.slider-car-details .control-prev-slide-a,
section.news-slider .control-prev-slide {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 50px;
  height: 90px;
}
section.slider-main-page .control-next-slide:hover,
section.slider-car-details .control-next-slide:hover,
section.news-slider .control-next-slide:hover,
section.slider-main-page .control-prev-slide:hover,
section.slider-car-details .control-prev-slide:hover,
section.news-slider .control-prev-slide:hover {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
}
@media (max-width: 480px) {
  section.slider-main-page .control-next-slide,
  section.slider-car-details .control-next-slide,
  section.news-slider .control-next-slide,
  section.slider-main-page .control-prev-slide,
  section.slider-car-details .control-prev-slide,
  section.news-slider .control-prev-slide {
    display: none;
  }
}
section.slider-main-page .control-next-slide,
section.slider-car-details .control-next-slide,
section.slider-car-details .control-next-slide-a,
section.news-slider .control-next-slide {
  right: 0;
  background: url("../img/slider-next-arrow.png") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
}
section.slider-main-page .control-prev-slide,
section.slider-car-details .control-prev-slide,
section.slider-car-details .control-prev-slide-a,
section.news-slider .control-prev-slide {
  left: 0;
  background: url("../img/slider-prev-arrow.png") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
}
section.block-action-news .action-news {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin-bottom: 30px;
}
section.block-action-news .action-news .action-news-inner {
  height: 100%;
  background: #0051a1;
}
section.block-action-news .action-news .img-wrap {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}
section.block-action-news .action-news .type {
  display: block;
  top: 0;
  left: 50%;
  margin-left: -75px;
  background: #0051a1;
  font-size: 17px;
  text-align: center;
  color: #FFF;
  line-height: 1;
  font-weight: 300;
  position: absolute;
  width: 150px;
  padding: 10px;
  text-decoration: none;
}
@media (max-width: 480px) {
  section.block-action-news .action-news .type {
    font-size: 15px;
    padding: 7px;
  }
}
section.block-action-news .action-news .type:hover {
  background: #00a8e6;
  text-decoration: none;
}
section.block-action-news .action-news .text-wrap {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  padding: 50px 30px;
  background: #0051a1;
}
@media (max-width: 991px) {
  section.block-action-news .action-news .text-wrap {
    padding: 30px 30px;
  }
}
section.block-action-news .action-news .text-wrap .date {
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
  line-height: 1;
  margin-bottom: 8px;
}
section.block-action-news .action-news .text-wrap .title {
  font-size: 28px;
  font-weight: 300;
  color: #FFF;
  line-height: 1.286;
  margin-bottom: 20px;
}
section.block-action-news .action-news .text-wrap .desc {
  font-size: 15px;
  font-weight: 300;
  color: #FFF;
  line-height: 1.467;
}
section.block-action-news .banner .banner-inner {
  border: 1px solid #999999;
  position: relative;
  height: 500px;
}
@media (max-width: 480px) {
  section.block-action-news .banner .banner-inner {
    height: initial;
    padding-bottom: 15px;
  }
}
section.block-action-news .banner p {
  font-size: 16px;
  padding: 10px 50px 20px 50px;
  margin: 0;
}
@media (max-width: 991px) {
  section.block-action-news .banner p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
section.block-action-news .banner .img-wrap img {
  width: 100%;
}
section.block-360 .container,
.block-360-wrap .container {
  position: relative;
  text-align: center;
}
section.block-360 .car360,
.block-360-wrap .car360 {
  display: inline-block;
  vertical-align: top;
}
section.block-360 .icon360,
.block-360-wrap .icon360 {
  position: absolute;
  top: 20px;
  right: 20px;
}

section.block-360 .icon360 {
  right: 50px;
}
@media (max-width: 767px) {
  section.block-360 .icon360,
  .block-360-wrap .icon360 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
  }
}
section.block-360 .icon360 span,
.block-360-wrap .icon360 span {
  font-weight: 300;
  font-size: 15;
  color: #364044;
  padding-left: 15px;
}
section.block-comparison {
  padding-top: 30px;
}
section.block-comparison .comparison-wrap {
  position: relative;
  padding: 30px 0;
}
@media (max-width: 480px) {
  section.block-comparison .comparison-wrap {
    text-align: center;
  }
}
@media (max-width: 480px) {
  section.block-comparison .comparison-wrap > div {
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  section.block-comparison .comparison-wrap .see-but {
    position: relative;
    top: initial;
    right: initial;
  }
}
section.block-comparison a.see-but {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
}
section.block-comparison .comparison-table .other-car > div {
  padding: 10px 0;
  /*height: 105px;*/
}
section.block-comparison .comparison-table .other-car > div .img-wrap {
  padding: 0 20px;
}
@media (max-width: 480px) {
  section.block-comparison .comparison-table .other-car > div .img-wrap {
    padding: 0 25px;
  }
}
section.block-comparison .comparison-table .other-car > div .img-wrap img {
  margin: 0 auto;
  margin-bottom: -10px;
}
section.block-comparison .comparison-table .other-car > div span {
  display: block;
  font-size: 18px;
  color: #666;
}

  section.block-comparison .comparison-table .other-car > div span {
    margin-top: 5px;
    font-size: 16px;
  }
section.block-comparison .icon-diag {
  background-position: 0 100%;
  margin: 34px 0;
}


section.block-comparison .icon-diag.-stars {
  background-image: url('../img/stars_diag.png');
  height: 19px;
  width: 100px;
}
section.block-comparison .icon-diag.-stars .points_2 {
  width: 42px;
}
section.block-comparison .icon-diag.-stars .points_3-4 {
  width: 73px;
}
section.block-comparison .icon-diag.-stars .points_4-5 {
  width: 94px;
}
section.block-comparison .icon-diag.-stars .points_5 {
  width: 105px;
}
section.block-comparison .icon-diag.-benz {
  background-image: url('../img/benz_diag.png');
  height: 22px;
  width: 200px;
}
section.block-comparison .icon-diag.-benz .points_6 {
  width: 144px;
}
section.block-comparison .icon-diag.-benz .points_6-7 {
  width: 153px;
}
section.block-comparison .icon-diag.-benz .points_7 {
  width: 168px;
}
section.block-comparison .icon-diag.-benz .points_7-8 {
  width: 177px;
}
section.block-comparison .icon-diag .icon-diag-fill {
  background-image: inherit;
  background-repeat: repeat;
  background-position: 0 0;
  height: 100%;
}
section.block-comparison .features-block {
  padding-top: 15px;
}


@media (max-width: 480px) {
  section.block-comparison .features-block {
    padding-top: 0;
  }
}

section.block-comparison .features-block .features-block-inner .help-width {
  width: 880px;
}
section.block-comparison .features-block .bx-viewport {
  overflow: visible !important;
}
section.block-comparison .features-block ul.slider-features-car {
  margin: 0;
  padding: 0;
}
section.block-comparison .features-block table {
  color: #666666;
  font-size: 15px;
  font-weight: 300;
}
section.block-comparison .features-block table tr:first-child {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
section.block-comparison .features-block table tr:first-child td {
  border-top: none;
}
section.block-comparison .features-block table tr td {
  vertical-align: middle;
  padding-left: 0;
  padding-right: 25px;
}
section.block-comparison .features-block table tr.feature-info td {
  white-space: nowrap;
  padding-top: 12px;
  padding-bottom: 12px;
}
.features-block table tbody tr td {text-align: left;}
section.block-gallery .column-gallery-wide {
  width: 37.5%;
  float: left;
}
@media (max-width: 480px) {
  section.block-gallery .column-gallery-wide {
    width: 42.85%;
    float: right;
  }
}
section.block-gallery .column-gallery {
  width: 25%;
  float: left;
}
@media (max-width: 480px) {
  section.block-gallery .column-gallery {
    width: 57.15%;
  }
}
section.block-gallery .img-wrap {
  display: block;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}
section.block-gallery .item {
  display: block;
  position: relative;
}
section.block-gallery .item span.text {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 32%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
section.block-gallery .item:hover span {
  opacity: 1;
}
section.block-gallery .item.-video::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95px;
  height: 58px;
  margin-top: -29px;
  margin-left: -48px;
  background: url("../img/but_video-play.png") 0 0 no-repeat;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
section.block-gallery .item.-video:hover::before {
  opacity: 0.2;
}
section.dealer-head {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
section.dealer-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
section.dealer-head .container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}
section.dealer-head .promo-title {
  font-size: 70px;
  line-height: 85px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  font-weight: 500;
}
@media (max-width: 767px) {
  section.dealer-head .promo-title {
    font-size: 62px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  section.dealer-head .promo-title {
    font-size: 30px;
  }
}
section.dealer-head .promo-title a {
  color: inherit;
}
section.dealer-head .promo-title a:hover {
  text-decoration: none;
}
section.dealer-head .promo-subtitle {
  font-size: 40px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  section.dealer-head .promo-subtitle {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  section.dealer-head .promo-subtitle {
    font-size: 14px;
  }
}
section.dealer-head .promo-desc {
  font-size: 28px;
  color: #FFF;
  text-shadow: 0.5px 1px 0px #000;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 767px) {
  section.dealer-head .promo-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    width: 85%;
  }
}
@media (max-width: 480px) {
  section.dealer-head .promo-desc {
    font-size: 8px;
    line-height: 12px;
  }
}
section.dealer-head .but-wrap {
  margin-top: 80px;
}
@media (max-width: 767px) {
  section.dealer-head .but-wrap {
    margin-top: 5px;
  }
}
section.news-slider .slider-all-wrap {
  position: relative;
}
section.news-slider .bx-controls {
  display: none;
}
section.news-slider .news-item {
  color: #FFF;
  list-style: none;
}
section.news-slider .news-item .image-wrap {
  padding-left: 0;
}
section.news-slider .news-item .text-wrap {
 /* padding-right: 100px;*/
}
section.news-slider .news-item .text-wrap .news-date {
  margin-top: 30px;
  margin-bottom: 20px;
}
section.news-slider .news-item .text-wrap .news-title {
  color: #FFF;
}
section.news-slider .news-item .text-wrap .news-title a {
  color: inherit;
}
section.news-slider .news-item .text-wrap a:hover {
  color: inherit;
}
section.block-review .container {
  padding-top: 45px;
  padding-bottom: 50px;
}
section.block-review .review {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.block-review .review .info {
  text-overflow: ellipsis;
  overflow: hidden;
}
section.block-review .review .review-inner {
  padding-right: 10%;
}
@media (max-width: 767px) {
  section.block-review .review .review-inner {
    padding-right: 0px;
    clear: right;
  }
}
section.block-review .review .name {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}
section.block-review .review .author {
  margin-top: 20px;
}
section.block-review .review img {
  margin: 0 auto 0 auto;
}
@media (max-width: 767px) {
  section.block-review .review img {
    float: right;
    margin-bottom: -45px;
    width: 45%;
  }
}
section.map #map-offices {
  width: 100%;
  height: 700px;
}
@media (max-width: 991px) {
  section.map #map-offices {
    height: 500px;
  }
}
@media (max-width: 767px) {
  section.map #map-offices {
    height: 400px;
  }
}
@media (max-width: 480px) {
  section.map #map-offices {
    height: 280px;
  }
}
section.map .map-top-menu {
  background: #0051a1;
  padding: 20px 0;
  text-align: center;
}
section.map .map-top-menu h3 {
  color: #FFF;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
}
#map {overflow: visible; z-index: 10;}
.search-form-wrap {
  display: inline-block;
  position: relative;
  max-width: 980px;
  width: 100%;
}
.search-form-wrap .input-wrap {
  float: left;
  margin-right: 2%;
  width: 75%;
}
.news-block .input-wrap {min-width: 0; max-width: 250px;}
.news-block .in-news .input-wrap {max-width: 600px;}
@media (max-width: 480px) {
  .search-form-wrap .input-wrap {
    padding-right: 0px;
  }
}
.search-form-wrap .input-wrap .input-inner {
  position: relative;
}
.search-form-wrap .input-wrap input {
  background: url('../img/search-logo.svg') 20px 50% no-repeat rgba(0, 0, 0, 0);
  border: 2px solid #FFF;
  width: 100%;
  height: 50px;
  padding-left: 55px;
  padding-right: 100px;
  color: #FFF;
  font-size: 16px;
}
@media (max-width: 767px) {
  .search-form-wrap .input-wrap input {
    padding-right: 80px;
  }
}
@media (max-width: 480px) {
  .search-form-wrap .input-wrap input {
    height: 39px;
    font-size: 14px;
    padding-left: 40px;
    background-position: 12px 50%;
  }
}
.search-form-wrap .input-wrap input::-webkit-input-placeholder {
  color: #FFF;
}
.search-form-wrap .input-wrap input:-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.search-form-wrap .input-wrap input::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.search-form-wrap .input-wrap input:-ms-input-placeholder {
  color: #FFF;
}
.search-form-wrap .input-wrap .btn_geoposition {
  display: block;
  background: url("../img/navigate-logo.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 65px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .search-form-wrap .input-wrap .btn_geoposition {
    right: 50px;
  }
}
.search-form-wrap .input-wrap .btn_geoposition:hover {
  background-position: 0 100%;
}
.search-form-wrap .input-wrap .btn_all_dealers {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 25px;
  font-size: 16px;
  line-height: 28px;
  color: #FFF;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .search-form-wrap .input-wrap .btn_all_dealers {
    right: 13px;
  }
}
.search-form-wrap .input-wrap .btn_all_dealers:hover {
  text-decoration: none;
}
.search-form-wrap .search-but {float: left; width: 23%;}
@media only screen and (max-width: 560px) {
	.search-form-wrap .search-but {padding: 0;}
}
@media (max-width: 480px) {
	.search-form-wrap .input-wrap {width: 100%; margin: 0;}

	.search-form-wrap .search-but {
		position: relative;
		margin-top: 5px;
		font-size: 12px;
		line-height: 30px;
		width: 100%;
	}
}
.search-form-wrap.form-text-search {
  float: right;
  max-width: 385px;
  text-align: center;
}
.search-form-wrap.form-text-search.in-news {max-width: 700px;}
.search-form-wrap.form-text-search .input-wrap input {
  color: #000;
  padding-right: 5px;
  background: url('../img/search-logo-blue.png') 20px 50% no-repeat rgba(0, 0, 0, 0);
  border: 1px solid #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.search-form-wrap.form-text-search .input-wrap input::-webkit-input-placeholder {
  color: #000;
}
.search-form-wrap.form-text-search .input-wrap input::-moz-placeholder {
  color: #000;
}
.search-form-wrap.form-text-search .input-wrap input:-moz-placeholder {
  color: #000;
}
.search-form-wrap.form-text-search .input-wrap input:-ms-input-placeholder {
  color: #000;
}
footer {
  padding: 50px 0 50px 0;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer-link {
  margin-bottom: 30px;
}
footer .footer-link h3 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 25px;
}
footer .footer-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-link ul li {
  color: #0051a1;
  margin-bottom: 0.67em;
}
footer .footer-link ul li a {
  color: inherit;
}
footer .footer-link ul li a.active {font-weight: bold;}
footer .additional-menu-wrap {
  margin-right: -10px;
}
footer .additional-menu-wrap ul.additional-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: right;
}
@media (max-width: 767px) {
  footer .additional-menu-wrap ul.additional-menu {
    text-align: center;
  }
}
footer .additional-menu-wrap ul.additional-menu li {
  display: inline-block;
}
footer .additional-menu-wrap ul.additional-menu li:first-child a {
  margin-left: 0;
}
footer .additional-menu-wrap ul.additional-menu li a {
  display: inline-block;
  width: 49px;
  height: 49px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	footer .additional-menu-wrap ul.additional-menu li a {margin-left: 9px;}
}
@media only screen and (min-width: 768px) {footer .additional-menu-wrap ul.additional-menu li a {margin-right: 0;}}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	footer .additional-menu-wrap ul.additional-menu li a {margin-left: 2px; margin-right: 2px;}
}
@media only screen and (min-width: 768px) and (max-width: 779px) {
	footer .additional-menu-wrap ul.additional-menu li a {width: 38px; height: 38px; background-size: 38px !important;}
}
@media only screen and (min-width: 780px) and (max-width: 900px) {
	footer .additional-menu-wrap ul.additional-menu li a {width: 40px; height: 40px; background-size: 40px !important;}
}
@media (max-width: 767px) {
  footer .additional-menu-wrap ul.additional-menu li a {margin-left: 8px;}
}
@media (max-width: 480px) {
  footer .additional-menu-wrap ul.additional-menu li a {margin-left: 12px; margin-right: 12px;}
}
footer .additional-menu-wrap ul.additional-menu li a {background: url("../img/additional-menu-credit.svg") 0 0 no-repeat;}
footer .additional-menu-wrap ul.additional-menu li a.-credit {}
footer .additional-menu-wrap ul.additional-menu li a.-testdrive {background-image: url("../img/additional-menu-testdrive.png");}
footer .additional-menu-wrap ul.additional-menu li a.-dealers {background-image: url("../img/additional-menu-dealers.svg");}
footer .additional-menu-wrap ul.additional-menu li a.-calendar {background-image: url("../img/additional-menu-calendar.svg");}
footer .additional-menu-wrap ul.additional-menu li a:hover {background-position: 0 100%;}
footer .footer-search-form .search-wrap {position: relative;}
footer .footer-search-form label {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}
footer .footer-search-form .subscrube_button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 34px;
  vertical-align: top;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 70px;
  background: #0051a1 url("../img/icon-mailer.svg") no-repeat 50% 50%;
}
footer .footer-search-form .subscrube_button:hover {background-color: #00a8e6;}
footer .footer-search-form input[type='email'] {
  height: 34px;
  width: 100%;
  padding: 0 70px 0 10px;
  border: 1px solid #999999;
  background-color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
footer .footer-copyright {
  margin-top: 20px;
  display: table;
  width: 100%;
}
@media (max-width: 767px) {
  footer .footer-copyright {
    display: block;
  }
}
footer .footer-copyright p {
  display: table-cell;
  font-weight: 400;
}
@media (max-width: 767px) {
  footer .footer-copyright p {
    display: block;
    text-align: center;
  }
}
footer .footer-copyright .footer-logo {
  display: table-cell;
  padding-left: 40px;
}
@media (max-width: 767px) {
  footer .footer-copyright .footer-logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    margin-top: 20px;
  }
}
.color-wrap input {
  display: none;
}
.color-wrap {
  max-width: 100%;
  table-layout: fixed;
  display: table-row;
}
.color-wrap > div {
  display: table-cell;
  width: 100px;
  vertical-align: top;
}
.color-wrap label {
  display: block;
  cursor: pointer;
  visibility: hidden;
  text-align: center;
  padding: 1px 1px 5px 1px;
  border: 1px solid #fff;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 0;
  border-radius: 3px;
}
.color-wrap input:checked + label {
  border: 1px solid #ccc;
  visibility: visible;
  font-size: 15px;
}
.color-wrap label::before {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background: #F00;
  visibility: visible;
}
.color-wrap label[data-content='#ffffff']::before {
  box-shadow: inset 0 0 0 1px #000;
}

.color-wrap label.color-1::before {
  background: #aa4d00;
}
.color-wrap label.color-2::before {
  background: #dee7e8;
}
.color-wrap label.color-3::before {
  background: #1c2d37;
}
.color-wrap label.color-4::before {
  background: #141414;
}
.color-wrap label.color-5::before {
  background: #dfdcd9;
}
.services-wrap > div {
  margin-bottom: 20px;
}
.services-wrap .type-wrap {
  text-align: center;
  position: absolute;
  top: 0;
  width: 97%;
  margin-left: -7px;
}
.services-wrap .type-wrap .type {
  display: inline-block;
  background: #0051a1;
  font-size: 17px;
  text-align: center;
  color: #FFF;
  line-height: 1;
  font-weight: 300;
  min-width: 150px;
  padding: 10px;
  text-decoration: none;
}
.services-wrap .type-wrap .type:hover {
  background: #00a8e6;
  text-decoration: none;
}
.services-wrap .item {
  border: 1px solid #999999;
}
.services-wrap .item .block {
  position: relative;
  height: 280px;
  padding: 30px 15px 30px 30px;
}
.services-wrap .item .block ul {
  list-style-position: outside;
}
.services-wrap .item .block .btn {
  padding-left: 5px;
  padding-right: 5px;
  bottom: 20px;
  position: absolute;
  left: 20px;
  right: 20px;
}
.col-20 {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}


@media (max-width: 665px) {
  .col-20 {
    width: 100%;
  }
}

.auto-block .btn {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 180px;
  text-transform: uppercase;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.auto-block .btn:hover {
  background: #f2f2f2;
}


@media (max-width: 768px) {
  .auto-block .btn {
    font-size: 10px;
    padding: 0 5px;
  }
}

.rollerblade-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.rollerblade-drag {
  cursor: w-resize;
}
.map-labels {
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  white-space: nowrap;
  text-shadow: 1px 1px 3px #FFF;
  overflow: visible!important;
}
.map-labels .map-labels-   {
  position: relative;
  left: -50%;
}
.infobox-wrapper {
  display: none;
}
#infobox .modal-map {
  width: 380px;
  background: #FFF;
  color: #000;
  font-size: 13px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}
@media (max-width: 480px) {
  #infobox .modal-map {
    width: 300px;
  }
}
#infobox .modal-map > div {
  padding: 18px 30px;
}
@media (max-width: 480px) {
  #infobox .modal-map > div {
    padding: 5px 10px;
  }
}
#infobox .modal-map .info .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
#infobox .modal-map .info .more-info-block {
  padding: 15px 30px 0px 30px;
}
@media (max-width: 480px) {
  #infobox .modal-map .info .more-info-block {
    padding: 5px 10px 0px 10px;
  }
}
@media (min-width: 768px) {
  #infobox .modal-map .info dl dt {
    font-weight: normal;
    text-align: left;
    width: 100px;
    margin-bottom: 5px;
  }
  #infobox .modal-map .info dl dd {
    margin-left: 100px;
    text-align: right;
  }
}
@media (max-width: 480px) {
  #infobox .modal-map .info dl {
    margin-bottom: 5px;
  }
}
#infobox .modal-map .hrefs {
  background: #0051a1;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
}
#infobox .modal-map .hrefs a {
  color: inherit;
  text-decoration: underline;
}
#infobox .modal-map .hrefs a.phone {
  display: block;
  float: left;
  background: url("../img/modal-phonepng.png") 50% no-repeat;
  width: 27px;
  height: 25px;
  margin-right: 15px;
}
#infobox .modal-map .hrefs a.mail {
  display: block;
  float: left;
  background: url("../img/modal-email.png") 50% no-repeat;
  width: 27px;
  height: 25px;
}
#infobox .modal-map .hrefs a.page {
  display: block;
  float: right;
  background: url("../img/modal-arrow.png") 100% 50% no-repeat;
  padding-right: 15px;
}
#infobox .modal-map .hrefs a:hover {
  text-decoration: none;
}
section.check-action {
  padding: 4em 0 6em 0;
}
section.check-action .text {
  font-size: 28px;
}

/* Заголовок "Выберите автомобиль" на странице калькулятора */
.calc_subtitle {
	padding-left: 76px;
	font-size: 1.5em;
}
@media (max-width: 480px) {
  section.check-action .text {
    font-size: 16px;
  }
}
.sidebar {
  background: #0051a1;
  color: #FFF;
  padding: 20px 30px 25px 30px;
}
.sidebar h3 {
  font-weight: 500;
}
.sidebar ul li {
  margin-left: 12px;
  list-style-position: outside;
}
.sidebar a {
  color: inherit;
}
section.news-block .news-item {
  padding: 40px 0;
}
section.news-block .news-item .news-title a {
  color: #0051a1;
}
section.news-block .news-item .news-date {
  margin-bottom: 20px;
}
section.news-block .news-item.news-main .news-info {
  padding: 0 100px;
}
@media (max-width: 767px) {
  section.news-block .news-item.news-main .news-info {
    padding: 0px;
  }
}
section.news-block .news-item.news-main .news-img {
  width: 100%;
  text-align: center;
}
section.news-block .news-item.news-main .news-img img {display: inline-block;}
.after-news-block a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.after-news-block a.-print {
  background: url("../img/icon-print.png") 50% 50% no-repeat;
}
.after-news-block a.-mail {
  background: url("../img/icon-mailer-blue.png") 50% 50% no-repeat;
}
.after-news-block a.-favorite {
  background: url("../img/icon-star.png") 50% 50% no-repeat;
}
.after-news-block a.-share {
  background: url("../img/icon-share.png") 50% 50% no-repeat;
}
.slider-comparison-car-wrap {
  position: relative;
  height: 170px;
}
.comparation-ind .slider-comparison-car-wrap {
  margin: 0 65px;
}
@media (max-width: 1166px) {
  .comparation-ind .slider-comparison-car-wrap {
    margin: 0;
  }
}

.slider-competitors .competitor.text-center {
  padding: 8px 0;
}

@media (max-width: 480px) {
  .slider-competitors .competitor.text-center {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
}

.slider-comparison-car-wrap .control-prev-slide,
.slider-comparison-car-wrap .control-prev-slide-a,
.slider-comparison-car-wrap .control-next-slide,
.slider-comparison-car-wrap .control-next-slide-a,
.slider-comparison-car-wrap .control-bodies-prev-slide,
.slider-comparison-car-wrap .control-bodies-next-slide {
  display: block;
  width: 45px;
  height: 44px;
  position: absolute;
  top: 48px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 1279px) {
  .slider-comparison-car-wrap .control-prev-slide,
  .slider-comparison-car-wrap .control-next-slide,
.slider-comparison-car-wrap .control-bodies-prev-slide,
.slider-comparison-car-wrap .control-bodies-next-slide {
    width: 35px;
    height: 35px;
    background-size: cover !important;
  }
}
@media (max-width: 767px) {
  .slider-comparison-car-wrap .control-prev-slide,
  .slider-comparison-car-wrap .control-next-slide,
.slider-comparison-car-wrap .control-bodies-prev-slide,
.slider-comparison-car-wrap .control-bodies-next-slide {
    width: 30px;
    height: 30px;
    top: 25px;
  }
}
@media (max-width: 480px) {
  .slider-comparison-car-wrap .control-prev-slide,
  .slider-comparison-car-wrap .control-next-slide,
.slider-comparison-car-wrap .control-bodies-prev-slide,
.slider-comparison-car-wrap .control-bodies-next-slide {
    width: 25px;
    height: 25px;
  }
}
.slider-comparison-car-wrap .control-prev-slide,
.slider-comparison-car-wrap .control-prev-slide-a,
.slider-comparison-car-wrap .control-bodies-prev-slide {
  left: 0;
  background: url("../img/arrow_left.svg");
  background-repeat: no-repeat;
}
.slider-comparison-car-wrap .control-next-slide,
.slider-comparison-car-wrap .control-next-slide-a,
.slider-comparison-car-wrap .control-bodies-next-slide {
  right: 0;
  background: url("../img/arrow_right.svg");
  background-repeat: no-repeat;
}
.slider-comparison-car-wrap ul.slider-comparison-car {
  margin: 0;
  padding: 0;
}
.slider-comparison-car-wrap ul.slider-comparison-car:after {
  clear: both;
  width: 100%;
  content: "";
  display: block;
}
@media (max-width: 767px) {
  .slider-comparison-car-wrap ul.slider-comparison-car li {
    overflow: hidden;
  }
}
.slider-comparison-car-wrap ul.slider-comparison-car li span {
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .slider-comparison-car-wrap ul.slider-comparison-car li span {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
.slider-comparison-car-wrap ul.slider-comparison-car li .img-wrap {
  padding: 0 20px;
}
 @media (max-width: 480px) { 
}

.slider-comparison-car-wrap ul.slider-comparison-car li .img-wrap img {
  margin: 0 auto;
}
.slider-comparison-car-wrap ul.slider-comparison-car li .type-wrap {
  text-align: center;
  padding: 8px 0;
}
.slider-comparison-car-wrap ul.slider-comparison-car li .type-wrap .btn-comparison-type {
  display: inline-block;
  text-transform: uppercase;
  height: 32px;
  padding: 0 28px;
  line-height: 32px;
  border: 1px solid #222;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .slider-comparison-car-wrap ul.slider-comparison-car li .type-wrap .btn-comparison-type {
    padding: 0 10px;
    font-size: 11px;
  }
}
.credit-calculator {
  margin-bottom: 40px;
}
.credit-calculator .settings-car {
  position: relative;
  z-index: 1;
}
.credit-calculator .car-preview {
  position: relative;
  top: -80px;
  height: 450px;
  overflow: hidden;
  margin-bottom: -100px;
}
#tech > div img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 480px) {
  .credit-calculator .car-preview {
    top: 0;
    margin-bottom: 0;
    clear: both;
  }
  .features-slider {
    min-height: 128px;
  }
  .credit-calculator .car-preview {
    height: auto;
    margin-bottom: 20px;
  }
}
.credit-calculator .info-car {
  margin-top: 100px;
}
.credit-calculator .text-1 {
  font-size: 26px;
  font-weight: 300;
  color: #222222;
  margin: 20px 0 0px 0;
}
.credit-calculator .text-2 {
  font-size: 46px;
  font-weight: 500;
  color: #222222;
  line-height: 1;
}

@media (max-width: 768px) {
  .credit-calculator .text-2 {
    font-size: 24px;
  }
}

.credit-calculator .slider-value {
  margin-bottom: 30px;
}
.config-right {
  background: #f0f0f0;
  padding: 15px 25px 0px 25px;
}
.config-right .table tbody tr td {
  background: transparent;
  padding: 10px 15px;
}
.option {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 20px 20px 10px 75px;
  margin-bottom: 20px;
  min-height: 85px;
}
.option .custom-checkbox,
.option .custom-radio {
  position: absolute;
  top: 31px;
  left: 25px;
}
.catalog-item {
  position: relative;
  padding: 5px 0;
}
.catalog-item > img {
  margin: auto;
  display: block;
}
.catalog-item > a {
  display: block;
  margin: 0 auto;
  max-width: 260px;
  position: relative;
  width: 100%;
}
.catalog-item-title {
  font-size: 15px;
  margin-top: -18px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
.catalog-item-price {
  background-color: #FFDC00;
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.catalog-item-table > li {
  height: 39px;
  line-height: 39px;
  border-top: 1px solid #E9E9E9;
  padding: 0 8px 0 26px;
  margin: 0 10px;
  list-style: none;
}
.catalog-item-table > li:first-child {
  border: none;
}
.catalog-item-table > li.item-active .val {
  background: #ffdb00;
  font-weight: bold;
  line-height: 28px;
  margin-top: 6px;
}
.catalog-item-table > li .val {
  padding: 0 8px;
  float: right;
}
.catalog-item-over {
  width: 100%;
  height: 100%;
  padding: 10px 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  background: #fff;
  display: none;
}
.catalog-item-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -119px;
  width: 124px;
}
.catalog-item-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -5px;
  width: 124px;
  background-color: transparent;
  color: #0051A1;
}
.catalog-item:hover .catalog-item-over {
  display: block;
  z-index: 8;
}
.catalog-item:hover > a,
.catalog-item:hover .catalog-item-title {
  z-index: 9;
}
.jq-selectbox li {
  text-align: left;
}
.text-right > div * {
  text-align: center;
}
.comparison-table.text-center .cars-column {
  width: 60%;
  margin: auto;
}
@media (max-width: 1279px) {
  .comparison-table.text-center .cars-column {
    width: 100%;
  }
}
.flright {
  float: right;
}
.fsz16 {
  font-size: 16px;
  line-height: 28px;
}
.modal-small .modal-header {
  padding: 10px 80px 10px;
}
.modal-small .modal-lg .modal-body {
  padding: 0 80px 20px;
}
.modal-small .modal-lg .modal-body p {
  text-align: center;
}
.modal-small .modal-lg .modal-body p.mail {
  min-height: 120px;
  line-height: 120px;
  font-size: 28px;
  color: #192634;
}
.modal-small .modal-lg .modal-body p.mail span {
  background: url(../img/icon-letter.png) no-repeat center left;
  height: 120px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.modal-small .modal-lg .modal-body p.mess {
  min-height: 120px;
  line-height: 1.3;
  font-size: 28px;
  color: #192634;
  padding-top: 25px;
  text-align: left;
}
.modal-small .modal-lg .modal-body p.mess span {
  background: url(../img/icon-mess.png) no-repeat center left;
  height: 120px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  float: left;
  margin-top: -25px;
}
.modal-alert {
  min-height: 120px;
  line-height: 1.3;
  font-size: 28px;
  color: #192634;
  padding-top: 25px;
  text-align: left;
  margin: 1.2em 0;
}
.custom-radio p {
  margin: 0;
}
.custom-checkbox span.red-star {
  float: none;
}
.blocks-3-wrap {
  overflow: hidden;
}
@media (max-width: 767px) {
  .blocks-3-wrap > div {
    display: block;
    height: auto;
  }
}
@media (max-width: 991px) {
  .blocks-3-wrap > div:last-child {
    float: left;
  }
}
.blocks-3-wrap .serv {
  position: relative;
  float: none;
  height: 100%;
  background: #0051A1;
  color: #fff;
  margin-top: 20px;
  padding-top: 0 !important;
}
.blocks-3-wrap .serv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: none;
}
@media (max-width: 767px) {
  .blocks-3-wrap .serv {
    height: auto;
  }
}
.blocks-3-wrap .serv.-blue {
  background: #0051A1;
  color: #FFF;
}
.blocks-3-wrap .serv.-gray {
  background: #e8e8e8;
  color: #000;
}
.blocks-3-wrap .serv img {
  width: 100%;
}
.blocks-3-wrap .serv .block {
  margin: 10px 0;
  padding: 10px 30px 20px 30px;
}
.description {
  font-size: 13px;
  padding-left: 16px;
  display: block;
}
.width-full {
  width: 100%;
}
.modal .map-top-menu {
  background: #0051A1;
  padding: 20px;
  color: #fff;
  margin-top: 20px;
}
.modal .map-top-menu h3 {
  margin-top: 0;
}
.search-form-wrap .dropdown-menu {border-radius: 3px; padding: 0;}
.map-top-menu .dealer-centre {font-weight: lighter; padding: 13px 0 13px 28px; border-bottom: 1px solid #CCC; position: relative;}
.map-top-menu .dealer-centre:last-child {border-bottom: none}
.map-top-menu .dealer-centre:hover {background-color: #F4F4F4;}
.map-top-menu .dealer-centre:hover > a {font-weight: bold;}
.map-top-menu .dealer-centre > a {text-decoration: none;}
.map-top-menu .dealer-centre > a:before {content: ""; background: url("/front_assets/img/placemark_mini.png") 0 0 no-repeat; position: absolute; left: 20px; top: 18px; width: 11px; height: 18px;}

/* Страница заявки на кредит */
/* Плашки bluepad */
.sidebar.bluepad {padding-top: 30px; padding-bottom: 40px; margin-bottom: 20px;}
.sidebar.bluepad h3 {margin-top: 15px; margin-bottom: 0; font-weight: normal;}
.sidebar.bluepad p {margin-top: 15px; line-height: 1.5em;}

.insurance {padding-top: 0;}
.insurance h3 {padding-left: 10px; margin-bottom: 45px;}
.insurance .container {max-width: 1100px;}
.insurance .inputs {margin-left: 0; padding-left: 0; padding: 0;}
.insurance .material-input {margin-bottom: 17px;}
.insurance .comment {float: left; padding: 0; width: 100%;}
.insurance .comment textarea {height: 209px;}

.insurance .control-label {max-width: 150px;}
.insurance .agree {margin-top: 25px;}

@media screen and (min-width: 768px) {
	.insurance .comment {width: 49%;}
	.insurance .inputs {width: 47%; margin-right: 4%;}
}


/* Страница обслуживания */
.sect1 {padding-bottom: 0; padding-top: 35px;}
.sect1 p {margin-top: 35px;}
.bottom_button {position: absolute; bottom: 40px; width: 100%; left: 0; text-align: center;}
.service_form h3 {margin-bottom: 70px;}
.service_form .form-group {margin-top: 10px; margin-bottom: 18px;}

#map-offices .gm-style {font-family: 'Ubuntu', sans-serif; color: #000; -webkit-font-smoothing: antialiased;}
.modal-map .minimargin {margin-bottom: 5px;}
.mapicons {text-align: center;}
.mapicons .mapicon {display: inline-block; width: 25px; height: 25px; margin-right: 8px;}
.mapicons .mapicon > img {width: 25px; height: 25px;}
.mapicons .mapicon:last-child {margin-right: 0;}

.scrolled_info.topinfo { padding-left: 80px; }

#sec_login { margin: 30px 0; }
#sec_login .user-form { max-width: 500px; margin: 0 auto; }
#sec_login .pagetitle { text-align: center; }




/* Action Block */
.action-block {
  clear: both;
  padding: 32px 0 30px;
}
.action-block-inside {
  overflow: hidden;
  background: #0051a1;
}
.action-block .action-thumb {
  float: left;
  max-width: 43%;
}
.action-block .action-thumb img {
  width: 100%;
  height: auto;
}
.action-block .extra-wrap {
  overflow: hidden;
  color: #fff;
  padding: 54px 100px;
}
.action-block .action-date-range {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 22px;
}
.action-block h2 {
  margin-bottom: 24px;
}
.action-block .text-wrap {
  line-height: 26px;
  padding-right: 10px;
}
.action-block .text-wrap a:hover {
  color: #fff;
}
.action-block .action-soc-block {
  padding-top: 10px;
}
.action-block .action-footer {
  overflow: hidden;
  padding-top: 32px;
}
.action-block .action-soc-block a {
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  background: url(../img/action-icons.png) 0 center no-repeat;
}
.action-block .action-soc-block a.action-share {
  width: 19px;
  margin-right: 17px;
}
.action-block .action-soc-block a.action-like {
  line-height: 33px;
  padding-left: 37px;
  background-position: -40px 0;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .action-block .extra-wrap {
    padding: 24px 40px 20px;
  }
}
@media (max-width: 768px) {
  .action-block .action-thumb {
    float: none;
    max-width: 100%;
    text-align: center;
  }
}
.action-block-after {
  padding-right: 5px;
  margin-bottom: 22px;
}
.action-block-after .action-item-link {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.action-block-after .action-item-link img {
  vertical-align: top;
}
.action-after-label {
  font-size: 15px;
  line-height: 24px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
}
.dealer-actions {
  padding-top: 34px;
}
.dealer-actions .actions-item {
  border: 1px solid #999;
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .dealer-actions .actions-item .dealer-actions-thumb {
    text-align: center;
  }
}
.dealer-actions .actions-item .dealer-actions-thumb img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.dealer-actions .actions-item .actions-item-inside {
  padding: 32px 28px 84px;
}
.dealer-actions .actions-item h2 {
  line-height: 36px;
  margin-bottom: 25px;
}
.dealer-actions .actions-item .dealer-action-date-range {
  margin-bottom: 20px;
}
.dealer-actions .dealers-actions-text-wrap {
  line-height: 22px;
}
.dealer-actions .dealers-actions-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 28px 36px;
}
.get-coupon {
  padding: 60px 0 50px;
}
.dealers-agreement {
  padding: 0 20px 50px;
  line-height: 24px;
}
.dealer-contacts-data {
  padding: 4px 0 20px 2px;
  line-height: 26px;
}
.mess-nomin {min-height: 0;}
.dealers-popup-title {
  margin-bottom: 12px;
}
.dealers-date-range {
  padding-top: 34px;
}
.dealers-date-range + h3 {
  margin-top: 21px;
}
.dealer-coupon-data {
  padding: 4px 5px 0 0;
  line-height: 26px;
}
.dealer-coupon-data a {
  color: #000;
}
.coupon-action-cars {
  padding-top: 24px;
}
.coupon-action-cars a {
  color: #222;
  text-decoration: none;
}
.coupon-action-cars span {
  margin-right: 7px;
}
.coupon-controls {
  margin-bottom: 50px;
}
h2.ind-1 {
  margin-bottom: 15px;
}
.section-title {
  color: #222;
  margin-bottom: 20px;
}
.complect-select {
  min-width: 870px;
  padding-top: 11px;
}
.complectation .colmplect-block {
  border: 1px solid transparent;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 19px 5px;
  float: left;
  min-width: 280px;
  width: 32.2%;
}
.complectation .colmplect-block + .colmplect-block {
  margin-left: 1.695%;
}
.complectation .colmplect-block:nth-child(4n) {
	margin-left: 0;
}
.complectation .colmplect-block input {
  display: none;
}
.complectation .colmplect-block.active {
  border-color: #222;
}
.complectation .colmplect-block table td {
  padding: 8px 8px 9px;
  vertical-align: middle;
}
.complectation .colmplect-block table td + td {
  padding-right: 12px;
}
.complectation .colmplect-block table td.price-cell {
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 700;
}


@media (max-width: 480px) {
  .credit-calculator .info-car {
    margin-top: -100px;
  }
  .complectation .colmplect-block table td.price-cell {
    font-size: 15px;
  }
}
.complect-tech-data {
  padding-top: 22px;
}
.tech-data-block .section-title {
  margin-bottom: 16px;
}
.tech-data-block .table-wrap {
  margin: 0 21px;
}
.tech-data-block .table {
  margin-bottom: 7px;
}
.tech-data-block table tr td {
  border-color: #f0f0f0;
  padding: 9px 20px 9px;
  min-width: 270px;
}
.tech-data-block .table tbody tr td.round {
  text-align: right;
}
.tech-data-block .table tbody tr td.round:before,
.tech-data-block .table tbody tr td.round-full:before {
  margin: 0;
  display: inline-block;
}
.scrolled_info {
  position: relative;
  overflow: auto;
}
@media (max-width: 889px) {
  .money-config h3 {
    min-height: 66px;
  }
}

@media (max-width: 768px) {
  .slider-features-car .text-left.p-t50-b-10:first-child {
    padding-top: 10px;
  }
  .money-config h3  {
    min-height: 0;
  }
.slider-features-car .text-left + .text-left.p-t50-b-10 {
  padding-top: 0;
}
  .money-config .p-l-50 {padding-left: 10px; padding-right: 50px;}
}

/* Helper Section */

.choose-helper {
  background: url(../images/helper-section-bg.jpg) 0 0 no-repeat;
  background-size: cover;
}
.choose-helper .helper-block {
  display: none;
}
.choose-helper-header {
  text-align: center;
  color: #fff;
}
#choose-helper-show {
  margin-top: 34px;
  height: 40px;
  display: block;
  text-align: center;
  background: rgba(0,0,0,.15);
}
.opened #choose-helper-show span {
  width: 51px;
  height: 19px;
  background-position: 0 bottom;
}
#choose-helper-show span {
  height: 15px;
  margin-top: 15px;
  width: 39px;
  display: inline-block;
  background: url(../img/helper-arrows.png) center 0 no-repeat;
}
.choose-helper-header .helper-title {
  margin-top: 28px;
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 29px;
  margin-top: ;
}
.choose-helper-header .helper-subtitle {
  font-size: 15px;
  line-height: 18px;
  margin-top: 0;
}
.helper-steps {
  padding-top: 26px;
  margin-bottom: 17px;
  text-align: center;
}
.helper-steps li {
  display: inline-block;
  position: relative;
  list-style: none;
  border: 2px solid #0051a1;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 25px;
  vertical-align: top;
}
.helper-steps li.helper-finished {
  width: 49px;
  height: 49px;
  background: url(../img/helper-finished-icon.png) center center no-repeat #0051a1;
}
.helper-steps li.current {
  background: #fff;
  color: #000;
  border-color: #fff;
  width: 57px;
  height: 57px;
  border-radius: 50px;
  line-height: 50px;
  margin-top: -4px;
  z-index: 99;
  position: relative;
}
.helper-steps li.helper-finished a {
  display: none;
}
.helper-steps li.current a {
  color: #000;
}
.helper-steps li + li {
  margin-left: 62px;
}
.helper-steps li.helper-last-step {
  background: url(../img/steps-car-icon.png) center center no-repeat;
}
.helper-steps li +li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 67px;
  right: 100%;
  margin-right: 2px;
  height: 3px;
  background: #0051a1;
  height: 3px;
  top: 50%;
  margin-top: -2px;
}
@media (max-width: 1061px) {
  .helper-steps li +li {
    margin-left: 25px;
  }
  .helper-steps li +li:before {
    width: 30px;
  }

}
@media (max-width: 768px) {
  .helper-steps li +li:before {
   display: none;
  }
  .helper-steps li {
    margin: 0 10px 10px;
  }
}
.helper-steps li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.helper-pane {
  display: none;
}
.helper-pane.active {
  display: block;
}
.helper-pane .pane-title {
  text-align: center;
  color: #fff;
  margin-bottom: 34px;
}
.helper-pane .button-block label {
  min-height: 180px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  position: relative;
  display: block;
  cursor: pointer;
}
.helper-pane .button-block .custom-radio,
.helper-pane .button-block .custom-checkbox {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -7px;
}
.helper-pane .button-block .label {
  position: absolute;
  bottom: 50px;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  left: 20px;
  font-weight: 300;
  text-align: center;
  right: 20px;
  white-space: pre-wrap;
}

@media (max-width: 1024px) and (min-width: 767px) {
  .helper-pane .button-block .label {
    font-size: 13px;
    left: 10px;
    right: 10px;
  }
}
@media (max-width: 768px) {
  .button-block.vert {
    margin-bottom: 10px;
  }
}

.helper-pane .button-block input {display: none;}
.helper-pane .button-block .custom-radio .jq-radio {
  border-color: #fff;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.helper-pane .button-block .custom-checkbox .jq-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.helper-pane .button-block .custom-radio .jq-radio.checked .jq-radio__div {
  background: #fff;
  width: 5px;
  margin: 4px 0 0 4px;
  height: 5px;
}
.helper-pane .button-block .custom-checkbox .jq-checkbox.checked .jq-checkbox__div {
  background: #fff;
  margin: 2px 0 0 2px;
  width: 9px;
  height: 9px;
}
#next-helper-pane,
#prev-helper-pane {
  margin: 40px 25px 0;
  text-transform: uppercase;
}
#prev-helper-pane {
  display: none;
}
.helper-pane .button-block.horz label {
  min-height: 90px;
  margin-bottom: 10px;
}
.buy-compared-wrap {
  padding-bottom: 40px;
  display: none;
}
.buy-compared-col {
  float: left;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.buy-compared-col .btn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}
.compare-icons {
  text-align: right;
}
.compare-icons li {
  list-style: none;
  display: inline-block;
}
.compare-icons li a {
  width: 25px;
  height: 21px;
  display: inline-block;
}
.compare-icons li a.icon-print {
  background: url(../img/icon-print.png) 0 0 no-repeat;
}
.compare-icons li a.icon-mail {
  margin-left: 20px;
  background: url(../img/icon-mailer-blue.png) 0 0 no-repeat;
}

.collapse-custom {
  display: none;
  -webkit-transition: height .3s ease;
  -moz-transition: height .3s ease;
  -ms-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
}
.collapse-custom.opened {
  display: block;
}


/* Slide Callout */

.slide-callout {
  opacity: 0;
  position: absolute;
  left: 10%;
  top: 50px;
  color: #1a1a1a;
  padding-right: 21px;
  max-width: 370px;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}
.showCallouts .slide-callout {
  opacity: 1;
}
.slide-callout.callout-bottom {
  top: auto;
  bottom: 50px;
}
.slide-callout:after {
  content: "";
  display: block;
  width: 3px;
  background: #222a33;
  top: 13px;
  bottom: 8px;
  right: 0;
  position: absolute;
}
.slide-callout .callout-title {
  display: block;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 5px;
}
.slide-callout .callout-desc {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin-left: 3px;
  font-weight: 400;
}
.slide-callout.left {
  padding: 0 0 0 21px;
}
.slide-callout.left:after {
  right: auto;
  left: 0;
}

.cloned-wrap {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 80px;
}
.panel-body + .cloned-wrap {
  top: 15px;
}
.panel-body + .cloned-wrap .table tr td:first-child {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .cloned-wrap {
    max-width: 50%;
    padding-left: 0 !important;
  }
  #tech .panel-group .panel .panel-collapse .panel-body {
    padding-left: 0;
  }
  .cloned-wrap table tr td {
    display: none;
  }
  .cloned-wrap table tr td:first-child {
    display: block;
    width: 100% !important;
  }
  #tech table tr td:first-child {display: none;}
  #tech .cloned-wrap table tr td:first-child {display: block;}
}
.modal-body .map-top-menu .container {
  width: 100%;
}
#car-review {
  overflow: visible;
  padding-bottom: 75px;
}
#car-review .car-review-img .img-wrap {
  position: relative;
}

@media (min-width: 768px) {
#car-review .car-review-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}
}
.jq-selectbox {
  max-width: 100%;
}
.jq-selectbox__dropdown {
  border: none;
}
.jq-selectbox__dropdown ul {
  border: 1px solid #000;
  overflow: auto !important;
}
.secondary_tables li .table tr {
  border: none;
}
.secondary_tables li .table tr td {
  border-bottom: none;
  border-top: none;
}
.secondary_tables li .table tr + tr td {
  border-top: 1px solid #e2e2e2;
}
#car-compare .lada-car {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}