/* Календарь — линейка */
.line_calendar-wrap {
	min-height: 170px;
	width: 450px;
	margin: 0 auto;
	float: right;
}
.line_calendar {
	position: relative;
	z-index: 12;
}
.line_calendar .cell {width: 50px; text-align: center; float: left;}
/* Месяц и год */
.line_calendar .calendar_month-year {font-weight: bold; font-size: 1.8em; text-align: center; margin-bottom: 2px;}
/* Дни недели */
.line_calendar .day-of-week {color: #999; min-height: 25px;}

/* Кружки с датами */
.line_calendar .cell.day, .line_calendar .cell.arrow {
	border: 2px solid #0051a1;
	color: #0051a1;
	border-radius: 50%;
	height: 44px;
	width: 44px;
	font-size: 22px;
	margin: 0 3px 25px;
	line-height: 40px;
	cursor: pointer;
	transition: background 0.25s;
}
/* Стрелки влево-вправо*/
.line_calendar .arrow.lar, .line_calendar .arrow.rar {
	font-size: 32px;
	cursor: pointer;
	line-height: 34px;
}
/* Недоступные кнопки */
.line_calendar .cell.disabled {color: #999; border: 2px solid #999; cursor: default !important;}

.line_calendar .calendar_slider-wrap {
	overflow: hidden;
	float: left;
	width: 350px;
	height: 44px;
	position: relative;
}
.line_calendar .calendar_slider {position: absolute; top: 0; left: 0; transition: left 0.7s;}

/* Сегодня */
.line_calendar .day.active {color: white; background-color: #0051a1;}
/* Время суток */
.line_calendar .daypart {text-align: center; clear: left; margin: 0;}

@media only screen and (max-width: 767px) {
	div.line_calendar-wrap {
		float: none;
		position: static;
	}	
}

@media only screen and (max-width: 480px) {
	.line_calendar .day-of-week {
		width: 33px;
	}
	div.line_calendar-wrap {
		margin: 0 auto;
		width: 300px;
	}
	.line_calendar .calendar_slider-wrap {
		width: 224px;
	}
	.line_calendar .cell.day, .line_calendar .cell.arrow {
		width: 28px;
		height: 28px;
		line-height: 24px;
		font-size: 12px;
		margin: 0 2px 25px;
	}
}