{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('input').prop('checked',false);
              $('#save').on('click',function(){
                saveData();
              })
              $('.status').on('click',function(){
                $('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('#all-regions').on('change',function(){
                var check = $(this).is(':checked');
                $('.regions').prop('checked',check);
              })

              $('#all-cars').on('change',function(){
                var check = $(this).is(':checked');
                $('.cars').prop('checked',check);
              })
          });


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['name'] = $('#name').val();
                data['summ'] = $('#summ').val();
                data['periodMax'] = $('#periodMax').val();
                data['periodMin'] = $('#periodMin').val();
                data['firstpayMax'] = $('#firstpayMax').val();
                data['firstpayMin'] = $('#firstpayMin').val();

                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                    data['period'] = {'min':data['periodMin'],'max':data['periodMax'] };
                    data['firstpay'] = {'min':data['firstpayMin'],'max':data['firstpayMax'] };

                    data['regions'] = {};
                    var rs = $('.regions');
                    $.each(rs,function(k,v){ if( $(this).is(':checked') == true ) { data['regions'][k] = $(this).val(); } })

                    data['status'] = $('.status.active').attr('data-code');
                    data['cars'] = {};
                    var cs = $('input.cars');
                    $.each(cs,function(k,v){ 

                    if( $(this).is(':checked') == true ) { 
                        var car = $(this).attr('data-car');
                        var type = $(this).attr('data-cartype');
                        if (data['cars'][car] == undefined ){ data['cars'][car] = {};}
                        data['cars'][car][type] = true;                       
                    } })           
                    data['persent'] = 0;
                    if( $('#persent').is(':checked') == true ){
                      data['persent'] = 1;
                    }
                  $.ajax({
                      url: '{{ path('admin_basediscount_add_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Создание скидки</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация предложения</td></tr>

        <tr><th><span class="left">Название</span></th><td><span class="left col-sm-12 form-group"><span class="left custom-input-3">
        <input id="name" type="text" class="form-control" value="" />
        </span></span></td></tr>

        <tr><th><span class="left">Активность программы</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn btn-primary active status">Активно</button>
                  <button data-code="0" type="button" class="btn btn-default status">Скрыто</button>
                </div>
        </span></td></tr>

        <tr><th><span class="left">Сумма скидки ( % / руб )</span></th><td><span class="left col-sm-12">
                <div class="checkbox" {% if item.persent == 1 %}checked{% endif %}>
                <label for="persent">процентная скидка</label><input id="persent" type="checkbox"/></br>
                </div>
                <input id="summ" type="number" value="{{item.summ}}" class="form-control"/>
        </span></td></tr>
        
        <tr class="label-default"><td colspan=2>Ставки банка</td></tr>
        <tr>
          <th><span class="left">Первый взнос</span></th>
          <td>
            <span class="left custom-input-1">
              <div class="percent-icon"></div><input type="text" placeholder="min" style="position: relative; top: -30px;" class="form-control" id="firstpayMin" value="" />
              </span><span class="left custom-input-1">

              <div class="percent-icon"></div><input type="text" placeholder="max" style="position: relative; top: -30px;" class="form-control" id="firstpayMax" value="" />
            </span>
          </td>
        </tr>

        <tr>
          <th><span class="left">Срок кредитования</span></th>
          <td>
            <span class="left custom-input-1">
              <div class="percent-icon"></div><input type="text" placeholder="min" style="position: relative; top: -30px;" class="form-control" id="periodMin" value="" />
              </span><span class="left custom-input-1">

              <div class="percent-icon"></div><input type="text" placeholder="max" style="position: relative; top: -30px;" class="form-control" id="periodMax" value="" />
            </span>
          </td>
        </tr>
        <tr><th><span class="left">Авто </span></th><td><span class="left col-sm-12 form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-cars"/><span class="left"><b>Все</b></span>
                </label>
              </div>

            {% for i,car in cars %}
                {% if car.details is defined %}
                  {% if car.details|length > 0 %}
                  {% for k,type in car.details %}
                    <div class="checkbox">
                      <label>
                        <input class="cars" data-car="{{i}}" data-cartype="{{k}}" type="checkbox" value=""/><span class="left">{{car.name}} {{k}}</span>
                      </label>
                    </div>
                  {% endfor %}
                  {% endif %}
                {% endif %}
            {% endfor %}
        </span></td></tr>

        <tr><th><span class="left">Регионы </span></th><td><span class="left col-sm-12 form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-regions"/><span class="left"><b>Все</b></span>
                </label>
              </div>
        {% for region in regions %}
              <div class="checkbox">
                <label>
                  <input class="regions" type="checkbox" value="{{region.id}}"/><span class="left">{{region.name}}</span>
                </label>
              </div>
        {% endfor %}
        </span></td></tr>

        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/content-discount" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}