/* COMMON */
@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('/web/admin_assets/fonts/274D2A_0_0.eot');
  src: url('/web/admin_assets/fonts/274D2A_0_0.eot?#iefix') format('embedded-opentype'), url('/web/admin_assets/fonts/274D2A_0_0.woff') format('woff'), url('/web/admin_assets/fonts/274D2A_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('/web/admin_assets/fonts/274D2A_1_0.eot');
  src: url('/web/admin_assets/fonts/274D2A_1_0.eot?#iefix') format('embedded-opentype'), url('/web/admin_assets/fonts/274D2A_1_0.woff') format('woff'), url('/web/admin_assets/fonts/274D2A_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoSansCyrl-100Italic';
  src: url('/web/admin_assets/fonts/274D2A_2_0.eot');
  src: url('/web/admin_assets/fonts/274D2A_2_0.eot?#iefix') format('embedded-opentype'), url('/web/admin_assets/fonts/274D2A_2_0.woff') format('woff'), url('/web/admin_assets/fonts/274D2A_2_0.ttf') format('truetype');
}

html,body { height: 100%; }

body { margin: 0; padding: 0; font: 14px Arial; }

.clear { clear: both; }
#left-col { width: 300px; float: left; background-color: #2E2E2E; color: #e2e4f6; }
#right-col { margin-left: 300px; }
.inner { padding: 10px; }
/* COMMON */

/* HEADER */
#header { height: 50px; background-color: #2E2E2E; }
/* HEADER */
/* MENU */
/* Menu links */
.main-navigation ul > li > a {
  display: block;
  padding: 10px 15px;
  text-align: left;
  width: 300px;
}
.main-navigation ul > li i {
  padding-right: 10px;
  min-width: 25px;
  text-align: center;
  font-size: 10px;
}
.main-navigation .nav li{
  list-style: none;

}

.first-level {
/*    border-bottom: 1px solid #585858;
    border-right: 1px solid #585858;*/
}
/*
.second-level {
   border-top: 1px solid #585858;
    padding-top: 2px;
    padding-bottom: 2px;
}
.third-level {
    border-top: 1px solid #585858;
}
.second-level > a{
    padding-left: 25px;
}
.third-level > a{
    padding-left: 25px;
}*/
.main-navigation .nav > li > a:hover,
.main-navigation .nav > li > a:focus,
.main-navigation .nav .open > a,
.main-navigation .nav .open > a:hover,
.main-navigation .nav .open > a:focus {
  border-color: transparent;
  background-color: transparent;
}
.main-navigation > ul > li .sub-menu {
    background-color: #424242;
}
/*.third-level a{
  color: #58D3F7;
}
.ul-sub-menu, .ul-sub-sub-menu{
  padding-left: 0px;
}
.activemenu{
  background-color: #424242;
}*/
.currentpage a{
  /*background-color: #6E6E6E;*/
  color: #ffffff;
  text-decoration: none;
}
.nav-title a{
  color: #ffffff;
  text-decoration: none;  
}
.main-navigation a:hover{
  text-decoration: none;
  color: #BDBDBD;
}
.current-item{
  color: #81DAF5 !important;
  font-weight: bold;
}
.current-item-upper{
  background-color: #2E2E2E !important;
  font-weight: bold;
  color: #2ECCFA !important;
}
span i{
  cursor: pointer;
}
div.close{
  padding:3px;
  width: 16px;
  height: 16px;
  background-image: url(/admin_assets/imgs/close.png);
  background-size: cover;
  margin-right: 42%;
}
.control-menu td,.control-menu th{
  text-align: center;
}
.control-menu td.title-field{
  text-align: left !important;
}


.centered-heading-1 { margin: 30px 0; text-align: center; font: bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif; }
.centered-heading-2 { margin: 30px 0; text-align: center; font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*.main-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}*/
/* MENU */

- what are doing, sweety?
- doing to the moon and back.
- ...doing what? loving me?
- working. bitch.