.custom-input-1{
    width: 80px;
}
.custom-input-2{
    width: 200px;
}
.custom-input-3{
    width: 300px;
}
.custom-input-4{
    width: 400px;
}
.inner-title{
    padding:10px;
    font-weight: bold;
}
.custom-input-1 input{
    color: #0431b4;
    font-size: 14px;
    font-weight: bold;

}
.custom-tag{
 	background-color: #fff;
    border: 1px solid #81daf5;
    border-radius: 3px;
    margin: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 5px;
 }
 .percent-icon{
  width: 25px;
  height: 25px;
  background-image: url("../img/percent.png");
  background-size: cover;
  left: 50px;
  position: relative;
  z-index: 3;
/*  top: 30px;*/
}
 .monthly-icon{
  width: 25px;
  height: 25px;
  background-image: url("../img/monthly.png");
  background-size: cover;
  left: 50px;
  position: relative;
  z-index: 3;
/*  top: 30px;*/
}
.min-max-label{
  position: relative;
  font-weight: bold;
}
.block-tax{
  background-color: #E0ECF8;
/*  border-radius: 3px;
  margin: 5px;*/
  padding: 15px;
}
#breadcrumbs-one{
  background: #2E2E2E;
  border-width: 1px;
  border-style: solid;
  /*border-color: #f5f5f5 #e5e5e5 #ccc;*/
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
  padding-left: 0px; 
  border: medium none;
  overflow: visible;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #fff;
  position: relative;
  /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
  background-color: #2E2E2E;
  background-image: linear-gradient(to right, #585858, #2E2E2E);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
  background-color: #BDBDBD;
  background-image: linear-gradient(to right, #F2F2F2, #BDBDBD);  
  color: #000;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #2E2E2E;  
}

#breadcrumbs-one a::before{
  border-left-color: #2E2E2E;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #BDBDBD;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  background: none;
  color: #81F7F3;;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}

.admin-logo{
    width: 125px;
  height: 50px;
  background-image: url("../img/lada_logo.png");
  background-size: cover;
  position: relative;
  z-index: 3;
}
