{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
    {% if switchdc is defined %}
        switchdc = {{switchdc}};
    {% endif %}
    $(document).ready(function(){

    })
    
    </script>
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %}
    <section class="sub-menu">
        <div class="container">
            <a href="/buy/newlada" {% if active == 'newlada' %}class="active"{% endif %}>
                <span>Выбрать свою LADA</span>
            </a>
            <a href="/buy/calculator" {% if active == 'calculator' %}class="active"{% endif %}>
                <span>Кредитный калькулятор</span>
            </a>
            <a href="/buy/autocredit" {% if active == 'autocredit' %}class="active"{% endif %}>
                <span>Автокредит LADA Finance</span>
            </a>
            <a href="/buy/testdrive" {% if active == 'testdrive' %}class="active"{% endif %}>
                <span>Тест-драйв</span>
            </a>
            <a href="/buy/corporate" {% if active == 'corporate' %}class="active"{% endif %}>
                <span>Корпоративным клиентам</span>
            </a>
        </div>
    </section>
{{ render(controller('SiteFrontendBundle:Home:getInfoMessage',{'type':null})) }}
{{ render(controller('SiteFrontendBundle:Home:getPageSection',{})) }}
{{content|raw}}



{% endblock %}