<script>
var gallery_reset = true;
    $(document).ready(function(){
    	setTimeout(function(){
    		SetCarBodyData();
    	})

        if( window.isMobile ){
            $('.credbanner .bg').css({'background-size':'none'})
        }
        else{
            $('.credbanner .bg').css({'background-size':'100% auto'})
        }
    	
    })

       function SetCarBodyData(){
   		var car = $('.active-slide').attr('data-id');
   		var body = $('.active-slide').attr('data-code');
   			$.ajax({
	          url: '/specific-offers/'+car+'/'+body,
	          data: {},
	          dataType : 'html',
	          type: 'post',
	          success: function (response) {
	          	$('#dynamic').html(response);
	          	//$(response).insertAfter($('#carmenu'));
	          }
          })
       }
</script>

	<section class="credbanner"><div class="container"><img src="http://reglada.ru/front_assets/img/credbanner.jpg" alt=""></div></section>

<section id="carmenu">
	<div class="container">
			<menu>
            <div class="col-xs-4 bottom-up pos-rel alltypes">
                
{{ render(controller('SiteFrontendBundle:Home:getCars')) }}

            </div>
			</menu>
	</div>
</section>
<div id="dynamic">

</div>
	