	<section class="finance_title"><div class="container">
		<h3>Основные условия программы LADA Finance</h3>
		<table class="table">
		<tr>
			<td>Банк и программа</td>
			<td>Первый взнос, %</td>
			<td>Ставка, %</td>
			<td>Срок, мес</td>
			<td>Страхование</td>
			<td>Комиссия</td>
		</tr>
		</table>
	</div></section>

	
{% for b,bank in offers %}
		<section class="panel-group tariffs {% if loop.index == 1 %}expanded{% endif %}">
		<div class="panel">
			<div class="container">
			<div role="tab" class="panel-heading"><h4 class="panel-title">{{b}}</h4></div>
			<div class="scrolled_info">
			<table class="table table-hover">
				{% for o,offer in bank %}
				<tr>
					<td>{{offer.nameCredit}}<div class="models_list">Все модели</div></td>
					<td>
					от {{offer.firstpay}}
					</td>
					<td>
						{{offer.tax}}
					</td>
					<td>{{offer.period}}</td>
					<td>{{offer.insurance}}</td>
					<td>{% if offer.commision > 0 %}{{offer.commision}}{% else %}нет{% endif %}</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div class="bank_notice"><b>Необходимое требование:</b> Садишься в "люксовую" Калину… А это действительно LADA? На почётном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно "законнектить" по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация</div>
			<div class="bank_notice"><b>Требования в заёмщикам:</b> Садишься в "люксовую" Калину… А это действительно LADA? На почётном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно "законнектить" по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация</div>
			</div>
		</div>
		</section>
{% endfor %}

	<section class="addinfo"><div class="container">
		<h3>Дополнительная информация</h3>
		<p>Приобрести автомобиль по программе LADA Finance можно у фоициальных дилеров LADDA во всех регионах оссии, где присутствуют представительства банкора-партнёров. Главное преимущество фирменной кредитной программы LADA Finance &mdash; снижение затрат клиента по выплате процентов по кредиту за счёт предоставления ОПО «АВТОВАЗ» специальной цены на приобретаемый в кредит автомобиль.</p>
	</div></section>

	<section class="submit_button">
		<div class="container"><a id="creditthis" class="btn btn-type1" href="javascript:void(0)">Рассчитать кредит для конкретной модели</a></div>
	</section>
	
	<script>
		$('#creditthis').on('click',function(){
		   	var car = $('.active-slide').attr('data-id');
   			var body = $('.active-slide').attr('data-code');
   			location.href = '/credit/'+car;
		})
		$('.tariffs .panel-title').click(function(){
			var expanded = $(this).parent().parent().parent().parent().hasClass('expanded')
			if (!expanded)
				$(this).parent().parent().parent().parent().addClass('expanded');
			else
				$(this).parent().parent().parent().parent().removeClass('expanded');
		});
	</script>