	<section class="p-t10-b-50"><div class="container calc_subtitle">Выберите автомобиль</div></section>
	
    <section class="p-t10-b-50">
        <div class="container">
        <div class="catalog-block">
        {% for key,car in data %}
        <ul class="catalog">
        {% for t,type in car.types %}
            {% set diff = type.minPrice - (50*(type.minPrice/100))|round %}
            {% set pm = (((diff/100)*minTax*3) + diff)/36|round %}
            {% set pay = (50*(type.minPrice/100))|round %}
                            <li data-link="/credit/{{key}}" class="catalog-item every hover-true">
                                <img src="/{{type.image}}" alt="LADA Kalina хэтчбек">
                                <h3 class="catalog-item-title">LADA {{car.name}} {{t}}</h3>
                                <ul class="catalog-item-table">
                                    <li class="table-item item-active">Платеж, мес.:
                                        <span class="val">{{pm|round}}.-</span>
                                    </li>
                                    <li class="table-item">Период кредита, мес:
                                        <span class="val">36</span>
                                    </li>
                                    <li class="table-item">Первый взнос 50%:
                                        <span class="val">{{pay}}.-</span>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                                </ul>
                    {% endfor %}

    </div>

        </div>
    </section>
    <script>
    $(document).ready(function(){
        $('.every').on('click',function(){
            var href = $(this).attr('data-link');
            location.href = href;
        })
    })
    </script>
    <style>
    .catalog-item > img{
        width: 80% !important;
    }
    .catalog-block .catalog-item {
        cursor: pointer;
        float: left;
        list-style-type: none;
        margin: 3px;
        max-width: 260px;
        min-height: 180px;
        padding: 20px;
    }
    .catalog-item-table > li {
        border-top: 1px solid #e9e9e9;
        clear: both;
        height: 39px;
        line-height: 39px;
        list-style: outside none none;
        margin: 0px;
        padding: 0px;
    }
    .hover-true:hover{
        cursor: pointer;
        -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.83);
        -moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.83);
        box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.83);
    }
    </style>