	<script>
	{% if switchdcd is defined %}
		var switchdc = {{switchdcd}};
	{% endif %}

	{% if not compID is defined %}
		{% set compID = 0 %}
	{% endif %}

	{% if not selected_type is defined %}
		{% set selected_type = 'Норма' %}
	{% endif %}

	{% if not selected_complect is defined %}
		{% set selected_complect = 0 %}
	{% endif %}

	{% if not selected_execnum is defined %}
		{% set selected_execnum = 0 %}
	{% endif %}

	{% if not selected_model is defined %}
		{% set selected_model = 0 %}
	{% endif %}

    $(document).ready(function(){
        setColors();
        
        $('.send-car-request').on('click',function(e){
            e.preventDefault();
            collectData();
        })
        
        $('.customcolor').on('click',function(){
          $('.customcolor.active').removeClass('active');
          $(this).addClass('active');
        });

        $('.typecar a').on('click',function(){
          var code = $(this).attr('data-type');
          $('.complect-select').addClass('hidden');
          $('#'+code).removeClass('hidden');
        });

        $('.sendinfo').html('оформить заявку').removeClass('sendinfo').addClass('submitrequest');

        {% if alias is defined %}
            $('.submitrequest').attr('disabled',false).removeClass('disabled');
        {% endif %}
        
        $('.customcolor').on('click',function(){
          $('.customcolor.active').removeClass('active');
          $(this).addClass('active');
        });

        $('.submitrequest').on('click',function() {requestCar();});

		if ($('#color1').length > 0)
			$('#color1').next().addClass('active').trigger('click');

		//Отображаем характеристики изначально выбранной комплектации
		global_cardata = null;
		drawCompInfo({{ compID }});
		$(window).on('keyup', function(ev) {
			if (ev.keyCode == 112)
			{
				ev.preventDefault();
				var asl = $('.complect-tech-data .panel-group .panel-title a');
				$.each(asl, function(i, alink) {
					if (i != 0)
						$(alink).trigger('click');
				});
			}
		});

		$('ul.nav li a').on('click', function() {
			if (!$(this.getAttribute('href')).find('.colmplect-block.active').length)
				$(this.getAttribute('href')).find('.row .colmplect-block:first').addClass('active');
			var activeblock = $(this.getAttribute('href')).find('.colmplect-block.active');
			var model = activeblock.find('tr:nth-child(2) td:nth-child(2)').text();
			var complect = activeblock.find('tr:nth-child(3) td:nth-child(2)').text();
			drawCompInfo(complect, model);
		});

		//Щелчок по комплектации
		$('.colmplect-block').on('click', function() {
			var model = $(this).find('tr:nth-child(2) td:nth-child(2)').text();
			var complect = $(this).find('tr:nth-child(3) td:nth-child(2)').text();
			drawCompInfo(complect, model);
		});
    })

	//Отображение массива с характеристиками
	function _drawCompInfo(comp)
	{
		p2 = comp;
		args = arguments;

		var groups = global_cardata[{{ truebid }}]['groups'];
		$('.complect-tech-data .panel-group .panel').remove();

		$.each(groups, function(gid, name) {
			var lineid = 'collapse1-9-' + gid;
			var groupdiv = $('<div class="panel panel-default"><div class="col-xs-12"><div class="tech-data-block" /></div></div>');
			groupdiv.find('.tech-data-block').append('<div class="panel-heading"><h3 class="section-title panel-title"><a href="#' + lineid + '" data-toggle="collapse" class="collapse1-9-1">' + name + '</a></h3></div>');
			groupdiv.find('.tech-data-block').append('<div class="panel-collapse collapse" id="' + lineid + '"><div class="table-wrap"><div class="scrolled_info"><table class="table table-hover table-fixed"></table></div></div></div>');

			//Если передали модель, значит надо вести поиск по комплектациям и искать нужный индекс
			if (args.length == 2)
			{
				var model = args[1];
				var complect = comp;
				$.each(global_cardata[{{ truebid }}]['complects'], function(i, cm) {
					if (cm.model == model && cm.name == complect)
					{
						p2 = i;			//Нашли комплектацию, запоминаем её индекс в массиве
						return 0;
					}
				});
			}
			//*************************
			$.each(global_cardata[{{ truebid }}]['complects'][p2].chars, function(n, charact) {
				if (charact.group == gid)
				{
					var insert = '<td>' + charact.value + '</td>';
					if (charact.value == 'да')
						insert = '<td class="round-full"></td>';
					else if (charact.value == 'нет')
						insert = '<td class="round"></td>';
					groupdiv.find('table').append('<tr><td>' + charact.name + '</td>' + insert + '</tr>');
				}
			});
			groupdiv.appendTo('.complect-tech-data .panel-group');
			$('.complect-tech-data .panel-group .panel:first-child .panel-title a').trigger('click');
		});
	}

	//Функция вытаскивает с сервера характеристики комплектации и отображает их. Второй параметр — модель. Если он передан, то comp интерпретируется как полное имя комплектации, а не как индекс массива
	function drawCompInfo()
	{
		inargs = arguments;
		
		if (global_cardata == null)
			$.post('{{ path('front_car_info_ajax') }}', {'data': [{'car': {{ cid }}, 'body': '{{ truebid }}'}]}, function(response) {
				global_cardata = response;
				if (inargs.length == 1)
					_drawCompInfo(inargs[0]);
				else
					_drawCompInfo(inargs[0], inargs[1]);
			}, 'json');
		else
		{
			if (arguments.length == 1)
				_drawCompInfo(arguments[0]);
			else
				_drawCompInfo(arguments[0], arguments[1]);
		}
	}

    function setColors(){
        var colors = $('.customcolor');
        $.each(colors,function(){
            var code = $(this).attr('data-content');
            var id = $(this).attr('id');
            $(this).append('<style>.customcolor#'+id+':before{background:none repeat scroll 0 0 '+code+' !important;}</style>');
        })
    }

    function requestCar(){
        var eq = $('.complect-select:visible').find('.colmplect-block.active').attr('data-type');
        var type = $('.typecar.active a').attr('data-type');
        type = type.replace('type','');
        var color = $('.customcolor.active').attr('id');
        var cid = '{{ cid }}';
        var bid = '{{ bid }}';
        var dc = $('.infobox:visible .page').attr('href');
        dc = dc.replace('msc','');
        var link = dc+'?eq='+eq+'&type='+type+'&color='+color+'&bid='+bid+'&cid='+cid;
        location.href = link;
    }
    </script>
    <style>
    .customcolor:before{
        background: 'none repeat scroll 0 0 ' attr(data-content);
    }
    </style>
    <section class="p-t50-b-10">
    {#{{dump(cdc)}}#}
        <div class="container">
            <div class="col-sm-12 col-md-12">
                <h2 class="ind-1">{{carname}} {{cartype}}</h2>
                {% if alias is defined %}
                <a href="/dealers/{{alias}}" class="back-link">Назад на страницу дилера</a>
                {% endif %}
                <div class="main-thumbnail"><img src="/front_assets/images/granta-main.png" alt=""></div>
                <h3 class="section-title">Исполнение</h3>
                
                <div role="tabpanel" class="clearfix">
                    <ul class="nav nav-tabs nav-tabs-mode nav-tabs-custom-1 text-left" role="tablist">
						{% set activeindex = 1 %}
                        {% for t,type in cdc %}
                        {% if type.name == selected_type %}
							{% set activeindex = loop.index %}
                        {% endif %}
                        <li role="presentation" class="typecar{% if type.name == selected_type %} active{% endif %}"><a href="#type{{t}}" data-type="type{{t}}" aria-controls="mode" role="tab" data-toggle="tab">{{type.name}}</a></li>
                        {% endfor %}
                    </ul>
                    
                    <form action="#" class="order-form">
                        <div class="tab-content tab-content-custom-1">
                            <div role="tabpanel" class="tab-pane fade in active" id="normal">
                                <h3 class="section-title">Цвета в наличии</h3>
                                
                                <div id="color" class="color-wrap custom-1 clearfix">
                                    {% for ci,color in colors %}
                                            <div>
                                                <input type="radio" name="color" id="color{{loop.index}}" />
                                                <label data-name="{{color.name}}" data-content="{{color.code}}" id="clr{{ci}}" for="color{{loop.index}}" class="customcolor">{{color.name}}</label>
                                            </div>                               
                                    {% endfor %}
                                </div>
                                
                                <div class="complectation">
                                    <h3 class="section-title">Комплектации</h3>
                                    {% for t,type in cdc %}
                                    <div id="type{{t}}" class="clearfix complect-select {% if loop.index != activeindex %}hidden{% endif %}">
                                        <div class="row">
                                                {% set i = 0 %}
                                                {% for k,eq in type.value %}
                                                <div data-type="{{k}}" class="colmplect-block">
                                                    <input type="radio" {% if selected_complect == eq.name and selected_execnum == eq.exec and selected_model == eq.model %}checked="checked"{% endif %} name="complect">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <td>Стоимость, руб.</td>
                                                            <td class="price-cell">{{eq.price|round}}.-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Модель</td>
                                                            <td>{{ eq.model }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Комплектация</td>
                                                            <td>{{ eq.exec }}-{{ eq.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Двигатель</td>
                                                            <td>{{eq.engine}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                {% set i = i+1 %}
                                                {% endfor %}
                                                
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                
                                <div class="complect-tech-data"><div class="panel-group"></div></div>                                 
                            </div>   
                                               
                            <div role="tabpanel" class="tab-pane fade" id="lux">
                                <h3 class="section-title">Цвета в наличии</h3>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>