<script>
    var info = {};
    {% for i,j in info %}
        info[{{i}}] = {};
        {% for x,z in j %}
            info[{{i}}][{{x}}] = {};
            {% for f,g in z %}
                info[{{i}}][{{x}}]['{{f}}'] = {};
                {% for h,m in g %}
                    info[{{i}}][{{x}}]['{{f}}']['{{m}}'] = 1;
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

	//Поиск комплектации для кузова по указанным параметрам
	function find_complectation(mID, obj)		//obj — объект с полями engine, model или exec, нужно как минимум одно поле
	{
		var carcomplects = global_complectations_list[mID].complects;		//Массив комплектаций
		var csize = carcomplects.length;
		var found = [];							//Массив идентификаторов найденных комплектаций, по нему будем искать самую дешёвую

		for (var c = 0; c < csize; c++)			//Перебираем комплектации в поисках подходящей
		{
			var good = true;
			$.each(obj, function(param, val) {
				if (carcomplects[c][param] != val)	//Сверяем характеристики
				{
					good = false;					//Если хоть одна характеристика не подошла, не считаем такую
					return false;
				}
			});
			if (good)
				found.push(c);
		}

		if (!found.length)						//Ничего не наайдено, нужно изменить условия поиска
			return -1;

		var current = found[0];
		var current_price = carcomplects[found[0]].price;		//Начальная точка для поиска минимальной цены

		if (found.length > 1)
			for (var c = 1; c < found.length; c++)
				if (carcomplects[found[c]].price < current_price)
				{
					current = found[c];
					current_price = carcomplects[found[c]].price;
				}

		return current;
	}

	//Отображение выбранной комплектации для указанной машины с предварительной очисткой данных
	//comp_name — наименование комплектации
	function apply_complectations(mID, comp_id)
	{
		global_displayed_complects[mID] = comp_id;				//Меняем одну из отображаемых комплектаций
		var machines_list = $('.machines tr:first-child td');		//Список машин в списке сравнения

		//Очищаем все данные для их перезаполнения
		$('.mainchars_values td, .secondary_tables.grpval tr').remove();
		global_chars_array = [];
		global_charsgroup_sizes = [];

		$.each(machines_list, function(n, machine) {
			var id = $(machine).data('id');						//Идентификатор очередного кузова
			var cars = global_complectations_list[id];			//Массив комплектаций этого кузова
			var current = cars['complects'][global_displayed_complects[id]];	//Конкретная комплектация, которую нужно отобразить
			var cplist = current.chars;

			ShowMainChars(id);
			fillChars(cplist, n+1);
			filterDiffs();										//Эффект от чекбокса

			var complect = findexec(id, global_displayed_complects[id]);
			document.querySelector('#btn' + id).setAttribute('data-exec', complect);
			document.querySelector('#btn' + id).setAttribute('data-complect', global_complectations_list[id]['complects'][global_displayed_complects[id]].model + '-' + global_complectations_list[id]['complects'][global_displayed_complects[id]].name);
			document.querySelector('#btn' + id).setAttribute('data-comp-id', global_displayed_complects[id]);
		})

		$('.secondary_tables li:last-child td').css('width', $('.machines td').css('width'));
		$('.secondary_tables li:last-child > table').css('width', $('.machines_names').css('width'));
		$('.secondary_tables li:last-child').css('width', $('.machines_names').parent().css('width'));
		machines.rearrange();
	}

	//Обработчик нажатия на модель/двигатель/исполнение
	//Выбор подходящей комплектации, удаление старых данных по выбранному кузову и отрисовка новых значений
	function complectation_filter(mID, type, value)
	{
		var complects = global_complectations_list[mID]['complects'][global_displayed_complects[mID]];		//Параметры ранее выбранной комплектации
		
		//Список параметров по приоритету. Чем больше индекс, тем нииже приоритет
		//В ходе работы функции из массива будут выкидываться элементы от конца к началу, пока не будет найдено минимальное количество характеристик, для которых есть комплектация
		var priorities = priorities2 = [];
		switch (type)
		{
			case 'engine': priorities = ['model', 'exec']; break;
			case 'model': priorities = ['engine', 'exec']; break;
			case 'exec': priorities = ['engine', 'model']; break;
			default : return 0;
		}
		priorities2 = priorities.slice();		//На случай второго прохода нам понадобится оригинальный массив
		var second_step = false;		//Первый проход

		while (true)		//Если найдём комплектацию, выйдем break'ом или return если ничего не нашлось
		{
			var ObjToFind = {};			//Заполняем объект с характеристиками для поиска комплектации
			ObjToFind[type] = value;	//Базовый параметр, он всегда присутствует

			for (var tp in priorities)
				ObjToFind[priorities[tp]] = complects[priorities[tp]];

			var cpnum = find_complectation(mID, ObjToFind);
			if (cpnum >= 0)				//Нашли, имеем номер комплектации
			{
				
				break;
			}

			if (!second_step)
			{
				if (priorities.length > 1)
					priorities.pop();
				else
				{
					second_step = true;
					priorities = priorities2;
					priorities.shift();
				}
			}
			else
			{
				if (!priorities.length) return 0;		//Теоретически сюда никогда не должны попасть, но чтобы исключить бесконечный цикл, лучше оставить
				priorities.shift();
			}
		}

		//На этом этапе в cpnum лежит номер выбранной комплектации для кузова mID
		apply_complectations(mID, cpnum);		//Обновляем все данные таблиц с заменой отображаемой комплектации в одном из столбцов
	}


	//Заполнение характеристик машин информацией из переданного списка
	function fillChars(cplist, mIndex)
	{
		$.each(cplist, function(i, Cchar) {
			if (Cchar.group == 0) return 1;		//Характеристики верхнего уровня не используем

			var group = Cchar.group;
			var name = Cchar.name;
			var value = Cchar.value;

			if (typeof global_chars_array[group] == 'undefined')
			{
				global_chars_array[group] = new Array;
				global_charsgroup_sizes[group] = 0;
			}
			if (typeof global_chars_array[group][name] == 'undefined')		//Характеристика встретилась впервые
			{
				global_charsgroup_sizes[group] += 1;
				global_chars_array[group][name] = global_charsgroup_sizes[group];
				$('.grouplist' + group).find('li:first-child table').append('<tr><td>' + name + '</td></tr>');		//В левую таблицу (названия)
				$('.grouplist' + group).find('li:last-child table').append('<tr />');								//В правую таблицу (значения)

				//Еслии мы не в первом столбце, но создали новую характеристику, нужно заполнить нулями эту характеристику для предыдущих столбцов
				if (mIndex > 1)
				for (var z = mIndex-1; z--;)
					$('<td />').appendTo('.grouplist' + group + ' li:last-child table tr:last-child');

				var val = '<td>' + value + '</td>';
				if (value == 'да') val = '<td class="round-full" />';
				else if (value == 'нет') val = '<td class="round" />';

				$(val).appendTo('.grouplist' + group + ' li:last-child tr:last-child');
			}
			else
			{
				var val = '<td>' + value + '</td>';
				if (value == 'да') val = '<td class="round-full" />';
				else if (value == 'нет') val = '<td class="round" />';

				var ordernum = global_chars_array[group][name];		//Порядковый номер строки с этой характеристикой в группе
				$(val).appendTo('.grouplist' + group + ' li:last-child tr:nth-child(' + ordernum + ')');
			}
		});

		//Теперь найдём строчки, которые остались не заполненными у этой машины, и заполним их
		var groups  = $('.grpval.scroller');
		$.each(groups, function(i, group)
		{
			var lines = $(group).find('li:last-child table tr').length;
			for (var ch = 1; ch <= lines; ch++)
			{
				var tdcount = $(group).find('li:last-child tr:nth-child(' + ch + ') td').length;
				//Заполняем места пропусков
				if (tdcount < mIndex)
					$(group).find('li:last-child tr:nth-child(' + ch + ')').append('<td />');
			}
		});
	}

	//Заполнение основных характеристик
	//mID — идентификатор отображаемого кузова. Характеристики выводятся слева направо, поэтому нужно последовательно передать все выбранные комплектации,
	//а все <td> со значениями заранее удалить
	function ShowMainChars(mID)
	{
		var car = global_complectations_list[mID];
		var selected = global_displayed_complects[mID];
		
		var models_list = [];
		var engines_list = [];
		var execs_list = [];
		var comp_list = [];

		var selected_engine = car['complects'][selected].engine;
		var selected_exec = car['complects'][selected].exec;
		var selected_model = car['complects'][selected].model;

		$.each(car['models'], function (id, name) {					//Модели
			if (name != selected_model)
				models_list.push('<span data-body="' + mID + '">' + name + '</span>');
			else
				models_list.push('<span class="active">' + name + '</span>');
		});		
		$.each(car['engines'], function (id, name) {				//Двигатели
			if (name != selected_engine)
				engines_list.push('<span data-body="' + mID + '">' + name + '</span>');
			else
				engines_list.push('<span class="active">' + name + '</span>');
		});
		$.each(car['execs'], function (id, name) {					//Исполнения
			if (name != selected_exec)
				execs_list.push('<span data-body="' + mID + '">' + name + '</span>');
			else
				execs_list.push('<span class="active">' + name + '</span>');
		});

		for (var hhh = 0; hhh < car['complects'].length; hhh++)		//Комплектации
			if (car['complects'][hhh].engine == selected_engine &&
				car['complects'][hhh].model == selected_model &&
				car['complects'][hhh].exec == selected_exec)
				if (hhh == selected)	
					comp_list.push('<span class="active">' + car['complects'][hhh].name + '</span>');
				else
					comp_list.push('<span data-body="' + mID + '" data-cid="' + hhh + '">' + car['complects'][hhh].name + '</span>');

		models_list	 = models_list.join('<br>');
		comp_list	 = comp_list.join('<br>');
		engines_list = engines_list.join('<br>');
		execs_list 	 = execs_list.join('<br>');

		var price = car['complects'][selected].price;				//Цена выбранной комплектации
		if (price >= 1000)
			price = price.toString().slice(0, -3) + ' ' + price.toString().substr(-3);
		if (parseInt(price.replace(' ', '')) >= 1000000)
			price = price.slice(0, -7) + ' ' + price.substr(-7);

		$('.mainchars_values .table tr:first-child').append('<td>' + models_list + '</td>');		//Модели
		$('.mainchars_values .table tr:nth-child(2)').append('<td>' + comp_list + '</td>');			//Комплектации
		$('.mainchars_values .table tr:nth-child(3)').append('<td>' + engines_list + '</td>');		//Двигатели
		$('.mainchars_values .table tr:nth-child(4)').append('<td>' + execs_list + '</td>');		//Исполнения
		$('.mainchars_values .table tr:last-child').append('<td>' + price + '</td>');				//Цены

		//Вешаем обработчики нажатия для фильтрации комплектаций
		var models = $('.mainchars_values .table tr:first-child td span:not(.active)[data-body='+mID+']');
		models.on('click', function() {complectation_filter($(this).data('body'), 'model', $(this).html())});
		
		var engines = $('.mainchars_values .table tr:nth-child(3) td span:not(.active)[data-body='+mID+']');
		engines.on('click', function() {complectation_filter($(this).data('body'), 'engine', $(this).html())});
		
		var execs = $('.mainchars_values .table tr:nth-child(4) td span:not(.active)[data-body='+mID+']');
		execs.on('click', function() {complectation_filter($(this).data('body'), 'exec', $(this).html())});

		//Обработчик прямого нажатия на комплектацию
		var complects = $('.mainchars_values .table tr:nth-child(2) td span:not(.active)[data-body='+mID+']');
		complects.on('click', function() {apply_complectations($(this).data('body'), $(this).data('cid'))});
	}

    $(document).ready(function(){
    	
    	/* Helper Section */
    	$('#choose-helper-show').click(function(){
    		$('.choose-helper').toggleClass('opened').find('.helper-block').slideToggle();
    		
    		return false;
    	});
    	
    	$('#next-helper-pane').click(function() {
    		var current_pane = $('.helper-panes form').find('.active');
    		if( current_pane.index() < current_pane.siblings().length ) {
    				current_pane.removeClass('active').next().addClass('active');
    				
    			$('.helper-steps li').removeClass('current').eq(current_pane.index()+1).addClass('current').prevAll().addClass('helper-finished');
    		}
    		
    		return false;
    	});
    	
        setTimeout(function(){
            $('#select-body-styler .jq-selectbox__dropdown ul li:first').trigger('click');
            $('#select-transmission-styler .jq-selectbox__dropdown ul li:first').trigger('click');
            $('#select-capacity-styler .jq-selectbox__dropdown ul li:first').trigger('click');
            $('#select-power-styler .jq-selectbox__dropdown ul li:first').trigger('click');
            $('.menu-filter').show();
            $('.menu-filter .jq-selectbox__dropdown ul li').on('click',function(){
                filterCars();
            })
        })

		//Добавление машин в список сравнения
        $('.catalog-item').on('click', function(event) {machines.add(this);})

		//Кнопка "сравнить"
        $('#compareBTN').click(function(event) {
			event.preventDefault();
			if (compare_clicked !== null) return;	//Если кнопка уже нажата, ничего не делаем
			if (!machines.inList) return;		//Если машины не выбраны, ничего не делаем

			compare_clicked = true;
			$('#compareBTN').css({'cursor': 'wait', 'background-color': '#7751a1', 'border-color': '#7751a1'});
			
			$('.scroller').removeClass('scroller');
			$('.secondary_tables').addClass('scroller');
			//Очистка старых значений
			$('.secondary_tables li:last-child td').remove();

			$.ajax({
				url: '{{ path('front_car_info_ajax') }}',
				data: {'data': machines.idList},
				dataType : 'json',
				type: 'post',
				success: function (response)
				{
					global_complectations_list = response;					//Сохраняем список комплектаций в глобальном массиве для их участия в фильтрации
					global_chars_array = [];				//Список характеристик, разложенных по группам
					global_charsgroup_sizes = [];			//Количество характеристик в каждой группе
					global_displayed_complects = [];		//Отображённе комплектации каждого кузова
					
					$('.grpval, .mainchars_values .table td').remove();		//Убираем старые характеристики
					var machines_list = $('.machines tr:first-child td');		//Список машин в списке сравнения

				//Сначала получим список групп характеристик. Их можно взять из любой машины
					var groups = response[$(machines_list[0]).data('id')]['groups'];

					var groupdiv = $('<div />');
					$.each(groups, function(id, name) {
						var ttl = $('<div class="toggle_title grpval"><div class="ttitle">' + name + '</div></div>');
						groupdiv.append(ttl).append('<ul class="secondary_tables grpval scroller grouplist' + id + '"><li><table class="table"></table></li><li class="machines_scrolling"><table class="table"></table></li></ul>');
					});
					$(groupdiv.html()).insertAfter('.mainchars');

					$('.toggle_title').click(function() {
						if ($(this).hasClass('on'))
						{
							$(this).next('.secondary_tables').slideUp();
							$(this).removeClass('on');
						}
						else
						{
							$(this).next('.secondary_tables').slideDown();
							$(this).addClass('on');
							machines.rearrange();
						}
					});
				//********************************************************************

					//Перебираем машины, чтобы получить их характеристики
					machines_list.each(function() {
						var mID = $(this).data('id');		//Идентификатор кузова
						var mIndex = 1 + machines_list.index(this);		//Индекс текущей машинки, для заполнения td:nth-child в характеристиках
						var cheapest = response[mID]['cheapest'];		//Идентификатор самой дешёвой комплектации
						global_displayed_complects[mID] = cheapest;		//Запоминаем комплектацию, которая отображена для данного кузова
						ShowMainChars(mID);

				//Заполняем характеристики из выбранной комплектации (при первом заходе берётся самая дешёвая)
						var cplist = response[mID]['complects'][cheapest].chars;		//Список характеристик. Массив
						fillChars(cplist, mIndex);
						filterDiffs();					//Применям эффект чекбокса "Показывать только отличия"

						var complect = findexec(mID, cheapest);
						document.querySelector('#btn' + mID).setAttribute('data-exec', complect);
						document.querySelector('#btn' + mID).setAttribute('data-complect', global_complectations_list[mID]['complects'][cheapest].model + '-' + global_complectations_list[mID]['complects'][cheapest].name);
						document.querySelector('#btn' + mID).setAttribute('data-comp-id', cheapest);
				//**************************************************
					});

					$('.secondary_tables li:last-child td').css('width', $('.machines td').css('width'));
					$('.secondary_tables li:last-child > table').css('width', $('.machines_names').css('width'));
					$('.secondary_tables li:last-child').css('width', $('.machines_names').parent().css('width'));
					$('.mainchars, .toggle_title, .buy-compared-wrap').show();
					machines.rearrange();
					$('#compareBTN').css({'cursor': '', 'background-color': '', 'border-color': ''});
					compare_clicked = null;
				},
				error: function(e){}
			});

			//Костыль
			setTimeout(machines.rearrange, 1000);
		});

		$(window).on('resize', function() {machines.rearrange();});
		$(window).on('keyup', function(ev) {
			if (ev.keyCode == 112)
			{
				ev.preventDefault();
				$('.toggle_title').trigger('click');
			}
			else if (ev.keyCode == 119)
			{
				var newch = 'checked';
				if ($('#show_diff').prop('checked'))
					newch = '';
				$('#show_diff').prop('checked', newch);
				$('#show_diff').trigger('change');
			}
		});


		$('.filter-clear').on('click',function() {
			var boxes = $('.jq-selectbox__dropdown')
			$.each(boxes, function() {
				$(this).find('li:first').trigger('click');
			})
		});

		compare_clicked = null;		//Признак того, что кнопка сравнения нажата. Нужен, чтобы её не нажали два раза
		global_checkbox_state = false; 		//Чекбокс "Показывать только отличия" выкдючен
		$('#show_diff')[0].checked = false;

		//Обработчик изменения чекбокса "показывать только отличия"
		$('#show_diff').on('change', function(ev) {
			global_checkbox_state = this.checked;
			
			//Применим действие для чекбокса
			filterDiffs();
		});
    });

	//Алгоритм для верхнего фильтра
	function filterCars() {
        var body = $.trim($('#select-body-styler .jq-selectbox__select-text').html());						//Кузов
        var capacity = $.trim($('#select-capacity-styler .jq-selectbox__select-text').html());				//Ёмкость багажника
        var transmission = $.trim($('#select-transmission-styler .jq-selectbox__select-text').html());		//КПП
        var power = $.trim($('#select-power-styler .jq-selectbox__select-text').html());					//Расхоод топлива

        capacity = capacity.replace('от ', '');
        power = power.replace('до ', '');

        if (power != 'Расход топлива любой')
			power = parseFloat(power.replace(',', '.'));
        if (capacity != 'Багажник любой' && capacity.search(/\//) != -1)
        {
			capacity = capacity.substr(capacity.search(/\//) + 1);
			capacity = parseInt(capacity);
		}

        var cars = $('.catalog-item');
        $.each(cars, function(){
            var carId = $(this).attr('data-car');
            var bodyId = $(this).attr('data-id');
            var counter = 0;


            if (info[carId][bodyId]['bodies'][body] == undefined)
				if (body != 'Кузов любой' || info[carId][bodyId]['bodies'].length == 0)
					counter++;


			if (info[carId][bodyId]['transmissions'][transmission] == undefined)
                if (transmission != 'Коробка передач любая' || info[carId][bodyId]['transmissions'].length == 0)
					counter++;


			//Багажник можно показвыать больше выбранного. Но сперва нужно выделить максимальную часть, если есть разделитель
			if (!info[carId][bodyId]['capacity'].length != 0)
			{
				if (capacity != 'Багажник любой')
				{
					var badcap = true;
						$.each(info[carId][bodyId]['capacity'], function(ln, cap) {
							if (ln.search(/\//) != -1)
								ln = ln.substr(ln.search(/\//) + 1);		//Учитывать только максимальную ёмкость, если багажник указан как nnn/mmm
							ln = parseInt(ln);
							if (ln >= capacity)
								badcap = false;					//Если хоть у одной машины с этим кузовом подходящий багажник, то берём кузов
					});
					if (badcap)
						counter++;
				}
			}
			else counter++;

			//Переберём расход топлива. Если меньше выбранного, то тоже подходит
			if (!info[carId][bodyId]['powers'].length != 0)
			{
				if (power != 'Расход топлива любой')
				{
					var badpower = true;
						$.each(info[carId][bodyId]['powers'], function(ln, pw) {
							if (parseFloat(ln.replace(',', '.')) <= power || ln.replace(',', '.').toString() == power.toString())
							badpower = false;						//Если хоть у одной машины с этим кузовом подходящий расход, то берём кузов
					});
					if (badpower)
						counter++;
				}
			}
			else counter++;


            if (counter || machines.inList == 5)
                $(this).addClass('in-disabled').removeClass('hover-true');
            else
            {
				if (!machines.inList)
					$(this).removeClass('in-disabled').addClass('hover-true');
				else
				{
					var foundthis = false;
					for (var _ = 0; _ < machines.inList; _++)		//Если машина добавлена в выбор, она не должна становиться активной при сбросе фильтра
					{
						if (machines.idList[_].body == bodyId)
							foundthis = true;
					}
					if (!foundthis)
						$(this).removeClass('in-disabled').addClass('hover-true');
				}
			}
        })
	}

	//Применение действия чекбокса для показа 
	function filterDiffs()
	{
		$('.secondary_tables tr').show();
		machines.rearrange();

		var chars_table = $('.secondary_tables');				//Таблицы характеристик
		if (global_checkbox_state)
		//Дальнейший код взят из machines.removee
			for (var vrm = 1; vrm < chars_table.length; vrm++)		//Пропустим таблицу основных характеристик и начнём с первого индекса
			{
				var chars_lines = $(chars_table[vrm]).find('li:last-child tr');		//Строки со значениями характеристик
				for (var vrm2 = chars_lines.length; vrm2;  vrm2--)
				{
					var toRemove = true;			//Флаг необходимости удаления строки
					var td = $(chars_lines[vrm2-1]).find('td');		//Значения характеристик
					for (var vrm3 = 0; vrm3 < td.length-1; vrm3++)
						//Оставим строки, у которых есть отличия в характеристиках
						if ($(td[vrm3]).html() != $(td[vrm3+1]).html() ||
							$(td[vrm3]).hasClass('round') && !$(td[vrm3+1]).hasClass('round') ||
							!$(td[vrm3]).hasClass('round') && $(td[vrm3+1]).hasClass('round') ||
							$(td[vrm3]).hasClass('round-full') && !$(td[vrm3+1]).hasClass('round-full') ||
							!$(td[vrm3]).hasClass('round-full') && $(td[vrm3+1]).hasClass('round-full'))
							toRemove = false;

					if (toRemove)
					{
						$(chars_lines[vrm2-1]).hide();
						$('li:first-child tr:nth-child(' + (vrm2) + ')', $(chars_table[vrm])).hide();
					}
				}
			}
	}

	//Класс для работы со списком сравниваемых машин
	function MachinesLine() {
		this.inList = 0;		//Число уже добавленных машин
		this.idList = [];

		//Задание ширины машинкам, пересчитывает ширину каждого блока в зависимости от ширины родителя (вызывается на resize окна, при добавлении и удалении машин)
		this.rearrange = function() {
			var parentW = parseInt($('.underline').css('width')) - parseInt($('.underline li:first-child').css('width'));
			var newWidth = Math.round(parentW/4);
			if (newWidth < 150) newWidth = 150;// хотя на добавление наверное

			$('.machines, .machines_names').css('width', newWidth*this.inList);
			$('.machines, .machines_names').parent().css('width', parentW);
			$('.machines td, .machines_names td').css('width', newWidth);
			$('.buy-compared-col').width(newWidth);

			//От ширины первой таблицы с машинами зададим ширины всех остальных, которые расположены внизу
			$('.secondary_tables li:last-child > table').css('width', newWidth*this.inList);
			$('.buy-compared').css('width', newWidth*this.inList);
			$('.secondary_tables li:last-child').css('width', parentW);
			$('.secondary_tables li:last-child td').css('width', newWidth);

			var l2_height = parseInt($('ul.underline li:last-child').css('height'));
			if (l2_height < 70) l2_height = 70;
			//Высота блока с кнопкой в зависимости от высоты машинок, если они вдруг разной высоты
			$('ul.underline li:first-child').css({'height': l2_height, 'padding-top': Math.round((l2_height-parseInt($('ul.underline li:first-child a').css('height')))/2)});

			//В таблицах выравниваем высоту строк
			$('.secondary_tables').each(function() {
				var rows = $('li:first-child tr', this).length;
				for (var _ = 1; _ <= rows; _++)
				{
					//Сбросим на автомат, чтобы при удалении машины с высокой строкой остальные могли схлопнуться
					$('li:first-child tr:nth-child('+_+'), li:last-child tr:nth-child('+_+')', this).css('height', '');
					
					var left = parseInt($('li:first-child tr:nth-child('+_+')', this).height());
					var right = parseInt($('li:last-child tr:nth-child('+_+')', this).height());
					//Выбираем наибольшую высоту строки и присваиваем её соответствующим строкам обеих таблиц
					if (left > right)
						$('li:last-child tr:nth-child('+_+') td', this).css('height', left);
					else if (left < right)
						$('li:first-child tr:nth-child('+_+') td', this).css('height', right);
				}
			});

			$('.machines_scrolling').off('scroll');
			$('.machines_scrolling').on('scroll', function() {
				$.each($(this),function(){machines.scroll(this)})
			});
			var buy_compare_left = $('.mainchars_titles').outerWidth();
			$('.buy-compared-wrap').css({'marginLeft':buy_compare_left});
		}

		//Добавление машины в список
		this.add = function(item) {
			$('.secondary_tables,  .toggle_title, .buy-compared-wrap').hide();
			$('.toggle_title.on').removeClass('on');
			$('.scroller').removeClass('scroller');
			$('.machnames').addClass('scroller');

			var name = $('h3', item).text();
			var bodyID = item.getAttribute('data-id');
			var carID = item.getAttribute('data-car');
			var img = $('img', item)[0].src;

			if ($(item).hasClass('in-disabled'))			//Тут не добавлять, тут удалять надо
			{
				for (var g = 0; g < this.idList.length; g++)
					if (this.idList[g].body == bodyID)
					{
						this.remove(bodyID);
						break;
					}
				return;
			}
			if (this.inList > 4) return;
			
			this.inList++;
			this.idList.push({'car': carID, 'body': bodyID});
			$('.machines tr').append('<td data-id="'+bodyID+'"><img src="'+img+'"><span onclick="machines.remove('+bodyID+')" class="remove_button"></span></td>');
			$('.machines_names tr').append('<td data-id="'+bodyID+'">'+name+'</td>');
			this.rearrange();
			$(item).addClass('in-disabled').removeClass('hover-true');

			filterCars();			//Активируем машинки в соответствии с верхним фильтром

			//Кнопка "Оформить заказ"
			var btn = '<div id="btn'+bodyID+'" data-car="'+carID+'" data-type="'+bodyID+'" class="buy-compared-col press-btn"><a href="#" class="btn btn-type1">Оформить заказ</a></div>';
			$('.buy-compared').append(btn)
			$('.press-btn').on('click', function() {requestCar(this);})

		}

		//Удалени машин из списка
		this.remove = function(id) {
			var colnum = $('.machines tr:first-child td').index($('.machines td[data-id='+id+']'));		//Номер удаляемого автомобиля в списке
			$('.machines td[data-id="'+id+'"], .machines_names td[data-id="'+id+'"]').remove();
			$('.secondary_tables li:last-child td:nth-child('+(colnum+1)+')').remove();
			$('#btn'+id).remove();		//Кнопка Оформить заказ

			if (--this.inList < 0) this.inList = 0;

			for (var g = 0; g < this.idList.length; g++)
				if (this.idList[g].body == id)
				{
					this.idList.splice(g, 1);	//Удаляем элемент из массива
					break;
				}
			if (this.inList == 0)
			{
				$('.secondary_tables, .toggle_title, .buy-compared-wrap').hide();
				if ($('.toggle_title.on').length) $('.toggle_title.on').removeClass('on');
				if ($('.scroller').length) $('.scroller').removeClass('scroller');
				$('.machnames').addClass('scroller');
			}

			filterCars();				//Активируем машинки в соответствии с верхним фильтром

			//Убираем опустевшие характеристики
			var chars_table = $('.secondary_tables');				//Таблицы характеристик
			for (var vrm = 1; vrm < chars_table.length; vrm++)		//Пропустим таблицу основных характеристик и начнём с первого индекса
			{
				var chars_lines = $(chars_table[vrm]).find('li:last-child tr');		//Строки со значениями характеристик
				for (var vrm2 = chars_lines.length; vrm2;  vrm2--)
				{
					var toRemove = true;			//Флаг необходимости удаления строки
					var td = $(chars_lines[vrm2-1]).find('td');	//Значения характеристик
					for (var vrm3 = 0; vrm3 < td.length; vrm3++)
						if ($(td[vrm3]).html() != '' || $(td[vrm3]).hasClass('round') || $(td[vrm3]).hasClass('round-full'))
							toRemove = false;

					if (toRemove)
					{
						$(chars_lines[vrm2-1]).remove();
						$('li:first-child tr:nth-child(' + (vrm2) + ')', $(chars_table[vrm])).remove();
					}
				}
			}

			this.rearrange();
			filterDiffs();
		}

		//Совместная прокрутка таблиц
		this.scroll = function(elem) {
            $('.machines_scrolling').each(function() {
				$(this).scrollLeft(elem.scrollLeft);
			});
        }
	}
	machines = new MachinesLine();

	//Поиск текущего исполнения для указанного кузова, возвращает 0 или строковое значение
	function findexec(body, complect)
	{
		if (global_complectations_list[body] == undefined)
			return 0;

		var carchars = global_complectations_list[body]['complects'][complect].chars;
		var retval = 0;
		$.each(carchars, function(n, val) {
			if (val.name == 'Исполнение' && val.group == 0)
				retval =  val.value;
		});

	return retval;
	}

	//Переход на страницу подбора машины
	function requestCar(button) {
		var cid = $(button).data('car');
		var bid = $(button).data('type');
		var exec = $(button).data('exec');
		var complect = $(button).data('complect');
		var compid = $(button).data('comp-id');
		location.href = '/buy/cardetails?cid='+cid+'&complect=' + complect + '&compID=' + compid + '&exec=' + exec + '&bid='+bid+'&byid=1';
	}
    </script>
    <style>
    .filter-clear{
	    background: url("/front_assets/img/close_icon.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	    background-size: 100%;
	    cursor: pointer;
	    height: 35px;
	    position: absolute;
	    right: 20px;
	    top: 8px;
	    width: 35px;
	}
    .cst-val{
        background: none repeat scroll 0 0 #ffdb00;
        font-weight: bold;
        line-height: 28px;
        margin-top: 6px;
        padding: 5px;
    }
    .every{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .model{
    	margin-right: 5px;
    }
    .jq-selectbox__select, .jq-selectbox {width: 100%;}
    </style>
    
    <section class="choose-helper">
    	<div class="choose-helper-header">
    		<h3 class="helper-title">Помочь при выборе?</h3>
    		<h4 class="helper-subtitle">Ответьте на вопросы — и мы подберем подходящие модели</h4>
    		
		</div>
		
		<div class="helper-block">
			<div class="container">
				<ul class="helper-steps">
					<li class="current"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li class="helper-last-step"></li>
				</ul>
			</div>
		
			<div class="helper-panes">
				<form action="#">
					
					<div class="helper-pane active">
						<h3 class="pane-title">Автомобиль больше нужен вам для езды?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="pane1_opt1">
										<span class="label">одному</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane1_opt1'>
										</span>
										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane1_opt2">
										<span class="label">в небольшой компании</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane1_opt2'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane1_opt3">
										<span class="label">в большой компании</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane1_opt3'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">Где Вы планируете чаще ездить?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="opt4">
										<span class="label">по городу</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='opt4'>
										</span>										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="opt5">
										<span class="label">по трассе</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='opt5'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="opt6">
										<span class="label">по грунтовым дорогам</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='opt6'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">Планируете ли вы путешествовать на автомобиле?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="pane3_opt1">
										<span class="label">да!</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='pane3_opt1'>
										</span>										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane3_opt2">
										<span class="label">возможно</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='pane3_opt2'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane3_opt3">
										<span class="label">нет</span>
										<span class="custom-checkbox">
											<input type="checkbox" name="step1" id='pane3_opt3'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">С какой коробкой передач Вам удобнее ездить?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="pane5_opt1">
										<span class="label">автоматическая</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane5_opt1'>
										</span>
										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane5_opt2">
										<span class="label">механическая</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane5_opt2'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane5_opt3">
										<span class="label">роботизированная</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane5_opt3'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">Вы хотите двигатель помощнее?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-4">
								<div class="button-block vert">
									<label for="pane6_opt1">
										<span class="label">да!</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane6_opt1'>
										</span>
										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane6_opt2">
										<span class="label">не важно</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane6_opt2'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">Насколько вместительный багажник Вам нужен?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="pane7_opt1">
										<span class="label">максимально вместительный</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane7_opt1'>
										</span>
										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane7_opt2">
										<span class="label">вместительный</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane7_opt2'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="pane7_opt3">
										<span class="label">не важно</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='pane7_opt3'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="helper-pane">
						<h3 class="pane-title">Что Вы цените больше?</h3>
						<div class="container clearfix">
							<div class="col-sm-2 col-sm-offset-3">
								<div class="button-block vert">
									<label for="opt1">
										<span class="label">комфорт</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='opt1'>
										</span>
										
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="opt2">
										<span class="label">безопасность</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='opt2'>
										</span>
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="button-block vert">
									<label for="opt3">
										<span class="label">доступную цену</span>
										<span class="custom-radio">
											<input type="radio" name="step1" id='opt3'>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
				</form>
			</div>
			<div class="text-center">
				<a href="#" id="next-helper-pane" class="btn btn-type3">Далее</a>
			</div>
			
		
		</div>
    	
		<a href="#" id="choose-helper-show"><span></span></a>
    </section>
    
    <section class="menu-filter p-t10-b-50" style="overflow:visible;display:none;">
        <div class="container">
            <div class="line">
            <div class="daypart custom-select form-group">
                <select onchange="" id="select-body">
                    <option value="any" selected>Кузов любой</option>
                    {% for i, body in page.bodies %}
                    <option value="{{i}}">{{body}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="daypart custom-select form-group">
                <select onchange="" id="select-power">
                    <option value="any" selected>Расход топлива любой</option>
                    {% for i, power in page.powers %}
                    <option value="{{i}}">до {{power}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="daypart custom-select form-group">
                <select onchange="" id="select-transmission">
                    <option value="any" selected>Коробка передач любая</option>
                    {% for i, transmission in page.transmissions %}
                    <option value="{{i}}">{{transmission}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="daypart custom-select form-group">
                <select onchange="" id="select-capacity">
                    <option value="any" selected>Багажник любой</option>
                    {% for i, capa in page.capacity %}
                    <option value="{{i}}">от {{capa}}</option>
                    {% endfor %}
                </select>
            </div>

            </div>
            <span class="filter-clear have-tooltip" title="сбросить фильтры" onclick=""></span>
        </div>
    </section>
    <script>
    $('.line > div option:first').prop('selected',true);
    </script>
	<section class="p-t10-b-50" style="z-index: -1;"><div class="container line"><div>чтобы выбрать модель для сравнения, нажмите на автомобиль</div></div></section>
    <section class="p-t10-b-50 compare-cars">
        <div class="container">
        <div class="catalog-block">
        {% for key,car in data %}
        <ul class="catalog">
        
        {% for t,type in car.types %}
            {% set disabled = 0 %}
            {% for ays in info[key][type.id] %}
                {% if ays|length == 0 %}
                    {% set disabled = 1 %}
                {% endif %}
            {% endfor %}
            <li data-car="{{key}}" data-id="{{type.id}}" class="catalog-item every {% if disabled > 0 %}in-disabled{% else %}hover-true{% endif %}">
                <img src="/{{type.image}}" alt="LADA {{car.name}} {{t}}">
                <h3 class="catalog-item-title">LADA {{car.name}} {{t}}</h3>
                <span class="cst-val">от {{type.minPrice}} руб.</span>
            </li>

        {% endfor %}
        </ul>
        {% endfor %}

    </div>

        </div>
    </section>
    
    <section class="compare-opts">
    	<div class="container clearfix">
    		<div class="pull-left">
    			<label for="show_diff">
    				<span class="custom-checkbox">
    					<input type="checkbox" id="show_diff">
    				</span>
    				Показывать только отличия
    			</label>
    		</div>
    		<div class="pull-right">
    			<ul class="compare-icons">
    				<li><a href="#" class="icon-print"></a></li>
    				<li><a href="#" class="icon-mail"></a></li>
    			</ul>
    		</div>
    	</div>
    </section>

    <section class="compare">
		<div class="container">
			<ul class="underline">
				<li><a href="#" class="btn btn-type1" id="compareBTN">Сравнить</a></li><li class="machines_scrolling"><table class="machines"><tr></tr></table></li>
			</ul>
			<ul class="scroller machnames">
				<li></li>
				<li class="machines_scrolling"><table class="machines_names"><tr></tr></table></li>
			</ul>
			<ul class="mainchars secondary_tables">
				<li class="mainchars_titles"><table class="table">
				<tr><td>Модель</td></tr>
				<tr><td>Комплектация</td></tr>
				<tr><td>Двигатель</td></tr>
				<tr><td>Исполнение</td></tr>
				<tr><td>Стоимость, руб.</td></tr>
				</table></li><li class="mainchars_values machines_scrolling"><table class="table">
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
				</table></li>
			</ul>
			<!-----------
			Тут будут таблицы с характеристиками
			<li>
			<table class="table">
				<tr><td>Рабочий объём двигателя,&nbsp;л.</td></tr>
				<tr><td>Количество и расположение цилиндров</td></tr>
				<tr><td>Мощность,&nbsp;л.с.</td></tr>
				<tr><td>Система питания</td></tr>
				<tr><td>Количество клапанов</td></tr>
				<tr><td>Топливо</td></tr>
				<tr><td>Тип двигателя</td></tr>
			</table>
			</li>
			
			<li class="machines_scrolling">
			<table class="table">
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
			</table>
			</li>
			------------->
		</div>
		
		<div class="container">
		<div class="scrolled_info buy-compared-wrap machines_scrolling">
			<div class="buy-compared">
			</div>
		</div>
		</div>
		
    </section>