    <section class="block-comparison">
        <div style="padding-bottom:110px;" class="container">
            <div class="col-xs-4 col-xs-offset-1 bottom-up pos-rel alltypes comparation-ind">

{{ render(controller('SiteFrontendBundle:Home:getCars')) }}

            </div>
<style>
.line_calendar-wrap{
    bottom: 310px;
    position: absolute;
}
/* Костыль, чтобы селект с выбором времени суток не обрезался родительским блоком */
.block-comparison {overflow: visible; z-index: 2;}
.block-comparison .comparison-table {overflow: hidden;}
</style>

                <div class="col-tn-6 col-xs-9">
                </div>
            </div>
        </div>
    </section>


    <section style="overflow:visible !important" class="p-t10-b-50">
        <div data-type="testdrive" class="container guest-info">

            <form action="#" class="clearfix form-testdrive">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-testdrive'})) }}
                    <div class="custom-checkbox col-tn-12">
                        <span>
                            <input id="rules-agree" type="checkbox">
                        </span>
                        <label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getRightForm',{'alias':'form-testdrive'})) }}
                </div>



            </form>
        </div>

    </section>
        <script type="text/javascript">

    $(document).ready(function(){
        $('.sendinfo').on('click',function(){
            getFeilds('testdrive');
        })
        var c = location.href
        var cc = c.split('.ru/');
        if ( cc[1] == 'buy/testdrive')
          $('#testdrivecblock').addClass('active');
    })

    </script>
