    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %}
<script type="text/javascript">
function getNewsPage()
{
	var page = 2;
	if (arguments.length)
		page = arguments[0];

	$.get('/news/nextpage/'+page, {}, function(answer) {
		var pn = $('.paged-news').parent();
		$(answer).insertBefore(pn);
		pn.remove();
	}, 'text');
}
</script>


    <section class="news-block">
        <div class="container">
            <div class="col-xs-12 clearfix">
                <div class="search-form-wrap form-text-search m-b40 in-news">
                    <div class="input-wrap">
                        <input type="text" placeholder="Найти в новостях">
                    </div>
                    <a href="#" class="btn btn-type1 search-but">Найти</a>
                </div>
            </div>
            <div class="news">
                    <div class="news-item clearfix">
                        <div class="col-sm-4 col-md-5">
                            <img src="{{news.top.picture}}" alt="" class="img-responsive"/>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                            {% set data = news.top.date %}
                            <div class="news-date">{{ news.top.date|date('d.m.Y') }}</div>
                            <h3 class="news-title">
                                <a href="/news/{{news.top.id}}" class="no-underline">{{news.top.name}}</a>
                            </h3>
                            <div class="news-info">
                                {{news.top.teaser|raw}}
                            </div>
                        </div>
                    </div>
                {% for i,item in news %}
                    {% if i != 'top' %}
                    <div class="news-item clearfix">
                        <div class="col-sm-4 col-md-5">
                            <img src="{{item.picture}}" alt="" class="img-responsive"/>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                            {% set data = item.date %}
                            <div class="news-date">{{ item.date|date('d.m.Y') }}</div>
                            <h3 class="news-title">
                                <a href="/news/{{item.id}}" class="no-underline">{{item.name}}</a>
                            </h3>
                            <div class="news-info">
                                {{item.teaser|raw}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="text-center m-t40-b-40">
                    <div class="btn btn-type1 paged-news" onclick="getNewsPage()">Показать предыдущие</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}