{% for item in news %}
	<div class="news-item clearfix">
		<div class="col-sm-4 col-md-5">
			<img src="/{{item.picture}}" alt="" class="img-responsive"/>
		</div>
		<div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
			{% set data = item.date %}
			<div class="news-date">{{ item.date|date('d.m.Y') }}</div>
			<h3 class="news-title">
				<a href="/news/{{item.id}}" class="no-underline">{{item.name}}</a>
			</h3>
			<div class="news-info">
				{{item.teaser|raw}}
			</div>
		</div>
	</div>
{% endfor %}
{% if page < count %}
<div class="text-center m-t40-b-40">
	<div class="btn btn-type1 paged-news" onclick="getNewsPage({{ page + 1 }})">Показать предыдущие</div>
</div>
{% endif %}