    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
 <script>
$(document).ready(function(){
    $('.pagination .next').on('click',function(){
        var current = parseInt($('.pagination .active').attr('data-page'));
        current++;
        location.href = '/news/page/'+current;
    })
    $('.pagination .prev').on('click',function(){
        var current = parseInt($('.pagination .active').attr('data-page'));
        current--;
        location.href = '/news/page/'+current;
    })
    
})
 </script>
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %} 
    <section class="news-block">
        <div class="container">
            <div class="col-xs-12 clearfix">
                <div class="search-form-wrap form-text-search m-b40 in-news">
                    <div class="input-wrap">
                        <input type="text" placeholder="Найти в новостях">
                    </div>
                    <a href="#" class="btn btn-type1 search-but">Найти</a>
                </div>
            </div>
            <div class="news">
                {% for i,item in news %}
                    <div class="news-item clearfix">
                        <div class="col-sm-4 col-md-5">
                            <img src="/{{item.picture}}" alt="" class="img-responsive"/>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                            {% set data = item.date %}
                            <div class="news-date">{{ item.date|date('d.m.Y') }}</div>
                            <h3 class="news-title">
                                <a href="/news/{{item.id}}" class="no-underline">{{item.name}}</a>
                            </h3>
                            <div class="news-info">
                                {{item.teaser|raw}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center m-t40-b-40">

                    <ul class="pagination">
                      <li class="prev"><a href="javascript:void(0)">&laquo;</a></li>
                      {% for i in 1..count %}
                      <li data-page="{{i}}" {% if page == i %} class="active disabled"{% endif %}><a href="/news/page/{{i}}">{{i}}</a></li>
                      {% endfor %}
                      <li class="next"><a href="javascript:void(0)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}