    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
 
    {% endblock %}
{% block title %}SiteFrontendBundle:Home:dillers{% endblock %}

{% block content %} 
    <section class="news-block">
        <div class="container">
            <div class="col-xs-12 clearfix">
                <div class="search-form-wrap form-text-search m-b40 in-news">
                    <div class="input-wrap">
                        <input type="text" placeholder="Найти в новостях">
                    </div>
                    <a href="#" class="btn btn-type1 search-but">Найти</a>
                </div>
            </div>
            <div class="news">
                {% if news|length > 0 %}
                <div class="news-item news-main clearfix">
                    <div class="col-xs-12">
                        <div class="news-date">{{ news.top.date|date('d.m.Y') }}</div>
                        <h3 class="news-title">{{news.top.name}}</h3>
                    </div>
                    <div class="news-img col-xs-12">
                        <img src="/{{news.top.picture}}" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12">
                        <div class="news-info clearfix">
                            <div class="news-info-iner">
                                {{news.top.content|raw}}
                            </div>

                            <div class="after-news-block pull-right">
                                <a href="#" class="-print"><!----></a>
                                <a href="#" class="-mail"><!----></a>
                                <a href="#" class="-favorite"><!----></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for i,item in news %}
                    {% if i != 'top' %}
                    <div class="news-item clearfix">
                        <div class="col-sm-4 col-md-5">
                            <img src="/{{item.picture}}" alt="" class="img-responsive"/>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">
                            {% set data = item.date %}
                            <div class="news-date">{{ item.date|date('d.m.Y') }}</div>
                            <h3 class="news-title">
                                <a href="/news/{{item.id}}" class="no-underline">{{item.name}}</a>
                            </h3>
                            <div class="news-info">
                                {{item.teaser|raw}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="text-center m-t40-b-40">
                    <a href="/news" class="btn btn-type1 all-news">Все новости</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}