{% extends "::admin.html.twig" %}

{% block title %}Изменение модель автомобиля{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Изменение модели автомобиля</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.nameAdmin) }}</label>
                <div class="col-sm-10">{{ form_widget(form.nameAdmin) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.file) }}</label>
                <div class="col-sm-10">{{ form_widget(form.file) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.price) }}</label>
                <div class="col-sm-10">{{ form_widget(form.price) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.bodyId) }}</label>
                <div class="col-sm-10">{{ form_widget(form.bodyId) }}</div>
            </div>
            <div class="centered-heading-1">Характеристики</div>
            {% for ifd in info_data %}                
                <div class="centered-heading-2">{{ ifd.label }}</div>
                {% for k, ifi in ifd.features %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ ifi.label }}</label>
                    <div class="col-sm-10">
                        {% if ifi.type == 'select' %}
                        <select class="form-control" name="info[{{ k }}]">
                            <option value="0">Не выбрано</option>
                            {% for ifv in ifi.values %}
                            <option {% if cars_data[k][ifv.value].valueId is defined and cars_data[k][ifv.value].valueId == ifv.value %}selected{% endif %} value="{{ ifv.value }}">{{ ifv.label }}</option>
                            {% endfor %}
                        </select>
                        {% elseif ifi.type == 'checkbox' %}
                            {% for ifv in ifi.values %}
                                <div class="checkbox">
                                    <label><input {% if cars_data[k][ifv.value].valueId is defined and cars_data[k][ifv.value].valueId == ifv.value %}checked{% endif %} type="checkbox" name="info[{{ k }}][]" value="{{ ifv.value }}" />{{ ifv.label }}</label>
                                </div>
                            {% endfor %}
                        {% elseif ifi.type == 'yesno' %}
                            <div class="radio">
                                <label><input type="radio" {% if cars_data[k][2].valueId is not defined and cars_data[k][1].valueId is not defined %}checked{% endif %} name="info[{{ k }}]" value="0" /> Не выбрано</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" {% if cars_data[k][2].valueId is defined and cars_data[k][2].valueId == 2 %}checked{% endif %} name="info[{{ k }}]" value="2" /> Да</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" {% if cars_data[k][1].valueId is defined and cars_data[k][1].valueId == 1 %}checked{% endif %} name="info[{{ k }}]" value="1" /> Нет</label>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
