{% extends "::admin.html.twig" %}

{% block title %}{% if type == 'models' %}Модели автомобилей{% elseif type == 'equipment' %}Комплектации{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_models_add', { type: type, bodyid: bodyid }) }}" class="btn btn-primary btn-sm">Добавить {% if type == 'models' %}модель{% elseif type == 'equipment' %}комплектацию{% endif %}</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        {% if type == 'models' %}Модели автомобилей{% elseif type == 'equipment' %}Комплектации{% endif %}
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 160px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for model in models %}
                                    <tr>
                                        <td>{{ model.id }}</td>
                                        <td>{{ model.nameAdmin }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_models_edit', { id: model.id, type: type, bodyid: bodyid }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="копировать" href="{{ path('admin_models_copy', { id: model.id, type: type, bodyid: bodyid }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-file"></i></a>
                                            <a title="удалить" href="{{ path('admin_models_delete', { id: model.id, type: type, bodyid: bodyid }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
