    {% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
        var bidd = {{data|first['bid']}};
        gallery_reset = true;
        console.log(bidd)
        //threedmodel = '{{car.id}}'+'0'+bidd;
        $(document).ready(function(){

            $('.slider-comparison-car-wrap .control-prev-slide').on('click',function(){
              changeDatainOffers()
            })

            $('.slider-comparison-car-wrap .control-next-slide').on('click',function(){
              changeDatainOffers()
            })

            setTimeout(function(){
                $('.features-slider .bx-viewport').css({'position':'absolute','overflow':'visible'})

            },100)


            setTimeout(function(){
                $('#select-engine-styler .jq-selectbox__dropdown li').on('click',function(){
                  var id = $(this).parents('.blocktype').attr('id');
                  var engine = $('#'+id).find('#select-engine-styler .jq-selectbox__select-text').html()

                  $('#'+id).find('.engine-reflect').addClass('hidden');
                  $('#'+id).find('.engine-reflect[data-engine="'+engine+'"]').removeClass('hidden');

                  changeDatainOffers();
                });

                $('#select-type-styler .jq-selectbox__dropdown li').on('click',function(){
                  var price = $(this).attr('data-price');
                  var id = $(this).parents('.blocktype').attr('data-id');
                  $('.type-'+id+' .price-original').html(price)

                  changeDatainOffers();
                });

            })


            setTimeout(function(){
                $('.jq-checkbox').on('click',function(){
                    if( $(this).parents('.guest-info').length == 0 ){
                        $('.offer-slide .jq-checkbox').removeClass('checked');
                        $(this).addClass('checked');
                        $('.offer-slide .current-offer').removeClass('current-offer');
                        $(this).parents('.offer').addClass('current-offer');
                        var code = parseInt($(this).parents('.offer').attr('data-code'));

                        fpay = getFp(activeTaxes[code]['firstpay'], true);
                        fpayMin = getFp(0, true);;
                        fpayMax = getFp(100, true);;
                        console.log(activeTaxes)
                        if( activeTaxes[code]['firstpayMin'] != '' ){ fpayMin = getFp(activeTaxes[code]['firstpayMin'], true); }
                        if( activeTaxes[code]['firstpayMax'] != '' ){ fpayMax = getFp(activeTaxes[code]['firstpayMax'], true); }

                        fperiodMax = 60;
                        fperiodMin = 6;

                        fperiod = activeTaxes[code]['period'];
                        if( activeTaxes[code]['periodMin'] != '' ){ fperiodMin = activeTaxes[code]['periodMin']; }
                        if( activeTaxes[code]['periodMax'] != '' ){ fperiodMax = activeTaxes[code]['periodMax']; }
                        console.log(fperiodMin,fperiodMax,fstep)
                        fstep = activeTaxes[code]['step'];

                        updateFirstPay();
                        updatePeriod();
                        changeDatainOffers(false);
                    }
                })

            },100)

            $('.sendinfo').on('click',function(){
                collectData();
            })
        })
        calculatorOn = true;
        var activeTaxes = {};   
        {% for i,off in activeTaxes %}
            activeTaxes[{{i}}] = {};
            {% for d,val in off %}
                activeTaxes[{{i}}]['{{d}}'] = {{val}};
            {% endfor %}
        {% endfor %}

        {% if current['firstpay'] is defined %}
            var fpay = getFp({{current['firstpay']}}, false);
            {% if current['firstpayMin'] != '' %}
                var fpayMin = getFp({{current['firstpayMin']}}, false);
            {% else %}
                var fpayMin = getFp(0, false);
            {% endif %}
            {% if current['firstpayMax'] != '' %}
            var fpayMax = getFp({{current['firstpayMax']}}, false);
            {% else %}
                var fpayMax = getFp(100, false);
            {% endif %}

            var fperiod = {{current['period']}};
            var fperiodMax = {{current['periodMax']}};
            var fperiodMin = {{current['periodMin']}};
            var fstep = {{current['step']}};

        {% endif %}

        function updateFirstPay(){
            $('#pre-pay').noUiSlider({
                connect: "lower",
                start: [ fpay ],
                step: 1,
                range: {
                    'min': [  fpayMin ],
                    'max': [ fpayMax ]
                }
            },true);
        }

        function SetCarBodyData(){
        	var bid = $('.active-slide').attr('data-bid');
        	console.log(bid);
        	newThreeDModelCalc(bid)
        	//App.Car360(bid);
        }
        function prepareData(data){
             var info = $('.send .isend');
             $.each(info,function(){
                var key = $(this).attr('id');
                $(this).html(data[key]);
             })
        }

        function collectData(){
            var data = {};
            var info = $('.send .isend');
            var personal = $('.guest-info .personal');
            var count = 0;


            $.each(info,function(){
                var key = $(this).attr('id');
                var thisvalue = $.trim($(this).html());

                if( key == 'price' || key == 'firstpay' || key == 'discount' || key == 'period' || key == 'monthlypay' )
                {
                    thisvalue = thisvalue.replace(' ',thisvalue);
                    thisvalue = thisvalue.replace('-',thisvalue);
                    thisvalue = thisvalue.replace('.',thisvalue);
                }
                if( thisvalue != ''){
                    data[key] = thisvalue; count++;
                }
            })
            $.each(personal,function(){

                var key = $(this).attr('id');
                var thisvalue = $.trim($(this).val());
                key = key.replace('-','');
                if( thisvalue != ''){
                    data[key] = thisvalue; count++;
                }
            })

            var mustbe = personal.length + info.length;
            
            if( mustbe == count ){
                if( $('#rules-agree-styler').hasClass('checked') == true ){
                    data['car'] = '{{car.name}}';
                    data['typecar'] = $('.offer:visible').parents('.offer-slide').attr('data-type');
                    data['type'] = 'credit';

                    var dcid = $('.infobox:visible').attr('id');
                    dcid = dcid.replace('msc','');
                    data['dc'] = dcid;
                    saveDataRequest(data, 'credit');
                }
                else{
                    showErrorFront();
                }
                
            }
            else{
                showErrorFront();
            }
        }

        function getFp(percent, price){
            if( price == true ){
                var code = $('.offer:visible').parents('.offer-slide').attr('id').replace('offers-','');
                price = Math.round(parseInt($('.type-'+code+' .price-original').html()))
            }
            var price = {{data|first.minPrice}};
            var diff = Math.round((price/100)*percent);
            return diff;
        }

        function getTax(data,trigger,discount){
          $.ajax({
              url: '{{ path('ajax_front_tax') }}',
              data: data,
              dataType : 'json',
              type: 'post',
              success: function (response, textStatus) {

              $('.offer-slide:visible').find('.current-offer').find('.tax').html(response.value);
              $('.offer-slide:visible').find('.current-offer').find('.tax-fic').html(response.taxfiction);
              if( trigger == true ){

	              fperiod = response.periodset;
	              fstep = response.step;
	              updatePeriod();
	          }
	          else{
	              if( response.firstpay != undefined ){
	              	fpay = response.firstpay;
	              	updateFirstPay()
	              }
	          }
                var price = parseInt($('.type-'+g).find('.price-original').html()) - discount;
	            var first = $.trim($('#pre-pay-val').html());
	            var period = parseInt($.trim($('#month-pay-val').html()));
	            first = first.replace('%','');
                first = first.replace('.-');
                first = first.replace(' ','');
	            first = parseInt(first);
                var diff = price-first;
                var yeartax = ((parseInt(response.value)/12)*period);
                var summ = Math.round((diff+((diff/100)*yeartax))/period);

                //console.log(first, period, price, diff, yeartax, summ);

                $('.offer-slide:visible').find('.current-offer').find('.monthly-pay').html(summ);

                if( discount == 0 ){
                    $('.type-'+g).find('.discount-block').hide();
                }
                else{
                    $('.type-'+g).find('.discount-block').show();
                }

                var nbank = $('.offer-slide:visible').find('.current-offer .nbank').html();
                var noffer = $('.offer-slide:visible').find('.current-offer .noffer').html();

                var data = {};
                data['price'] = price;
                data['firstpay'] = first;
                data['tax'] = parseInt(response.value);
                data['period'] = period;
                data['bank'] = nbank;
                data['offer'] = noffer;
                data['discount'] = discount;
                data['monthlypay'] = summ;
                data['car'] = summ;
                prepareData(data);

              },
              error: function(e){
                console.log(e.message);
              }});
        }

        function updatePeriod(){

            $('#month-pay').noUiSlider({
                connect: "lower",
                start: [ fperiod ],
                step: fstep,
                range: {
                    'min': [  fperiodMin ],
                    'max': [ fperiodMax ]
                }
            },true);
        }

        function changeDatainOffers(trigger){
            var discount = 0 ;
            var code = $('.offer-slide:visible').attr('id');
            var id = $('.offer-slide:visible').find('.current-offer').attr('data-id');
            g = code.replace('offers-','');
            var price = parseInt($('.type-'+g).find('.price-original').html());
            var first = $.trim($('#pre-pay-val').html());
            first = first.replace('%','');
            first = first.replace('-.','');
            first = first.replace(' ','');
            first = parseInt(first.replace('.-',''));
            firstR = Math.round(parseInt(first)/(price/100));
            
            var period = $.trim($('#month-pay-val').html());
            period = parseInt(period);
            var discountFirstPay = $('#block-'+g).attr('data-discount-firstpay'); 
            var discountPeriod = $('#block-'+g).attr('data-discount-period'); 

            if( discountFirstPay != undefined && undefined != discountPeriod ){
                discountPeriod = discountPeriod.split('::');
                discountFirstPay = discountFirstPay.split('::');

                
                var dfpmin = Math.round((price/100)*parseInt(discountFirstPay[0]));
                var dfpmax = Math.round((price/100)*parseInt(discountFirstPay[1]));
                console.info(firstR, dfpmin, dfpmax, first)
                if( period >= parseInt(discountPeriod[0]) && parseInt(discountPeriod[1]) >= period && first >= dfpmin && dfpmax >= first ){
                    var summ = parseInt($('#block-'+g).attr('data-discount-summ')); 
                    var percent = parseInt($('#block-'+g).attr('data-discount-percent')); 
                    if( percent == 0 ){
                        discount = summ;
                        price = price - discount;
                    }
                    else{
                        discount = Math.round(summ*(price/100));
                        price = price - summ;
                    }
                    $('.type-'+g).find('.discount-block').show();
                    $('.discount').show();
                }
                else{
                    $('.type-'+g).find('.discount-block').hide();
                    $('.discount').hide();
                }
            }
            var data = {};
            data['firstpay'] = firstR;
            data['period'] = period;
            data['id'] = id;
            getTax(data,trigger,discount);
            var diff = price - ((price/100)*first);
            var monthly = Math.round(diff/period);
            

        }
        </script>
    <style>
		#select-engine-styler {width: 100%;}
    </style>
    {% endblock %}
    {% block title %}SiteFrontendBundle:Home:credit{% endblock %}

{% block content %}
{{ render(controller('SiteFrontendBundle:Home:getInfoMessage',{'type':'credit'})) }}
    <section class="p-t10-b-50">
        <div class="container">
            <div class="col-sm-7 col-md-6 col-lg-offset-1">
                <h3>LADA Finance — программа автокредитования, реализуемая ОАО «АВТОВАЗ» совместно с банками-партнерами</h3>
                <p>Приобрести автомобиль по программе LADA Finance можно у официальных дилеров LADA во всех регионах России, где присутствуют представительства банков-партнеров.</p>
                <p>Главное преимущество фирменной кредитной программы LADA Finance – снижение затрат клиента по выплате процентов по кредиту за счет предоставления ОАО «АВТОВАЗ» специальной цены на приобретаемый в кредит автомобиль.</p>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-4 col-md-offset-1 sidebar">
                <h3>Преимущества</h3>
                <ul class="with-air">
                    <li>Процентные ставки по кредиту ниже базовых предложений банков-партнеров</li>
                    <li>Доступный первоначальный взнос</li>
                    <li>Оптимальные сроки кредитования</li>
                    <li>Быстрое принятие предварительного решения о выдаче кредита</li>
                </ul>
                <div class="text-center">
                    <a href="#" class="btn btn-type3 search-but">Подробнее</a>
                </div>
            </div>

        </div>
    </section>

    <section class="credit-calculator">
        <div class="container">
            <div class="settings-car clearfix">
                <div class="col-xs-3">
                    <div class="slider-comparison-car-wrap">
                        <ul class="slider-comparison-car">
                            {% for key, type in data %}

                            <li class="item-slide" data-type="{{key}}" data-bid="{{car.id~'0'~type['bid']}}">
                                <span>{{car.name}}</span>
                                <div class="img-wrap">
                                    <img src="/{{type.image}}" alt="" class="img-responsive"/>
                                </div>
                                <div class="type-wrap">
                                    <span class="btn-comparison-type have-tooltip" title="Выберите тип кузова">{{key}}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <a class="control-prev-slide-a" href="/credit/{{ acar }}/{{ prevBId }}"></a>
                        <a class="control-next-slide-a" href="/credit/{{ acar }}/{{ nextBId }}"></a>
                    </div>
                </div>
                    <div class="features-slider col-xs-8">
                    <ul class="slider-features-car">
                    {% set g = 0 %}
                    {% for key, type in data %}
                     <li class="blocktype" id="block-{{g}}" data-id="{{g}}" data-type="{{key}}" {% if type.discount is defined and type.discount != false %}
                     data-discount-period="{{type['discount'][0]['period']['min']}}::{{type['discount'][0]['period']['max']}}" 
                     data-discount-summ="{{type['discount'][0]['summ']}}" 
                     data-discount-percent="{{type['discount'][0]['persent']}}" 
                     data-discount-firstpay="{{type['discount'][0]['firstpay']['min']}}::{{type['discount'][0]['firstpay']['max']}}"{% endif %}>
                    <div class="col-sm-6 text-left p-t50-b-10 f-c">
                    {% set x = 0 %}
                        <div class="linethis daypart custom-select form-group">
                        {% if type.engines|length > 0 %}
                        <select onchange="" id="select-engine">
                        {% for i,engine in type.engines %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                        </select>
                        {% else %}
                        <span class="text-info">Нет данных по комплектациям выбранной модели</span>
                        {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-6 text-left p-t50-b-10 f-c">
                    {% set x = 0 %}
                    {% for i,engine in type.engines %}
                            <span data-engine="{{i}}" class="engine-reflect{% if type.minPriceEngine == i %}{% else %} hidden{% endif %}">
                                <div class="linethis daypart custom-select form-group">
                                <select onchange="" id="select-type">
                                {% for j,typecar in engine.types %}
                                    <option data-price="{{typecar}}" name="typecar-{{key}}-{{x}}" value="{{typecar}}">{{j}}</option>
                                {% endfor %}
                                </select>
                                </div>
                            </span>
                    {% endfor %}
                    </div>

                    </li>
                    {% set g = g +1 %}
                    {% endfor %}
                            </ul>
                            </div>
                </div>


    
            <div class="car-preview clearfix">
                <div class="car360 col-xs-8">
                    <img class="rollerblade-img img-responsive" src="/uploads/3d/209/1.png" alt=""/>
                </div>
                <div class="col-xs-4 info-car">
                        <ul class="slider-price-car">
                            {% set k = 0 %}
                            {% for key, type in data %}
                            <li class="type-{{k}}">
                                <div class="text-1">Стоимость, руб.</div>
                                <div class="price-original text-2">{{type.minPrice}}</div>
                                {% if type.discount is defined and type.discount != false %}
                                <div class="discount-block">
                                    <div class="text-1">{{type.discount[0].name}}, {% if type.discount[0].persent == 0 %}руб{% else %}%{% endif %}.</div>
                                    <div class="text-2 discount"><div id="summ">{{type.discount[0].summ}}</div></div>
                                </div>
                                {% endif %}
                            </li>
                            {% set k = k +1 %}
                            {% endfor %}
                        </ul>
                </div>
            </div>
            
            <div class="money-config clearfix">
                <div class="col-sm-6 p-r-50">
                    <h3>Размер первого взноса, руб.</h3>
                    <div class="slider-value" id="pre-pay"></div>
                    <div class="text-2" id="pre-pay-val"></div>
                </div>
                <div class="col-sm-6 p-l-50">
                    <h3>Срок кредита, мес.</h3>
                    <div class="slider-value" id="month-pay"></div>
                    <div class="text-2" id="month-pay-val"></div>
                </div>
            </div>
        </div>
    </section>
    {% for dsc in discountTables %}
    <section id="discount-{{dsc.id}}" class="p-t50-b-10 discount" style="display:none;">
        <div class="container">
            <div class="col-sm-12 col-md-12">               
                <div class="action-block">
                    <div class="action-block-inside">
                        <div class="action-thumb">
                            <img src="/front_assets/images/action-block-img-1.jpg" alt="">
                        </div>
                        <div class="extra-wrap">
                            <div class="action-date-range">{{dsc.datestart|date('d.m.Y')}} &mdash; {{dsc.dateend|date('d.m.Y')}}</div>
                            <h2>{{dsc.name}}</h2>
                            <div class="text-wrap">
                                {{dsc.content}}
                            </div>
                        </div>
                    </div>
                </div>
                {#
                <div class="action-block-after pull-right">
                    <span class="action-after-label">Автомобили по акции:</span>
                    {% for car in cars %}
                        {% if car.id in sharesTop[0].cars %}
                        <a href="#" title="{{car.name}}" class="action-item-link"><img src="/front_assets/images/action-car-{{car.id}}.png" alt=""></a>
                        {% endif %}
                    {% endfor %}
                </div>
                #}
            </div>
        </div>
    </section>
    {% endfor %}
<ul class="slider-offers-car">
{% set g = 0 %}
{% for key, type in data %}
<li data-type="{{key}}" id="offers-{{g}}" class="offer-slide">
{% set g = g + 1 %}
{% if classic == true %}
    <section class="m-t10 m-b10">
        <div class="container">
            <h3>Классическая программа</h3>
            <div class="scrolled_info">
            <table data-click-to-select="true" class="table table-checkbox">
                <thead>
                    <tr>
                        <th data-checkbox="true" colspan="2">Банк и программа</th>
                        <th>Ставка банка, %</th>
                        <th>С Lada finance, %</th>
                        <th>Платеж, руб./мес</th>
                        <th>Страхование</th>
                        <th>Условия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x,offer in offers %}
                    {% if offer.typeCredit == 'Классическая' %}
                    <tr class="offer{% if current.id == offer.id %} current-offer{% endif %}" data-id="{{offer.id}}" data-code="{{x}}">
                        <td>
                            <div class="custom-checkbox">
                                <span>
                                    <input type="checkbox" {% if current.id == offer.id %}checked{% endif %}>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span class="nbank text-uppercase">{{offer.bank}}</span> <br/>
                            <div class="noffer">{{offer.nameCredit}}</div>
                        </td>
                        <td class="tax-fic">{{activeTaxes[x]['taxfiction']}}</td>
                        <td class="tax">{{activeTaxes[x]['tax']}}</td>
                        <td class="monthly-pay">
                {% set diff = type.minPrice-((type.minPrice/100)*activeTaxes[x]['firstpay']) %}
                {% set yeartax = ((activeTaxes[x]['tax']/12)*activeTaxes[x]['period']) %}
                {% set summ = (diff+((diff/100)*yeartax))/activeTaxes[x]['period'] %}
                        {{summ|round}}
                        </td>
                        <td>{{offer.insurance}}</td>
                        <td><a href="#">Ссылка</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <p><b>Необходимые требования:</b> Садишься в «люксовую» Калину... А это действительно Лада? На почетном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно «законнектить» по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация.</p>
            <p><b>Требования к заемщикам:</b> Садишься в «люксовую» Калину... А это действительно Лада? На почетном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно «законнектить» по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация.</p>
        </div>
    </section>
{% endif %}
{% if express == true %}
    <section class="m-t10 m-b10">
        <div class="container">
            <h3>Экпресс программа</h3>
            <div class="scrolled_info">
            <table data-click-to-select="true" class="table table-checkbox">
                <thead>
                    <tr>
                        <th data-checkbox="true" colspan="2">Банк и программа</th>
                        <th>Ставка банка, %</th>
                        <th>С Lada finance, %</th>
                        <th>Платеж, руб./мес</th>
                        <th>Страхование</th>
                        <th>Условия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x,offer in offers %}
                    {% if offer.typeCredit == 'Экспресс' %}
                    <tr class="offer{% if current.id == offer.id %} current-offer{% endif %}" data-id="{{offer.id}}" data-code="{{x}}">
                        <td>
                            <div class="custom-checkbox">
                                <span>
                                    <input type="checkbox" {% if current.id == offer.id %}checked{% endif %}>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span class="text-uppercase">{{offer.bank}}</span> <br/>
                            {{offer.nameCredit}}
                        </td>
                        <td class="tax-fic">{{activeTaxes[x]['taxfiction']}}</td>
                        <td class="tax">{{activeTaxes[x]['tax']}}</td>
                        <td class="monthly-pay">
                {% set diff = type.minPrice-((type.minPrice/100)*activeTaxes[x]['firstpay']) %}
                {% set yeartax = ((activeTaxes[x]['tax']/12)*activeTaxes[x]['period']) %}
                {% set summ = (diff+((diff/100)*yeartax))/activeTaxes[x]['period'] %}
                        {{summ|round}}
                        </td>
                        <td>{{offer.insurance}}</td>
                        <td><a href="#">Ссылка</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <p><b>Необходимые требования:</b> Садишься в «люксовую» Калину... А это действительно Лада? На почетном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно «законнектить» по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация.</p>
            <p><b>Требования к заемщикам:</b> Садишься в «люксовую» Калину... А это действительно Лада? На почетном месте — сенсорный монитор мультимедийной системы, есть слот для флеш-карт формата SD, мобильный телефон можно «законнектить» по протоколу Bluetooth, а осенью, как обещают, появится и штатная навигация.</p>
        </div>
    </section>
    {% endif %}
</li>
{% endfor %}
</ul>

    <section class="p-t10-b-50">
        <div class="container">
            <h3>Заявка на кредит</h3>
            <form action="#" class="clearfix guest-info">
                <div class="col-sm-6 col-lg-offset-1 col-lg-5 clearfix">
                    {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-credit'})) }}
                </div>
                <div class="sidebar col-sm-6 col-lg-5 clearfix send">
                    <h3>LADA Priora седан</h3>
                    <table class="credit-table">
                        <tbody>
                            <tr>
                                <td>Стоимость, руб.</td>
                                <td class="isend" id="price">379 000.-</td>
                            </tr>
                            <tr>
                                <td>Скидка ОАО «АВТОВАЗ», руб.</td>
                                <td class="isend" id="discount">7 700.-</td>
                            </tr>
                            <tr>
                                <td>Первоначальный взнос, руб.</td>
                                <td class="isend" id="firstpay">120 000.-</td>
                            </tr>
                            <tr>
                                <td>Срок кредита, мес.</td>
                                <td class="isend" id="period">36</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="credit-table">
                        <tbody>
                        <tr>
                            <td>Банк</td>
                            <td class="isend" id="bank">Русский кредит</td>
                        </tr>
                        <tr>
                            <td>Кредитная программа</td>
                            <td class="isend" id="offer">Автостатус без подтверждения дохода</td>
                        </tr>
                        <tr>
                            <td>Ставка по кредиту, годовых.</td>
                            <td class="isend" id="tax">14%</td>
                        </tr>
                        <tr>
                            <td>Ежемесячный платеж</td>
                            <td class="isend" id="monthlypay">3 500.-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="custom-checkbox clear110left">
					<span>
						<input id="rules-agree" type="checkbox">
					</span>
					<label>Я согласен с <a href="#" data-toggle="modal" data-target="#myModal">Правилами использования моих персональных данных</a></label>
				</div>
            </form>
        </div>
    </section>
{% endblock %}