{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
                activateEditore('teaser');
                activateEditore2('content');
                activateImageLibrary('picture');
                $( "#dateStart" ).datepicker();
                $( "#dateStop" ).datepicker();

              $('.status').on('click',function(){
                $('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('.general').on('click',function(){
                $('.active.btn-primary.general').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('#all-regions').on('change',function(){
                var check = $(this).is(':checked');
                $('.regions').prop('checked',check);
              })

              $('#all-cars').on('change',function(){
                var check = $(this).is(':checked');
                $('.cars').prop('checked',check);
              })

              $('#unperiodStart').on('change',function(){
                var check = $(this).is(':checked');
                $('#dateStart').prop('disabled',check);
              })

              $('#unperiodStop').on('change',function(){
                var check = $(this).is(':checked');
                $('#dateStop').prop('disabled',check);
              })

              $('#save').on('click',function(){
                saveData();
              })

              $('.general').on('click',function(e){
                e.preventDefault()
                var code = $(this).attr('data-code');
                if ( code == 1 ){
                  $('.regions-block').hide();
                  $('.regions').prop('checked',false);
                }
                else{
                  $('.regions-block').show();
                }
              })

              {% if item.general == 1 %}
                  $('.regions-block').hide();
                  $('.regions').prop('checked',false);
              {% endif %}

});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = '{{item.id}}';
                data['name'] = $('#name').val();
                data['content'] = $('#content').next().contents().find('#editor2').html();
                data['teaser'] = $('#teaser').next().contents().find('#editor1').html();
                data['picture'] = $('#picture').val();
                data['dateStart'] = false;
                data['dateStop'] = false;
                if( $('#unperiodStart').is(':checked') == false )
                  data['dateStart'] = getTimestamp($('#dateStart').val());
                if( $('#unperiodStop').is(':checked') == false )
                  data['dateStop'] = getTimestamp($('#dateStop').val());

                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                    data['status'] = $('.status.active').attr('data-code');
                    data['general'] = $('.general.active').attr('data-code');
                    data['regions'] = {};
                    data['cars'] = {};
                    var rs = $('.regions');
                    var cs = $('.cars');
                    $.each(rs,function(k,v){ if( $(this).is(':checked') == true ) { data['regions'][k] = $(this).val(); } })     
                    $.each(cs,function(k,v){ if( $(this).is(':checked') == true ) { data['cars'][k] = $(this).val(); } })                
                    
                  $.ajax({
                      url: '{{ path('admin_baseshares_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Shares:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование акции</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация Акции</td></tr>
        <tr><th><span class="left">Название </span></th><td><span class="left col-sm-12 form-group">
        <input id="name" data-type="elfinder-input-field" type="text" class="form-control" value="{{item.name}}" />
        <tr><th><span class="left">Тизер </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="text" rows=3 class="form-control hidden"></textarea>
        <textarea id="teaser" rows=3 class="form-control">{{item.teaser}}</textarea>
        <tr><th><span class="left">Картинка </span></th><td><span class="left col-sm-12 form-group">
        <input id="picture" data-type="elfinder-input-field" type="text" class="form-control" value="{{item.picture}}" />
        </span></td></tr>
        <tr><th><span class="left">Контент </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="content" rows=3 class="form-control">{{item.content}}</textarea>
        </span></td></tr>


        <tr class="label-default"><td colspan=2>Настройки</td></tr>

        <tr><th><span class="left">Период действия</span></th><td>
          <span class="left col-sm-3 form-group">
            Начало:
            <input id="dateStart"  type="text" class="form-control" value="{% if item.dateStart != 0 %}{{item.dateStart|date('m/d/Y')}}{% endif %}" {% if item.dateStart == 0 %}disabled{% endif %}/>
          </span>
          <span class="left col-sm-3 form-group">
            Окончание
            <input id="dateStop"  type="text" class="form-control" value="{% if item.dateStop != 0 %}{{item.dateStop|date('m/d/Y')}}{% endif %}" {% if item.dateStop == 0 %}disabled{% endif %}/>
          </span>
          <span class="left col-sm-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="unperiodStart" {% if item.dateStart == 0  %}checked{% endif %}/><span class="left"><b>без начала</b></span> 
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="unperiodStop" {% if item.dateStop == 0 %}checked{% endif %}/><span class="left"><b>без конца</b></span>
                </label>
              </div>
            </span>
        </td></tr>

        <tr><th><span class="left">Активность</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn {% if item.status == 1 %}btn-primary active{% else %}btn-default{% endif %} status">Активный</button>
                  <button data-code="0" type="button" class="btn {% if item.status == 0 %}btn-primary active{% else %}btn-default{% endif %} status">Скрытый</button>
                </div>
        </span></td></tr>

        <tr><th><span class="left">Общая Акция АВТОВАЗА</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn {% if item.general == 1 %}btn-primary active{% else %}btn-default{% endif %} general">Да</button>
                  <button data-code="0" type="button" class="btn {% if item.general == 0 %}btn-primary active{% else %}btn-default{% endif %} general">Нет</button>
                </div>
        </span></td></tr>

        <tr class="cars-block"><th><span class="left">Авто</span></th><td><span class="left">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-cars"/><span class="left"><b>Все</b></span>
                </label>
              </div>
        {% for car in cars %}
              <div class="checkbox">
                <label>
                  <input class="cars" type="checkbox" value="{{car.id}}" {% if car.id in item.cars %}checked{% endif %}/><span class="left">{{car.name}}</span>
                </label>
              </div>
        {% endfor %}
        </span></td></tr>

        <tr class="regions-block"><th><span class="left">Регионы </span></th><td><span class="left">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="all-regions"/><span class="left"><b>Все</b></span>
              </label>
            </div>
        {% for region in regions %}
              <div class="checkbox">
                <label>
                  <input class="regions" type="checkbox" value="{{region.id}}" {% if region.id in item.regions %}checked{% endif %}/><span class="left">{{region.name}}</span>
                </label>
              </div>
        {% endfor %}
        </span></td></tr>

        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/content-baseshares" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}