{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
});

    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Shares:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр акции</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация Акции</td></tr>
        <tr><th width="300px"><span class="left">Название </span></th><td><span class="left col-sm-12 form-group">
            <span class="left">{{item.name}}</span>
        <tr><th><span class="left">Тизер </span></th><td><span class="left col-sm-12 form-group">
            <span class="left">{{item.teaser|raw}}</span>
        </span></td></tr>
        <tr><th><span class="left">Контент </span></th><td><span class="left col-sm-12 form-group">
            <span class="left"><img src="/{{item.picture}}" class="share-image"/></span>
            <span class="left">{{item.content|raw}}</span>
        </span></td></tr>


        <tr class="label-default"><td colspan=2>Настройки</td></tr>

        <tr><th><span class="left">Период действия</span></th><td>
          <span class="left col-sm-5 form-group">
            Начало: {% if item.dateStart != 0 %}{{item.dateStart|date('m/d/Y')}}{% else %} дата не фиксирована{% endif %}
          </span>
          <span class="left col-sm-5 form-group">
            Окончание: {% if item.dateStop != 0 %}{{item.dateStop|date('m/d/Y')}}{% else %} дата не фиксирована{% endif %}
          </span>
        </td></tr>

        <tr><th><span class="left">Активность</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  {% if item.status == 1 %}Активный{% else %}Скрытый{% endif %}
                </div>
        </span></td></tr>

        <tr><th><span class="left">Скидка АВТОВАЗА</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  {% if item.general == 1 %}Да{% else %}Нет{% endif %}
                </div>
        </span></td></tr>

        <tr><th><span class="left">Дилерский Центр</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  {% if dc == null %}Нет{% else %}{{dc.name}}{% endif %}
                </div>
        </span></td></tr>

        <tr><th><span class="left">Регионы </span></th><td><span class="left">
        {% for region in regions %}
                  {% if region.id in item.regions %}
                  <span class="col-sm-12"><span class="left">{{region.name}}</span></span>
                  {% endif %}
        {% endfor %}
        </span></td></tr>

        <tr><th><span class="left">Авто </span></th><td><span class="left">
        {% for car in cars %}
                  {% if car.id in item.cars %}
                  <span class="col-sm-12"><span class="left">{{car.name}}</span></span>
                  {% endif %}
        {% endfor %}
        </span></td></tr>

        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
        <a href="/admin/content-baseshares" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}