@import "config.less";

/*### Form material ###*/
.material-input {
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;

    input, textarea{
        padding: 5px 10px 5px 10px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;

        &:focus, &.used{
            outline: none;

            & ~ label{
                top: -20px;
                left: 15px;
                color: @c_blue;
            }

            & ~ .highlight{
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }

            & ~ .bar::before, &  ~ .bar::after{
                width: 50%;
            }
        }
        &:required{
            ~ label::after{
                content: " *";
                color: #cc3333;
            }
        }
    }
    textarea{
        border: 1px solid #000;
        .border-radius(2px);
    }
    label {
        color: #000;
        font-weight: @light;
        margin: 0;
        position: absolute;
        pointer-events: none;
        left: 25px;
        top: 6px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;

        &::before, &::after{
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: @c_blue;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        &::before{
            left: 50%;
        }
        &::after{
            right: 50%;
        }
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100%;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
        display: none;
    }
}

@-webkit-keyframes inputHighlighter {
    from {
        background: @c_blue;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: @c_blue;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: @c_blue;
    }
    to {
        width: 0;
        background: transparent;
    }
}
/*### Form material END ###*/

.custom-checkbox{
    span{
        float: left;
    }
    label{
        display: block;
    }
}
.custom-select{
     label{
         line-height: 34px;
     }
 }

.autocomplete-suggestions {
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion {
    background-image: url('../img/pin_small.png');
    background-position: 25px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
    padding: 12px 10px 12px 55px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background-color: #f4f4f4;
}
.autocomplete-suggestions strong {
    font-weight: @bold;
    color: @c_blue;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}