@import "config.less";
@import "elements.less";

@import "media-md.less";
@import "media-sm.less";
@import "media-xs.less";
@import "media-tn.less";

@media (min-width: 481px) and (max-width: 991px) {
    section.block-action-news {
        .banner {
            .banner-inner {
                height: auto;
            }
            p {
                font-size: 18px;
                padding: 7%;
                margin: 0;
            }
            .img-wrap {
                float: left;
                width: 50%;
            }
            .text-wrap {
                float: left;
                width: 50%;
            }
            a.btn {
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}