@import "elements.less";
@import "config.less";
@import "elenent-style.less";

body {
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: @light;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.container {
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 1279px) {
        width: 100%;
    }
    @media (max-width: 991px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: 767px) {
        padding-left: 5px;
        padding-right: 5px;
    }

}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
}
h2, h3{
    font-size: 28px;
    font-weight: @light;

    @media (max-width: 480px) {
        font-size: 22px;
    }
}
h4{
    font-size: 22px;
    font-weight: @light;

    @media (max-width: 480px) {
        font-size: 18px;
    }
}
.-color_blue{
    color: @c_blue;
}
.-color_gray{
    color: #999999;
}
a{
    color: @c_bright_blue;
    text-decoration: underline;

    &:hover{
        color: @c_blue;
        text-decoration: none;
    }
}
b{ font-weight: @medium }
p {
    margin: 1.6em 0;
    line-height: 1.7;

    &.-small-margin{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
ul, ol {
    margin: 0 0 25px 0;
    padding: 0;
    line-height: 1.7;
    list-style: disc inside;
}
label.-required::after{
    content: " *";
    color: #cc3333;
}
// ### Buttons ###
.btn{
    display: inline-block;
    font-size: 15px;
    font-weight: @bold;
    text-decoration: none;
    text-transform: uppercase;
    .rounded(2px);
    line-height: 46px;
    padding: 0 30px;
    border: 2px solid @c_blue;

    @media (max-width: 480px) {
        font-size: 9px;
        line-height: 25px;
        padding: 0 10px;
    }

    &:hover{
        text-decoration: none;
    }

    & + .btn {
        margin-left: 10px;
    }

    &.btn-type1{
        background: @c_blue;
        color: #FFF;
        &:hover{
            background: @c_bright_blue;
            border: 2px solid @c_bright_blue;
        }
    }
    &.btn-type2{
        background: #FFF;
        color: @c_blue;
        &:hover{
            background: @c_blue;
            color: #FFF;
        }
    }
    &.btn-type3{
        border-color: #FFF;
        color: #FFF;
        &:hover{
            background: #FFF;
            color: @c_blue;
        }
    }

    &.btn-type4{
        border-color: #ea2425;
        background: #ea2425;
        color: #FFF;
        &:hover{
            background: #ff3f40;
            border: 2px solid #ff3f40;
        }
    }
}
.margin-center{
    margin: 0 auto;
}
section{
    &.bottom-up{
        margin-bottom: -50px;
    }
}

header .container, footer, section {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

// ### Header ###
header {
    position: relative;
    background: @c_blue;
    z-index: 999;


    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &>.container{
        @media (max-width: 767px) {
            max-height: 150px;
            .transition(0.5s);
            padding-bottom: 8px;
            padding-top: 35px;
        }
    }

    .region-menu-top {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        font-size: 13px;
        color: #FFF;
        text-align: center;
        width: 100%;
        line-height: 25px;
        height: 25px;
        background: #192634;
        z-index: 2;
        .transition(0.5s, 0.1s);

        @media (max-width: 480px) {
            font-size: 10px;
        }

        &:hover {
            .arrow-wrap{
                bottom: -30px;

                .arrow {
                    opacity: 1;
                }
            }
        }
        &.active {
            .arrow-wrap {
                bottom: -30px;
                background: #f2f2f2;

                .arrow {
                    opacity: 1;
                    background: url("../img/region-arrow.png") 0 100% no-repeat;
                }
                &:hover{
                    background: #d9d9d9;
                }
            }
        }
        &:active {
            .arrow-wrap{
                bottom: -25px;
                .transition(0.5s, 0.1s);
            }
        }

        .dealer-name{
            cursor: pointer;
            position: relative;
            background: #192634;
            z-index: 2;
        }
        .arrow-wrap{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            background: #192634;
            cursor: pointer;
            z-index: 1;
            .transition(0.5s);

            .arrow {
                display: block;
                position: absolute;
                height: 13px;
                width: 37px;
                top: 8px;
                left: 50%;
                margin-left: -18.5px;
                opacity: 0;
                background: url("../img/region-arrow.png") 0 0 no-repeat;
                .transition(0.5s);
            }
        }

        .dealer-list-wrap{
            height: 0;
            overflow: hidden;
            background: #FFF;
            color: #000;
            .transition(0.5s);

            .container{
                .ul-regions-wrap{
                    padding: 20px;
                }
                .ul-regions-inner{
                    -moz-column-count: 4;
                    -moz-column-gap: 20px;
                    -webkit-column-count: 4;
                    -webkit-column-gap: 20px;
                    column-count: 4;
                    column-gap: 20px;
                    @media (max-width: 991px) {
                        -moz-column-count: 3;
                        -webkit-column-count: 3;
                        column-count: 3;
                    }
                    @media (max-width: 767px) {
                        -moz-column-count: 2;
                        -webkit-column-count: 2;
                        column-count: 2;
                    }
                    @media (max-width: 480px) {
                        -moz-column-count: 1;
                        -webkit-column-count: 1;
                        column-count: 1;
                    }
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: left;

                    li{
                        a{
                            color: inherit;
                            display: block;
                            font-size: 15px;
                            font-weight: @light;
                            border: 1px solid #FFF;
                            padding: 0 0 0 10px;
                            margin-bottom: 2px;

                            &:hover{
                                border: 1px solid #CCC;
                                text-decoration: none;
                            }
                            &.active{
                                font-weight: @medium;

                                &:hover{
                                    border: 1px solid #FFF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &>.container {
        padding-top: 50px;
        padding-bottom: 22px;
    }

    .header-inner{
        position: relative;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -16px;
        display: block;

        @media (max-width: 767px) {
            position: relative;
            margin: 7px 0;
            float: left;
        }
        @media (max-width: 480px) {
            margin: 3px 0;
            width: 130px;
        }
    }
    .menu_but{
        display: none;
        position: absolute;
        right: 16px;
        top: 10px;
        width: 40px;
        height: 27px;
        background: url("../img/but_menu_hamburger.svg") 50% 50% no-repeat;
        background-size: contain;
        cursor: pointer;
        .user-select(none);

        @media (max-width: 767px) {
            display: block;
        }
        @media (max-width: 480px) {
            width: 20px;
            height: 13px;
        }
    }
    ul.main-menu {
        width: 100%;
        padding: 12px 210px 12px 200px;
        margin: 0;
        list-style: none;
        font-size: 0;
        text-align: center;

        @media (max-width: 767px) {
            padding: 20px 0px 0px 0px;
            clear: both;
            .animate(0.3s, fadeOutUp);
            display: none;
            text-align: justify;
        }

        li {
            display: inline-block;
            margin-left: 35px;
            margin-right: 35px;
            font-weight: @light;
            font-size: 17px;
            color: #FFF;
            text-align: center;
            line-height: 32px;

            @media (max-width: 1279px) {
                margin-left: 20px;
                margin-right: 20px;
            }
            @media (max-width: 480px) {
                font-size: 12px;
                margin-left: 10px;
                margin-right: 10px;
                line-height: 15px;
            }

            a {
                color: inherit;

                &.active{
                    font-weight: @bold;
                }
            }
            &.helper{
                width: 100%;
                height: 0;
                visibility: hidden;
            }
            &:first-child{
                @media (max-width: 767px) {
                    margin-left: 5px;
                }
            }
            &.last-child{
                @media (max-width: 767px) {
                    margin-right: 5px;
                }
            }
        }
    }

    ul.additional-menu {
        position: absolute;
        top: 50%;
        right: 0;
        margin: 0;
        margin-top: -25px;
        padding: 0;
        list-style: none;
        font-size: 0;

        @media (max-width: 767px) {
            position: relative;
            margin: 0;
            float: right;
            .animate(0.3s, fadeOutRight);
        }

        li {
            display: inline-block;

            &:first-child a{
                margin-left: 0;
            }
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                margin-left: 12px;
                margin-right: 12px;

                @media (max-width: 767px) {
                    margin-left: 5px;
                    margin-right: 5px;
                }
                @media (max-width: 480px) {
                    background-size: cover !important;
                    width: 30px;
                    height: 30px;
                }

                &.-percent {
                    background: url("../img/additional-menu-percent.svg") 0 0 no-repeat;
                }
                &.-car {
                    background: url("../img/additional-menu-car.png") 0 0 no-repeat;
                }
                &.-pin {
                    background: url("../img/additional-menu-pin.svg") 0 0 no-repeat;
                }
                &.-menu {
                    display: none;
                    background: url("../img/but_menu.svg") 0 0 no-repeat;

                    @media (max-width: 767px) {
                        display: inline-block;
                    }
                }

                &:hover{
                    background-position: 0 100%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        &.-opened{
            .menu_but {
                display: none;
            }
            ul.main-menu {
                display: block;
                .animate(0.3s, fadeInDown);
                opacity: 1;
                visibility: visible;
            }
            ul.additional-menu {
                display: block;
                .animate(0.3s, fadeInRight);
            }
            &>.container {
                max-height: 250px;
                .transition(0.5s);
            }
        }
    }
}

// ### Меню с машинами ###
section.sub-menu {
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    a {
        display: block;
        float: left;
        width: 20%;
        padding: 0 1%;

        img {
            margin: 0 auto 20px auto;

        }
        span {
            display: block;
            text-align: center;
            font-size: 15px;
            font-weight: @light;
            color: #000;
            line-height: 1;

            @media (max-width: 480px) {
                font-size: 8px;
            }
        }
        &.active{
            span{
                font-weight: @medium;
            }
        }
    }
    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

// ### Слайдер
section.slider-main-page{
    position: relative;

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .slider-main::after,
    .bx-wrapper::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        .gradient(rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));

        z-index: 2;
    }
    ul.slider-main{
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
        height: 600px;

        @media (max-width: 767px) {
            height: 500px;
        }
        @media (max-width: 480px) {
            height: 300px;
        }

        li, .container-wrap{
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
        }
        .container-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .container{
                position: relative;
                height: 100%;
            }
        }
        img{
            margin: 0 auto;
        }
        .promo-title_block {
            position: absolute;
            top: 60px;
            left: 40px;

            @media (max-width: 767px) {
                top: 15px;
                left: 30px;
            }

            .promo-title{
                font-size: 70px;
                line-height: 85px;
                color: #FFF;
                text-shadow: 0.5px 1px 0px #000;
                font-weight: @medium;

                @media (max-width: 767px) {
                    font-size: 62px;
                    line-height: 1;
                }
                @media (max-width: 480px) {
                    font-size: 30px;
                }

                a{
                    color: inherit;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .promo-subtitle{
                font-size: 40px;
                color: #FFF;
                text-shadow: 0.5px 1px 0px #000;
                margin-bottom: 10px;

                @media (max-width: 767px) {
                    font-size: 28px;
                    margin-bottom: 5px;
                    font-weight: @bold;
                }
                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }
            .promo-desc{
                font-size: 28px;
                color: #FFF;
                text-shadow: 0.5px 1px 0px #000;
                font-weight: @light;
                width: 45%;
                line-height: 1.2;

                @media (max-width: 767px) {
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: @bold;
                    width: 85%;
                }
                @media (max-width: 480px) {
                    font-size: 8px;
                    line-height: 12px;
                }
            }
        }
        .promo-price-block{
            position: absolute;
            bottom: 100px;
            right: 40px;

            @media (max-width: 767px) {
                bottom: 80px;
                right: 30px;
            }
            @media (max-width: 480px) {
                bottom: 90px;
            }

            .promo-price{
                font-size: 90px;
                line-height: 1;
                font-weight: @medium;
                color: #FFF;
                text-shadow: 0.5px 1px 0px #000;
                text-align: right;

                @media (max-width: 480px) {
                    font-size: 45px;
                }
            }
            .promo-price_desc{
                font-size: 24px;
                font-weight: @light;
                color: #FFF;
                text-shadow: 0.5px 1px 0px #000;
                text-align: right;

                @media (max-width: 767px) {
                    font-weight: @bold;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
            .but-wrap{
                text-align: right;
                margin-top: 30px;

                @media (max-width: 767px) {
                    margin-top: 5px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .bx-wrapper {
            .bx-pager, .bx-controls-auto {
                bottom: 60px;
                text-align: left;
                padding-left: 10px;
            }
            .bx-pager.bx-default-pager a {
                width: 10px;
                height: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
        }
    }
}
section.slider-main-page, section.slider-car-details, section.news-slider{
    .control-next-slide, .control-prev-slide{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        width: 50px;
        height: 90px;

        &:hover{
            cursor: pointer;
            .user-select(none);
            background-color: rgba(0,0,0,1);
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
    .control-next-slide{
        right: 0;
        background: url("../img/slider-next-arrow.png") 50% 50% no-repeat rgba(0,0,0,0.5);
    }
    .control-prev-slide{
        left: 0;
        background: url("../img/slider-prev-arrow.png") 50% 50% no-repeat rgba(0,0,0,0.5);
    }
}

// ### Акции Новости Банер
section.block-action-news {
    .action-news {
        position: relative;
        overflow: hidden;
        height: 500px;
        margin-bottom: 30px;

        .action-news-inner{
            height: 100%;
            background: @c_blue;
        }
        .img-wrap{
            height: 0;
            padding-bottom: 75%;
            overflow: hidden;
            background-position: 50%;
            background-size: cover;
        }


        .type {
            display: block;
            top: 0;
            left: 50%;
            margin-left: -75px;
            background: @c_blue;
            font-size: 17px;
            text-align: center;
            color: #FFF;
            line-height: 1;
            font-weight: 300;
            position: absolute;
            width: 150px;
            padding: 10px;
            text-decoration: none;

            @media (max-width: 480px) {
                font-size: 15px;
                padding: 7px;
            }

            &:hover{
                background: @c_bright_blue;
                text-decoration: none;
            }
        }

        .text-wrap {
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            padding: 50px 30px;
            background: @c_blue;

            @media (max-width: 991px) {
                padding: 30px 30px;
            }

            .date {
                font-size: 12px;
                font-weight: @light;
                color: #FFF;
                line-height: 1;
                margin-bottom: 8px;
            }
            .title {
                font-size: 28px;
                font-weight: @light;
                color: #FFF;
                line-height: 1.286;
                margin-bottom: 20px;
            }
            .desc {
                font-size: 15px;
                font-weight: @light;
                color: #FFF;
                line-height: 1.467;
            }
        }
    }
    .banner{
        .banner-inner{
            border: 1px solid #999999;
            position: relative;
            height: 500px;

            @media (max-width: 480px) {
                height: initial;
                padding-bottom: 15px;
            }
        }
        p{
            font-size: 16px;
            padding: 10px 50px 20px 50px;
            margin: 0;

            @media (max-width: 991px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .img-wrap {
            img {
                width: 100%;
            }
        }
    }
}

// ### 360
section.block-360{
    .container{
        position: relative;
        text-align: center;
    }

    .car360{
        display: inline-block;
    }
    .icon360 {
        position: absolute;
        top: 20px;
        right: 20px;

        @media (max-width: 767px) {
            position: absolute;
            top: initial;
            bottom: 30px;
            right: 50%;
            margin-right: -33px;
        }

        span{
            font-weight: @light;
            font-size: 15;
            color: #364044;
            padding-left: 15px;
        }
    }
}

// ### Блок сравнений
section.block-comparison{
    .comparison-wrap{
        position: relative;
        padding: 30px 0;

        @media (max-width: 480px) {
            text-align: center;
        }

        &>div{
            @media (max-width: 480px) {
                padding-top: 30px;
            }
        }
        & .see-but{
            @media (max-width: 480px) {
                position: relative;
                top: initial;
                right: initial;
            }
        }
    }
    a.see-but{
        position: absolute;
        top: 15px;
        right: 5px;
        z-index: 1;
    }
    .comparison-table{
        .other-car{

            &>div{
                padding: 10px 0;
                height: 105px;

                .img-wrap{
                    padding: 0 20px;

                    @media (max-width: 480px) {
                        padding: 0 25px;
                    }

                    img{
                        margin: 0 auto;
                        margin-bottom: -10px;
                    }
                }

                span{
                    display: block;
                    font-size: 18px;
                    color: #666;

                    @media (max-width: 767px) {
                        margin-top: 5px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .icon-diag{
        background-position: 0 100%;
        margin: 34px 0;

        &.-stars{
            background-image: url('../img/stars_diag.png');
            height: 19px;
            width: 105px;

            .points_2{
                width: 42px;
            }
            .points_3-4{
                width: 73px;
            }
            .points_4-5{
                width: 94px;
            }
            .points_5{
                width: 105px;
            }
        }
        &.-benz{
            background-image: url('../img/benz_diag.png');
            height: 22px;
            width: 192px;

            .points_6{
                width: 144px;
            }
            .points_6-7{
                width: 153px;
            }
            .points_7{
                width: 168px;
            }
            .points_7-8{
                width: 177px;
            }
        }

        .icon-diag-fill {
            background-image: inherit;
            background-repeat: repeat;
            background-position: 0 0;
            height: 100%;
        }
    }
    .features-block{
        //overflow: auto;
        padding-top: 15px;

        .features-block-inner .help-width{
            width: 880px;
        }
        .bx-viewport{
            overflow: visible !important;
        }

        ul.slider-features-car{
            margin: 0;
            padding: 0;

            li {

            }
        }
        table{
            color: #666666;
            font-size: 15px;
            font-weight: @light;

            tr:first-child {
                color: #000;
                font-size: 24px;
                font-weight: @bold;

                td {
                    border-top: none;
                }
            }
            tr{
                td{
                    vertical-align: middle;
                    padding-left: 0;
                    padding-right: 25px;
                }
                &.feature-info{
                    td{
                        white-space: nowrap;
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                }
            }
        }
    }
}

// ### Галерея
section.block-gallery{
    .column-gallery-wide{
        width: 37.5%;
        float: left;

        @media (max-width: 480px) {
            width: 42.85%;
            float: right;
        }
    }
    .column-gallery{
        width: 25%;
        float: left;

        @media (max-width: 480px) {
            width: 57.15%;
        }
    }
    .img-wrap{
        display: block;
        height: 0;
        padding-bottom: 75%;
        overflow: hidden;
        background-position: 50%;
        background-size: cover;
    }
    .item{
        display: block;
        position: relative;

        span.text{
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 32%;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18px;
            font-weight: @light;
            color: #FFF;
            background: rgba(0,0,0,0.5);
            .transition(0.3s)
        }
        &:hover{
            span{
                opacity: 1;
            }
        }

        &.-video::before{
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 95px;
            height: 58px;
            margin-top: -29px;
            margin-left: -48px;
            background: url("../img/but_video-play.png") 0 0 no-repeat;
            opacity: 1;
            .transition(0.3s)
        }
        &.-video:hover::before{
            opacity: 0.2;
        }
    }
}

section.dealer-head{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .container{
        position: relative;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .promo-title{
        font-size: 70px;
        line-height: 85px;
        color: #FFF;
        text-shadow: 0.5px 1px 0px #000;
        font-weight: @medium;

        @media (max-width: 767px) {
            font-size: 62px;
            line-height: 1;
        }
        @media (max-width: 480px) {
            font-size: 30px;
        }

        a{
            color: inherit;

            &:hover{
                text-decoration: none;
            }
        }
    }
    .promo-subtitle{
        font-size: 40px;
        color: #FFF;
        text-shadow: 0.5px 1px 0px #000;
        margin-bottom: 10px;

        @media (max-width: 767px) {
            font-size: 28px;
            margin-bottom: 5px;
            font-weight: @bold;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    .promo-desc{
        font-size: 28px;
        color: #FFF;
        text-shadow: 0.5px 1px 0px #000;
        font-weight: @light;
        line-height: 1.2;

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 25px;
            font-weight: @bold;
            width: 85%;
        }
        @media (max-width: 480px) {
            font-size: 8px;
            line-height: 12px;
        }
    }
    .but-wrap{
        margin-top: 80px;

        @media (max-width: 767px) {
            margin-top: 5px;
        }
    }
}

section.news-slider{
    .slider-all-wrap{
        position: relative;
    }
    .bx-controls{
        display: none;
    }
    .news-item{
        background: #0051a1;
        color: #FFF;

        .image-wrap{
            padding-left: 0;
        }
        .text-wrap{
            padding-right: 100px;

            .news-date {
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .news-title{
                color: #FFF;
                a {
                    color: inherit;
                }
            }
            a{
                &:hover{
                    color: inherit;
                }
            }
        }

    }
}
// ### Блок “Мнения об автомобилях”
section.block-review{
    .container{
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .review{
        padding-top: 20px;
        padding-bottom: 20px;
        .review-inner{
            padding-right: 10%;

            @media (max-width: 767px) {
                padding-right: 0px;
                clear: right;
            }
        }
        .name{
            font-size: 28px;
            font-weight: @light;
            margin-bottom: 20px;
        }
        .info{

        }
        .author{
            margin-top: 20px;
        }
        img{
            margin: 0 auto 0 auto;

            @media (max-width: 767px) {
                float: right;
                margin-bottom: -45px;
                width: 45%;
            }
        }
    }

}

// ### Карта
section.map{
    #map-offices{
        width: 100%;
        height: 700px;

        @media (max-width: 991px) {
            height: 500px;
        }
        @media (max-width: 767px) {
            height: 400px;
        }
        @media (max-width: 480px) {
            height: 280px;
        }
    }
    .map-top-menu{
        background: @c_blue;
        padding: 20px 0;
        text-align: center;

        h3{
            color: #FFF;
            font-weight: @light;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}
.search-form-wrap{
    display: inline-block;
    position: relative;
    max-width: 980px;
    width: 100%;

    .input-wrap{
        position: relative;
        padding-right: 130px;

        @media (max-width: 480px) {
            padding-right: 0px;
        }

        .input-inner{
            position: relative;
        }
        input{
            background: url('../img/search-logo.svg') 20px 50% no-repeat rgba(0, 0, 0, 0);
            border: 2px solid #FFF;
            width: 100%;
            height: 50px;
            padding-left: 55px;
            padding-right: 100px;
            color: #FFF;
            font-size: 16px;

            @media (max-width: 767px) {
                padding-right: 80px;
            }
            @media (max-width: 480px) {
                height: 39px;
                font-size: 14px;
                padding-left: 40px;
                background-position: 12px 50%;
            }

            &::-webkit-input-placeholder {
                color: #FFF;
            }
            &:-moz-placeholder {
                color: #FFF;
                opacity: 1;
            }
            &::-moz-placeholder {
                color: #FFF;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                color: #FFF;
            }
        }
        .btn_geoposition{
            display: block;
            background: url("../img/navigate-logo.svg") 0 0 no-repeat;
            width: 28px;
            height: 28px;
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: 65px;
            cursor: pointer;

            @media (max-width: 767px) {
                right: 50px;
            }

            &:hover{
                background-position: 0 100%;
            }
        }
        .btn_all_dealers {
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: 25px;
            font-size: 16px;
            line-height: 28px;
            color: #FFF;
            text-decoration: underline;

            @media (max-width: 767px) {
                right: 13px;
            }

            &:hover{
                text-decoration: none;
            }
        }
    }
    .search-but{
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: 480px) {
            position: relative;
            margin-top: 5px;
            width: 120px;
            font-size: 12px;
            line-height: 30px;
        }
    }

    &.form-text-search{
        float: right;
        max-width: 385px;
        text-align: center;

        .input-wrap{
            input {
                color: #000;
                padding-right: 5px;
                background: url('../img/search-logo-blue.png') 20px 50% no-repeat rgba(0, 0, 0, 0);
                border: 1px solid #000;
                .rounded(2px);

                &::-webkit-input-placeholder {color:#000;}
                &::-moz-placeholder          {color:#000;}
                &:-moz-placeholder           {color:#000;}
                &:-ms-input-placeholder      {color:#000;}
            }
        }
    }
}
// ### Футер
footer{
    padding: 50px 0 50px 0;

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
    .footer-link{
        margin-bottom: 30px;

        h3{
            font-weight: @light;
            margin-top: 10px;
            margin-bottom: 25px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                color: @c_blue;
                margin-bottom: 0.67em;

                a{
                    color: inherit;
                }
            }
        }
    }
    .additional-menu-wrap{
        margin-right: -10px;

        ul.additional-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
            text-align: right;

            @media (max-width: 767px) {
                text-align: center;
            }

            li {
                display: inline-block;

                &:first-child a{
                    margin-left: 0;
                }
                a {
                    display: inline-block;
                    width: 49px;
                    height: 49px;
                    margin-left: 12px;
                    margin-right: 12px;
                    margin-bottom: 20px;

                    @media (max-width: 767px) {
                        margin-left: 4px;
                        margin-right: 4px;
                    }
                    @media (max-width: 480px) {
                        margin-left: 12px;
                        margin-right: 12px;
                    }

                    &.-credit {
                        background: url("../img/additional-menu-credit.svg") 0 0 no-repeat;
                    }
                    &.-testdrive {
                        background: url("../img/additional-menu-testdrive.png") 0 0 no-repeat;
                    }
                    &.-dealers {
                        background: url("../img/additional-menu-dealers.svg") 0 0 no-repeat;
                    }
                    &.-calendar {
                        background: url("../img/additional-menu-calendar.svg") 0 0 no-repeat;
                    }

                    &:hover{
                        background-position: 0 100%;
                    }
                }
            }
        }
    }
    .footer-search-form{
        .search-wrap{
            position: relative;
        }
        label{
            font-size: 15px;
            font-weight: @light;
            margin-bottom: 20px;
        }
        .subscrube_button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            height: 34px;
            vertical-align: top;
            .border-radius(0, 2px, 2px, 0);
            width: 70px;
            background: @c_blue url("../img/icon-mailer.svg") no-repeat 50% 50%;

            &:hover{
                background-color: @c_bright_blue;
            }
        }
        input[type='email']{
            height: 34px;
            width: 100%;
            padding: 0 70px 0 10px;
            border: 1px solid #999999;
            .rounded(2px);

        }
    }
    .footer-copyright{
        margin-top: 20px;
        display: table;
        width: 100%;

        @media (max-width: 767px) {
            display: block;
        }

        p{
            display: table-cell;
            font-weight: @normal;

            @media (max-width: 767px) {
                display: block;
                text-align: center;
            }
        }
        .footer-logo{
            display: table-cell;
            padding-left: 40px;

            @media (max-width: 767px) {
                display: inline-block;
                width: 100%;
                text-align: center;
                padding-left: 0px;
                margin-top: 20px;
            }
        }
    }
}

.color-wrap{
    input{
        display: none;

        &:checked + label{
            border: 1px solid #ccc;
            visibility: visible;
        }
    }
    label {
        display: block;
        cursor: pointer;
        visibility: hidden;
        float: left;
        text-align: center;
        margin-right: 5px;
        padding: 2px 2px 5px 2px;
        border: 1px solid #fff;
        width: 156px;
        .rounded(3px);

        &::before{
            content: "";
            display: block;
            width: 150px;
            height: 50px;
            background: #F00;
            visibility: visible;
        }

        &.color-1{
            &::before{
                background: #aa4d00;
            }
        }
        &.color-2{
            &::before{
                background: #dee7e8;
            }
        }
        &.color-3{
            &::before{
                background: #1c2d37;
            }
        }
        &.color-4{
            &::before{
                background: #141414;
            }
        }
        &.color-5{
            &::before{
                background: #dfdcd9;
            }
        }
    }
}

.services-wrap{
    &>div{
        margin-bottom: 20px;
    }
    .type-wrap{
        text-align: center;
        position: absolute;
        top: 0;
        width: 97%;
        margin-left: -7px;

        .type{
            display: inline-block;
            background: #0051a1;
            font-size: 17px;
            text-align: center;
            color: #FFF;
            line-height: 1;
            font-weight: 300;
            min-width: 150px;
            padding: 10px;
            text-decoration: none;

            &:hover{
                background: #00a8e6;
                text-decoration: none;
            }
        }
    }
    .item{
        border: 1px solid #999999;

        .block{
            position: relative;
            height: 280px;
            padding: 30px 15px 30px 30px;

            ul{
                list-style-position: outside;
            }

            .btn{
                padding-left: 5px;
                padding-right: 5px;
                bottom: 20px;
                position: absolute;
                left: 20px;
                right: 20px;
            }
        }
    }
}

.col-20{
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}
.auto-block{
    .btn{
        display: block;
        margin: 0 auto 10px auto;
        max-width: 180px;
        text-transform: uppercase;
        height: 36px;
        padding: 0 10px;
        text-align: center;
        line-height: 36px;
        border: 1px solid #222;
        .rounded(3px);
        cursor: pointer;
        font-size: 15px;
        color: #000;
        font-weight: @bold;
        text-decoration: none;

        &:hover{
            background: #f2f2f2;
        }
    }
}
//### 360 styles ###
.rollerblade-img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.rollerblade-drag {
    cursor:w-resize;
}
//### 360 styles end

//### google map style ###
.map-labels {
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    text-shadow: 1px 1px 3px #FFF;
    overflow: visible!important;

    .map-labels-inner{
        position: relative;
        left: -50%;
    }
}
.infobox-wrapper {
    display:none;
}
#infobox {
    .modal-map{
        width: 380px;
        background:#FFF;
        color:#000;
        font-size:13px;
        .border-radius(5px, 5px, 5px, 5px);
        .box-shadow(0 5px 5px rgba(0,0,0,0.35));

        @media (max-width: 480px) {
            width: 300px;
        }
        &>div{
            padding: 18px 30px;

            @media (max-width: 480px) {
                padding: 5px 10px;
            }
        }
        .info{
            .name{
                font-size: 18px;
                font-weight: @medium;
                margin-bottom: 10px;
            }
            .more-info-block{
                padding: 15px 30px 0px 30px;

                @media (max-width: 480px) {
                    padding: 5px 10px 0px 10px;
                }
            }
            @media (min-width: 768px){
                dl{
                    dt{
                        font-weight: normal;
                        text-align: left;
                        width: 100px;
                        margin-bottom: 5px;
                    }
                    dd{
                        margin-left: 100px;
                        text-align: right;
                    }
                }
            }
            dl {
                @media (max-width: 480px) {
                    margin-bottom: 5px;
                }
            }

        }
        .hrefs{
            background: @c_blue;
            .border-radius(0, 5px, 5px, 0);
            color: #FFF;

            a{
                color: inherit;
                text-decoration: underline;

                &.phone{
                    display: block;
                    float: left;
                    background: url("../img/modal-phonepng.png") 50% no-repeat;
                    width: 27px;
                    height: 25px;
                    margin-right: 15px;
                }
                &.mail{
                    display: block;
                    float: left;
                    background: url("../img/modal-email.png") 50% no-repeat;
                    width: 27px;
                    height: 25px;
                }
                &.page{
                    display: block;
                    float: right;
                    background: url("../img/modal-arrow.png") 100% 50% no-repeat;
                    padding-right: 15px;;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

//### google map style end


section.check-action{
    padding: 4em 0 6em 0;

    .text{
        font-size: 28px;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}

//### Sidebar
.sidebar{
    background: @c_blue;
    color: #FFF;
    padding: 20px 30px 25px 30px;

    h3{
        font-weight: @medium;
    }
    a{
        color: inherit;
    }
}

//### Sidebar end


//### News
section.news-block{
    .news-item{
        padding: 40px 0;

        .news-title{
            a{
                color: @c_blue;
            }
        }
        .news-date{
            margin-bottom: 20px;
        }

        &.news-main{
            .news-info{
                padding: 0 100px;

                @media (max-width: 767px) {
                    padding: 0px;
                }
            }
            .news-img{
                margin: 0 -50px;
                width: auto;
            }
        }
    }
}
//### News end
.after-news-block{
    a{
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 10px;

        &.-print{
            background: url("../img/icon-print.png") 50% 50% no-repeat;
        }
        &.-mail{
            background: url("../img/icon-mailer-blue.png") 50% 50% no-repeat;
        }
        &.-favorite{
            background: url("../img/icon-star.png") 50% 50% no-repeat;
        }
        &.-share{
            background: url("../img/icon-share.png") 50% 50% no-repeat;
        }
    }
}
.slider-comparison-car-wrap{
    position: relative;
    height: 170px;

    .control-prev-slide, .control-next-slide{
        display: block;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 43px;
        cursor: pointer;
        .user-select(none);

        @media (max-width: 1279px) {
            width: 35px;
            height: 35px;
            background-size: cover !important;
        }
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
            top: 25px;
        }
        @media (max-width: 480px) {
            width: 25px;
            height: 25px;
        }
    }
    .control-prev-slide{
        left: 0;
        background: url("../img/slider-car-prev.png");
    }
    .control-next-slide{
        right: 0;
        background: url("../img/slider-car-next.png");
    }
    ul.slider-comparison-car{
        margin: 0;
        padding: 0;

        li{
            @media (max-width: 767px) {
                overflow: hidden;
            }
            span{
                display: block;
                text-align: center;
                font-size: 28px;
                font-weight: @bold;
                color: #000;
                line-height: 1;
                margin-bottom: -5px;

                @media (max-width: 767px) {
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            }
            .img-wrap{
                padding: 0 20px;

                img{
                    margin: 0 auto;
                }
            }
            .type-wrap{
                text-align: center;
                padding: 8px 0;
                .btn-comparison-type{
                    display: inline-block;
                    text-transform: uppercase;
                    height: 32px;
                    padding: 0 28px;
                    line-height: 32px;
                    border: 1px solid #222;
                    border-radius: 2px;
                    cursor: pointer;
                    font-size: 15px;
                    color: #000;
                    font-weight: @bold;
                    margin-bottom: 5px;
                    text-decoration: none;

                    @media (max-width: 480px) {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
.credit-calculator{
    margin-bottom: 40px;

    .settings-car{
        position: relative;
        z-index: 1;
    }
    .car-preview{
        position: relative;
        top: -80px;
        height: 450px;
        overflow: hidden;
        margin-bottom: -100px;
    }
    .info-car{
        margin-top: 100px;
    }
    .text-1{
        font-size: 26px;
        font-weight: @light;
        color: #222222;
        margin: 20px 0 0px 0;
    }
    .text-2{
        font-size: 46px;
        font-weight: @medium;
        color: #222222;
        line-height: 1;
    }
    .slider-value{
        margin-bottom: 30px;
    }
}

@import "style2.less";