.catalog-item {
    position: relative;
    padding: 5px 0;

    &>img{
        margin: auto;
        display: block;
    }

    &  > a {
        display: block;
        margin: 0 auto;
        max-width: 260px;
        position: relative;
        width: 100%;
    }
}

.catalog-block {
    .catalog {
        display: table-row;
        margin-bottom: 40px;
    }

    .catalog-item {
        display: table-cell;
        width: 20%;
    }
}

.catalog-item-title {
    font-size: 15px;
    margin-top: -18px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.catalog-item-price {
    background-color: #FFDC00;
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}


.catalog-item-table{

    & > li{
        height: 39px;
        line-height: 39px;
        border-top: 1px solid #E9E9E9;
        padding: 0 8px 0 26px;
        margin: 0 10px;
        list-style: none; 

        &:first-child {
            border: none
        }

        &.item-active{
            .val {
                background: #ffdb00;
                font-weight: bold;
                line-height: 28px;
                margin-top: 6px;
            }  
        }

        .val {
            padding:  0 8px;
            float: right;
        }
    }
}

.catalog-item-over {
    width: 100%;
    height: 100%;
    padding: 10px 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -10px 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,.75);
    background: #fff;
    display: none;
   
}

.catalog-item-button {
    position:absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 10px -119px;
    width: 124px;
}

.catalog-item-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 10px -5px;
    width: 124px;
    background-color: transparent;
    color: #0051A1;
}


.catalog-item:hover .catalog-item-over {
    display: block;
    z-index: 8;
}
.catalog-item:hover > a,
.catalog-item:hover .catalog-item-title {
    z-index: 9;
}

.jq-selectbox li{text-align: left;}
.text-right > div *{
    text-align: center;
}

.comparison-table.text-center{
    .cars-column{
        width: 60%;
        margin: auto;

    }

    @media (max-width: 1279px) {
      .cars-column{
           width: 100%;
        }
    }

}

.flright{float: right;} 
.fsz16{font-size: 16px; line-height: 28px;}

.modal-small .modal-header{
    padding: 10px 80px 10px;
}

.modal-small .modal-lg .modal-body{
    padding: 0 80px 20px;
    
    p{
        text-align: center;
        
        &.mail{
            min-height: 120px;
            line-height: 120px;
            font-size: 28px;
            color: #192634;
            
            span{
                background: url(../img/icon-letter.png) no-repeat center left;
                height: 120px;
                width: 120px;
                display: inline-block;    
                vertical-align: middle;
                margin-right: 20px;            
            }
        }

        &.mess{
            min-height: 120px;
            line-height: 1.3;
            font-size: 28px;
            color: #192634;
            padding-top: 25px;
            text-align: left;
            
            span{
                background: url(../img/icon-mess.png) no-repeat center left;
                height: 120px;
                width: 120px;
                display: inline-block;    
                vertical-align: middle;
                margin-right: 20px; 
                float: left;  
                margin-top: -25px;                         
            }
        }
    }
}

.modal-alert{
    min-height: 120px;
    line-height: 1.3;
    font-size: 28px;
    color: #192634;
    padding-top: 25px;
    text-align: left;
    margin: 1.2em 0;
}



.custom-radio p{
    margin: 0;
}

.custom-checkbox span.red-star{
    float: none;
}

.blocks-3-wrap{
//    display: table;
//    height: 100%;
    overflow: hidden;

    &>div{
//        display: table-cell;
//        vertical-align: top;
//        height: 100%;
//        float: none;
//        margin-bottom: 20px;

        @media (max-width: 767px) {
            display: block;
            height: auto;
        }

        &:last-child{
            @media (max-width: 991px) {
//                display: table-caption;
                float: left;
            }
        }
    }

    .serv{
        position: relative;
        float: none;
        height: 100%;
        background: #0051A1;
        color: #fff;
        padding-top: 20px;

        margin-bottom: -99999px;
        padding-bottom: 99999px;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background: #FFF;
        }

        @media (max-width: 767px) {
            height: auto;
        }
        &.-blue{
            background: #0051A1;
            color: #FFF;
        }
        &.-gray{
            background: #e8e8e8;
            color: #000;
        }

        img{
            width:100%
        }

        .block{
            margin: 10px 0;
            padding: 10px 30px 20px 30px;
        }
    }
}


.description{
    font-size: 13px;
    padding-left: 16px;
    display: block;
}

.width-full{
    width: 100%;
}

.modal .map-top-menu{
    background: #0051A1;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
}

.modal .map-top-menu h3{margin-top: 0;}
