<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/palette.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/themify-icons.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/tinyeditor.css" />

        <link rel="stylesheet" type="text/css" href="/admin_assets/css/custom-style.css" />
        <link rel="stylesheet" type="text/css" href="/admin_assets/css/{{render(controller('SiteBackendBundle:Home:getScheme'))}}.css" />
<!--         <link rel="stylesheet" type="text/css" href="/admin_assets/css/style.css" /> -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        <script type="text/javascript" src="/admin_assets/scripts/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/admin_assets/scripts/plugins/jquery.maskedinput.min.js"></script>

<!--        <script type="text/javascript" src="/admin_assets/scripts/plugins/tiny.editor.js"></script>-->
        <script type="text/javascript" src="/admin_assets/scripts/plugins/tiny.editor.packed.js"></script>

        <script type="text/javascript" src="/admin_assets/scripts/bootstrap.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/jquery.appear.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/fastclick.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/sortable.min.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/offscreen.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/main.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/scripts.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/errors.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/plugins/datepicker.js"></script>
        <script type="text/javascript" src="/admin_assets/scripts/plugins/drag-and-drop.js"></script>
        
        {% endblock %}
    {% if app.session.get('admin.current-permissions.create') is defined %}
        {% if app.session.get('admin.current-permissions.create') != 1 %}
        <style>
        .permission-add{
            display: none;
        }
        </style>
        {% endif %}
    {% endif %}
    {% if app.session.get('admin.current-permissions.edit') is defined %}
        {% if app.session.get('admin.current-permissions.edit') != 1 %}
        <style>
        .permission-edit{
            display: none;
        }
        </style>
        {% endif %}
    {% endif %}
    {% if app.session.get('admin.current-permissions.delete') is defined %}
        {% if app.session.get('admin.current-permissions.delete') != 1 %}
        <style>
        .permission-delete{
            display: none;
        }
        </style>
        {% endif %}
    {% endif %}
    </head>
    <body>
        <div id="cover">
            <div id="loader-text">Сохранение...</div>
            <div id="loader-general"></div>
        </div>
    <div class="app">
            <header class="header header-fixed navbar">
                <!--<div class="admin-logo"></div> -->
                {{render(controller('SiteBackendBundle:Home:getBreadcrumbs'))}}
            </header>
            <section class="layout">
                <aside class="sidebar offscreen-left">

                            <nav id="left-col" class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
                                <p class="nav-title">Меню >> 
                                <a id="show-all" href="javascript:void(0);">Развернуть все</a>
                                <a id="hide-all" href="javascript:void(0);" style="display:none;">Свернуть все</a>
                                </p>
                                <ul class="nav">
                                    <li>
                                        <a href="/admin">
                                        <i class="ti-home"></i>
                                        <span>Главная</span>
                                        </a>
                                    </li>
                                        {{render(controller('SiteBackendBundle:Home:getMenu'))}}
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                </aside>
                <section class="main-content">
                    <div class="content-wrap">
                        <div class="wrapper">

                        {% block content %}
                            Контент
                        {% endblock %}

                        </div>
                    </div>
                </section>
            </section>
        </div>
        <footer id="footer"></footer>

    </body>
</html>