<!DOCTYPE html>
<html>
<head>

    <title>Lada club</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <link href="/front_assets/css/bootstrap-tn.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/bootstrap-custom.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/jquery.bxslider.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/ilightbox.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/tipped.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/jquery.formstyler.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/animate.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/style.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/style2.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/dev-style.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/front.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/test-drive.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/jquery.nouislider.css" rel="stylesheet" type='text/css'>

    <link href="/front_assets/css/resolution.css" rel="stylesheet" type='text/css'>
    <link href="/front_assets/css/menu.css" rel="stylesheet" type='text/css'>
    {% block javascripts %}
    <script src="/front_assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.liblink.js"></script>
    <script type="text/javascript" src="/front_assets/js/ilightbox.packed.js"></script>
    <script type="text/javascript" src="/front_assets/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/front_assets/js/bootstrap-progressbar.js"></script>
    <script type="text/javascript" src="/front_assets/js/bootstrap-tabs.js"></script>
    <script type="text/javascript" src="/front_assets/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/front_assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/front_assets/js/tipped.js"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.formstyler.js"></script>
    <script type="text/javascript" src="/front_assets/js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="/front_assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/front_assets/js/menu_ontop.js"></script>


    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/front_assets/js/offices.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyASjOWkTFxaV2QHIEMVkbyzLABP_yWirpo&sensor=true"></script>-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyASjOWkTFxaV2QHIEMVkbyzLABP_yWirpo&sensor=true"></script>
    <script src="/front_assets/js/markerwithlabel.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="/front_assets/js/infobox.js" type="text/javascript"></script>
    <script type="text/javascript" src="/front_assets/js/rollerblade.js"></script>
    <script type="text/javascript" src="/front_assets/js/script.js"></script>
    <script type="text/javascript" src="/front_assets/js/script2.js"></script>
    <script type="text/javascript" src="/front_assets/js/front.js"></script>

    {% endblock %}
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>
<body>
{% if abortheader is not defined %}
    <header>
        <div class="region-menu-top">
            <div class="dealer-name">Предложения официальных дилеров LADA в {{region.for}}</div>
            <div class="arrow-wrap">
                <div class="arrow"><!----></div>
            </div>
            <div class="dealer-list-wrap">
                <div class="container">
                    <div class="ul-regions-wrap">
                        <div class="ul-regions-inner">
                            <ul>
                                {% for region in regions %}
                                <li>
                                    <a href="http://{{region.alias}}.reglada.ru">
                                        {% if region.alias == alias %}<b>{% endif %}
                                        {{region.name}}
                                    {% if region.alias == alias %}</b>{% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-inner clearfix">
                <a href="/" class="logo">
                    <img src="/front_assets/img/logo.png" alt="" class="img-responsive"/>
                </a>
                <a class="menu_but"><!----></a>
                <ul class="additional-menu">
                    <li><a href="/share" {% if percent_menu is defined %} style="background-position:0 100%"{% endif %} class="have-tooltip -percent" title="Акции"><!----></a></li>
                    <li><a href="/configurator" {% if car_menu is defined %} style="background-position:0 100%"{% endif %} class="have-tooltip -car" title="Конфигуратор"><!----></a></li>
                    <li><a href="/dealers" {% if pin_menu is defined %} style="background-position:0 100%"{% endif %} class="have-tooltip -pin" title="Дилеры"><!----></a></li>
                    <li><a href="#" class="have-tooltip -menu"><!----></a></li>
                </ul>
                <ul class="main-menu">
                    <li><a href="/car/1" {% if main_menu_cars is defined %}
                    {% if main_menu_buy is not defined and main_menu_owners is not defined and main_menu_news is not defined %}
                    class="active"
                    {% endif %}
                    {% endif %}>Автомобили</a></li>
                    <li><a href="/buy/calculator" {% if main_menu_buy is defined %}class="active"{% endif %}>Покупка</a></li>
                    <li><a href="/owners/insurance" {% if main_menu_owners is defined %}class="active"{% endif %}>Владельцам</a></li>
                    <li><a href="/news" {% if main_menu_news is defined %}class="active"{% endif %}>Новости</a></li>
                    <li class="helper"><!----></li>
                </ul>
            </div>
        </div>
    </header>
    {{ render(controller('SiteFrontendBundle:Home:getInfoMessage',{'type':'callback'})) }}
{% endif %}
{% if abortcars is not defined %}
        {% set carsimgs = ['granta','kalina','priora','largus','4x4'] %}
        {% set active = false %}
        {% if acar is defined %}
            {% set active = acar %}
        {% endif %}
        {% if activecar is not defined %}
            {% set activecar = false %}
        {% endif %}
        {{ render(controller('SiteFrontendBundle:Home:carsSubMenu',{'active':active,'activecar':activecar})) }}
{% endif %}

{% block content %}{% endblock %}

{% if map is not defined or map != false %}
    {{render(controller('SiteFrontendBundle:Home:map'))}}
{% endif %}
{% if request is defined %}
    <div title="выберите дилерский центр" data-toggle="tooltip"  class="have-tooltip text-center ttp m-t40-b-40">
        <div class="btn btn-type1 sendinfo disabled">Отправить заявку</div>
    </div>
{% endif %}
{% if abortfooter is not defined %}
    {{render(controller('SiteFrontendBundle:Home:footer',{'active':active}))}}
    {{render(controller('SiteFrontendBundle:Home:rules'))}}
{% endif %}
    <div class="modal modal-small" id="callback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h3>Отправить на почту</h3>
                </div>
                <div class="modal-body">
                    <form action="#" class="clearfix form-callback">
                        <div class="col-sm-8 col-lg-offset-2 col-lg-8 clearfix">
                            {{ render(controller('SiteFrontendBundle:Home:getLeftForm',{'alias':'form-callback'})) }}
                        </div>
                        <div style="margin-left:40%" class="btn btn-type1 callback" onclick="getFeilds('callback');$('#callback .close').trigger('click');">Отправить</div>
            </form>
                </div>
            </div>
        </div>
    </div>
    <div id="forming" class="hidden">
    <div id="cover">
    </div>
    <div id="cover-content">
        <div id="question">
            <div class="inner">
                <div class="info">
                <div class="col-md-12">
                    <h5 id="text-message">Поля не заполнены или заполнены некорректно</h5>
                    <a class="btn btn-primary" onclick="$('#forming').addClass('hidden')" id="">Ок</a>
                </div>
                

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>