<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/cabinet_assets/css/reset.css" />
    <link rel="stylesheet" href="/cabinet_assets/css/style.css" />
    <link rel="stylesheet" href="/cabinet_assets/css/core-ui-select.css" />
    <link rel="stylesheet" href="/cabinet_assets/css/jquery-ui-1.9.2.custom.min.css" />
    <!--[if lte IE 8]><link href= "/cabinet_assets/css/ie.css" rel= "stylesheet" media= "all" /><![endif]-->
    <!--[if lt IE 9]>
		<script src="/cabinet_assets/js/html5-ie.js"></script>
		<script src="/cabinet_assets/js/respond.min.js"></script>
	<![endif]-->
    <script src="/cabinet_assets/js/jquery-1.8.3.min.js"></script>
    <script src="/cabinet_assets/js/jquery.placeholder.min.js"></script>
    <script src="/cabinet_assets/js/jquery.core-ui-select.js"></script>
    <script src="/cabinet_assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/cabinet_assets/js/script.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">

    <body>
        <div class="overlay"></div>
        <!-- wrap -->
        <div class="wrap">
            <!-- header -->
            <header class="header">
                <div class="inner_box">
                    <div class="welcome">
                        Добро пожаловать, <b>{{ app.user.fio }}!</b>
                    </div>
                    <nav class="auth">
                        <a href="">Изменить пароль</a>
                        <a href="/logout" class="btn">Выйти</a>
                    </nav>
                </div>
            </header>
            <!-- /header -->
            {% block content %}{% endblock %}
        </div>
        <!-- /wrap -->
    </body>
</html>