{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

              $('#timeZone').on('change',function(){
                var diff = parseInt($(this).val());
                var gtime = '{{gtime}}';
                var h = gtime.split(':');
                if ( h[1].indexOf("AM") > -1){
                  var p = 'AM';
                }
                else{
                  var p = 'PM';
                }
                var m = $.trim(h[1].replace(p,''));
                h = parseInt(h[0]);
                h = h+diff;
                if ( h > 12 ){ h = h - 12;
                if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if ( h <= 0 ){
                  h = h + 12;
                  if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if( h < 10){ h = '0'+h; }
                var put = h+':'+m+' '+p;
                $('.local-time').html(put);
              })

                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function getData(){
              var data = {};
              data['name'] = $('#name').val();
              data['alias'] = $('#alias').val();
              data['status'] = $('#status').val();
              data['timeZone'] = $('#timeZone').val();
              data['for'] = $('#for').val();
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.user_region_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#'+k));
                    })
                    }

                    ajaxResponseHandler(1);
                }
              console.log(data);
              return data;
            }

            function saveData(){
                enableCover();
                var data = getData();
              $.ajax({
                  url: '{{ path('ajax_regionssites_add') }}',
                  data: data,
                  dataType : 'json',
                  type: 'post',
                  success: function (response, textStatus) {
                  if ( response == false){
                    admin.errors.region_add = 'такой саб-домен уже существует';
                    ajaxResponseHandler(1);
                  }
                  else{
                      disableCover();
                      showSuccessMessage();
                  }
                  },
                  error: function(e){
                    disableCover();
                    showErrorMessage();
                    console.log(e.message);
                  }
              });
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Regions:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Создание регионального сайта</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-8"><input id="name" class="form-control" type="text" value="" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Р/п региона</label>
                <div class="col-sm-8"><input id="for" class="form-control" type="text" value="" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Url-адрес</label>
                <div class="col-sm-8"><input id="alias" class="form-control" type="text" value="" /></div>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">Статус региона</label>
                <select id="status" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1">Активный</option>
                <option value="0">Скрытый</option>
                <option value="-1">Неактивный</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Региональное время</label>
                <div class="col-sm-2"><input id="timeZone" class="form-control" max="12" min="-12" type="number" step="1" value="0" /></div>
                <label style="margin-left:5px;margin-right:5px;" class="col-sm-2 label label-default"><h5>По Гринвичу:</h5><h3><span class="">{{gtime}}</span></h3></label>
                <label style="margin-left:5px;margin-right:5px;" class="col-sm-2 label label-default"><h5>Локальное время:</h5><h3><span class="local-time">{{gtime}}</span></h3></label>
            </div>

          </form>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/base-regionssites" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
