{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.destroy').on('click',function(){
                $(this).hide();
                $(this).parents('tr').addClass('danger');
                $(this).parents('tr').find('.recover').attr('disabled',false).show();
              })

              $('.recover').on('click',function(){
                $(this).hide();
                $(this).parents('tr').removeClass('danger');
                $(this).parents('tr').find('.destroy').attr('disabled',false).show();
              })
              $('.user-list-toggle').on('click',function(){
                if ( $('.user-list').is(':visible') == true )
                  $('.user-list').slideUp(300);
                else
                  $('.user-list').slideDown(300);
              })
              $('#timeZone').on('change',function(){
                var diff = parseInt($(this).val());
                var gtime = '{{gtime}}';
                var h = gtime.split(':');
                if ( h[1].indexOf("AM") > -1){
                  var p = 'AM';
                }
                else{
                  var p = 'PM';
                }
                var m = $.trim(h[1].replace(p,''));
                h = parseInt(h[0]);
                h = h+diff;
                if ( h > 12 ){ h = h - 12;
                if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if ( h <= 0 ){
                  h = h + 12;
                  if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if( h < 10){ h = '0'+h; }
                var put = h+':'+m+' '+p;
                $('.local-time').html(put);
              })

                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function getData(){
              var data = {};
              data['id'] = '{{region.id}}';
              data['name'] = $('#name').val();
              data['alias'] = $('#alias').val();
              data['status'] = $('#status').val();
              data['timeZone'] = $('#timeZone').val();
              data['for'] = $('#for').val();
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.user_role_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#'+k));
                    })
                    }

                    ajaxResponseHandler(1);
                }
              var cancels = $('.user-list tr.danger');
              data['users'] = {};
              $.each(cancels,function(k,v){
                data['users'][k] = $(this).attr('data-id');
              });
              console.log(data);
              return data;
            }

            function saveData(){
                enableCover();
                var data = getData();
              $.ajax({
                  url: '{{ path('ajax_regionssites_edit') }}',
                  data: data,
                  dataType : 'json',
                  type: 'post',
                  success: function (response, textStatus) {
                  console.log(response);
                  if ( response == false){
                    admin.errors.region_edit = 'такой саб-домен уже существует';
                    ajaxResponseHandler(1);
                  }
                  else{
                      disableCover();
                      showSuccessMessage();
                      $('.user-list tr.danger').remove();
                  }
                  },
                  error: function(e){
                    disableCover();
                    showErrorMessage();
                    console.log(e.message);
                  }
              });
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Regions:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование регионального сайта</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-8"><input id="name" class="form-control" type="text" value="{{region.name}}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Р/п региона</label>
                <div class="col-sm-8"><input id="for" class="form-control" type="text" value="{{region.for}}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Url-адрес</label>
                <div class="col-sm-8"><input id="alias" class="form-control" type="text" value="{{region.alias}}" /></div>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">Статус региона</label>
                <select id="status" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1"{% if region.status == 1 %} selected{% endif %}>Активный</option>
                <option value="0"{% if region.status == 0 %} selected{% endif %}>Скрытый</option>
                <option value="-1"{% if region.status == -1 %} selected{% endif %}>Неактивный</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Региональное время</label>
                <div class="col-sm-2"><input id="timeZone" class="form-control" max="12" min="-12" type="number" step="1" value="{{region.timeZone}}" /></div>
                <label style="margin-left:5px;margin-right:5px;" class="col-sm-2 label label-default"><h5>По Гринвичу:</h5><h3><span class="">{{gtime}}</span></h3></label>
                <label style="margin-left:5px;margin-right:5px;" class="col-sm-2 label label-default"><h5>Локальное время:</h5><h3><span class="local-time">{{ltime}}</span></h3></label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Пользователи региона</label>
                <div class="col-sm-7">
                {% if users|length != 0 %}
                <a style="position: relative;top: 6px !important;" class="text-info user-list-toggle" href="javascript:void(0);">Посмотреть список</a>
                {% else %}
                <span style="position: relative;top: 6px !important;" >Нет пользователей </span>
                {% endif %}
                </div>
                <div style="margin-top:10px;display:none;" class="user-list col-sm-12">
                <table class="table">
                <tr>
                  <th>ID</th><th>логин</th><th>имя</th><th>e-mail</th><th>статус</th><th>Роли</th><th>Вкл/Выкл</th>
                </tr>
                {% for user in users %}
                  <tr data-id="{{user.id}}" >
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.fio}}</td>
                    <td>{{user.email}}</td>
                    <td>
                    {% if user.enabled == 1 %}
                      <span class="text-success">Активный</span>
                    {% else %}
                      <span class="text-danger">Неактивный</span>
                    {% endif %}
                    </td>
                    <td>
                    {% set i = 1 %}
                    {% for role in user.roles  %}
                      <span class="text-info">{{uroles[role]}}{% if i < user.roles|length %},{% endif %}</span>
                      {% set i = i + 1 %}
                    {% endfor  %}
                    </td>
                    <td>
                      <a title="отвязать от региона" href="#" class="btn btn-warning destroy"><i class="glyphicon glyphicon-remove"></i></a>
                      <a style="display:none;" title="отменить" href="#" class="btn btn-default recover"><i class="glyphicon glyphicon-repeat"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </table>
                </div>
            </div>
          </form>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/base-regionssites" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
