{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Regions:index{% endblock %}

{% block content %}
<section class="panel permission-add">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_regionssites_add') }}" class="btn btn-primary btn-sm">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>саб-домен</th>
                        <th>ссылка</th>
                        <th>статус</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for region in regions %}
                    <tr>
                        <td>{{ region.id }}</td>
                        <td>{{ region.name }}</td>
                        <td>{{ region.alias }}</td>
                        <td><a class="text-info" target="_blank" href="http://{{ region.alias }}.reglada.ru">{{ region.alias }}.reglada.ru</a></td>
                        <td>                        
                        {% if region.status == 1 %}<span class="text-success">Активный</span>{% endif %}
                        {% if region.status == 0 %}<span class="text-warning">Скрыт</span>{% endif %}
                        {% if region.status == -1 %}<span class="text-danger">Неактивный</span>{% endif %}</td>
                        <td>
                            <a href="/admin/base-regionssites/view/{{region.id}}" title="просмотр" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="/admin/base-regionssites/edit/{{region.id}}" class="btn btn-success permission-edit"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="/admin/base-regionssites/delete/{{region.id}}" class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
