{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.user-list-toggle').on('click',function(){
                if ( $('.user-list').is(':visible') == true )
                  $('.user-list').slideUp(300);
                else
                  $('.user-list').slideDown(300);
              })
              $('#time-diff').on('change',function(){
                var diff = parseInt($(this).val());
                var gtime = '{{gtime}}';
                var h = gtime.split(':');
                if ( h[1].indexOf("AM") > -1){
                  var p = 'AM';
                }
                else{
                  var p = 'PM';
                }
                var m = $.trim(h[1].replace(p,''));
                h = parseInt(h[0]);
                h = h+diff;
                if ( h > 12 ){ h = h - 12;
                if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if ( h <= 0 ){
                  h = h + 12;
                  if ( p == 'AM'){ p = 'PM' } else { p = 'AM' }
                }
                if( h < 10){ h = '0'+h; }
                var put = h+':'+m+' '+p;
                $('.local-time').html(put);
              })

                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function getData(){
                var perms = $('.permission');
                var p = {};
                $.each(perms,function(k,v){
                  var code = $(this).attr('data-code');
                  var id = code.split('-');                
                  if ( p[id[1]] == undefined ) { p[id[1]] = {};}
                  if ( $(this).is(':checked') == true ){
                    var val = 1;
                  }
                  else{
                    var val = 0;
                  }
                    p[id[1]][id[0]] = val;   
                })
                var allowed = {};
                $.each(p,function(k,v){
                if( v['r'] == undefined ){p[k]['r'] = 'd'}
                if( v['c'] == undefined ){p[k]['c'] = 'd'}
                if( v['e'] == undefined ){p[k]['e'] = 'd'}
                if( v['d'] == undefined ){p[k]['d'] = 'd'}
                  var x = 0;
                  $.each(v,function(i,j){
                    if ( j == 1 ){
                     x++; 
                    }
                  });
                  if ( x > 0 ){
                    allowed[k] = p[k];
                  }
                       })
                return allowed;
            }

            function saveData(){
                enableCover();
                var data = {};
                data['perms'] = getData();
                data['id'] = {{id}};
                data['name'] = $('#role_name').val();
                data['rolekey'] = $('#role_rolekey').val();
              $.ajax({
                  url: '{{ path('ajax_role_edit') }}',
                  data: data,
                  dataType : 'json',
                  type: 'post',
                  success: function (data, textStatus) {
                  disableCover();
                  showSuccessMessage();

                  },
                  error: function(e){
                    showErrorMessage();
                    console.log(e.message);
                  }
              });
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Regions:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр регионального сайта</header>
    <div class="panel-body">
<table class="table table-striped control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
<tr><th><span class="left">Название</span></th><td><span class="left">{{region.name}}</span></td></tr>
<tr><th><span class="left">Url-адрес</span></th><td><span class="left">{{region.alias}}</span></td></tr>
<tr><th><span class="left">Статус</span></th><td><span class="left">
      {% if region.status == 1 %}<span class="text-success">Активный</span>{% endif %}
      {% if region.status == 0 %}<span class="text-warning">Скрытый</span>{% endif %}
      {% if region.status == -1 %}<span class="text-default">Неактивный</span>{% endif %}
</span></td></tr>
<tr><th><span class="left">Региональное время</span></th><td><span class="left col-sm-12">
      <label style="margin-right:5px;" class="col-sm-3 label label-default"><h5>По Гринвичу:</h5><h3><span class="">{{gtime}}</span></h3></label>
      <label style="margin-left:5px;margin-right:5px;" class="col-sm-3 label label-default"><h5>Локальное время:</h5><h3><span class="local-time">{{ltime}}</span></h3></label>
</span></td></tr>
</table>
<label class="col-sm-3 control-label">Пользователи региона</label>
                <div class="col-sm-7">
                {% if users|length != 0 %}
                <a style="position: relative;top: 6px !important;" class="text-info user-list-toggle" href="javascript:void(0);">Посмотреть список</a>
                {% else %}
                Нет пользователей 
                {% endif %}
                </div>
                <div style="margin-top:10px;display:none;" class="user-list col-sm-12">
                <table style="margin-top:10px;" class="table">
                <tr>
                  <th>ID</th><th>логин</th><th>имя</th><th>e-mail</th><th>статус</th><th>Роли</th>
                </tr>
                {% for user in users %}
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.fio}}</td>
                    <td>{{user.email}}</td>
                    <td>
                    {% if user.enabled == 1 %}
                      <span class="text-success">Активный</span>
                    {% else %}
                      <span class="text-danger">Неактивный</span>
                    {% endif %}
                    </td>
                    <td>
                    {% set i = 1 %}
                    {% for role in user.roles  %}
                      <span class="text-info">{{uroles[role]}}{% if i < user.roles|length %},{% endif %}</span>
                      {% set i = i + 1 %}
                    {% endfor  %}
                    </td>
                  </tr>
                {% endfor %}
                </table>
    </div>

            <div class="form-group">
                <div class="col-sm-12">
                <a href="/admin/base-regionssites" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
</section>

{% endblock %}
