{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.status').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('.type').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.type').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('.add-mini.g-add').on('click',function(){
                var tr = $('#for-clone').clone();
                tr.removeAttr('id').addClass('new-group');
                tr.find('input').parents('td').append(
                $('<span/>').addClass('btn btn-danger g-remove').html('<i class="glyphicon glyphicon-remove"></i>').bind('click',function(){
                        $(this).parents('tr').remove();
                    })
                );
                tr.find('.status').bind('click',function(){
                        $(this).parents('td').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                        $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
                    })
                tr.find('.type').bind('click',function(){
                        $(this).parents('td').find('.active.btn-primary.type').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                        $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
                    })
                $('.list-groups tbody').append(tr);
              })

              $('#save').on('click',function(){
                saveData();
              })

});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                var groups = $('.list-groups').find('.new-group');
                $.each(groups,function(k,v){
                    data[k] = {};
                    data[k]['name'] = $(this).find('input').val();
                    data[k]['status'] = $(this).find('.status.active').attr('data-code');
                })
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля или удалите лишние';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                  
                  $.ajax({
                      url: '{{ path('admin_newsgroups_add_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Создание рубрики</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr><th><span class="left col-sm-6"><div class="left">Название</div></span></th>
            <th>
            <span class="left col-sm-6">
            <div class="left">Видимость</div></span>
            </th>
        </tr>
        <tr class="new-group" id="for-clone">
        <td><span class="left col-sm-6 form-group"><input type="text" class="form-control group"/></span></th>
        <td><span class="left col-sm-6">
                <div class="btn-group left">
                  <button data-code="0" type="button" class="btn btn-default status">Нет</button>
                  <button data-code="1" type="button" class="btn btn-primary active status">Да</button>
                </div>
        </span></td></tr>
        </table>
        <div class="add-mini left g-add"></div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/pages-news-groups" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}