{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
                activateEditore('teaser');
                activateEditore('content');
                activateImageLibrary('picture');

              $('.status').on('click',function(){
                $('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('#all-regions').on('change',function(){
                var check = $(this).is(':checked');
                $('.regions').prop('checked',check);
              })

              $('#all-groups').on('change',function(){
                var check = $(this).is(':checked');
                $('.groups').prop('checked',check);
              })
              $('#save').on('click',function(){
                saveData();
              })

});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['name'] = $('#name').val();
                data['content'] = $('#content').next().contents().find('#editor1').html();
                data['teaser'] = $('#teaser').next().contents().find('#editor1').html();
                data['picture'] = $('#picture').val();

                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                    data['status'] = $('.status.active').attr('data-code');
                    data['groupId'] = {};
                    data['regions'] = {};
                    var gs = $('.groups');
                    var rs = $('.regions');
                    $.each(rs,function(k,v){ if( $(this).is(':checked') == true ) { data['regions'][k] = $(this).val(); } })
                    $.each(gs,function(k,v){ if( $(this).is(':checked') == true ) { data['groupId'][k] = $(this).val(); } })
                    
                    
                  $.ajax({
                      url: '{{ path('admin_newsitems_add_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Создание новости</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация Новости</td></tr>
        <tr><th><span class="left">Название </span></th><td><span class="left col-sm-12 form-group">
        <input id="name" data-type="elfinder-input-field" type="text" class="form-control" value="" />
        <tr><th><span class="left">Тизер </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="text" rows=3 class="form-control hidden"></textarea>
        <textarea id="teaser" rows=3 class="form-control"></textarea>
        <tr><th><span class="left">Картинка </span></th><td><span class="left col-sm-12 form-group">
        <input id="picture" data-type="elfinder-input-field" type="text" class="form-control" value="" />
        </span></td></tr>
        <tr><th><span class="left">Контент </span></th><td><span class="left col-sm-12 form-group">
        <textarea id="content" rows=3 class="form-control">Some text</textarea>
        </span></td></tr>


        <tr class="label-default"><td colspan=2>Настройки</td></tr>

        <tr><th><span class="left">Активность</span></th><td><span class="left col-sm-12">
                <div class="btn-group left">
                  <button data-code="1" type="button" class="btn btn-default status">Активный</button>
                  <button data-code="0" type="button" class="btn btn-primary active status">Скрытый</button>
                </div>
        </span></td></tr>

        <tr><th><span class="left">Регионы </span></th><td><span class="left">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-regions"/><span class="left"><b>Все</b></span>
                </label>
              </div>
        {% for region in regions %}
              <div class="checkbox">
                <label>
                  <input class="regions" type="checkbox" value="{{region.id}}"/><span class="left">{{region.name}}</span>
                </label>
              </div>
        {% endfor %}
        </span></td></tr>

        <tr><th><span class="left">Рубрики </span></th><td><span class="left">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="all-groups"/><span class="left"><b>Все</b></span>
                </label>
              </div>
        {% for group in groups %}
              <div class="checkbox">
                <label>
                  <input class="groups" type="checkbox" value="{{group.id}}"/><span class="left">{{group.name}}</span>
                </label>
              </div>
        {% endfor %}
        </span></td></tr>


        </table>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/pages-news-items" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}