{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

            })    


    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:delete{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Удаление рубрики</header>


   
    <div class="alert alert-error"> <img class="left" width=30px height=30px src="/admin_assets/imgs/alert.png"/>
    <span class="col-xs-7 left">Все новости рубрики останутся без группы если они не относятся к другим рубрикам. Вы уверенны что хотите удалить рубрику {{group.name}}?</span></div>

    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group col-sm-10 ">
                <div class="col-sm-12">
                <button href="javascript:void(0);" id="save" name="delete" class="btn btn-success left">Да</button>
                <button href="/admin/pages-news-items" id="back" name="cancel" class="btn btn-default left">Отмена</button>
                </div>
            </div>
          </form>



    </div>
</section>

{% endblock %}
