{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.status').on('click',function(){
                $(this).parents('td').find('.active.btn-primary.status').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })

              $('#save').on('click',function(){
                saveData();
              })

});


            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['id'] = '{{group.id}}';
                data['name'] = $('#name').val();
                data['status'] = $('.status.active').attr('data-code');
   
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                else{
                  
                  $.ajax({
                      url: '{{ path('admin_newsgroups_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Group:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование рубрики</header>
    <div class="panel-body">
        <table class="table table-striped list-groups" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr><th><span class="left col-sm-6"><div class="left">Название</div></span></th>
            <th>
            <span class="left col-sm-6">
            <div class="left">Видимость</div></span>
            </th>
        </tr>
        <tr class="new-group" id="for-clone">
        <td><span class="left col-sm-6 form-group"><input type="text" value="{{group.name}}" id="name" class="form-control group"/></span></th>
        <td><span class="left col-sm-6">
                <div class="btn-group left">
                  <button data-code="0" type="button" class="btn {% if group.status == 0 %}btn-primary active{% else %}btn-default{% endif %} status">Нет</button>
                  <button data-code="1" type="button" class="btn {% if group.status == 1 %}btn-primary active{% else %}btn-default{% endif %} status">Да</button>
                </div>
        </span></td></tr>
        </table>
            <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
                <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
        <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
        <a href="/admin/pages-news-groups" id="back" class="btn btn-default right">Назад</a>
        </div>
    </div>
    </div>

    </div>
</section>

{% endblock %}