{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

              $('.close-mini.t-remove').on('click',function(){
                $(this).parents('.tags').remove();
              })
              $('.add-mini.t-add').on('click',function(){
                var tag = $('#tag').val();
                console.log(tag);
                if ( $.trim(tag) != '' ){
                    var newtag = $('<span/>').addClass('tags left custom-tag')
                    .html($('<label/>').addClass('text-primary left tag').html(tag))
                    .append($('<span/>').addClass('close-mini right p-remove').bind('click',function(){
                        $(this).parents('.tags').remove();
                    }))
                    $('.t-container').append(newtag);
                    $('#tag').val('').focus();
                }
              })

              $('#save').on('click',function(){
                saveData();
              })
            });

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['items_per_page_news_all'] = $('#items_per_page_news_all').val();
                data['items_per_page_news_one'] = $('#items_per_page_news_one').val();
                data['items_per_page_news_previous'] = $('#items_per_page_news_previous').val();
                data['tags_news'] = {}
                var tags = $('.tag');
                $.each(tags,function(k,v){
                    data['tags_news'][k] = $(this).html();
                })
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 || parseInt(data['items_per_page_news_all']) < 2 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                    console.log(k);
                        showErrorInput($('#'+k));
                    })
                    }
                   if ( parseInt(data['items_per_page_news_all'] ) < 2 ){
                    admin.errors.dc_add = 'новостей странице должно быть не меньше двух';
                    showErrorInput($('#items_per_page_news_all'));
                    }
                    ajaxResponseHandler(1);
                }
                else{                   
                    
                  $.ajax({
                      url: '{{ path('admin_newssettings_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:index{% endblock %}

{% block content %}

<section class="panel">
    <div class="panel-body tool-button">
        <header class="panel-heading">Редактировать настройки</header>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>название</th>
                        <th>значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in settings %}
                    <tr>
                        {% if item.key == 'tags_news' %}
                        <td>{{ item.name }}</td>
                        <td>
                        <span class="t-container left col-sm-12 form-group">
                        {% for tag in item.value %}
                        <span class="tags left custom-tag"><label class="text-info left tag">{{tag}}</label><span class="close-mini right t-remove"></span></span>
                        {% endfor %}
                        </span>
                        <span class="left col-sm-12 form-group">
                            <input id="tag" data-type="" type="text" value="" class="form-control col-sm-8" value="" />
                            <div class="add-mini left t-add"></div>
                        </span>
                        {% else %}
                        <td>{{ item.name }}</td>
                        <td><span class="left col-sm-12 form-group">
                            <input id="{{item.key}}" data-type=""{% if item.key == 'items_per_page_news_all' %} type="number" min="2" {% endif %}type="text" value="{{item.value}}" class="form-control" value="" />
                            </span>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="form-group" style="margin-top:10px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/pages-news-settings" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
    </div>
</section>
{% endblock %}
