{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

                $('#filter-region').on('change',function(){
                    var region = $(this).val();
                    if ( region == 'all' ){
                        $('tr.dealer-centre').show();
                    }
                    else{
                        $('tr.dealer-centre').hide();
                        $('tr.dealer-centre[data-region='+region+']').show();
                    }
                })
            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:DillerCentre:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_newsitems_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить новость</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>название</th>
                        <th>статус</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for new in news %}
                    <tr class="dealer-centre" data-region="">
                        <td>{{ new.id }}</td>
                        <td>{{ new.name }}</td>
                        <td>
                        {% if new.status == 1 %}<span class="text-success">Активная</span>{% endif %}
                        {% if new.status == 0 %}<span class="text-warning">Скрыта</span>{% endif %}
                        </td>
                        <td>
                            <a  href="{{ path('admin_newsitems_view', { id: new.id }) }}" title="просмотр" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="{{ path('admin_newsitems_edit', { id: new.id }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_newsitems_delete', { id: new.id }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
