{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){


            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:index{% endblock %}

{% block content %}

<section class="panel">
<header class="panel-heading">Настройки</header>
    <div class="panel-body tool-button">
        <a href="{{ path('admin_newssettings_edit') }}" class="btn btn-success btn-sm permission-edit right">Редактировать</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>название</th>
                        <th>значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in settings %}
                    <tr>
                        {% if item.key == 'tags_news' %}
                        <td>{{ item.name }}</td>
                        <td>
                        {% for tag in item.value %}
                        <span class="label label-info">{{tag}}</span>
                        {% endfor %}
                        </td>
                        {% else %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
