{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

});

    </script>
{% endblock %}
{% block title %}SiteBackendBundle:News:view{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр рубрики</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2><b>{{group.name}}</b> (новостей:{{news|length}}) </td></tr>
        {% for item in news %}
        <tr><td><span class="left col-sm-12"><span class="left">{{item.name}}</span></span></td>
        <td>
        <a  href="{{ path('admin_newsitems_view', { id: item.id }) }}" title="просмотр" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td></tr>
        {% endfor %}
        </table>
            <div class="form-group">
                <div class="col-sm-12">
                <a href="/admin/pages-news-groups" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
    </div>

</section>

{% endblock %}
