{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

});

    </script>
{% endblock %}
{% block title %}SiteBackendBundle:DillerCentre:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр диллерского центра</header>
    <div class="panel-body">
        <table class="table control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <tr class="label-default"><td colspan=2>Основная информация ДЦ</td></tr>
        <tr><th><span class="left">Название </span></th><td><span class="left col-sm-12"><span class="left">{{dc.dname}}({{dc.dalias}})</span></span></td></tr>
        <tr><th><span class="left">Регион </span></th><td><span class="left col-sm-12"><span class="left">{{dc.rname}}({{dc.ralias}})</span></span></td></tr>
        <tr><th><span class="left">Город </span></th><td><span class="left col-sm-12"><span class="left">{{dc.city}}</span></span></td></tr>
        <tr><th><span class="left">Статус</span></th><td><span class="left col-sm-12">
              {% if dc.status == 1 %}<span class="left text-success">Активный</span>{% endif %}
              {% if dc.status == 0 %}<span class="left text-warning">Неактивный</span>{% endif %}
        </span></td></tr>
        <tr><th><span class="left">E-Mails:</span></th><td>
        {% for email in dc.email %}
        <span class="left col-sm-12"><label class="text-info left">{{email}}</label></span>
        {% endfor %}
        </td></tr>
        <tr><th><span class="left">Телефоны:</span></th><td>
        {% for phone in dc.phone %}
        <span class="left col-sm-12"><label class="text-primary left">{{phone}}</label></span>
        {% endfor %}
        </td></tr>
        <tr><th><span class="left">Координаты </span></th><td><span class="left col-sm-12">
        {% set cc = dc.coordinates|split('::') %}
        <span class="left"><b>{{cc[0]}} {{cc[1]}}</b></span></span></td></tr>

        <tr class="label-default"><td colspan=2>Информация о руководителе ДЦ</td></tr>
        <tr><th><span class="left">Ф.И.О.</span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.bossName}}</span></span></td></tr>
        <tr><th><span class="left">Телефон </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.bossCode}}-{{dc.bossPhone}}</span></span></td></tr>
        <tr><th><span class="left">Факс </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.bossCode}}-{{dc.bossFax}}</span></span></td></tr>
        <tr><th><span class="left">e-mail </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.bossMail}}</span></span></td></tr>

        <tr class="label-default"><td colspan=2>Юридическая информация</td></tr>
        <tr><th><span class="left">ИНН </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.inn}}</span></span></td></tr>
        <tr><th><span class="left">Договор </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.contract}} {%if dc.addContract is defined and dc.addContract != '' %}{{ '('~dc.addContract~')'}} {% endif %}</span></span></td></tr>
        <tr><th><span class="left">Юридическое имя</span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.legalName}}</span></span></td></tr>
        <tr><th><span class="left">Юридический адрес </span></th><td><span class="left col-sm-12">
        <span class="left">{{dc.legalAddress}}</span></span></td></tr>

        <tr class="label-default"><td colspan=2>Дополнительная информация</td></tr>
        <tr><th><span class="left">SEO </span></th><td><span class="left col-sm-12"><span class="left">{{dc.seo}}</span></span></td></tr>
        <tr><th><span class="left">Информация </span></th><td><span class="left col-sm-12"><span class="left">{{dc.information}}</span></span></td></tr>
        </table>
            <div class="form-group">
                <div class="col-sm-12">
                <a href="/admin/base-dillercentres" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
    </div>

</section>

{% endblock %}
