{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Features:deletefeaturevalue{% endblock %}

{% block content %}
<h1>Welcome to the Features:deletefeaturevalue page</h1>
{% endblock %}
