{% extends "::admin.html.twig" %}

{% block title %}Редактирование характеристики{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование характеристики</header>
    <div class="panel-body">

        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.keyName) }}</label>
                <div class="col-sm-10">{{ form_widget(form.keyName) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.groupId) }}</label>
                <div class="col-sm-10">{{ form_widget(form.groupId) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.description) }}</label>
                <div class="col-sm-10">{{ form_widget(form.description) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.pos) }}</label>
                <div class="col-sm-10">{{ form_widget(form.pos) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.seltype) }}</label>
                <div class="col-sm-10">{{ form_widget(form.seltype) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.image) }}</label>
                <div class="col-sm-10">{{ form_widget(form.image) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><button type="submit" name="save" class="btn btn-success">Изменить</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
