{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Features:featuresgroups{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_featuresgroups_addgroup', {type: type}) }}" class="btn btn-primary btn-sm">Добавить группу</a>
                <a href="{{ path('admin_featuresgroups_addfeature', {type: type}) }}" class="btn btn-primary btn-sm">Добавить характеристику</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-5">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Группы
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 100px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td><a href="{{ path('admin_featuresgroups_viewgroup', {id: 0, type: type}) }}">Без группы</a></td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    {% for group in groups %}
                                    <tr>
                                        <td>{{ group.id }}</td>
                                        <td><a href="{{ path('admin_featuresgroups_viewgroup', {id: group.id, type: type}) }}">{{ group.name }}</a></td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_featuresgroups_editgroup', { id: group.id, type: type }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_featuresgroups_deletegroup', { id: group.id, type: type }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-7">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Характеристики
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 145px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feature in features %}
                                    <tr>
                                        <td>{{ feature.id }}</td>
                                        <td>{{ feature.name }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_featuresgroups_editfeature', { id: feature.id, type: type }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            {% if feature.seltype != 'yesno' %}<a title="просмотр значений" href="{{ path('admin_featuresgroups_viewvalues', { id: feature.id, type: type }) }}" class="btn btn-primary"><i class="glyphicon ti-view-list"></i></a>{% endif %}
                                            <a title="удалить" href="{{ path('admin_featuresgroups_deletefeature', { id: feature.id, type: type }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
