{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Features:featuresgroups{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body tool-button">
                <a href="{{ path('admin_featuresgroups_addfeaturevalue', { featureid: app.request.get('id'), type: type }) }}" class="btn btn-primary btn-sm">Добавить значение</a>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel no-b">
                    <header class="panel-heading">
                        Значения характеристик
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th style="width: 100px;">Операции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for value in values %}
                                    <tr>
                                        <td>{{ value.id }}</td>
                                        <td>{{ value.name }}</td>
                                        <td>
                                            <a title="редактировать" href="{{ path('admin_featuresgroups_editfeaturevalue', { featureid: app.request.get('id'), id: value.id, type: type }) }}" class="btn btn-success">
                                            <i class="glyphicon glyphicon-edit"></i></a>
                                            <a title="удалить" href="{{ path('admin_featuresgroups_deletefeaturevalue', { id: value.id, type: type }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
