{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Users:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование пользователя</header>
    <div class="panel-body">

        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
           <div class="form-group">
                <label class="col-sm-2 control-label">региональный сайт</label>
                <div class="col-sm-10">              
                <select name="site" id="disabledSelect" class="form-control col-sm-2">
                    <option value="">не выбран</option>
                    {% for site in regionsSites %}
                        <option value="{{site.id}}" {% if current_region_site == site.id %}selected{% endif %}>{{site.alias}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.fio) }}</label>
                <div class="col-sm-10">{{ form_widget(form.fio) }}</div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.roles) }}</label>
                <div class="col-sm-10">
                    {% for orole in all_roles %}
                    <div class="radio">
                        <input type="radio" name="role" {% if orole.rolekey == user_roles[0] %}checked{% endif %} value="{{ orole.rolekey }}" /> {{ orole.name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Дилерские центры</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            {% for k, dc in diller_centres %}
                            {% set dcount = diller_centres|length/2 %}
                            {% if k == dcount|round(0, 'ceil') %}</div><div class="col-sm-6">{%endif%}
                            <div class="checkbox">
                                <input type="checkbox" name="diller_centre[]" {% if dc.id in user.dillerCentreIds %}checked{% endif %} value="{{ dc.id }}" /> {{ dc.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                <button type="submit" name="save" class="btn btn-success right">Сохранить</button>
                <a href="/admin/base-users-users" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
