{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Users:index{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section class="panel no-b">
            <header class="panel-heading no-b">
                <h5><b>Пользователи</b></h5>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m" data-sortable>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ф.И.О.</th>
                                <th>E-mail</th>
                                <th style="width: 145px;">Операции</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.fio }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a title="просмотр" href="{{ path('admin_users_view', { id: user.id }) }}" class="permission-view btn btn-info"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    <a title="редактировать" href="{{ path('admin_users_edit', { id: user.id }) }}" class="permission-add btn btn-success">
                                    <i class="glyphicon glyphicon-edit"></i></a>
                                    <a title="удалить" href="#" class="permission-delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
