{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Users:view{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр пользователя</header>
    <div class="panel-body">

<table class="table table-striped control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
<tr><th><span class="left">Ф.И.О.</span></th><td><span class="left">{{form.fio.vars.value}}</span></td></tr>
<tr><th><span class="left">Роль</span></th><td><span class="left">
                    {% for orole in all_roles %}
                        {% if orole.rolekey in user_roles %}
                        {{ orole.name }}
                        {% endif %}
                    {% endfor %}</span></td></tr>
<tr><th><span class="left">Региональный сайт</span></th><td><span class="left">
                    {% for site in regionsSites %}
                        {{site.alias}}
                    {% endfor %}
</span></td></tr>
<table>

            <div class="col-sm-12">
            <a href="/admin/base-users-users" id="back" class="btn btn-default right">Назад</a>
            </div>
    </div>
</section>
{% endblock %}