{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('#all-cars').on('change',function(){
                var check = $(this).is(':checked');
                $('.cars').prop('checked',check);
              })

              $('#color-code').on('keyup',function(){
                var colorcode = $(this).val();
                $('#color-preview').css('background-color',colorcode);
              })

                $('#save').on('click',function(){
                    saveData();
                })

            })    

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['name'] = $('#color-name').val();
                data['code'] = $('#color-code').val();
                var c = checkTrim(data);
                $('.add-mini.e-add, .add-mini.p-add').click();
                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#color-'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                data['status'] = $('#status').val();
                data['cars'] = {};
                var cs = $('input.cars');
                $.each(cs,function(k,v){ 

                if( $(this).is(':checked') == true ) { 
                    var car = $(this).attr('data-car');
                    var type = $(this).attr('data-cartype');
                    if (data['cars'][car] == undefined ){ data['cars'][car] = {};}
                    data['cars'][car][type] = true;                       
                } })  
                $.ajax({
                      url: '{{ path('ajax_auto_colors_add') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
              }
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Color:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Добавление цвета авто</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-5"><input id="color-name" class="form-control" type="text" value="" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Код HTML</label>
                <div class="col-sm-2">
                <input id="color-code" class="form-control" type="text" value="#A4A4A4" />
                <div id="color-preview" style="background-color:#A4A4A4;"class="form-control"></div>
                </div>
            </div>
            <div class="add-permission form-group">
                <label class="col-sm-3 control-label">показывать</label>
                <select id="status" style="width:200px;margin-left:15px;" class="form-control col-sm-3">
                <option value="1">Да</option>
                <option value="0">Нет</option>
                </select>
            </div>
            <div class="form-group">
                <span style="margin-left:200px;" class="left col-sm-12 form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="all-cars"/><span class="left"><b>Все</b></span>
                        </label>
                      </div>

                    {% for i,car in cars %}
                        {% if car.details is defined %}
                          {% if car.details|length > 0 %}
                          {% for k,type in car.details %}
                            <div class="checkbox">
                              <label>
                                <input class="cars" data-car="{{i}}" data-cartype="{{k}}" type="checkbox" value=""/><span class="left">{{car.name}} {{k}}</span>
                              </label>
                            </div>
                          {% endfor %}
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
            </div>

          </form>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/base-auto-colors" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
