{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

                activateEditore('content');
                activateEditore2('content-second');
                activateImageLibrary('pdf-href');
                $('#save').on('click',function(){
                    saveData();
                })

                $('#right-block-button').on('change',function(e){
                  e.preventDefault();
                  var ifchecked = $(this).is(':checked');
                  if ( ifchecked == true ){
                    $('.right-block-button').removeClass('hidden');
                  }
                  else{
                    $('.right-block-button').addClass('hidden')
                  }
                })

                $('#right-block').on('change',function(e){
                  e.preventDefault();
                  var ifchecked = $(this).is(':checked');
                  if ( ifchecked == true ){
                    $('.right-block').removeClass('hidden');
                  }
                  else{
                    $('.right-block').addClass('hidden')
                  }
                })

                $('#pdf-block').on('change',function(e){
                  e.preventDefault();
                  var ifchecked = $(this).is(':checked');
                  if ( ifchecked == true ){
                    $('.pdf-block').removeClass('hidden');
                  }
                  else{
                    $('.pdf-block').addClass('hidden')
                  }
                })
            })    

            function collectData(){
              var data = {};
              data['name'] = $('#page-name').val();

              var options = {};
              
              options['map'] = $('#-turn-map').is(':checked');
              options['submenu'] = $('#-turn-submenu').is(':checked');
              options['footer'] = $('#-turn-footer').is(':checked');
              options['left-block-title'] = $('#page-title').val()
              options['left-block-content'] = $('#content').next().contents().find('#editor1').html();

              options['pdf-block'] = false;
              options['right-block-title'] = false;
              options['right-block-content'] = false;
              options['right-block-button-name'] = false;
              options['right-block-button-href'] = false;

              if( $('#right-block').is(':checked') == true ){
                options['right-block-title'] = $('#page-title-second').val()
                options['right-block-content'] = $('#content-second').next().contents().find('#editor2').html();
              }
              if( $('#right-block-button').is(':checked') == true ){
                options['right-block-button-name'] = $('#rb-button-title').val();
                options['right-block-button-href'] = $('#rb-button-href').val();
              }
              if( $('#pdf-block').is(':checked') == true ){
                options['pdf-block'] = $('#pdf-href').val();
              }
              {% if default == 1 %}
                data['defaultOptions'] = options;
              {% else %}
                data['regionOptions'] = options;
              {% endif %}
              console.log(data);
              return data;
            }

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = collectData();
                data['id'] = '{{page.id}}';
                data['default'] = '{{default}}';
                var c = checkTrim(data);

                if ( Object.keys(c).length > 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.dc_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#page-'+k));
                    })
                    }
                    ajaxResponseHandler(1);
                }
                //data['status'] = $('#status').val();
                $.ajax({
                      url: '{{ path('admin_pagesall_edit_ajax') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
              }
    </script>
    <style>
    .cst-checkbox{
      display: inline;
      padding: 25px;
    }
    </style>
{% endblock %}
{% block title %}SiteBackendBundle:Page:edit{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Настройки страницы "{{page.name}}" по умолчанию</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>
                <div class="col-sm-5"><input id="page-name" class="form-control" type="text" value="{{page.name}}" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Основные блоки</label>
                {% set other = {'map':'Карта', 'submenu':'Субменю', 'footer':'Футер'} %}
                {% for i,group in other %}
                      <div class="checkbox col-sm-2">
                        <label>
                          <input id="-turn-{{i}}" class="groups" type="checkbox"  {% if options[i] is defined and options[i] == 'true' %}checked{% endif %}/><span class="left">{{group}}</span>
                        </label>
                      </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Заголовок левого блока</label>
                <div class="col-sm-5"><input id="page-title" class="form-control" type="text" value="{% if options['left-block-title'] is defined %}{{options['left-block-title']}}{% endif %}" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Содержание левого блока</label>
                <div class="col-sm-2">
                <textarea id="text" rows=3 class="form-control hidden"></textarea>
                <textarea id="content" rows=3 class="form-control">{% if options['left-block-content'] is defined %}{{options['left-block-content']}}{% endif %}</textarea></span></td></tr>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Включить правый блок</label>
                <div class="cst-checkbox"><input id="right-block" class="" type="checkbox" value="" {% if options['right-block-content'] is defined and options['right-block-content'] != 'false' %}checked{% endif %}/></div>
            </div>

            <div class="form-group right-block {% if options['right-block-title'] is defined and options['right-block-title'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Заголовок правого блока</label>
                <div class="col-sm-5"><input id="page-title-second" class="form-control" type="text" value="{% if options['right-block-title'] is defined %}{{options['right-block-title']}}{% endif %}" /></div>
            </div>
            <div class="form-group right-block {% if options['right-block-content'] is defined and options['right-block-content'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Содержание правого блока</label>
                <div class="col-sm-2">
                <textarea id="text" rows=3 class="form-control hidden"></textarea>
                <textarea id="content-second" rows=3 class="form-control">{% if options['right-block-content'] is defined %}{{options['right-block-content']}}{% endif %}</textarea></span></td></tr>
                </div>
            </div>

            <div class="form-group right-block {% if options['right-block-content'] is defined and options['right-block-content'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Добавить кнопку в правый блок</label>
                <div class="cst-checkbox"><input id="right-block-button" class="" type="checkbox" value="" {% if options['right-block-button-name'] is defined and options['right-block-button-name'] != 'false' %}checked{% endif %}/></div>
            </div>

            <div class="form-group right-block-button {% if options['right-block-button-name'] is defined and options['right-block-button-name'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Название кнопки</label>
                <div class="col-sm-5"><input id="rb-button-title" class="form-control" type="text" value="{% if options['right-block-button-name'] is defined and options['right-block-button-name'] != 'false' %}{{options['right-block-button-name']}}{% endif %}" /></div>
            </div>

            <div class="form-group right-block-button {% if options['right-block-button-href'] is defined and options['right-block-button-href'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Ссылка кнопки</label>
                <div class="col-sm-5"><input id="rb-button-href" class="form-control" type="text" value="{% if options['right-block-button-href'] is defined and options['right-block-button-href'] != 'false' %}{{options['right-block-button-href']}}{% endif %}" /></div>
            </div>

          </form>
          <hr>
            <div class="form-group ">
                <label class="col-sm-3 control-label">Включить блок PDF файла</label>
                <div class="cst-checkbox"><input id="pdf-block" class="" type="checkbox" value="" {% if options['pdf-block'] is defined and options['pdf-block'] != 'false' %}checked{% endif %}/></div>
            </div>

            <div class="form-group pdf-block {% if options['pdf-block'] is defined and options['pdf-block'] != 'false' %}{% else %}hidden{% endif %}">
                <label class="col-sm-3 control-label">Ссылка PDF</label>
                <div class="col-sm-5"><input data-type="elfinder-input-field" id="pdf-href" class="form-control" type="text" value="{% if options['pdf-block'] is defined and options['pdf-block'] != 'false' %}{{options['pdf-block']}}{% endif %}" /></div>
            </div>


          {% if default == 0 %}
          <hr>
          <div class="form-group" style="margin-left:50px !important;">
              <label class="col-sm-8 control-label">Применить все изменения для регионов:</label>
              <br>
              {% for region in regions %}
                    <div class="checkbox">
                      <label>
                        <input class="regions" type="checkbox" value="{{region.id}}"/><span class="left">{{region.name}}</span>
                      </label>
                    </div>
              {% endfor %}
          </div>
          {% endif %}

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/pages-all" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
