{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){


            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Pages:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>название</th>
                        <th>статус</th>
                        <th style="width: 110px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                    <tr class="page-centre" data-region="{{page.id}}">
                        <td>{{ page.name }} <a class="text-info" href="http://reglada.ru/{{ page.route }}">( http://reglada.ru/{{ page.route }} )</a></td>
                        <td>
                        {% if page.status == 1 %}<span class="text-success">Включен</span>{% endif %}
                        {% if page.status == 0 %}<span class="text-warning">Выключен</span>{% endif %}
                        </td>
                        <td>
                            <a title="редактировать по умолчанию" href="{{ path('admin_pagesall_edit', { id: page.id, 'default':'1'}) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                           {# <a title="редактировать для региона" href="{{ path('admin_pagesall_edit', { id: page.id,  'default':'0'}) }}" class="permission-edit btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                           #}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
