{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
              $('.regions-allowed').on('click',function(){
                $('.active.btn-primary.regions-allowed').removeClass('btn-primary').addClass('btn-default').removeClass('active');
                $(this).removeClass('btn-default').addClass('btn-primary').addClass('active');
              })
              $('.scheme-cabinet-g').on('click',function(){
                $('.active-scheme').removeClass('active-scheme').addClass('scheme-cabinet');
                $(this).removeClass('scheme-cabinet').addClass('active-scheme');
              })
              $('input.permission').on('change',function(){
                var id = $(this).parents('tr').attr('data-id');
                if ( $(this).is(':checked') == false ){
                  $('tr[data-parent='+id+'] .permission').prop('checked',false);
                }
                else{
                  $('tr[data-parent='+id+'] .permission').prop('checked',true);
                }
              })
             $('.content-perms #hide-all').on('click',function(){
              $(this).hide();
              $('.content-perms #show-all').show();
              $('.main-content .control-menu tr.notstable-tr').hide(100);
              $('.main-content .control-menu .glyphicon').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-down');
             })

             $('.content-perms #show-all').on('click',function(){
              $(this).hide();
              $('.content-perms #hide-all').show();
              $('.main-content .control-menu tr.notstable-tr').show(100);   
              $('.main-content .control-menu .glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
             })

             $('.content-perms #enable-all').on('click',function(){
              $(this).hide();
              $('.content-perms #disable-all').show();
              $('.main-content .control-menu input.permission').prop('checked',true);
             })

             $('.content-perms #disable-all').on('click',function(){
              $(this).hide();
              $('.content-perms #enable-all').show();
              $('.main-content .control-menu input.permission').prop('checked',false);
             })

                $('#save').on('click',function(){
                    saveData();
                })
                $('.control-menu .trigger-toggle').on('click',function(){
                    var id = $(this).parents('tr').attr('data-id');
                    if ( $('.control-menu').find('tr[data-parent='+id+']').is(':visible') == true ){
                        $('.control-menu').find('tr[data-parent='+id+']').hide(300);
                        var prs = $('.control-menu').find('tr[data-parent='+id+']');
                        $.each(prs,function(){
                            var iid = $(this).attr('data-id');
                            $('.control-menu').find('tr[data-parent='+iid+']').hide(100);
                        })
                    }
                    else{
                        $('.control-menu').find('tr[data-parent='+id+']').show(300);
                    }
                    
                })
            })    

            function getData(){
                var perms = $('.permission');
                var p = {};
                $.each(perms,function(k,v){
                  var code = $(this).attr('data-code');
                  var id = code.split('-');                
                  if ( p[id[1]] == undefined ) { p[id[1]] = {};}
                  if ( $(this).is(':checked') == true ){
                    var val = 1;
                  }
                  else{
                    var val = 0;
                  }
                    p[id[1]][id[0]] = val;   
                })
                var allowed = {};
                $.each(p,function(k,v){
                if( v['r'] == undefined ){p[k]['r'] = 'd'}
                if( v['c'] == undefined ){p[k]['c'] = 'd'}
                if( v['e'] == undefined ){p[k]['e'] = 'd'}
                if( v['d'] == undefined ){p[k]['d'] = 'd'}
                  var x = 0;
                  $.each(v,function(i,j){
                    if ( j == 1 ){
                     x++; 
                    }
                  });
                  if ( x > 0 ){
                    allowed[k] = p[k];
                  }
                       })
                return allowed;
            }

            function saveData(){
                errorsDestroy();
                enableCover();
                var data = {};
                data['perms'] = getData();
                data['id'] = {{id}};
                data['name'] = $('#role_name').val();
                data['rolekey'] = $('#role_rolekey').val();
                data['cabinetName'] = $('#role_cabinetName').val();
                var c = checkTrim(data);
                if ( Object.keys(c).length > 0 || Object.keys(data['perms']).length == 0 ){
                    if ( Object.keys(c).length > 0 ){
                    admin.errors.user_role_add = 'заполните пустые поля';
                    $.each(checkTrim(data),function(k,v){
                        showErrorInput($('#role_'+k));
                    })
                    }
                    if( Object.keys(data['perms']).length == 0){
                    admin.errors.user_perm_add = 'выберите хотя одну привилегию для роли';
                    }
                    ajaxResponseHandler(1);
                }
                else{

                    data['scheme'] = $('.active-scheme').attr('data-id');
                    data['regions'] = $('.active.btn-primary.regions-allowed').attr('data-code');
                  $.ajax({
                      url: '{{ path('ajax_role_edit') }}',
                      data: data,
                      dataType : 'json',
                      type: 'post',
                      success: function (response, textStatus) {
                      disableCover();
                      showSuccessMessage();
                      

                      },
                      error: function(e){
                        showErrorMessage();
                        console.log(e.message);
                        disableCover();
                      }});
                  }

              
            }
    </script>
    <style>
    .active-scheme{
      border-radius:5px;width:30px;height:30px;margin:3px;border:5px solid #ffffff;;
    }
    .scheme-cabinet{
      border-radius:5px;width:30px;height:30px;margin:3px;border:5px solid #ffffff;box-shadow:1px 1px 3px #888888;
    }
    .scheme-cabinet:hover{
    cursor:pointer;
    }
    </style>
{% endblock %}
{% block title %}SiteBackendBundle:Roles:add{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Редактирование роли</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.rolekey) }}</label>
                <div class="col-sm-10">{{ form_widget(form.rolekey) }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.cabinetName) }}</label>
                <div class="col-sm-10">{{ form_widget(form.cabinetName) }}</div>
            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label">информация в АЧС</label>
                <div class="col-sm-10">
                <div class="btn-group">
                  <button data-code="1" type="button" class="btn {% if role.regions == 1 %}btn-primary active {% else %}btn-default {% endif %}regions-allowed">все регионы</button>
                  <button data-code="0" type="button" class="btn {% if role.regions == 0 %}btn-primary active {% else %}btn-default {% endif %}regions-allowed">свой регион</button>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Схема кабинета</label>
                <div class="col-sm-10">
            {% for scheme in schemes %}
                <div data-id="{{scheme.id}}" class="scheme-cabinet-g left {% if schemeUser == scheme.id %}active-scheme{% else %}scheme-cabinet{% endif %}" style="background-color:{{scheme.color}};"></div>
            {% endfor %}
                </div>
            </div>
            <span class="content-perms text-info right"> 
                <a href="javascript:void(0);" id="show-all">Развернуть все</a>
                <a style="display:none;" href="javascript:void(0);" id="hide-all">Свернуть все</a>/
                <a href="javascript:void(0);" id="enable-all">Включить все</a>
                <a style="display:none;" href="javascript:void(0);" id="disable-all">Выключить все</a>
            </span>


                            <table class="table table-striped control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
                                <thead>
                                    <tr><th>Меню</th><th>Просмотр</th><th>Создать</th><th>Изменить</th><th>Удалить</th></tr>
                                </thead>
                            {% set actions = {0:'r',1:'c',2:'e',3:'d'} %}
                            {% for k,v in allmenu %}
                                <tr class="stable-tr" data-id="{{k}}">
                                    <td class="title-field">{{v['title']}}
                                        {% if v['sub']|length > 0 %}<span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-right"></i></span>{% endif %}
                                    </td>
    
                                    {% for q,w in actions %}
                                    <td>
                                    {% if v['perms'][q] == 0 %}<div class="close"></div>{% else %}
                                    <input class="permission" data-code="{{w}}-{{v['id']}}" type="checkbox"{% if enabled[v['id']][w] is defined and enabled[v['id']][w] == 1 %} checked{% endif %}>
                                    {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                    {% if v['sub']|length > 0 %}
                                        {% for x,y in v['sub'] %}
                                        <tr class="notstable-tr" data-id="{{x}}" style="display:none;" data-parent="{{k}}">
                                            <td class="title-field"><span style="margin-left:20px;"></span>{{y['title']}}
                                            {% if y['sub']|length > 0 %}<span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-right"></i></span>{% endif %}
                                            </td>
                                        {% for q,w in actions %}
                                        <td>{% if y['perms'][q] == 0 %}<div class="close"></div>{% else %}<input class="permission" data-code="{{w}}-{{y['id']}}" type="checkbox"{% if enabled[y['id']][w] is defined and enabled[y['id']][w] == 1 %} checked{% endif %}>{% endif %}</td>
                                        {% endfor %}
                                        </tr>
                                        {% if y['sub']|length > 0 %}
                                            {% for i,j in y['sub'] %}
                                            <tr class="notstable-tr" data-id="{{i}}" data-parent="{{x}}" style="display:none;"><td class="title-field"><span style="margin-left:40px;"></span>{{j['title']}}</td>
                                        {% for q,w in actions %}
                                        <td>{% if j['perms'][q] == 0 %}<div class="close"></div>{% else %}<input class="permission" data-code="{{w}}-{{j['id']}}" type="checkbox"{% if enabled[j['id']][w] is defined and enabled[j['id']][w] == 1 %} checked{% endif %}>{% endif %}</td>
                                        {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            {% endfor %}
                            </table>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                        <div style="display:none;" class="alert alert-success left" role="alert">Данные успешно сохраненны.</div>
                        <div style="display:none;" class="alert alert-danger left" role="alert">Данные не сохранены. Возникли ошибки.</div>
                <a href="javascript:void(0);" id="save" class="btn btn-success right">Сохранить</a>
                <a href="/admin/base-users-roles" id="back" class="btn btn-default right">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
