{% extends "::admin.html.twig" %}

{% block title %}SiteBackendBundle:Roles:index{% endblock %}

{% block content %}
<section class="permission-add panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_roles_add') }}" class="permission-add btn btn-primary btn-sm">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Ключ</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr>
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.rolekey }}</td>
                        <td>
                            <a title="просмотр" href="{{ path('admin_roles_view', { id: role.id }) }}" class="permission-view btn btn-info"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a title="редактировать" href="{{ path('admin_roles_edit', { id: role.id }) }}" class="permission-edit btn btn-success">
                            <i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="#" class="permission-delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
