{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
             $('.content-perms #hide-all').on('click',function(){
              $(this).hide();
              $('.content-perms #show-all').show();
              $('.main-content .control-menu tr.notstable-tr').hide(100);
              $('.main-content .control-menu .glyphicon').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-down');
             })

             $('.content-perms #show-all').on('click',function(){
              $(this).hide();
              $('.content-perms #hide-all').show();
              $('.main-content .control-menu tr.notstable-tr').show(100);   
              $('.main-content .control-menu .glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
             })

                $('.control-menu .trigger-toggle').on('click',function(){
                    var id = $(this).parents('tr').attr('data-id');
                    if ( $('.control-menu').find('tr[data-parent='+id+']').is(':visible') == true ){
                        $('.control-menu').find('tr[data-parent='+id+']').hide(300);
                        var prs = $('.control-menu').find('tr[data-parent='+id+']');
                        $.each(prs,function(){
                            var iid = $(this).attr('data-id');
                            $('.control-menu').find('tr[data-parent='+iid+']').hide(100);
                        })
                    }
                    else{
                        $('.control-menu').find('tr[data-parent='+id+']').show(300);
                    }
                    
                })
            })    
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:Roles:view{% endblock %}

{% block content %}
<section class="panel">
    <header class="panel-heading">Просмотр роли</header>
    <div class="panel-body">
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>

<table class="table table-striped control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
<tr><th><span class="left">Название</span></th><td><span class="left">{{role.name}}</span></td></tr>
<tr><th><span class="left">Роль</span></th><td><span class="left">{{role.rolekey}}</span></td></tr>
<tr><th><span class="left">Информация АЧС</span></th><td><span class="left">{% if role.regions == 1 %}все регионы{% else %}свой регион{% endif %}</span></td></tr>
<tr><th><span class="left">Название Кабинета</span></th><td><span class="left">{{role.cabinetName}}</span></td></tr>
<tr><th><span class="left">Цветовая схема</span></th><td><span class="left">
<div class="right" style="background-color:{{scheme.color}};border-radius:5px;width:30px;height:30px;margin:3px;border:5px solid #ffffff;box-shadow:1px 1px 3px #888888;"></span>
</div>
</td></tr>
<table>
            <span class="content-perms text-info right"> 
                <a href="javascript:void(0);" id="show-all">Развернуть все</a>
                <a style="display:none;" href="javascript:void(0);" id="hide-all">Свернуть все</a>
            </span>


                            <table class="table table-striped control-menu" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
                                <thead>
                                    <tr><th>Меню</th><th>Просмотр</th><th>Создать</th><th>Изменить</th><th>Удалить</th></tr>
                                </thead>
                            {% set actions = {0:'r',1:'c',2:'e',3:'d'} %}
                            {% for k,v in allmenu %}
                                <tr class="stable-tr" data-id="{{k}}">
                                    <td class="title-field">{{v['title']}}
                                        {% if v['sub']|length > 0 %}<span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-right"></i></span>{% endif %}
                                    </td>
    
                                    {% for q,w in actions %}
                                    <td>
                                    {% if v['perms'][q] == 0 %}<div class="close"></div>{% else %}
                                    <input class="permission" data-code="{{w}}-{{v['id']}}" type="checkbox"{% if enabled[v['id']][w] is defined and enabled[v['id']][w] == 1 %} checked{% endif %} disabled>
                                    {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                    {% if v['sub']|length > 0 %}
                                        {% for x,y in v['sub'] %}
                                        <tr class="notstable-tr" data-id="{{x}}" style="display:none;" data-parent="{{k}}">
                                            <td class="title-field"><span style="margin-left:20px;"></span>{{y['title']}}
                                            {% if y['sub']|length > 0 %}<span class="trigger-toggle"><i class="glyphicon glyphicon-chevron-right"></i></span>{% endif %}
                                            </td>
                                        {% for q,w in actions %}
                                        <td>{% if y['perms'][q] == 0 %}<div class="close"></div>{% else %}<input class="permission" data-code="{{w}}-{{y['id']}}" type="checkbox"{% if enabled[y['id']][w] is defined and enabled[y['id']][w] == 1 %} checked{% endif %} disabled>{% endif %}</td>
                                        {% endfor %}
                                        </tr>
                                        {% if y['sub']|length > 0 %}
                                            {% for i,j in y['sub'] %}
                                            <tr class="notstable-tr" data-id="{{i}}" data-parent="{{x}}" style="display:none;"><td class="title-field"><span style="margin-left:40px;"></span>{{j['title']}}</td>
                                        {% for q,w in actions %}
                                        <td>{% if j['perms'][q] == 0 %}<div class="close"></div>{% else %}<input class="permission" data-code="{{w}}-{{j['id']}}" type="checkbox"{% if enabled[j['id']][w] is defined and enabled[j['id']][w] == 1 %} checked{% endif %} disabled>{% endif %}</td>
                                        {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            {% endfor %}
                            </table>
                <div class="col-sm-12">
                <a href="/admin/base-users-roles" id="back" class="btn btn-default right">Назад</a>
                </div>
        </form>
    </div>
</section>

{% endblock %}
