{% extends "::admin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){

                $('#filter-region').on('change',function(){
                    var region = $(this).val();
                    if ( region == 'all' ){
                        $('tr.dealer-centre').show();
                    }
                    else{
                        $('tr.dealer-centre').hide();
                        $('tr.dealer-centre[data-region='+region+']').show();
                    }
                })
            });
    </script>
{% endblock %}
{% block title %}SiteBackendBundle:CreditOffers:index{% endblock %}

{% block content %}
<section class="panel">
    <div class="panel-body tool-button">
        <a href="{{ path('admin_auto_colors_add') }}" class="btn btn-primary btn-sm permission-add right">Добавить</a>
    </div>
</section>
<section class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered responsive no-m" data-sortable>
                <thead>
                    <tr>
                        <th>название</th>
                        <th>цвет</th>
                        <th>статус</th>
                        <th>авто</th>
                        <th style="width: 145px;">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for color in colors %}
                    <tr class="dealer-centre" data-region="{{color.id}}">
                        <td>{{ color.name }}</td>
                        <td><div style="border:1px solid #0080FF;width:100px;height:30px;margin5px;background-color:{{ color.code }}"></div></td>
                        <td>
                        {% if color.status == 1 %}<span class="text-success">Включен</span>{% endif %}
                        {% if color.status == 0 %}<span class="text-warning">Выключен</span>{% endif %}
                        </td>
                        <td>
                            {% for i,car in cars %}
                                {% if car.details is defined and car.details|length > 0 %}
                                {% for k,type in car.details %}
                                {% set thiscar = '' %}
                                {% if color.auto[i][k] is defined and color.auto[i][k] == true %}
                                  <div class="checkbox" disabled>
                                    <label>
                                      <span class="left">{{car.name}} {{k}}</span>
                                    </label>
                                  </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a title="редактировать" href="{{ path('admin_auto_colors_edit', { id: color.id }) }}" class="permission-edit btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a title="удалить" href="{{ path('admin_auto_colors_delete', { id: color.id }) }}"class="btn btn-danger permission-delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
